@charset "utf-8";
/*基本設定*/
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", 'meiryo', Arial, Helvetica, "Osaka","lroSVbN", sans-serif;
	color: #666;
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
}

/*html{overflow-y: scroll;}*/

div,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,form,fieldset,input,textarea,select,option {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

img {
	border: 0;
}
object {
	outline:none;
}

/* Float ----------------------------------------- */
.float_left {
	float: left;
}

.float_right {
	float: right;
}

/* Align ----------------------------------------- */
.align_center {
	text-align: center !important;
}

.align_left {
	text-align: left !important;
}

.align_right {
	text-align: right !important;
}

.align_top {
	vertical-align: top !important;
}

.align_middle {
	vertical-align: middle !important;
}


/* Margin ----------------------------------------- */
	/* Top */
.mT0  {margin-top: 0;}
.mT5  {margin-top: 5px;}
.mT10 {margin-top: 10px;}
.mT15 {margin-top: 15px;}
.mT20 {margin-top: 20px;}
.mT25 {margin-top: 25px;}
.mT30 {margin-top: 30px;}
.mT35 {margin-top: 35px;}
.mT40 {margin-top: 40px;}
.mT45 {margin-top: 45px;}
.mT50 {margin-top: 50px;}
.mT60 {margin-top: 60px;}
.mT70 {margin-top: 70px;}
.mT80 {margin-top: 80px;}
.mT90 {margin-top: 90px;}
.mT100 {margin-top: 100px;}

	/* Bottom */
.mB0  {margin-bottom: 0;}
.mB5  {margin-bottom: 5px;}
.mB6  {margin-bottom: 6px;}
.mB7  {margin-bottom: 7px;}
.mB8  {margin-bottom: 8px;}
.mB9  {margin-bottom: 9px;}
.mB10 {margin-bottom: 10px;}
.mB15 {margin-bottom: 15px;}
.mB20 {margin-bottom: 20px;}
.mB25 {margin-bottom: 25px;}
.mB30 {margin-bottom: 30px;}
.mB35 {margin-bottom: 35px;}
.mB40 {margin-bottom: 40px;}
.mB45 {margin-bottom: 45px;}
.mB50 {margin-bottom: 50px;}

	/* Right */
.mR0   {margin-right: 0;}
.mR5   {margin-right: 5px;}
.mR10  {margin-right: 10px;}
.mR15  {margin-right: 15px;}
.mR20  {margin-right: 20px;}
.mR25  {margin-right: 25px;}
.mR30  {margin-right: 30px;}
.mR35  {margin-right: 35px;}
.mR40  {margin-right: 40px;}
.mR45  {margin-right: 45px;}
.mR50  {margin-right: 50px;}

	/* Left */
.mL0 {margin-left: 0;}
.mL5 {margin-left: 5px;}
.mL10 {margin-left: 10px;}
.mL15 {margin-left: 15px;}
.mL20 {margin-left: 20px;}
.mL25 {margin-left: 25px;}
.mL30 {margin-left: 30px;}
.mL35 {margin-left: 35px;}
.mL40 {margin-left: 40px;}
.mL45 {margin-left: 45px;}
.mL50 {margin-left: 50px;}


/* Padding ----------------------------------------- */
	/* Top */
.pT0  {padding-top: 0;}
.pT5  {padding-top: 5px;}
.pT10 {padding-top: 10px;}
.pT15 {padding-top: 15px;}
.pT20 {padding-top: 20px;}
.pT25 {padding-top: 25px;}
.pT30 {padding-top: 30px;}
.pT35 {padding-top: 35px;}
.pT40 {padding-top: 40px;}
.pT45 {padding-top: 45px;}
.pT50 {padding-top: 50px;}
.pT70 {padding-top: 70px;}

	/* Bottom */
.pB0  {padding-bottom: 0;}
.pB5  {padding-bottom: 5px;}
.pB6  {padding-bottom: 6px;}
.pB7  {padding-bottom: 7px;}
.pB8  {padding-bottom: 8px;}
.pB10 {padding-bottom: 10px;}
.pB15 {padding-bottom: 15px;}
.pB20 {padding-bottom: 20px;}
.pB25 {padding-bottom: 25px;}
.pB30 {padding-bottom: 30px;}
.pB35 {padding-bottom: 35px;}
.pB40 {padding-bottom: 40px;}
.pB45 {padding-bottom: 45px;}
.pB50 {padding-bottom: 50px;}

	/* Right */
.pR0   {padding-right: 0;}
.pR5   {padding-right: 5px;}
.pR10  {padding-right: 10px;}
.pR15  {padding-right: 15px;}
.pR20  {padding-right: 20px;}
.pR25  {padding-right: 25px;}
.pR30  {padding-right: 30px;}
.pR35  {padding-right: 35px;}
.pR40  {padding-right: 40px;}
.pR45  {padding-right: 45px;}
.pR50  {padding-right: 50px;}

	/* Left */
.pL0 {padding-left: 0;}
.pL5 {padding-left: 5px;}
.pL8 {padding-left: 8px;}
.pL10 {padding-left: 10px;}
.pL15 {padding-left: 15px;}
.pL20 {padding-left: 20px;}
.pL25 {padding-left: 25px;}
.pL30 {padding-left: 30px;}
.pL35 {padding-left: 35px;}
.pL40 {padding-left: 40px;}
.pL45 {padding-left: 45px;}
.pL50 {padding-left: 50px;}

/* Color ----------------------------------------- */
.white {
	color: white;
}

.black {
	color: black;
}

.red {
	color: #ff0000;
}

.blue {
	color: #0f2f86;
}

.orange {
	color: #ed6d00;
}

.clear_both {
	display: block;
	clear: both;
	height: 1px;
	font-size: 1px;
	line-height: 0px;
}

.clear_both02 {
	display: block;
	clear: both;
}

.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix{
	overflow:hidden;
}
/* Hides from IE-mac \*/
* html .clearfix{
	height:1%;
	overflow:visible;
}
/* End hide from IE-mac */

/* Fontsize ----------------------------------------- */
.text10px {
	font-size: 10px;
	line-height: 1.5;
	letter-spacing: 1px;
}

.text11px {
	font-size: 11px;
	line-height: 1.5;
}

.text12px {
	font-size: 12px;
	line-height: 1.5;
}

.text13px {
	font-size: 13px;
	line-height: 1.5;
}

.text14px {
	font-size: 14px;
	line-height: 1.5;
}

.text15px {
	font-size: 15px;
	line-height: 1.5;
}

.text16px {
	font-size: 16px;
	line-height: 1.5;
}

.text17px {
	font-size: 17px;
	line-height: 1.5;
}

.text18px {
	font-size: 18px;
	line-height: 1.5;
}

.text19px {
	font-size: 19px;
	line-height: 1.5;
}

.text20px {
	font-size: 20px;
	line-height: 1.5;
}

/*ラインなど*/
.border_gray_1px_solid {
	border: 1px solid #ccc;
}

/*リンク*/
a:link {
	color: #666;
	text-decoration: underline;
}

a:visited {
	color: #666;
	text-decoration: underline;
}

a:hover {
	color: #666;
	text-decoration: none;
}

a img.css-hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

a:hover img.css-hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

/*NO FLASH_NO javascript　トップページ用*/
#attention {
	width: 450px;
	color: #666;
	text-align: center;
	margin: 30px auto 0;
	padding: 30px;
	border: 10px #eee solid;
	background: #fff;
}
#attention .at,
#attention .asub {
	font-size: 14px;
	color: #333;
	font-weight: bold;
	margin: 0 0 15px 0;
}
#attention p,
#attention ul {
	text-align: left;
}

#attention ul li {
	margin: 5px 0 0 18px;
	padding: 0;
	list-style-type: disc;
}


#attention ul a:link {
	color: #0000ff;
	text-decoration: underline;
	text-align: left;
}

#attention ul a:visited {
	color: #0000ff;
	text-decoration: underline;
	text-align: left;
}

#attention ul a:hover {
	color: #0000ff;
	text-decoration: underline;
	text-align: left;
}

/*NO FLASH_NO javascript　第二階層用
#attention_navi {
	color: #666;
	text-align: center;
	margin: 30px 10%;
	padding: 15px;
	border: 10px #eee solid;
	background: #fff;
}

#attention_navi .at_navi,
#attention_navi .asub_navi {
	font-size: 14px;
	color: #333;
	text-align: left;
	margin: 0 0 20px 0;
}

#attention_navi p,
#attention_navi ul {
	text-align: left;
}

#attention_navi ul li {
	margin: 0 0 15px 18px;
	padding: 0;
	list-style-type: disc;
}

#attention_navi ul a:link {
	color: #0000ff;
	text-decoration: underline;
	text-align: left;
}

#attention_navi ul a:visited {
	color: #0000ff;
	text-decoration: underline;
	text-align: left;
}

#attention_navi ul a:hover {
	color: #0000ff;
	text-decoration: underline;
	text-align: left;
}
*/


/*404not foundページ*/
h2.file_not_found {
	margin: 0 0 15px 0;
	font-family: "Myriad Pro", Helvetica, Arial;
	font-size: 36px;
	color: #ff5c04;
	text-align: left;
}