@charset "utf-8";
/* CSS Document */
*{zoom:1;}

#accordion {
   width: 250px;
   height: 400px;
   margin: 0;
   padding:0;
   line-height:0;
   vertical-align:bottom;
   font-size:0; 
}
#accordion div {
   height:40px;
   overflow: hidden;
   margin: 0;
   padding:0; 
   line-height:0;
   vertical-align:bottom;
   font-size:0; 
}
* html #accordion div {
   height:40px;
   overflow:visible;
   margin: 0;
   padding:0; 
   line-height:0;
   vertical-align:bottom;
   font-size:0; 
}
#accordion div a{
   margin: 0;
   padding:0; 
   line-height:0;
   vertical-align:bottom;
   font-size:0;
}
#accordion div img{
   margin: 0;
   padding:0; 
   line-height:0;
   vertical-align:bottom;
   font-size:0; 
}
#accordion div#g_space {
   height:20px;
   overflow: hidden;
   margin: 0;
   padding:0; 
   line-height:0;
   vertical-align:bottom;
   font-size:0; 
}
#accordion div#g_event {
   height:20px;
   overflow: hidden;
   margin: 0;
   padding:0; 
   line-height:0;
   vertical-align:bottom;
   font-size:0; 
}

#accordion:hover div#g_brand:hover {
   height: 200px;
   overflow: hidden;
   margin: 0;
   padding:0; 
   line-height:0;
   vertical-align:bottom;
   font-size:0; 
}

* html #accordion:hover div#g_brand:hover {
   height: 200px;
   overflow:visible;
   margin: 0;
   padding:0; 
   line-height:0;
   vertical-align:bottom;
   font-size:0; 
}

*:first-child+html #accordion {
   width: 250px;
   height: 420px;
   margin: 0;
   padding:0; 
   line-height:0;
   vertical-align:bottom;
   font-size:0; 
}

*:first-child+html #accordion:hover div#g_brand:hover {
   height: 220px;
   overflow: hidden;
   margin: 0;
   padding:0; 
   line-height:0;
   vertical-align:bottom;
   font-size:0;
}

