@charset "shift_jis";

/*ラッパー*/
#wrapper {
	width: 762px;
	padding: 0;
	margin: 0 auto;
	height: auto;
}

/*ヘッダー*/
#header {
	width: 700px;
	height: 70px;
	margin: 0;
	padding: 0 30px 0 30px;
	background: url(/images/common/bg_header.jpg) no-repeat top;
	text-align: left;
}

#header h1 {
	margin: 0;
	padding: 0;
}

#logospace {
	width: 140px;
	margin: 0;
	padding: 16px 0 0 0;
	float: left;
}

#header_navi {
	width: 400px;
	margin: 0;
	padding: 43px 0 0 0;
	float: right;
	text-align: right;
}

#header_navi ul {
	margin: 0;
	padding: 0;
}

#header_navi li {
	display: inline;
}

.headernavi_first {
	margin: 0 65px 0 0;
	padding: 0;
}

#gnavi {
	width: 730px;
	height: 24px;
	margin: 0 0 50px 0;
	padding: 16px 0 0 30px;
	text-align: left;
}

#gnavi ul {
	margin: 0;
	padding: 0;
	text-align: left;
}

#gnavi li {
	margin: 0;
	padding: 0;
	text-align: left;
	display: inline;
}

/*コンテンツ*/
#container {
	width: 760px;
	height: auto;
	margin: 0;
	padding: 0;
	text-align: left;
	xborder: 1px solid #222;
	background-color: #FFFFFF;
}

/*トップページ用コンテンツ*/
#main_flash {
	width: 760px;
	height: 450px;
	margin: 0;
	padding: 0;
	text-align: left;
}

#content_bottom {
	width: 700px;
	height: auto;
	margin: 0;
	padding: 22px 30px 0 30px;
	text-align: left;
	background: #000000;
}

#news_top {
	width: 515px;
	height: auto;
	margin: 0;
	padding: 0;
	text-align: left;
	color: #FFFFFF;
	float: left;
}

#news_top a:link {
	color: #daab71;
	text-decoration: underline;
}

#news_top a:visited {
	color: #daab71;
	text-decoration: underline;
}

#news_top a:hover {
	color: #daab71;
	text-decoration: none;
}

#brandlist {
	width: 159px;
	height: auto;
	margin: 0;
	padding: 0;
	float: right;
	text-align: right;
}

#content_bottom_footer {
	width: 700px;
	height: 50px;
	margin: 0;
	padding: 0;
	text-align: center;
	clear: both;
}

/*ショップリストコンテンツ*/
#shoplistarea {
	width: 700px;
	height: auto;
	margin: 0;
	padding: 0 30px 0 30px;
	text-align: left;
}

#shoplist table {}

#shoplist th {
	text-align: left;
	font-weight: normal;
	border-right: 1px solid #e0e1e1;
	padding: 7px 0 7px 0;
}

#shoplist td {}

.shoplist_line_top {
	background: url(/images/common/bg_shoplist_line.gif) repeat-x top;
} 

.shoplist_line_bottom {
	background: url(/images/common/bg_shoplist_line.gif) repeat-x bottom;
} 

#shoplistnavi_top {
	width: 730px;
	height: 24px;
	margin: 0 0 10px 0;
	padding: 16px 0 0 30px;
	text-align: left;
}

#shoplistnavi_top ul {
	margin: 0;
	padding: 0;
	text-align: left;
}

#shoplistnavi_top li {
	margin: 0;
	padding: 0;
	text-align: left;
	display: inline;
}

#shoplistnavi_bottom {
	width: 730px;
	height: 24px;
	margin: 0;
	padding: 16px 0 0 30px;
	text-align: left;
}

#shoplistnavi_bottom ul {
	margin: 0;
	padding: 0;
	text-align: left;
}

#shoplistnavi_bottom li {
	margin: 0;
	padding: 0;
	text-align: left;
	display: inline;
}

/*レフトサイド*/
#leftside {
	width: 150px;
	margin: 0;
	padding: 0 0 0 29px;
	float: left;
	text-align: left;
}

.sidenavi_first {
	margin: 30px 0 15px 12px;
	padding: 0;
	text-align: left;
	display: block;
}

.sidenavi_second {
	margin: 0 0 15px 12px;
	padding: 0;
	text-align: left;
	display: block;
}

/*ライトサイド*/
#rightside {
	width: 575px;
	height: auto;
	margin: 0;
	padding: 0;
	border-left: 1px solid #CCCCCC;
	float: right;
	text-align: left;
	min-height: 400px;
}

#content_top {
	width: 535px;
	height: auto;
	margin: 0 0 30px 0;
	padding: 5px 0 7px 15px;
	border-bottom: 1px dashed #CCCCCC;
	text-align: left;
}

#rightside_main {
	width: 535px;
	margin: 15px 0 0 15px;
	padding: 0;
	text-align: left;
}

#news_main {
	width: 535px;
	margin: 15px 0 15px 15px;
	padding: 0;
	text-align: left;
}

#news_detail {
	width: 535px;
	margin: 15px 0 0 15px;
	padding: 0;
	text-align: left;
}

/*
#news_detail img {
	margin: 0 0 0 10px;
	padding: 0;
	float: right;
}
*/

.news_img01 {
	float: right;
	margin: 0 0 10px 10px;
}

.news_img02 {
	margin: 25px 25px 0 0;
}

.news_img03 {
	margin: 25px 0 0 0;
}

table#newslist {
	margin: 0;
}

table#newslist th {
	font-weight: normal;
	white-space:nowrap;
	vertical-align:top;
	padding: 0 0 15px 25px;
	text-align: left;
	background: url(/images/common/icon_arrow02.gif) no-repeat 5px 3px;
}

table#newslist td {
	vertical-align:top;
	padding: 0 0 15px 0;
	text-align: left;
}

/*ページトップへ*/
.pagetop {
	width: 530px;
	height: 13px;
	margin: 0;
	padding: 0;
	text-align: right;
}

.pagetop02 {
	width: 729px;
	height: 13px;
	margin: 0;
	padding: 0;
	text-align: right;
}

/*フッター*/
#footertop {
	width: auto;
	height: 20px;
	margin: 0;
	padding: 0;
	clear: both;
}

#footer {
	width: 760px;
	height: 12px;
	margin: 0;
	padding: 36px 0;
	clear: both;
	border-top: 1px solid #CCCCCC;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-align: center;
}
