@charset "utf-8";

/*トップページ*/

/*ライトサイド_トップページ*/
#rightside_top {
	width: 200px;
	margin: 0;
	padding: 0;
	float: right;
	text-align: left;
}

/*レフトサイド_トップページ*/
div#leftside_top {
	width: 640px;
	margin: 0;
	padding: 0;
	float: left;
	text-align:left;
}

/*フッター（COMPANY、RECRUIT等の時用）*/
div#footernavi_lower02 {
	width: 870px;
	margin: 0;
	padding: 15px 0 0 0;
	text-align: left;
}

div#footernavi_lower02 ul {
	margin: 0;
	padding: 0;
	display: inline;
}

div#footernavi_lower02 ul li {
	margin: 0 58px 0 0;
	padding: 0;
	display: inline;
}

div#footernavi_lower02 ul li.last {
	margin: 0 0 0 1px;
	padding: 0;
	display: inline;
}

/*第二階層共通部分*/
#ank_headarea {
	height: 0px;
	line-height: 0px;
	font-size: 0px;
}

div#logo_area {
	margin: 0;
	padding: 30px 0 0 0;
	text-align: left;
}
div#cntop_logo_area{
	margin: 0;
	text-align: left;
	height: 30px;
	padding: 0px;
}
div#gnavi_lower {
	width: 250px;
	margin: 55px 0 0 0;
	padding: 0;
	text-align: left;
}
.left_menu_top {
	height: 141px;
	padding: 0;
	background-image: url(../images/common/cntop_bg580.png);
	background-repeat: repeat-x;
}
.logo_top {
	height: 30px;
	padding: 0;
	background-image: url(..//images/common/cntop_bg580.png);
}
.logo_top30_bobg{
	height: 30px;
	padding: 0;
	margin: 0;
}
.logo_top60_nobg {
	height: 60px;
	padding: 0;
	margin: 0;
}
.logo_top60 {
	height: 60px;
	padding: 0;
	margin: 0;
	background-image: url(../images/common/cntop_bg580.png);
	background-repeat: repeat-x;
}
div#cntop_gnavi_lower {
	width: 250px;
	margin:  0;
	padding: 0;
	text-align: left;
}

div#gnavi_lower ul {
	margin: 15px 0 0 0;
	padding: 0;
}

div#gnavi_lower li {
	margin: 0 0 7px 0;
	padding: 0;
}

* html div#gnavi_lower ul {
	margin: 20px 0 0 0;
	padding: 0;
}

* html div#gnavi_lower ul li {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10;
	margin-left: 0;
	padding: 0;
}



div#container_lower {
	width: 898px;
	margin: 30px auto 30px auto;
	padding: 0;
	text-align: center;
}
div#container_lower .topbg{
	background-image: url(../images/common/topbg.png);
	background-repeat: repeat;
}
div#container {
	width: 100%;
	height:100%;
	margin: 0;
	padding: 0;
	text-align: center;

}
div#mainframe_lower {
	width: 870px;
	margin: 0;
	padding: 0 0 30px 30px;
	text-align: left;
}

/*div#mainframe_lower {
	width: 838px;
	margin: 0;
	padding: 0 30px 30px 30px;
	text-align: left;
	border: 1px solid #9d9c9e;
}*/

div#leftside_lower {
	width: 250px;
	margin: 0;
	padding: 0;
	text-align: left;
	float: left;
}
div#cntop_leftside_lower {
	width: 250px;
	margin: 0;
	padding: 0;
	text-align: left;
	height: 370px;
}


div#rightside_lower {
	width: 550px;
	margin: 0;
	padding: 0px;
	text-align: left;
	float: right;
	position: relative;
}
/*link to chinese site top */

div#cnpage_top {
	margin: 0;
	padding: 30px 0 0 0;
	text-align: right;
}
div#cntop_cnpage_top {
	margin: 0;
	text-align: right;
	height: 30px;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}


h2.title01 {
	margin: 0 0 20px 0;
	padding: 0 0 5px 0;
	text-align: left;
	line-height: 1.5;
	border-bottom: 1px solid #ccc;
}

h2.title02 {
	margin: 0 0 20px 0;
	padding: 0 0 2px 0;
	text-align: left;
	color: #666666;
	line-height: 1.5;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
}

div#footernavi_lower01 {
	width: 870px;
	margin: 0;
	padding: 60px 0 0 0;
	clear: both;
	text-align: right;
}
div#cntop_footernavi_lower01 {
	width: 870px;
	margin: 0;
	padding: 0;
	clear: both;
	text-align: right;
}
div#footernavi_lower01 ul {
	margin: 0;
	padding: 0;
	display: inline;
}
div#footernavi_lower01 ul li {
	margin: 0 20px 0 0;
	padding: 0;
	display: inline;
}

div#footernavi_lower01 ul li.last {
	margin: 0;
	padding: 0;
	display: inline;
}
/*top page footer
div#cnfooter {
	width: 870px;
	clear: both;
	text-align: right;
	margin: 0;
	padding-top: 160px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}
div#cnfooter ul {
	margin: 0;
	padding: 0;
	display: inline;
}

div#cnfooter ul li {
	margin: 0 20px 0 0;
	padding: 0;
	display: inline;
}

div#cnfooter ul li.last {
	margin: 0;
	padding: 0;
	display: inline;
}
diw#cnfooter ul li.last {
	margin: 0;
	padding: 0;
	display: inline;
}
*/

#copyright {
	width: 870px;
	text-align: left;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 30px;
}
#cntop_copyright {
	width: 870px;
	text-align: left;
	padding: 0;
	margin: 0px;
}

div.date_new_arrival {
	color: #ed6d00;
	font-size: 10px;
	letter-spacing: 1px;
	background: url(/images/parts/img_na07.gif) left 3px no-repeat;
	margin: 0 0 2px 0;
	padding: 0 0 0 60px;
}

div.date_new_arrival02 {
	color: #ed6d00;
	font-size: 10px;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 82px;
	left: 0;
	clear: both;
}

.paging01 {
	margin: 20px 0 0 0;
	padding: 0;
}

.paging02 {
	margin: 0;
	padding: 0;
}

/*NEWS*/
div.news_list_area {
	width: 380px;
	margin: 0;
	padding: 0 0 0 60px;
	text-align: left;
}

div.news_list_area_inner {
	height: 310px;
	margin: 0;
	padding: 20px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #a9aaaa;
}

div.news_list_area_inner02 {
	height: 240px;
	margin: 0;
	padding: 0;
	text-align: left;
}

dl.news_list {
	width: 100%;
	margin: 0;
	padding: 0;
}

dl.news_list dt {
	width: 75px;
	margin-bottom: -18px;
	padding-top: 0;
	padding-left: 15px; 
	white-space: nowrap;
	background: url(/images/common/img_arrow_gray.gif) left center no-repeat;
}

dl.news_list dd {
	padding: 0 6px 6px 79px;
}

/*
dl.news_list a:link {
	color: #fff;
	text-decoration: none;
}

dl.news_list a:visited {
	color: #fff;
	text-decoration: none;
}

dl.news_list a:hover {
	color: #fff;
	text-decoration: none;
}
*/

/*NEW ARRIVAL*/
div.new_arrival_box01 {
	width: 550px;
	margin: 0;
	padding: 0;
}

div.new_arrival_box01 ul#thumbnails {
	float: left;
	width: 550px;
}

div.new_arrival_box01 ul#thumbnails img {
	border: 1px solid #ccc;
}

div.new_arrival_box01 ul#thumbnails li {
	margin: 0;
	padding: 0 19px 19px 0;
	float: left;
}

div.new_arrival_box01 ul#thumbnails li.last {
	margin: 0;
	padding: 0;
	float: left;
}

div.new_arrival_box01 ul#thumbnails li span {
	display: block;
	width: 123px;
	height: 163px;
	overflow: hidden;
}

div.new_arrival_box01 div.navi_area {
	width: 550px;
	text-align: right;
	margin: 0;
	padding: 0;
	clear: both;
}

div.new_arrival_box02 {
	width: 548px;
	margin: 0;
	padding: 0;
	text-align: left;
	border: 1px solid #ccc;
	background: url(/images/parts/img_grayline_nabox.gif) 340px top repeat-y;
}

div.new_arrival_box02_inner_left {
	width: 324px;
	margin: 0;
	padding: 10px 8px 15px 8px;
	text-align: left;
	float: left;
}

div.new_arrival_box02_inner_left img {
	border: 1px solid #ccc;
}

div.new_arrival_box02_inner_right {
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 1.5;
	width: 180px;
	margin: 0;
	padding: 30px 15px 15px 0;
	text-align: left;
	float: right;
}

div.new_arrival_navi_area02 {
	width: 550px;
	text-align: center;
	margin: 0;
	padding: 19px 0 0 0;
	clear: both;
}

/*FAQ*/
.arrow01 {
	padding: 0 0 0 15px;
	background: url(/images/common/img_arrow_black02.gif) no-repeat left 4px;
}

.question {
	padding: 0 0 0 25px;
	background: url(/images/common/icon_question.gif) no-repeat 5px 4px;
}

.answer {
	padding: 0 0 0 25px;
	background: url(/images/common/icon_answer.gif) no-repeat 5px 5px;
}

.pagetop {
	height: 13px;
	margin: 0;
	padding: 0;
	text-align: right;
}

/*会社概要*/
.dataTable01, .dataTable02{
	font-size: 12px;
	line-height: 18px;
	text-align: left;
	margin: 0 auto 35px;
}
.dataTable01 {
	width: 100%;
	}
.dataTable02 {
	width: 450px;
	}
.dataTable01 th,.dataTable02 th{
	color: #4e4e4e;
	font-weight: normal;
	vertical-align: top;
	width: 120px;
	padding: 8px 20px 8px 0;
}
.dataTable01 td,.dataTable02 td{
	padding: 8px 0 8px 0;
}
.dataTable01 th.vMiddle{
	padding-top: 18px;
	padding-bottom: 18px;
}
.dataTable01 .firstchild th,.dataTable01 .firstchild td {
	padding-top: 0;
}

table.style_m0 {
	margin: 0 !important;
	padding: 0 !important;
}

table.style_m0 td {
	margin: 0 !important;
	padding: 0 !important;
}

/*SHOP*/
.address_shop,
.tel_shop {
	font-size: 10px;
	line-height: 1.5;
	letter-spacing: 1px;
}

.sale_info {
	color: #e50012;
}

.grayline_dot {
	height: 18px;
	margin: 0;
	padding: 0;
	background: url(/images/common/img_grayline_dot.gif) left center repeat-x;
}

/*テーブルの設定*/
table {}

th {
	vertical-align: top;
	text-align: left;
}

td {
	vertical-align: top;
	text-align: left;
}

table.style01 {
}

table.style01 th {
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	background-color: #f1f1f1;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 6px 2px 6px 2px;
	vertical-align: middle;
	line-height: 18px;
}

table.style01 th.darkgray {
	font-size: 12px;
	color: #fff;
	line-height: 18px;
	text-align: center;
	font-weight: bold;
	background-color: #999;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 6px 4px 6px 4px;
	vertical-align: middle;
}

table.style01 td {
	font-size: 12px;
	text-align: left;
	font-weight: normal;
	background-color: #fff;
	padding: 6px 2px 6px 8px;
	vertical-align: middle;
	line-height: 18px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

/*リスト関係*/

ul.list_gnavi_lower {
	margin: 20px 0 0 0;
	padding: 0;
}

ul.list_gnavi_lower li {
	margin: 0 0 2px 0;
	padding: 0;
}

ul.list_decimal {
	margin: 0;
	padding: 0;
}

ul.list_decimal li {
	margin: 0 0 15px 22px;
	padding: 0;
	list-style-type: decimal;
}

ul.list_disc {
	margin: 0;
	padding: 0;
}

ul.list_disc li {
	margin: 0 0 15px 18px;
	padding: 0;
	list-style-type: disc;
}

/*dlのリスト*/
dl.list01 dt {
	clear: left;
	float: left;
	margin: 0;
	width: 1em;
	padding: 0;
	font-size: 12px;
	line-height: 21px;
}

dl.list01 dd {
	margin: 0 0 0 1.5em;
	font-size: 12px;
	line-height: 21px;
}

dl.list02 dt {
	clear: left;
	float: left;
	margin: 0;
	width: 1.8em;
	padding: 0;
	font-size: 14px;
}

dl.list02 dd {
	margin: 0 0 2px 1.8em;
	font-size: 14px;
}

dl.list03 dt {
	clear: left;
	float: left;
	margin: 0 0 5px 0;
	width: 25px;
	font-size: 14px;
	white-space: nowrap;
}

dl.list03 dd {
	font-size: 14px;
	margin: 0 0 5px 0;
}

dl.list04 dt {
	clear: left;
	float: left;
	margin: 0 0 5px 0;
	width: 70px;
	font-size: 14px;
	white-space: nowrap;
}

dl.list04 dd {
	font-size: 14px;
	margin: 0 0 5px 0;
}

dl.list05 dt {
	clear: left;
	float: left;
	margin: 0 5px 10px 0;
	width: 3px;
	font-size: 14px;
	line-height: 18px;
	white-space: nowrap;
}

dl.list05 dd {
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 10px 0;
}
#flashcontent {
	margin: 0px;
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	clear: both;
}
.right_downBox{
	margin: 0px;
	padding: 0px;
	clear: both;
}


#Content {
	position:absolute;
	top:648px;
	left:0;
	right:0;
	bottom:0;
	overflow:auto;
	background: url(../images/common/bg_test.png);
	width: 100%;
}
[if IE]>

#Content {
	width:100%;
/*	height:expression(document.body.clientHeight - 648); */
	height:expression(document.documentElement.clientHeight - 649);
}

<![endif]

html {height:100%;}
body{
margin:0;
padding:0;
height:100%;
}
.waku {
	text-align: center;
	border: 1px solid #999999;
}
.arrowdown {
	background-image: url(../images/common/icon_arrow_down.gif);
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	height: 14px;
}
