@charset "utf-8";
/*基本設定*/
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", 'meiryo', Arial, Helvetica, "Osaka","lroSVbN", sans-serif;
	color: #666;
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
}

/*html{overflow-y: scroll;}*/

div,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,form,fieldset,input,textarea,select,option {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

img {
	border: 0;
}

/* Float ----------------------------------------- */
.float_left {
	float: left;
}

.float_right {
	float: right;
}

/* Align ----------------------------------------- */
.align_center {
	text-align: center !important;
}

.align_left {
	text-align: left !important;
}

.align_right {
	text-align: right !important;
}

.align_top {
	vertical-align: top !important;
}

.align_middle {
	vertical-align: middle !important;
}


/* Margin ----------------------------------------- */
	/* Top */
.mT0  {margin-top: 0;}
.mT5  {margin-top: 5px;}
.mT10 {margin-top: 10px;}
.mT15 {margin-top: 15px;}
.mT20 {margin-top: 20px;}
.mT25 {margin-top: 25px;}
.mT30 {margin-top: 30px;}
.mT35 {margin-top: 35px;}
.mT40 {margin-top: 40px;}
.mT45 {margin-top: 45px;}
.mT50 {margin-top: 50px;}

	/* Bottom */
.mB0  {margin-bottom: 0;}
.mB5  {margin-bottom: 5px;}
.mB10 {margin-bottom: 10px;}
.mB15 {margin-bottom: 15px;}
.mB20 {margin-bottom: 20px;}
.mB25 {margin-bottom: 25px;}
.mB30 {margin-bottom: 30px;}
.mB35 {margin-bottom: 35px;}
.mB40 {margin-bottom: 40px;}
.mB45 {margin-bottom: 45px;}
.mB50 {margin-bottom: 50px;}

	/* Right */
.mR0   {margin-right: 0;}
.mR5   {margin-right: 5px;}
.mR10  {margin-right: 10px;}
.mR15  {margin-right: 15px;}
.mR20  {margin-right: 20px;}
.mR25  {margin-right: 25px;}
.mR30  {margin-right: 30px;}
.mR35  {margin-right: 35px;}
.mR40  {margin-right: 40px;}
.mR45  {margin-right: 45px;}
.mR50  {margin-right: 50px;}

	/* Left */
.mL0 {margin-left: 0;}
.mL5 {margin-left: 5px;}
.mL10 {margin-left: 10px;}
.mL15 {margin-left: 15px;}
.mL20 {margin-left: 20px;}
.mL25 {margin-left: 25px;}
.mL30 {margin-left: 30px;}
.mL35 {margin-left: 35px;}
.mL40 {margin-left: 40px;}
.mL45 {margin-left: 45px;}
.mL50 {margin-left: 50px;}


/* Padding ----------------------------------------- */
	/* Top */
.pT0  {padding-top: 0;}
.pT5  {padding-top: 5px;}
.pT10 {padding-top: 10px;}
.pT15 {padding-top: 15px;}
.pT20 {padding-top: 20px;}
.pT25 {padding-top: 25px;}
.pT30 {padding-top: 30px;}
.pT35 {padding-top: 35px;}
.pT40 {padding-top: 40px;}
.pT45 {padding-top: 45px;}
.pT50 {padding-top: 50px;}
.pT70 {padding-top: 70px;}

	/* Bottom */
.pB0  {padding-bottom: 0;}
.pB5  {padding-bottom: 5px;}
.pB6  {padding-bottom: 6px;}
.pB7  {padding-bottom: 7px;}
.pB8  {padding-bottom: 8px;}
.pB10 {padding-bottom: 10px;}
.pB15 {padding-bottom: 15px;}
.pB20 {padding-bottom: 20px;}
.pB25 {padding-bottom: 25px;}
.pB30 {padding-bottom: 30px;}
.pB35 {padding-bottom: 35px;}
.pB40 {padding-bottom: 40px;}
.pB45 {padding-bottom: 45px;}
.pB50 {padding-bottom: 50px;}

	/* Right */
.pR0   {padding-right: 0;}
.pR5   {padding-right: 5px;}
.pR10  {padding-right: 10px;}
.pR15  {padding-right: 15px;}
.pR20  {padding-right: 20px;}
.pR25  {padding-right: 25px;}
.pR30  {padding-right: 30px;}
.pR35  {padding-right: 35px;}
.pR40  {padding-right: 40px;}
.pR45  {padding-right: 45px;}
.pR50  {padding-right: 50px;}

	/* Left */
.pL0 {padding-left: 0;}
.pL5 {padding-left: 5px;}
.pL8 {padding-left: 8px;}
.pL10 {padding-left: 10px;}
.pL15 {padding-left: 15px;}
.pL20 {padding-left: 20px;}
.pL25 {padding-left: 25px;}
.pL30 {padding-left: 30px;}
.pL35 {padding-left: 35px;}
.pL40 {padding-left: 40px;}
.pL45 {padding-left: 45px;}
.pL50 {padding-left: 50px;}

/* Color ----------------------------------------- */
.white {
	color: white;
}

.black {
	color: black;
}

.red {
	color: #ff0000;
}

.blue {
	color: #0f2f86;
}

.clear_both {
	display: block;
	clear: both;
	height: 1px;
	font-size: 1px;
	line-height: 0px;
}

.clear_both02 {
	display: block;
	clear: both;
}

/* =========== フロートバグ補助 =========== */
	
.clearfix:after { /*--新しいブラウザ用--*/
	content: url("/images/common/spacer.gif");
	display: block;
	clear: both;
	height: 0;
	}	
	
.clearfix{ /*--IE用--*/
	zoom:1;/*for IE 5.5-7*/
	display: inline-table;}


/* Hides from IE-mac \*/


* html .clearfix {height: 1%;}
.clearfix {display: block;}


/* End hide from IE-mac */

/* Fontsize ----------------------------------------- */
.text10px {
	font-size: 10px;
	line-height: 1.5;
	letter-spacing: 1px;
}

.text11px {
	font-size: 11px;
	line-height: 1.5;
}

.text12px {
	font-size: 12px;
	line-height: 1.5;
}

.text13px {
	font-size: 13px;
	line-height: 1.5;
}

.text14px {
	font-size: 14px;
	line-height: 1.5;
}

.text15px {
	font-size: 15px;
	line-height: 1.5;
}

.text16px {
	font-size: 16px;
	line-height: 1.5;
}

.text17px {
	font-size: 17px;
	line-height: 1.5;
}

.text18px {
	font-size: 18px;
	line-height: 1.5;
}

.text19px {
	font-size: 19px;
	line-height: 1.5;
}

.text20px {
	font-size: 20px;
	line-height: 1.5;
}

/*ラインなど*/
.border_gray_1px_solid {
	border: 1px solid #ccc;
}

/*リンク*/
a:link {
	color: #666;
	text-decoration: underline;
}

a:visited {
	color: #666;
	text-decoration: underline;
}

a:hover {
	color: #666;
	text-decoration: none;
}

a img.css-hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

a:hover img.css-hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

/*NO FLASH_NO javascript　トップページ用*/
#attention {
	width: 450px;
	color: #666;
	text-align: center;
	margin: 30px auto 0;
	padding: 30px;
	border: 10px #eee solid;
	background: #fff;
}
#attention .at,
#attention .asub {
	font-size: 14px;
	color: #333;
	font-weight: bold;
	margin: 0 0 15px 0;
}
#attention p,
#attention ul {
	text-align: left;
}

#attention ul li {
	margin: 5px 0 0 18px;
	padding: 0;
	list-style-type: disc;
}


#attention ul a:link {
	color: #0000ff;
	text-decoration: underline;
	text-align: left;
}

#attention ul a:visited {
	color: #0000ff;
	text-decoration: underline;
	text-align: left;
}

#attention ul a:hover {
	color: #0000ff;
	text-decoration: underline;
	text-align: left;
}

/*NO FLASH_NO javascript　第二階層用
#attention_navi {
	color: #666;
	text-align: center;
	margin: 30px 10%;
	padding: 15px;
	border: 10px #eee solid;
	background: #fff;
}

#attention_navi .at_navi,
#attention_navi .asub_navi {
	font-size: 14px;
	color: #333;
	text-align: left;
	margin: 0 0 20px 0;
}

#attention_navi p,
#attention_navi ul {
	text-align: left;
}

#attention_navi ul li {
	margin: 0 0 15px 18px;
	padding: 0;
	list-style-type: disc;
}

#attention_navi ul a:link {
	color: #0000ff;
	text-decoration: underline;
	text-align: left;
}

#attention_navi ul a:visited {
	color: #0000ff;
	text-decoration: underline;
	text-align: left;
}

#attention_navi ul a:hover {
	color: #0000ff;
	text-decoration: underline;
	text-align: left;
}
*/


/*404not foundページ*/
h2.file_not_found {
	margin: 0 0 15px 0;
	font-family: "Myriad Pro", Helvetica, Arial;
	font-size: 36px;
	color: #ff5c04;
	text-align: left;
}

/*トップページ*/

/*ライトサイド_トップページ*/
#rightside_top {
	width: 200px;
	margin: 0;
	padding: 0;
	float: right;
	text-align: left;
}

/*レフトサイド_トップページ*/
div#leftside_top {
	width: 640px;
	margin: 0;
	padding: 0;
	float: left;
	text-align:left;
}

/*フッター（COMPANY、RECRUIT等の時用）*/
div#footernavi_lower02 {
	width: 870px;
	margin: 0;
	padding: 15px 0 0 0;
	text-align: left;
}

div#footernavi_lower02 ul {
	margin: 0;
	padding: 0;
	display: inline;
}

div#footernavi_lower02 ul li {
	margin: 0 48px 0 0;
	padding: 0;
	display: inline;
}

div#footernavi_lower02 ul li.last {
	margin: 0 0 0 1px;
	padding: 0;
	display: inline;
}

/*第二階層共通部分*/
#ank_headarea {
	height: 0px;
	line-height: 0px;
	font-size: 0px;
}

div#logo_area {
	margin: 0;
	padding: 30px 0 0 0;
	text-align: left;
}

div#gnavi_lower {
	width: 250px;
	margin: 55px 0 0 0;
	padding: 0;
	text-align: left;
}

div#gnavi_lower ul {
	margin: 15px 0 0 0;
	padding: 0;
}

div#gnavi_lower li {
	margin: 0 0 2px 0;
	padding: 0;
}

* html div#gnavi_lower ul {
	margin: 20px 0 0 0;
	padding: 0;
}

* html div#gnavi_lower ul li {
	margin: 0 0 7px 0;
	padding: 0;
}

div#container_lower {
	width: 898px;
	margin: 30px auto 30px auto;
	padding: 0;
	text-align: center;
}

div#mainframe_lower {
	width: 870px;
	margin: 0;
	padding: 0 0 30px 30px;
	text-align: left;
}

/*div#mainframe_lower {
	width: 838px;
	margin: 0;
	padding: 0 30px 30px 30px;
	text-align: left;
	border: 1px solid #9d9c9e;
}*/

div#leftside_lower {
	width: 250px;
	margin: 0;
	padding: 0;
	text-align: left;
	float: left;
}

div#rightside_lower {
	width: 550px;
	margin: 0;
	padding: 100px 0 0 0;
	text-align: left;
	float: right;
	position: relative;
}

h2.title01 {
	margin: 0 0 20px 0;
	padding: 0 0 5px 0;
	text-align: left;
	line-height: 1.5;
	border-bottom: 1px solid #ccc;
}

h2.title02 {
	margin: 0 0 20px 0;
	padding: 0 0 2px 0;
	text-align: left;
	color: #666666;
	line-height: 1.5;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
}

div#footernavi_lower01 {
	width: 870px;
	margin: 0;
	padding: 60px 0 0 0;
	clear: both;
	text-align: right;
}

div#footernavi_lower01 ul {
	margin: 0;
	padding: 0;
	display: inline;
}

div#footernavi_lower01 ul li {
	margin: 0 20px 0 0;
	padding: 0;
	display: inline;
}

div#footernavi_lower01 ul li.last {
	margin: 0;
	padding: 0;
	display: inline;
}

#copyright {
	width: 870px;
	margin: 5px 0 0 0;
	padding: 0 0 0 30px;
	text-align: left;
}

div.date_new_arrival {
	color: #ed6d00;
	font-size: 10px;
	letter-spacing: 1px;
	background: url(/images/parts/img_na07.gif) left 3px no-repeat;
	margin: 0 0 2px 0;
	padding: 0 0 0 60px;
}

div.date_new_arrival02 {
	color: #ed6d00;
	font-size: 10px;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 82px;
	left: 0;
	clear: both;
}

.paging01 {
	margin: 20px 0 0 0;
	padding: 0;
}

.paging02 {
	margin: 0;
	padding: 0;
}

/*NEWS*/
div.news_list_area {
	width: 380px;
	margin: 0;
	padding: 0 0 0 60px;
	text-align: left;
}

div.news_list_area_inner {
	height: 310px;
	margin: 0;
	padding: 20px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #a9aaaa;
}

div.news_list_area_inner02 {
	height: 240px;
	margin: 0;
	padding: 0;
	text-align: left;
}

dl.news_list {
	width: 100%;
	margin: 0;
	padding: 0;
}

dl.news_list dt {
	width: 75px;
	margin-bottom: -18px;
	padding-top: 0;
	padding-left: 15px; 
	white-space: nowrap;
	background: url(/images/common/img_arrow_gray.gif) left center no-repeat;
}

dl.news_list dd {
	padding: 0 6px 6px 79px;
}

/*
dl.news_list a:link {
	color: #fff;
	text-decoration: none;
}

dl.news_list a:visited {
	color: #fff;
	text-decoration: none;
}

dl.news_list a:hover {
	color: #fff;
	text-decoration: none;
}
*/

/*NEW ARRIVAL*/
div.new_arrival_box01 {
	width: 550px;
	margin: 0;
	padding: 0;
}

div.new_arrival_box01 ul#thumbnails {
	float: left;
	width: 550px;
}

div.new_arrival_box01 ul#thumbnails img {
	border: 1px solid #ccc;
}

div.new_arrival_box01 ul#thumbnails li {
	margin: 0;
	padding: 0 19px 19px 0;
	float: left;
}

div.new_arrival_box01 ul#thumbnails li.last {
	margin: 0;
	padding: 0;
	float: left;
}

div.new_arrival_box01 ul#thumbnails li span {
	display: block;
	width: 123px;
	height: 163px;
	overflow: hidden;
}

div.new_arrival_box01 div.navi_area {
	width: 550px;
	text-align: right;
	margin: 0;
	padding: 0;
	clear: both;
}

div.new_arrival_box02 {
	width: 548px;
	margin: 0;
	padding: 0;
	text-align: left;
	border: 1px solid #ccc;
	background: url(/images/parts/img_grayline_nabox.gif) 340px top repeat-y;
}

div.new_arrival_box02_inner_left {
	width: 324px;
	margin: 0;
	padding: 30px 8px 15px 8px;
	text-align: left;
	float: left;
}

div.new_arrival_box02_inner_left img {
	border: 1px solid #ccc;
}

div.new_arrival_box02_inner_right {
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 1.5;
	width: 180px;
	margin: 0;
	padding: 30px 15px 15px 0;
	text-align: left;
	float: right;
}

div.new_arrival_navi_area02 {
	width: 550px;
	text-align: center;
	margin: 0;
	padding: 19px 0 0 0;
	clear: both;
}

/*FAQ*/
.arrow01 {
	padding: 0 0 0 15px;
	background: url(/images/common/img_arrow_black02.gif) no-repeat left 4px;
}

.question {
	padding: 0 0 0 25px;
	background: url(/images/common/icon_question.gif) no-repeat 5px 4px;
}

.answer {
	padding: 0 0 0 25px;
	background: url(/images/common/icon_answer.gif) no-repeat 5px 5px;
}

.pagetop {
	height: 13px;
	margin: 0;
	padding: 0;
	text-align: right;
}

/*会社概要*/
.dataTable01 {
	font-size: 12px;
	line-height: 18px;
	width: 100%;
	text-align: left;
	margin: 0 auto 35px;
}
.dataTable01 th{
	color: #4e4e4e;
	font-weight: normal;
	vertical-align: top;
	width: 120px;
	padding: 8px 20px 8px 0;
}
.dataTable01 td{
	padding: 8px 0 8px 0;
}
.dataTable01 th.vMiddle{
	padding-top: 18px;
	padding-bottom: 18px;
}
.dataTable01 .firstchild th,
.dataTable01 .firstchild td {
	padding-top: 0;
}

table.style_m0 {
	margin: 0 !important;
	padding: 0 !important;
}

table.style_m0 td {
	margin: 0 !important;
	padding: 0 !important;
}

/*SHOP*/
.address_shop,
.tel_shop {
	font-size: 10px;
	line-height: 1.5;
	letter-spacing: 1px;
}

.sale_info {
	color: #e50012;
}

.grayline_dot {
	height: 18px;
	margin: 0;
	padding: 0;
	background: url(/images/common/img_grayline_dot.gif) left center repeat-x;
}

/*テーブルの設定*/
table {}

th {
	vertical-align: top;
	text-align: left;
}

td {
	vertical-align: top;
	text-align: left;
}

table.style01 {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

table.style01 th {
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	background-color: #f1f1f1;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 6px 2px 6px 2px;
	vertical-align: middle;
	line-height: 18px;
}

table.style01 th.darkgray {
	font-size: 12px;
	color: #fff;
	line-height: 18px;
	text-align: center;
	font-weight: bold;
	background-color: #999;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 6px 4px 6px 4px;
	vertical-align: middle;
}

table.style01 td {
	font-size: 12px;
	text-align: left;
	font-weight: normal;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 6px 2px 6px 8px;
	vertical-align: middle;
	line-height: 18px;
}

/*リスト関係*/

ul.list_gnavi_lower {
	margin: 20px 0 0 0;
	padding: 0;
}

ul.list_gnavi_lower li {
	margin: 0 0 2px 0;
	padding: 0;
}

ul.list_decimal {
	margin: 0;
	padding: 0;
}

ul.list_decimal li {
	margin: 0 0 15px 22px;
	padding: 0;
	list-style-type: decimal;
}

ul.list_disc {
	margin: 0;
	padding: 0;
}

ul.list_disc li {
	margin: 0 0 15px 18px;
	padding: 0;
	list-style-type: disc;
}

/*dlのリスト*/
dl.list01 dt {
	clear: left;
	float: left;
	margin: 0;
	width: 1em;
	padding: 0;
	font-size: 12px;
	line-height: 21px;
}

dl.list01 dd {
	margin: 0 0 0 1.5em;
	font-size: 12px;
	line-height: 21px;
}

dl.list02 dt {
	clear: left;
	float: left;
	margin: 0;
	width: 1.8em;
	padding: 0;
	font-size: 14px;
}

dl.list02 dd {
	margin: 0 0 2px 1.8em;
	font-size: 14px;
}

dl.list03 dt {
	clear: left;
	float: left;
	margin: 0 0 5px 0;
	width: 25px;
	font-size: 14px;
	white-space: nowrap;
}

dl.list03 dd {
	font-size: 14px;
	margin: 0 0 5px 0;
}

dl.list04 dt {
	clear: left;
	float: left;
	margin: 0 0 5px 0;
	width: 70px;
	font-size: 14px;
	white-space: nowrap;
}

dl.list04 dd {
	font-size: 14px;
	margin: 0 0 5px 0;
}

dl.list05 dt {
	clear: left;
	float: left;
	margin: 0 5px 10px 0;
	width: 3px;
	font-size: 14px;
	line-height: 18px;
	white-space: nowrap;
}

dl.list05 dd {
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 10px 0;
}



/* =========== IE用印刷設定CSS =========== */

@media print{

body {
_zoom: 55%; /*WinIE only */
}
}