@charset "shift_jis";

/*基本設定*/
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", 'meiryo', Arial, Helvetica, "Osaka","lroSVbN", sans-serif;
	color: #333;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
}

div,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,form {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a img { border:0; }

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.align_center {
	text-align: center;
}

.align_left {
	text-align: left;
}

.right_margin10px {
	float: left;
	margin : 0 10px 0 0;
}

.left_margin10px {
	margin : 0 10px 0 0;
}

.top_margin5px {
	margin : 5px 0 0 0;
}

.top_margin10px {
	margin : 10px 0 0 0;
}

.top_margin15px {
	margin : 15px 0 0 0;
}

.top_margin20px {
	margin : 20px 0 0 0;
}

.top_margin25px {
	margin : 25px 0 0 0;
}

.top_marginleft15px {
	margin : 8px 0 0 15px;
}

.top_margin10px_left10px {
	margin : 10px 0 0 10px;
}

.left_margin25px {
	margin : 5px 0 0 25px;
}

.white {
	color: white;
}

.black {
	color: black;
}

.blue {
	color: #003cff;
}

.deepred {
	color: #E30000;
}

.red {
	font-size: 14px;
	color: #E30000;
}

.green {
	color: #32A38A;
}

.green_line {
	height: 1px;
	margin: 4px 0 10px 0;
	background-color: #32A38A;
}

.clear_both {
	display: block;
	clear: both;
	height: 1px;
	font-size: 1px;
}

.img001 {
	float: left;
	margin: 0 10px 0 0;
}

#msg {
	color: #E30000;
}

/*リンク*/
a:link {
	color: #003cff;
	text-decoration: underline;
}

a:visited {
	color: #003cff;
	text-decoration: underline;
}

a:hover {
	color: #003cff;
	text-decoration: none;
}

/*ログイン画面*/
/* Hidden from Mac IE \*/
#login_container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 230px;
	height: 150px;
	margin-top: -95px;
	margin-left: -165px;
}
/**/

#login_mainspace {
	width: 230px;
	height: 150px;
	padding: 20px 50px 20px 50px;
	border: 2px solid #736357;
	color: #fff;
	line-height: 16px;
	text-align: center;
	background: url(/images/whatsnew/bg_login.gif) repeat-x;
}


/*エラー画面*/
/* Hidden from Mac IE \*/
#error_container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 230px;
	height: 150px;
	margin-top: -95px;
	margin-left: -165px;
}
/**/

#error_mainspace {
	width: 230px;
	height: 150px;
	padding: 20px 50px 20px 50px;
	border: 2px solid #ffcc00;
	color: #666;
	line-height: 16px;
	text-align: center;
	background-color: #fffce9;
}

#account {
	width: 150px;
}

#passwd {
	width: 150px;
}

/*コンテナー*/
#container {
	width: 846px;
	padding: 0;
	margin: 0 auto;
	height: auto;
	border: 2px solid #736357;
}

/*ヘッダー*/
#logo {
	width: 850px;
	margin: 0 auto;
	padding: 0 0 5px 0;
	text-align: left;
}

#header {
	width: 846px;
	height: 60px;
	margin: 0;
	padding: 0;
	text-align: left;
}

#header h1 {
	margin: 0;
	padding: 0;
}

/*コンテンツ*/
#content {
	width: 806px;
	height: auto;
	margin: 0 20px 20px 20px;
	padding: 0;
	text-align: left;
}

#titlebox {
	margin: 0;
	padding: 20px 20px 0 20px;
	text-align: left;
}

#titlebox01 {
	width: 806px;
	height: 23px;
	margin: 20px 20px 10px;
	padding: 0;
	background: url(/images/whatsnew/title01.gif) no-repeat left top;
	text-align: left;
}

#titlebox02 {
	width: 806px;
	height: 23px;
	margin: 20px 20px 10px;
	padding: 0;
	background: url(/images/whatsnew/title02.gif) no-repeat left top;
	text-align: left;
}

#titlebox03 {
	width: 806px;
	height: 23px;
	margin: 20px 20px 10px;
	padding: 0;
	background: url(/images/whatsnew/title03.gif) no-repeat left top;
	text-align: left;
}

.logout {
	width: 806px;
	height: 24px;
	padding: 4px 0 0 0;	
	text-align: right;
}

#linkbox01 {
	width: 806px;
	margin: 0 20px 0 20px;
	padding: 0;
	text-align: left;
}

.box01_left {
	width: 350px;
	float: left;
}

.box01_right {
	width: 350px;
	float: right;
	text-align: right;
}

#linkbox02 {
	width: 806px;
	margin: 3px 0 0 0;
	padding: 0;
	text-align: right;
}

#linkbox02 table {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

#linkbox02 td {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

/*What's New一覧*/
#news {
	width: 806px;
	margin: 0;
	padding: 0;
}
	
#news table {
	margin: 0;
	border: 1px solid #cfcfc7;
	border-collapse: separate;
	border-spacing: 1px;
}

#news th {
	font-size: 12px;
	color: #534741;
	white-space: nowrap;
	vertical-align : middle;
	border: 1px solid #cfcfc7;
	padding: 3px;
	background-color: #ddd4c1;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
}

#news td {
	font-size: 12px;
	color: #666666;
	vertical-align : middle;
	border-top: 1px solid #e5e5dc;
	border-right: 1px solid #cfcfc7;
	border-bottom: 1px solid #cfcfc7;
	border-left: 1px solid #e5e5dc;
	padding: 3px;
	background-color: #fff;
	text-align: center;
}

#news table .align_left {
	text-align: left;
}

/*What's New新規作成*/
#news_title {
	width: 483px;
}

#news_detail {
	width: 483px;
}

#link_url {
	width: 400px;
	margin-left: 55px;
}

#link_url2 {
	width: 400px;
	margin-left: 5px;
}

#checkbox_url {
	margin: 0 5px 0 0;
}

/*ページトップへ*/
#pagetop {
	width: 806px;
	height: 16px;
	margin: 0;
	padding: 0;
	text-align: right;
}

/*フッター*/
#footer {
	width: 846px;
	height: 13px;
	margin: 0;
	padding: 0;
}
