.form-select {
  position: relative;
  margin-bottom: 20px; }
  .form-select:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 6.5px 0 6.5px;
    border-color: #181818 transparent transparent transparent;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    pointers-event: none; }
  .form-select select {
    position: relative;
    border: 1px solid rgba(24, 24, 24, 0.1);
    width: 100%;
    height: 60px;
    padding: 0 25px;
    border-radius: 3px; }
    @media screen and (max-width: 375px) {
      .form-select select {
        height: 55px; } }

.form-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .form-columns .form-column {
    width: calc(50% - 10px); }
