.recruit-main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 14.5em; }
  .recruit-main-page .recruit-main-wrapper {
    width: 100%;
    text-align: center;
    margin-top: -6px;
    position: relative;
    z-index: 1; }
