.recruit-type-list-wrapper {
  margin-top: -82px;

  @media screen and (max-width: 768px) {
    margin-top: -50px; 
  }
}

.recruit-type-list {
  padding: 0 6px;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.recruit-type-item {
  border: 1px solid #000;
  margin: 0 0 30px;
  background: #fff;
  height: 160px;
  padding: 5px;
  box-sizing: border-box;
  width: calc(94%/3);
  text-align: center;

  @media screen and (max-width: 768px) {
    width: calc(97%/2);
    height: 92px;
    margin-bottom: 15px;
  }

  @media screen and (min-width: 768px) {
    &:hover {
      background: #000;
      
      .recruit-type-link {
        border: 1px solid #fff;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.recruit-type-link {
  align-items: center;
  box-sizing: border-box;
  font-size: 18px;
  font-family: $hiragino;
  font-weight: 500;
  border: 1px solid #000;
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}
