@charset "utf-8";
/*
 * ==========================================================================
 * 
 * ベースレイアウトCSS
 * 
 * ==========================================================================
 */
/**
 * ---------------------------------------------------
 * Web font setting
 * ---------------------------------------------------
 */
@font-face {
	font-family: 'RalewayReg';
	src: url('../../font/Raleway-Regular.woff') format('woff')
		,url('../../font/Raleway-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'RalewayMed';
	src: url('../../font/Raleway-Medium.woff') format('woff')
		,url('../../font/Raleway-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'RalewaySemiBol';
	src: url('../../font/Raleway-SemiBold.woff') format('woff')
		,url('../../font/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'RalewayBol';
	src: url('../../font/Raleway-Bold.woff') format('woff')
		,url('../../font/Raleway-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'talldark';
	src: url('../../font/talldark.woff') format('woff')
		,url('../../font/talldark.ttf') format('truetype');
}
/**
 * ---------------------------------------------------
 * reset
 * ---------------------------------------------------
 */
body, h1, h2, h3, h4, h5, h6, p, li, dl, pre, form, 
blockquote, fieldset, input, address, figure, figcaption {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, nav, section, summary {
    display: block;
}
/**
 * ---------------------------------------------------
 * img
 * ---------------------------------------------------
 */
img { border: none; }
/**
 * ---------------------------------------------------
 * default
 * ---------------------------------------------------
 */
h1, h2, h3, h4, h5, h6, caption { 
	font-weight: normal;
	font-size: 100%;
}

a { outline: none; }

address { font-style: normal; }

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption { text-align: left; }

fieldset { border: none; }

legend { display:none; }

input[type=radio], 
input[type=checkbox], 
select {
	vertical-align: middle;
}
img { max-width: 100%; }
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
}
/**
 * ---------------------------------------------------
 * link
 * ---------------------------------------------------
 */
a {
	color: #006ACA;
	text-decoration: underline;
}
a:link {
	color: #006ACA;
	text-decoration: underline;
}

a:visited {
	color: #006ACA;
	text-decoration: underline;
}

a:hover {
	color: #006ACA;
	text-decoration: none;
}
 
a:active {
	color: #006ACA;
	text-decoration: none;
}
/**
 * ---------------------------------------------------
 * html
 * ---------------------------------------------------
 */
html {
	font-size: 62.5%;
}
/**
 * ---------------------------------------------------
 * body
 * ---------------------------------------------------
 */
body {
	color: #000;
	font-size: 1.3rem;
	font-family: 
		"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 
		"メイリオ", Meiryo, 
		"ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif;
	letter-spacing: 0.2em;
	line-height: 1.6;
	width: 100%;
	background: #fff;
	position: relative;
}

p { line-height: 1.8; }
/**
 * ---------------------------------------------------
 * wrapper
 * ---------------------------------------------------
 */
#wrapper {
	width: 100%;
	overflow: hidden;
	/*visibility: hidden;*/
	min-width: 1200px;
	position: relative;
	opacity: 0;
}
/**
 * ---------------------------------------------------
 * header
 * ---------------------------------------------------
 */
#siteHeader {
	width: 1200px;
	padding: 40px 0 20px 0;
	margin: 0 auto;
	position: relative;
}
	#siteHeader .shInner {}
		#siteHeader .shInner #siteLogo {
			display: block;
			text-align: center;
			margin-bottom: 45px;
		}
			#siteHeader .shInner #siteLogo img {
				width: 162px;
				-webkit-transition: 0.2s;
				    -ms-transition: 0.2s;
				        transition: 0.2s;
			}
			#siteHeader .shInner #siteLogo img:hover { opacity: 0.5; }
/**
 * ---------------------------------------------------
 * tools
 * ---------------------------------------------------
 */
#siteHeader .entryBt {
	width: 150px;
	position: absolute;
	top: 40px;
	right: 0;
}
	#siteHeader .entryBt a {
		display: block;
		color: #fff;
		font-family: 'RalewayReg';
		font-size: 1.1rem;
		line-height: 1;
		letter-spacing: 0.3em;
		text-decoration: none;
		text-align: center;
		padding: 15px 0;
		background: url(../../images/content/content/ico_arrow.png) no-repeat 93% center / 3px auto #000;
		-webkit-transition: 0.2s;
		    -ms-transition: 0.2s;
		        transition: 0.2s;
	}
	#siteHeader .entryBt a:hover { background-color: #beb590; }
/**
 * ---------------------------------------------------
 * gNavOpener
 * ---------------------------------------------------
 */
#gNavOpener { display: none; }
/**
 * ---------------------------------------------------
 * gNav
 * ---------------------------------------------------
 */
#gNav {}
	#gNav ul {
		padding: 0;
		margin: 0;
		overflow: hidden;
	}
		#gNav ul li {
			list-style-type: none;
			float: left;
			margin: 0 45px;
			-webkit-transition: 0.2s;
			    -ms-transition: 0.2s;
			        transition: 0.2s;
		}
		#gNav ul li:last-child { margin-right: 0; }
			#gNav ul li a {
				display: block;
				color: #000;
				font-family: 'RalewaySemiBol';
				font-size: 1.2rem;
				letter-spacing: 0.15em;
				text-decoration: none;
				border-bottom: 2px solid #fff;
				-webkit-transition: 0.2s;
				    -ms-transition: 0.2s;
				        transition: 0.2s;
			}
			#gNav ul li.active a,
			#gNav ul li a:hover { border-bottom-color: #000; }
	#gNav .entryBt { display: none; }
/**
 * ---------------------------------------------------
 * pageTitle
 * ---------------------------------------------------
 */
#pageTitle {
	text-align: center;
	padding: 2px 0;
	margin-bottom: 35px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
	#pageTitle h1 {
		padding: 65px 0;
		border-top: 2px solid #000;
		border-bottom: 2px solid #000;
	}
		#pageTitle h1 .en {
			display: block;
			font-size: 6.0rem;
			font-family: 'talldark';
			letter-spacing: 0.3em;
			line-height: 1;
			margin-bottom: 10px;
		}
		#pageTitle h1 .and {
			display: inline-block;
			text-indent: -99999px;
			line-height: 1;
			vertical-align: -13px;
			width: 16px;
			height: 36px;
			margin-right: 15px;
			background: url(../../images/global/and.png) no-repeat center center / 16px auto;
		}
		#pageTitle h1 .ja {
			display: block;
			font-size: 1.0rem;
			line-height: 1;
			letter-spacing: 0.5em;
		}
/**
 * ---------------------------------------------------
 * container
 * ---------------------------------------------------
 */
#container {
	width: 1200px;
	padding-bottom: 130px;
	margin: 0 auto;
}
#content {}
/**
 * ---------------------------------------------------
 * siteFooter
 * ---------------------------------------------------
 */
#siteFooter {
	width: 1200px;
	margin: 0 auto;
}
	#siteFooter #pageTopVox {
		width: 40px;
		height: 40px;
		border: 1px solid #000;
		position: fixed;
		bottom: 100px;
		right: 30px;
		z-index: 3;
		display: none;
	}
		#siteFooter #pageTopVox a {
			display: block;
			height: 100%;
			text-indent: -99999px;
			background: url(../../images/global/pagetop.png) no-repeat center center / 13px auto rgba(255, 255, 255, 0.8);
			-webkit-transition: 0.2s;
			    -ms-transition: 0.2s;
			        transition: 0.2s;
		}
		#siteFooter #pageTopVox a:hover {
			background: url(../../images/global/pagetop_on.png) no-repeat center center / 13px auto #000;
			opacity: 1 !important;
		}
	#siteFooter #fNav { margin-bottom: 25px; }
		#siteFooter #fNav ul {
			padding: 0;
			margin: 0;
			overflow: hidden;
		}
			#siteFooter #fNav ul li {
				list-style-type: none;
				float: left;
				margin: 0 45px;
				-webkit-transition: 0.2s;
				    -ms-transition: 0.2s;
				        transition: 0.2s;
			}
			#siteFooter #fNav ul li:last-child { margin-right: 0; }
				#siteFooter #fNav ul li a {
					display: block;
					color: #000;
					font-family: 'RalewaySemiBol';
					font-size: 1.2rem;
					letter-spacing: 0.15em;
					text-decoration: none;
					border-bottom: 2px solid #fff;
					-webkit-transition: 0.2s;
					    -ms-transition: 0.2s;
					        transition: 0.2s;
				}
				#siteFooter #fNav ul li.active a,
				#siteFooter #fNav ul li a:hover { border-bottom-color: #000; }
	#siteFooter .tools {
		text-align: center;
		padding: 45px 0 40px 0;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		overflow: hidden;
		position: relative;
	}
		#siteFooter .entryBt {
			width: 150px;
			margin: 0 auto;
		}
			#siteFooter .entryBt a {
				display: block;
				color: #fff;
				font-family: 'RalewayReg';
				font-size: 1.1rem;
				line-height: 1;
				letter-spacing: 0.3em;
				text-decoration: none;
				text-align: center;
				padding: 15px 0;
				background: url(../../images/content/content/ico_arrow.png) no-repeat 93% center / 3px auto #000;
				-webkit-transition: 0.2s;
				    -ms-transition: 0.2s;
				        transition: 0.2s;
			}
			#siteFooter .entryBt a:hover { background-color: #beb590; }
		#siteFooter .tools .corporateLogo {
			position: absolute;
			top: 40px;
			right: 15px;
		}
			#siteFooter .tools .corporateLogo img {
				width: 201px;
				-webkit-transition: 0.2s;
				    -ms-transition: 0.2s;
				        transition: 0.2s;
			}
			#siteFooter .tools .corporateLogo img:hover { opacity: 0.6; }
	#siteFooter .copyright {
		letter-spacing: 0.2em;
		text-align: center;
		padding: 30px 0;
	}
/**
 ****************************************************
 * 
 * screens larger than 768
 * 
 ****************************************************
 */
@media only screen and (min-width: 768px) {
	
}	/*  @media END */
/**
 ****************************************************
 * 
 * screens smaller than 767
 * 
 ****************************************************
 */
@media only screen and (max-width: 767px) {
	
/**
 * ---------------------------------------------------
 * body
 * ---------------------------------------------------
 */
body {
	-webkit-text-size-adjust: none;
	letter-spacing: 0.1em;
	position: static;
}
/**
 * ---------------------------------------------------
 * wrapper
 * ---------------------------------------------------
 */
#wrapper {
	/*visibility: visible;*/
	min-width: 300px;
}
/**
 * ---------------------------------------------------
 * header
 * ---------------------------------------------------
 */
#siteHeader {
	width: 100%;
	padding: 20px 15px;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 4;
}
	#siteHeader .shInner {}
		#siteHeader .shInner #siteLogo {
			margin-bottom: 0;
			position: relative;
			z-index: 5;
		}
			#siteHeader .shInner #siteLogo img { width: 110px; }
/**
 * ---------------------------------------------------
 * tools
 * ---------------------------------------------------
 */
#siteHeader .entryBt { display: none; }
/**
 * ---------------------------------------------------
 * gNavOpener
 * ---------------------------------------------------
 */
#gNavOpener {
	display: block;
	width: 20px;
	height: 19px;
	position: absolute;
	top: 20px;
	right: 15px;
	z-index: 5;
}
	#gNavOpener a {
		display: block;
		height: 100%;
		position: relative;
	}
		#gNavOpener span {
			display: block;
			width: 100%;
			height: 2px;
			background: #000;
			position: absolute;
			left: 0;
			-webkit-transition: 0.2s;
			    -ms-transition: 0.2s;
			        transition: 0.2s;
		}
		#gNavOpener span:nth-child(1) { top: 0; }
		#gNavOpener span:nth-child(2) { top: 8px; }
		#gNavOpener span:nth-child(3) { bottom: 0; }
		#gNavOpener.open span:nth-child(1) {
			top: 8px;
			-webkit-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			        transform: rotate(45deg);
		}
		#gNavOpener.open span:nth-child(2) { display: none; }
		#gNavOpener.open span:nth-child(3) {
			top: 8px;
			bottom: auto;
			-webkit-transform: rotate(-45deg);
			    -ms-transform: rotate(-45deg);
			        transform: rotate(-45deg);
		}
/**
 * ---------------------------------------------------
 * gNav
 * ---------------------------------------------------
 */
#gNav {
	display: none;
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
}
	#gNav ul {
		text-align: center;
		padding-top: 30%;
		margin-bottom: 20px;
	}
		#gNav ul li {
			float: none;
			margin: 0 auto 6% auto;
		}
			#gNav ul li a { border-bottom: none; }
	#gNav .entryBt {
		display: block;
		margin: 0 auto;
		position: static;
	}
/**
 * ---------------------------------------------------
 * pageTitle
 * ---------------------------------------------------
 */
#pageTitle { margin-bottom: 15px; }
	#pageTitle h1 { padding: 25px 0; }
		#pageTitle h1 .en { font-size: 3.0rem; }
		#pageTitle h1 .and {
			vertical-align: -7px;
			width: 8px;
			height: 18px;
			margin-right: 10px;
			background-size: 8px auto;
		}
		#pageTitle h1 .ja { font-size: 0.8rem; }
/**
 * ---------------------------------------------------
 * container
 * ---------------------------------------------------
 */
#container {
	width: auto;
	padding-bottom: 50px;
}
#content { padding: 0 10px; }
/**
 * ---------------------------------------------------
 * siteFooter
 * ---------------------------------------------------
 */
#siteFooter { width: auto; }
	#siteFooter #pageTopVox {
		width: 20px;
		height: 20px;
		bottom: 30px;
		right: 10px;
	}
		#siteFooter #pageTopVox a { background-size: 7px auto; }
	#siteFooter #fNav { display: none; }
	#siteFooter .tools {
		padding: 20px 10px;
		overflow: hidden;
	}
		#siteFooter .tools .entryBt {
			width: 35%;
			float: left;
		}
			#siteFooter .entryBt a { padding: 10px 0; }
		#siteFooter .tools .corporateLogo {
			width: 94px;
			position: static;
			float: right;
		}
	#siteFooter .copyright {
		font-size: 0.8rem;
		letter-spacing: 0.1em;
		padding: 20px 0;
	}


}	/*  @media END */

