@charset "utf-8";
/*
 * ==========================================================================
 * 
 * 汎用要素用CSS
 * 
 * ==========================================================================
 */
/**
 * ---------------------------------------------------
 * white-space
 * ---------------------------------------------------
 */
.wsN { white-space: nowrap; }
/**
 * ---------------------------------------------------
 * word-wrap
 * ---------------------------------------------------
 */
.wrBW { word-wrap: break-word; }
/**
 * ---------------------------------------------------
 * 文字色装飾
 * ---------------------------------------------------
 */
.cWhite { color: #FFFFFF; }
.cBlue { color: #016bb5; }
.cRed { color: #E4050B; }
.cGray { color: #666666; }
.cYellow { color: #FFFF00; }
/**
 * ---------------------------------------------------
 * 文字装飾
 * ---------------------------------------------------
 */
.decUline { text-decoration: underline; }
.decNone { text-decoration: none; }
/**
 * ---------------------------------------------------
 * 文字サイズ
 * ---------------------------------------------------
 */
.s70 { font-size: 70%; }
.s80 { font-size: 80%; }
.s90 { font-size: 90%; }
.s100 { font-size: 100%; }
.s110 { font-size: 110%; }
.s120 { font-size: 120%; }
.s130 { font-size: 130%; }
.s140 { font-size: 140%; }
.s150 { font-size: 150%; }
.s160 { font-size: 160%; }
.s170 { font-size: 170%; }
.s180 { font-size: 180%; }
.s190 { font-size: 190%; }
.s200 { font-size: 200%; }
/**
 * ---------------------------------------------------
 * 文字の太さ
 * ---------------------------------------------------
 */
.fwN { font-weight: normal; }
.fwB { font-weight: bold; }
/**
 * ---------------------------------------------------
 * 文字の高さ
 * ---------------------------------------------------
 */
.lh0-5 { line-height: 0.5; }
.lh1 { line-height: 1; }
.lh1-1 { line-height: 1.1; }
.lh1-2 { line-height: 1.2; }
.lh1-5 { line-height: 1.5; }
.lh2 { line-height: 2; }
/**
 * ---------------------------------------------------
 * レイアウト
 * ---------------------------------------------------
 */
.mA { margin: 0 auto !important; }
.mLA { margin-left:auto !important; }
.mRA { margin-right:auto !important; }

.m0 { margin: 0 !important; }
.m3 { margin: 3px !important; }
.m5 { margin: 5px !important; }
.m10 { margin: 10px !important; }
.m15 { margin: 15px !important; }
.m20 { margin: 20px !important; }
.m25 { margin: 25px !important; }
.m30 { margin: 30px !important; }
.m35 { margin: 35px !important; }
.m40 { margin: 40px !important; }
.m45 { margin: 45px !important; }
.m50 { margin: 50px !important; }

.mT0 { margin-top: 0px !important; }
.mT5 { margin-top: 5px !important; }
.mT10 { margin-top: 10px !important; }
.mT15 { margin-top: 15px !important; }
.mT20 { margin-top: 20px !important; }
.mT25 { margin-top: 25px !important; }
.mT30 { margin-top: 30px !important; }
.mT35 { margin-top: 35px !important; }
.mT40 { margin-top: 40px !important; }
.mT45 { margin-top: 45px !important; }
.mT50 { margin-top: 50px !important; }

.mR0 { margin-right: 0px !important; }
.mB3 { margin-right: 3px !important; }
.mR5 { margin-right: 5px !important; }
.mR10 { margin-right: 10px !important; }
.mR15 { margin-right: 15px !important; }
.mR20 { margin-right: 20px !important; }
.mR25 { margin-right: 25px !important; }
.mR30 { margin-right: 30px !important; }
.mR35 { margin-right: 35px !important; }
.mR40 { margin-right: 40px !important; }
.mR45 { margin-right: 45px !important; }
.mR50 { margin-right: 50px !important; }
.mR60 { margin-right: 60px !important; }
.mR70 { margin-right: 70px !important; }
.mR100 { margin-right: 100px !important; }
.mR110 { margin-right: 110px !important; }
.mR120 { margin-right: 120px !important; }
.mR130 { margin-right: 130px !important; }
.mR140 { margin-right: 140px !important; }
.mR150 { margin-right: 150px !important; }
.mR160 { margin-right: 160px !important; }
.mR170 { margin-right: 170px !important; }
.mR180 { margin-right: 180px !important; }
.mR190 { margin-right: 190px !important; }
.mR200 { margin-right: 200px !important; }
.mR210 { margin-right: 210px !important; }
.mR220 { margin-right: 220px !important; }
.mR230 { margin-right: 230px !important; }
.mR240 { margin-right: 240px !important; }
.mR250 { margin-right: 250px !important; }
.mR260 { margin-right: 260px !important; }
.mR280 { margin-right: 280px !important; }
.mR300 { margin-right: 300px !important; }

.mB0 { margin-bottom: 0px !important; }
.mB3 { margin-bottom: 3px !important; }
.mB5 { margin-bottom: 5px !important; }
.mB10 { margin-bottom: 10px !important; }
.mB15 { margin-bottom: 15px !important; }
.mB20 { margin-bottom: 20px !important; }
.mB25 { margin-bottom: 25px !important; }
.mB30 { margin-bottom: 30px !important; }
.mB35 { margin-bottom: 35px !important; }
.mB40 { margin-bottom: 40px !important; }
.mB45 { margin-bottom: 45px !important; }
.mB50 { margin-bottom: 50px !important; }

.mL0 { margin-left: 0px !important; }
.mL5 { margin-left: 5px !important; }
.mL1em { margin-left: 1.0em !important; }
.mL10 { margin-left: 10px !important; }
.mL15 { margin-left: 15px !important; }
.mL20 { margin-left: 20px !important; }
.mL25 { margin-left: 25px !important; }
.mL30 { margin-left: 30px !important; }
.mL35 { margin-left: 35px !important; }
.mL40 { margin-left: 40px !important; }
.mL45 { margin-left: 45px !important; }
.mL50 { margin-left: 50px !important; }
.mL55 { margin-left: 55px !important; }
.mL60 { margin-left: 60px !important; }
.mL70 { margin-left: 70px !important; }
.mL80 { margin-left: 80px !important; }
.mL85 { margin-left: 85px !important; }
.mL105 { margin-left: 105px !important; }
.mL110 { margin-left: 110px !important; }
.mL115 { margin-left: 115px !important; }
.mL120 { margin-left: 120px !important; }
.mL130 { margin-left: 130px !important; }
.mL140 { margin-left: 140px !important; }
.mL150 { margin-left: 150px !important; }
.mL170 { margin-left: 170px !important; }
.mL200 { margin-left: 200px !important; }
.mL225 { margin-left: 225px !important; }
.mL270 { margin-left: 270px !important; }

.p0 { padding: 0 !important; }
.p3 { padding: 3px !important; }
.p5 { padding: 5px !important; }
.p10 { padding: 10px !important; }
.p15 { padding: 15px !important; }
.p20 { padding: 20px !important; }
.p25 { padding: 25px !important; }
.p30 { padding: 30px !important; }
.p35 { padding: 35px !important; }
.p40 { padding: 40px !important; }
.p45 { padding: 45px !important; }
.p50 { padding: 50px !important; }

.pT0 { padding-top: 0px !important; }
.pT2 { padding-top: 2px !important; }
.pT3 { padding-top: 3px !important; }
.pT5 { padding-top: 5px !important; }
.pT10 { padding-top: 10px !important; }
.pT15 { padding-top: 15px !important; }
.pT20 { padding-top: 20px !important; }
.pT25 { padding-top: 25px !important; }
.pT30 { padding-top: 30px !important; }
.pT35 { padding-top: 35px !important; }
.pT40 { padding-top: 40px !important; }
.pT45 { padding-top: 45px !important; }
.pT50 { padding-top: 50px !important; }
.pT80 { padding-top: 80px !important; }
.pT100 { padding-top: 100px !important; }

.pR0 { padding-right: 0px !important; }
.pR5 { padding-right: 5px !important; }
.pR10 { padding-right: 10px !important; }
.pR15 { padding-right: 15px !important; }
.pR20 { padding-right: 20px !important; }
.pR25 { padding-right: 25px !important; }
.pR30 { padding-right: 30px !important; }
.pR35 { padding-right: 35px !important; }
.pR40 { padding-right: 40px !important; }
.pR45 { padding-right: 45px !important; }
.pR50 { padding-right: 50px !important; }

.pB0 { padding-bottom: 0px !important; }
.pB5 { padding-bottom: 5px !important; }
.pB10 { padding-bottom: 10px !important; }
.pB15 { padding-bottom: 15px !important; }
.pB20 { padding-bottom: 20px !important; }
.pB25 { padding-bottom: 25px !important; }
.pB30 { padding-bottom: 30px !important; }
.pB35 { padding-bottom: 35px !important; }
.pB40 { padding-bottom: 40px !important; }
.pB45 { padding-bottom: 45px !important; }
.pB50 { padding-bottom: 50px !important; }

.pL0 { padding-left: 0px !important; }
.pL5 { padding-left: 5px !important; }
.pL10 { padding-left: 10px !important; }
.pL15 { padding-left: 15px !important; }
.pL20 { padding-left: 20px !important; }
.pL25 { padding-left: 25px !important; }
.pL30 { padding-left: 30px !important; }
.pL35 { padding-left: 35px !important; }
.pL40 { padding-left: 40px !important; }
.pL45 { padding-left: 45px !important; }
.pL50 { padding-left: 50px !important; }
/**
 * ---------------------------------------------------
 * float用スタイル
 * ---------------------------------------------------
 */
.fLeft { float: left; }
.fRight { float: right; }
.fClear { clear: both; }
.fClearL { clear: left; }
.fClearR { clear: right; }
.fN { float: none; }
/**
 * ---------------------------------------------------
 * position用スタイル
 * ---------------------------------------------------
 */
.posRel { position: relative; }
.posAbs { position: absolute; }
.posT0R0 {
	right: 0px;
	top: 0px;
}
/**
 * ---------------------------------------------------
 * overflow
 * ---------------------------------------------------
 */
.ofHidden { overflow: hidden; }
.ofAuto { overflow: auto; }
.ofVisible { overflow: visible; }
/**
 * ---------------------------------------------------
 * display用スタイル
 * ---------------------------------------------------
 */
.dspInline { display: inline; }
.dspBlock { display: block; }
.dspInlBlock { display: inline-block; }
.dspNone { display: none; }
/**
 * ---------------------------------------------------
 * 汎用行揃え用スタイル
 * ---------------------------------------------------
 */
.alignLeft { text-align: left; }
.alignCenter { text-align: center; }
.alignRight { text-align: right; }

/**
 * ---------------------------------------------------
 * 汎用縦揃え用スタイル
 * ---------------------------------------------------
 */
.valignTop { vertical-align: top; }
.valignMiddle { vertical-align: middle; }
.valignBottom { vertical-align: bottom; }
.valignTextBottom { vertical-align: text-bottom; }
.valignSuper { vertical-align: super; }
/**
 * ---------------------------------------------------
 * 汎用幅指定用スタイル
 * ---------------------------------------------------
 */
.w5 { width: 5px; }
.w10em { width: 10em; }
.w10p { width: 10%; }
.w15p { width: 15%; }
.w20p { width: 20%; }
.w25p { width: 25%; }
.w30p { width: 30%; }
.w30 { width: 30px; }
.w40p { width: 40%; }
.w40 { width: 40px; }
.w50 { width: 50px; }
.w60 { width: 60px; }
.w70 { width: 70px; }
.w80 { width: 80px; }
.w90 { width: 90px; }
.w98p { width: 98%; }
.w99p { width: 99%; }
.w100 { width: 100px; }
.w100p { width: 100%; }
/**
 * ---------------------------------------------------
 * hasLayout true
 * ---------------------------------------------------
 */
.h1p { height: 1%; }
.z1 { zoom: 1; }
/**
 * ---------------------------------------------------
 * リスト用スタイル
 * ---------------------------------------------------
 */
.listTypeNone { list-style-type: none; }
.listInside { list-style-position: inside; }
.listOutside { list-style-position: outside; }
.listTypeDisc { list-style-type: disc; }
.listTypeSquare { list-style-type: square; }
.listTypeCircle { list-style-type: circle; }
.listTypeNum {
	padding-left:0px;
	margin-left:0px;
	margin-top:0px;
}
.listTypeNum li {
	list-style-type:none;
	padding:0px 0px 0px 20px;
}
.listNumParentheses {
	list-style-type: none;
	list-style-position: inside;
}
	.listNumParentheses li {
		counter-increment: cnt;
	}
	.listNumParentheses li:before {
		display: marker;
		content: "(" counter(cnt) ")";
	}
/**
 * ---------------------------------------------------
 * 背景色用スタイル
 * ---------------------------------------------------
 */
.bgFFFFFF { background-color: #FFFFFF; }
.bgE6ECE8 { background-color: #e6ece8; }
.bgF0F0DC { background-color: #F0F0DC; }
.bgF0EFEE { background-color: #F0EFEE; }
.bgEBE6E1 { background-color: #EBE6E1; }
.bgC9C9C9 { background-color: #C9C9C9; }
/**
 * ---------------------------------------------------
 * ボーダー用スタイル
 * ---------------------------------------------------
 */
.bdr1s999 { border: 1px solid #999999; }
.bdr1sCCC { border: 1px solid #CCCCCC; }
.bdr1sBBB { border: 1px solid #BBBBBB; }
.bdr1s5B5B5B { border: 1px solid #5B5B5B; }
.bdr1do444444 { border: 1px dotted #444444; }
.bdrTn { border-top: none !important; }
.bdrRn { border-right: none !important; }
.bdrBn { border-bottom: none !important; }
.bdrLn { border-left: none !important; }
.bdrN { border: none !important; }
.bdrTop {
	border-right: none !important;
	border-bottom: none !important;
	border-left: none !important;
}
.bdrRight {
	border-top: none !important;
	border-bottom: none !important;
	border-left: none !important;
}
.bdrBottom {
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
}
.bdrLeft {
	border-top: none !important;
	border-right: none !important;
	border-bottom: none !important;
}
/**
 * テキストインデント
 */
.tim1em { text-indent: -1.0em; }
.ti1em { text-indent: 1.0em; }
/**
 * カーソル
 */
.csrPtr { cursor: pointer; }
/**
 * ---------------------------------------------------
 * css3 角丸ボーダー
 * ---------------------------------------------------
 */
.bdrRad3 {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	    -ms-border-radius: 3px;
	     -o-border-radius: 3px;
	        border-radius: 3px;
}
.bdrRad5 {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	    -ms-border-radius: 5px;
	     -o-border-radius: 5px;
	        border-radius: 5px;
}
/**
 * ワードブレイク
 */
.wbBrkA { word-break: break-all; }
/**
 * IE png support用
 */
.pngImg {}
/**
 * 高さ合わせ
 */
.adjustList {}
/**
 * ホバーフェード
 */
.jqHover {}
/**
 * ロールオーバー
 */
.roImg {}
/**
 * ホバーフェード(画像二枚版)
 */
.roFadeImg {}
/**
 * スムーススクロール
 */
.scroll {}
/**
 * png画像→gif画像へ差し替え
 */
.rplPngImg {}
/**
 * PC画像⇔SP画像切替え
 */
.rplSPImg {}
