.checkbox-label {
  position: relative;
  padding-left: 40px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 12px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 30px; }
  @media screen and (max-width: 375px) {
    .checkbox-label {
      max-width: 375px; } }
  .checkbox-label input {
    position: absolute;
    z-index: -1;
    opacity: 0; }

.checkbox-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  border: 1px solid #E7E7E7; }
  .checkbox-label input:checked ~ .checkbox-indicator {
    border: 1px solid #06BAB5; }
  .checkbox-indicator:after {
    content: '';
    position: absolute;
    display: none; }
    .checkbox-label input:checked ~ .checkbox-indicator:after {
      display: block; }
    .checkbox-label .checkbox-indicator:after {
      left: 9px;
      top: 0px;
      width: 10px;
      height: 22px;
      border: solid #06BAB5;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

.checkbox-text-wrapper {
  vertical-align: -5px;
  color: rgba(24, 24, 24, 0.6); }
