.recruit-new-grad-article {
  margin-bottom: 88px;
}

.recruit-new-grad-article-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.recruit-new-grad-article-item {
  margin: 0 0 13px;
  padding: 0;
}

.recruit-new-grad-article-link {
  display: flex;
  padding: 0 0 7px;
  border-bottom: 2px solid #f3f3f3;
  align-items: flex-start;

  &:hover {
    text-decoration: none;
  }
}

.recruit-new-grad-article-copy {
  padding: 0;
  padding-left: 35px;
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.09em;
  opacity: 0.7;
  font-family: $base-font-family;
}

.recruit-new-grad-article-time {
  font-size: 14px;
  font-weight: 600;
  font-family: $hiraginokaku;
  padding-top: 1px;
  min-width: 10%;
}
