.recruit-partime {
  padding: 69px 0 81px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  max-width: 800px;
  width: 100%;
  margin: 0 auto 110px;

  @media screen and (max-width: 768px) {
    padding: 38px 0 54px;
    margin-bottom: 84px;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: calc(50% - 50vw);
    height: 100%;
    width: 100vw;
    background-color: #f5f5f5;
    z-index: -1;
  }
}

.recruit-partime-title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.21em;
  font-family: $hiraginokaku;
  margin: 0 0 22px;
  text-align: center;

  &:nth-of-type(1) {
    @media screen and (max-width: 768px) {
      padding-left: 10px;
      margin-bottom: 28px;
    }
  }

  &:nth-of-type(2) {
    margin-bottom: 11px;

    @media screen and (max-width: 768px) {
      padding-left: 10px;
      margin-bottom: 19px;
    }
  }
}

.recruit-partime-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 58px;

  @media screen and (max-width: 600px) {
    display: block;
    padding: 0 15px;
    margin-bottom: 43px;
  }
}

.recruit-partime-column {
  width: calc(50% - 20px);

  @media screen and (max-width: 600px) {
    width: 100%;
    margin-bottom: 16px;
  }

  .select-text {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
    height: 50px;
    padding: 3px 15px 0;

    @media screen and (max-width: 600px) {
      border-radius: 0;
    }

    &::before {
      border-color: #000 transparent transparent transparent;
      right: 21px;
    }
  }

  .is-active {
    .select-text::before {
      border-color: transparent transparent #000 transparent; 
    }
  }

  .select-list { 
    top: 50px;
  }
}

.recruit-partime-select {
  display: none;
}

.recruit-partime-checkboxes {
  display: flex;
  margin-bottom: 57px;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }

  @media screen and (max-width: 600px) {
    display: block;
    padding: 0 17px;
    margin-bottom: 42px;
  }
}

.recruit-partime-button {
  display: flex;
  box-sizing: border-box;
  width: 202px;
  height: 43px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: #fff;
  background-color: #000;
  font-family: $hiragino;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 0;
  box-shadow: none;
  transition: box-shadow 300ms linear;

  &:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #000;
  }
}

.recruit-partime-result-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.recruit-partime-result-item {
  position: relative;
  width: calc(96%/2);
  margin: 0 0 42px;
  padding: 0;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    max-width: 480px;
    width: 100%;
    margin: 0 auto 15px;
  }
}


