.nivoSlider {
	POSITION: relative; WIDTH: 857px; HEIGHT: 507px; MARGIN-LEFT: 36px
}
.nivoSlider IMG {
	POSITION: absolute; MAX-WIDTH: none; TOP: 0px; LEFT: 0px
}
.nivo-main-image {
	POSITION: relative !important; WIDTH: 100% !important; DISPLAY: block !important
}
.nivoSlider A.nivo-imageLink {
	Z-INDEX: 6; BORDER-BOTTOM: 0px; POSITION: absolute; FILTER: alpha(opacity=0); BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; DISPLAY: none; BACKGROUND: white; HEIGHT: 100%; BORDER-TOP: 0px; TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px; LEFT: 0px; opacity: 0
}
.nivo-slice {
	Z-INDEX: 5; POSITION: absolute; DISPLAY: block; HEIGHT: 100%; TOP: 0px
}
.nivo-box {
	Z-INDEX: 5; POSITION: absolute; DISPLAY: block; OVERFLOW: hidden
}
.nivo-box IMG {
	DISPLAY: block
}
.nivo-caption {
	Z-INDEX: 8; BOX-SIZING: border-box; POSITION: absolute; FILTER: alpha(opacity=8); PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; WIDTH: 100%; BOTTOM: 0px; PADDING-RIGHT: 10px; DISPLAY: none; BACKGROUND: #000; COLOR: #fff; OVERFLOW: hidden; PADDING-TOP: 5px; LEFT: 0px; opacity: 0.8; -moz-opacity: 0.8; -webkit-box-sizing: border-box; -moz-box-sizing: border-box
}
.nivo-caption P {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.nivo-caption A {
	DISPLAY: inline !important
}
.nivo-html-caption {
	DISPLAY: none
}
.nivo-directionNav A {
	Z-INDEX: 9; POSITION: absolute; TOP: 45%; CURSOR: pointer
}
.nivo-prevNav {
	TEXT-INDENT: -9999em; WIDTH: 28px; BACKGROUND: url(/img/frontend/v2/shopFrontArrowLeft.png) no-repeat center center; HEIGHT: 27px; LEFT: -36px
}
.nivo-nextNav {
	TEXT-INDENT: -9999em; WIDTH: 28px; BACKGROUND: url(/img/frontend/v2/shopFrontArrowRight.png) no-repeat center center; HEIGHT: 27px; RIGHT: -36px
}
.nivo-controlNav {
	TEXT-ALIGN: center; PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 15px
}
.nivo-controlNav A {
	CURSOR: pointer
}
.nivo-controlNav A.active {
	FONT-WEIGHT: bold
}
