BODY {
	OVERFLOW-X: hidden; FONT-FAMILY: "Courier New", Courier, monospace
}
H1 {
	TEXT-TRANSFORM: uppercase; MARGIN-BOTTOM: 15px; FONT-SIZE: 15px
}
H2 {
	TEXT-TRANSFORM: uppercase; MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px; FONT-SIZE: 0.9em
}
P {
	LINE-HEIGHT: 1.1em; MARGIN-BOTTOM: 15px; FONT-SIZE: 13px
}
TABLE {
	LINE-HEIGHT: 1.1em; MARGIN-BOTTOM: 15px; FONT-SIZE: 13px
}
A.arrow {
	TEXT-INDENT: -9999em; DISPLAY: inline-block; BACKGROUND: no-repeat left top
}
A.arrow:link {
	TEXT-INDENT: -9999em; DISPLAY: inline-block; BACKGROUND: no-repeat left top
}
A.arrow:visited {
	TEXT-INDENT: -9999em; DISPLAY: inline-block; BACKGROUND: no-repeat left top
}
A.active.arrow {
	BACKGROUND-POSITION: left bottom
}
A.arrow:hover {
	BACKGROUND-POSITION: left bottom
}
A.arrow:active {
	BACKGROUND-POSITION: left bottom
}
.bodyItem {
	MARGIN-BOTTOM: 10px
}
.imageRow {
	TEXT-ALIGN: justify; MARGIN-BOTTOM: 10px; CLEAR: both
}
.imageRow IMG {
	FLOAT: left; MARGIN-LEFT: 3px
}
.longLine {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px; BACKGROUND: url(/img/frontend/v2/longLine.png) repeat-x left top; HEIGHT: 2px; CLEAR: both
}
.longLine HR {
	DISPLAY: none
}
.smallLine {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px; BACKGROUND: url(/img/frontend/v2/smallLine.png) repeat-x left top; HEIGHT: 1px; CLEAR: both
}
.smallLine HR {
	DISPLAY: none
}
A {
	COLOR: #000; TEXT-DECORATION: none
}
A:link {
	COLOR: #000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.active {
	COLOR: #ff0000
}
A:hover {
	COLOR: #ff0000
}
A:active {
	COLOR: #ff0000
}
#container {
	MARGIN: 0px auto; WIDTH: 857px
}
#header {
	MARGIN-TOP: 58px
}
#logo {
	TEXT-INDENT: -9999em; WIDTH: 256px; DISPLAY: inline-block; BACKGROUND: url(/img/frontend/v2/logo.png) no-repeat left top; FLOAT: left; HEIGHT: 45px; MARGIN-LEFT: 6px
}
#theshoplogo {
	TEXT-INDENT: -9999em; WIDTH: 278px; DISPLAY: inline-block; BACKGROUND: url(/img/frontend/v2/logoTheShop.png) no-repeat left top; FLOAT: left; HEIGHT: 68px; MARGIN-LEFT: 6px
}
#socialMedia {
	MARGIN-TOP: 33px; FLOAT: right; MARGIN-RIGHT: 0px
}
UL.menu {
	MARGIN-LEFT: 6px
}
UL.menu LI {
	FLOAT: left
}
UL.menu LI A {
	BORDER-LEFT: black 1px solid; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 10px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 10px; COLOR: #000; FONT-SIZE: 0.8em; TEXT-DECORATION: none
}
UL.menu LI A:link {
	BORDER-LEFT: black 1px solid; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 10px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 10px; COLOR: #000; FONT-SIZE: 0.8em; TEXT-DECORATION: none
}
UL.menu LI A:visited {
	BORDER-LEFT: black 1px solid; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 10px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 10px; COLOR: #000; FONT-SIZE: 0.8em; TEXT-DECORATION: none
}
UL.menu LI A:hover {
	COLOR: red
}
UL.menu LI A:active {
	COLOR: red
}
UL.menu LI A.active {
	TEXT-TRANSFORM: uppercase
}
UL.menu LI UL {
	Z-INDEX: 100; POSITION: absolute; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f2f2f2; PADDING-LEFT: 10px; WIDTH: 155px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
UL.menu LI UL LI {
	LINE-HEIGHT: 1.2em; FLOAT: none
}
UL.menu LI UL LI A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px !important; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px !important
}
#body {
	WIDTH: 841px; MARGIN-LEFT: 6px
}
#bodyLeft {
	MARGIN-TOP: 15px; MIN-HEIGHT: 50px; WIDTH: 411px; FLOAT: left
}
#bodyRight {
	MARGIN-TOP: 15px; MIN-HEIGHT: 50px; WIDTH: 401px; FLOAT: right
}
#footer {
	HEIGHT: 200px
}
#subscribe INPUT[type=text] {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; WIDTH: 50%; PADDING-RIGHT: 4px; FONT-FAMILY: "Courier New", Courier, monospace; PADDING-TOP: 4px
}
#subscribe INPUT.half {
	WIDTH: 25%
}
#subscribe IMG {
	VERTICAL-ALIGN: middle
}
#subscribe INPUT[type=image] {
	VERTICAL-ALIGN: middle
}
#subscribe INPUT[type=checkbox] {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; VERTICAL-ALIGN: middle; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#subscribe LABEL {
	MARGIN-LEFT: 20px
}
#sliderContainerSpace {
	MARGIN-BOTTOM: 20px; HEIGHT: 523px
}
#sliderContainer {
	POSITION: absolute; WIDTH: 5000px; HEIGHT: 520px; OVERFLOW: hidden; LEFT: 0%
}
#sliderContainer .sliderElement {
	PADDING-right: 10px; FLOAT: left
}
#sliderControl {
	MARGIN-BOTTOM: 20px; BACKGROUND: url(../images/soeur/longLine.png) no-repeat left center
}
#sliderControl IMG {
	POSITION: relative; MARGIN-LEFT: -16px; CURSOR: pointer
}
#shopSlider {
	TEXT-ALIGN: center; WIDTH: 857px; MARGIN-BOTTOM: 20px; MARGIN-LEFT: -42px
}
A.arrowLeft {
	TEXT-INDENT: -9999em; WIDTH: 28px; DISPLAY: inline-block; BACKGROUND: url(/img/frontend/v2/shopFrontArrowLeft.png) no-repeat center center; FLOAT: left; HEIGHT: 507px
}
A.arrowLeft:link {
	TEXT-INDENT: -9999em; WIDTH: 28px; DISPLAY: inline-block; BACKGROUND: url(/img/frontend/v2/shopFrontArrowLeft.png) no-repeat center center; FLOAT: left; HEIGHT: 507px
}
A.arrowLeft:visited {
	TEXT-INDENT: -9999em; WIDTH: 28px; DISPLAY: inline-block; BACKGROUND: url(/img/frontend/v2/shopFrontArrowLeft.png) no-repeat center center; FLOAT: left; HEIGHT: 507px
}
A.arrowRight {
	TEXT-INDENT: -9999em; WIDTH: 28px; DISPLAY: inline-block; BACKGROUND: url(/img/frontend/v2/shopFrontArrowRight.png) no-repeat center center; FLOAT: right; HEIGHT: 507px
}
A.arrowRight:link {
	TEXT-INDENT: -9999em; WIDTH: 28px; DISPLAY: inline-block; BACKGROUND: url(/img/frontend/v2/shopFrontArrowRight.png) no-repeat center center; FLOAT: right; HEIGHT: 507px
}
A.arrowRight:visited {
	TEXT-INDENT: -9999em; WIDTH: 28px; DISPLAY: inline-block; BACKGROUND: url(/img/frontend/v2/shopFrontArrowRight.png) no-repeat center center; FLOAT: right; HEIGHT: 507px
}
.shopFrontMenu {
	HEIGHT: 225px
}
.shopFrontMenu LI {
	TEXT-ALIGN: center; WIDTH: 120px; FLOAT: left
}
.shopFrontMenu LI IMG {
	FLOAT: none
}

.align_right {
	text-align: right !important;
}


#scroll{
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

	}
