.benefit {
  border-top: 2px solid rgba(#c0c0c0, 0.5);
  margin-top: 3px;
}

.benefit-row {
  display: flex;
  border-bottom: 2px solid rgba(#c0c0c0, 0.5);
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.benefit-col {
  box-sizing: border-box;
  display: flex;
  line-height: 1.7;
  font-size: 16px;
  font-family: $hiragino;
  font-weight: 300;
  padding: 13px 0 8px 36px;
  flex-direction: column;
  width: 100%;
  margin: 0;

  @media screen and (max-width: 600px) {
    padding: 8px 15px 4px;
  }
}

.benefit-label {
  flex-shrink: 0;
  padding-left: 0;
  justify-content: center;
  align-items: center;
  width: 173px;
  background-color: #f5f5f5;
  font-weight: 600;
  font-family: $hiraginokaku;

  @media screen and (max-width: 600px) {
    width: 100%;
    padding: 5px 0 7px;
  }
}

.benefit-direction-row {
  flex-direction: row;

  @media screen and (max-width: 875px) {
    flex-direction: column;
  }
}

.benefit-content {}

.benefit-list {
  padding: 0;
  margin: 8px 0 10px;
  list-style-type: none;
}

.benefit-item {
  padding: 0 0 0 15px;
  margin: 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 1px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #808080;
  }
}

.benefit-graph {
box-sizing: border-box;
flex-shrink: 0;
width: 292px;
margin-left: 150px;
display: flex; 
justify-content: space-between;
align-items: center;
margin: 0 17px 0 30px;

  @media screen and (max-width: 875px) {
    margin: 10px auto;
  }
}

.benefit-graph-pie {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  width: 140px;
  height: 140px;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  font-family: $hiraginokaku;
  line-height: 1.3;
  font-size: 16px;
  border-radius: 50%;
  flex-shrink: 0;
  padding-bottom: 20px;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    border-color: #f5f5f5 transparent transparent transparent;
    border-style: solid;
    top: 0;
    position: absolute;
  }
}

.benefit-graph-88 {
  &::before {
    border-width: 70px 0px 0 72px;
    left: -2px;
  }
}

.benefit-graph-95 {
  &::before {
    border-width: 70px 0px 0 24px;
    left: 46px;
  }
}

.benefit-image {
  flex-shrink: 0;
  display: block;
  width: 370px;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 6px 16px 10px 0;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 10px auto 0;
    padding-top: calc((184/340) * 1%);
  }
}