.card {
  text-align: center;
  box-sizing: border-box;

  &:hover {
    text-decoration: none;

    .card-image {
      transform: scale(1.1);
    }
  }
}

.card-label {
  font-family: $hiragino;
  font-size: 16px;
  font-weight: 300;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  display: none;
  padding: 8px 0;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.card-image-wrap {
  overflow: hidden;
  width: 100%;
  border: 1px solid #000;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.card-image {
  box-sizing: border-box;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 323px;
  display: block;
  transition: transform 300ms ease-out;

  @media screen and (max-width: 768px) {
    height: auto;
    padding-top: calc((323/300) * 100%) 
  }
}

.card-title {
  margin: 0 0 10px;
  padding-bottom: 2px;
  font-family: $hiraginokaku;
  font-size: 14px;
  display: inline-block;
  border-bottom: 1px solid #000;
  letter-spacing: 0.19em;
}

.card-text {
  font-family: $hiraginokaku;
  font-size: 16px;
  font-weight: 600;
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }

  span {
    display: block;
    font-weight: 300;
  }
}