.conference {
  position: relative;
  z-index: 1;
  padding-bottom: 83px;

  @media screen and (max-width: 768px) {
    padding-bottom: 17px;
  }

  &::after {
    position: absolute;
    top: 518px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: calc(100% - 518px);
    background-color: #f5f5f5;
    content: '';
    z-index: -1;

    @media screen and (max-width: 768px) {
      height: calc(100% - 179px);
      top: 179px;
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 202px;

    @media screen and (max-width: 768px) {
      margin-bottom: 97px;
    }
  }
}

.conference-title {
  text-align: center;  
  margin: 0 0 69px;

  @media screen and (max-width: 768px) {
    margin-bottom: 38px;
  }

  span {
    border-bottom: 1px solid #000;
    font-size: 24px;
    font-family: $hiraginokaku;
    font-weight: 600;
    margin: 0;
    letter-spacing: 0.19em;
    display: inline-block;
    padding-bottom: 3px;

    @media screen and (max-width: 768px) {
      font-size: 20px;
      padding-bottom: 6px;
    }
  }
}

.conference-mv {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 460px;
  margin-bottom: 30px;

  @media screen and (max-width: 768px) {
    height: auto;
    padding-top: calc((170/370) * 100%);
    margin-bottom: 17px;
  }
}

.conference-intro {
  text-align: center;
  white-space: pre-line;
  font-size: 16px;
  margin: 0 0 70px;
  line-height: 2;
  font-family: $hiragino;
  font-weight: 300;
  letter-spacing: -0.02em;
  padding: 0;

  @media screen and (max-width: 768px) {
    text-align: left;
    white-space: normal;
    margin-bottom: 49px;
  }
}

.conference-subtitle {
  text-align: center;
  font-size: 24px;
  font-family: $hiraginokaku;
  font-weight: 700;
  margin: 0 0 61px;
  letter-spacing: 0.2em;

  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin-bottom: 38px;
  }
}

.conference-activity {
  box-sizing: border-box;
  margin-bottom: 48px;

  @media screen and (max-width: 768px) {
    margin-bottom: 0;
  }
}

.conference-activity-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (max-width: 650px) {
    display: block;
  }

  &:not(:last-of-type) {
    margin-bottom: 37px;

    @media screen and (max-width: 650px) {
      margin-bottom: auto;
    }
  }
}

.conference-activity-col {
  width: calc(96% / 2);
  box-sizing: border-box;

  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

.conferrence-activity-title {
  font-size: 20px;
  font-family: $hiragino;
  font-weight: 400;
  display: inline-block;
  line-height: 1.2;
  margin-bottom: 16px;

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

.conferrence-activity-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  line-height: 1.2;

  @media screen and (max-width: 650px) {
    margin-bottom: 13px;
  }
}

.conferrence-activity-item {
  padding: 0 0 0 10px;
  margin: 0 0 9px;
  font-size: 16px;
  font-family: $hiragino;
  font-weight: 300;
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  line-height: 1.5;
  white-space: nowrap;

  @media screen and (max-width: 1030px) {
    white-space: normal;
  }

  &:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    display: inline-block;
    background-color: #808080;
    border-radius: 50%;
    margin-right: 7px;
    top: 5px;
    left: -1px;

    @media screen and (max-width: 650px) {
      top: 8px;
    }
  }
} 

.conference-activity-copy {
  margin: 0;
  padding: 0;
  font-family: $hiragino;
  font-weight: 300;
  font-size: 16px;
}

.conference-images {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 8px 0 81px;

  @media screen and (max-width: 768px) {
    margin: 0 0 71px;
    display: block;
  }
}

.conference-image {
  width: calc(96%/2);
  height: 340px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 768px) {
    height: auto;
    width: 100%;
    padding-top: calc((262/370) * 100%)
  }

  &:not(:last-of-type) {
    @media screen and (max-width: 768px) {
      margin-bottom: 17px;
    }
  }
}

.conference-details {
  text-align: center;

  @media screen and (max-width: 768px) {
    text-align: left;
  }
}

.conference-details-text {
  margin: 0 0 41px;
  padding: 0;
  font-size: 16px;
  font-family: $hiragino;
  font-weight: 300;
  white-space: pre-line;

  @media screen and (max-width: 768px) {
    white-space: normal;
  }
}

.conference-details-button {
  font-size: 16px;
  width: 300px;
  height: 60px;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #808080;
  font-weight: 500;
  font-family: $hiragino;

  @media screen and (max-width: 768px) {
    height: 74px;
  }

  @media screen and (max-width: 400px) {
    width: 100%;
  }

  &:hover {
    text-decoration: none;
  }
}