.data {
  margin-bottom: 100px;
}

.data-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.data-item {
  box-sizing: border-box;
  width: calc(94%/3);
  border: 1px solid #000;
  padding: 30px 35px;
  margin: 0 0 33px;
  list-style-type: none;

  @media screen and (max-width: 768px) {
    padding: 15px;
  }

  @media screen and (max-width: 600px) {
    width: calc(96%/2);
  }

  @media screen and (max-width: 375px) {
    width: 100%;
  }
}

.data-title {
  font-size: 24px;
  letter-spacing: 0.2em;
  margin: 0 0 12px;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.data-copy {
  padding: 0;
  white-space: pre-line;
  font-size: 16px;
  font-family: $hiragino;
  margin: 0 0 30px;
  font-weight: 300;
  line-height: 2;

  @media screen and (max-width: 768px) {
    font-size: 14px; 
    text-align: center;
  }
}

.data-image {
  width: 100%;
  box-sizing: border-box;

  img {
    width: 100%;
    display: block;

    @media screen and (max-width: 375px) {
      width: 50%;
      margin: 0 auto;
    }
  }
}

.data-img-one {
  padding: 0 29px;

  @media screen and (max-width: 768px) {
    padding: 0 15px;
  }
}

.data-img-two {
  padding: 20px 14px 0;

  @media screen and (max-width: 768px) {
    padding: 20px 0 0;
  }
}

.data-img-three {
  padding: 0px 6px;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.data-img-four {
  padding: 0px 7px;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.data-img-six {
  padding: 0px 14px;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.data-img-seven {
  padding: 0px 3px;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.data-img-eight {
  padding: 0px 10px;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.data-img-nine {
  padding: 0px 11px;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.data-award {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  padding: 33px 38px;
  position: relative;

  @media screen and (max-width: 768px) {
    padding: 15px;
  }

  @media screen and (max-width: 450px) {
    flex-direction: column;
  }

  &::before {
    position: absolute;
    top: 102px;
    right: 42px;
    content: '';
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/renewal/data/trophy.png');
    height: 97px; 
    width: 105px;

    @media screen and (max-width: 920px) {
      display: none;
    }
  }
}

.data-award-image {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 768px) {
    width: 150px;
    height: 150px;
  }

  @media screen and (max-width: 450px) {
    margin-bottom: 20px
  }
}

.data-award-content {
  padding: 0 50px 0 38px;
  width: 100%;

  @media screen and (max-width: 920px) {
    padding-right: 0
  }

  @media screen and (max-width: 768px) {
    padding-left: 15px;
  }

  @media screen and (max-width: 450px) {
    text-align: center;
    padding-left: 0;
  }
}

.data-award-title {
  text-align: left;
  margin: 0 0 10px;
  padding: 0;
  white-space: pre-line;
  font-size: 24px;
  font-family: $hiraginokaku;
  letter-spacing: 0.2em;

  @media screen and (max-width: 768px) {
    font-size: 17px;
  }

  @media screen and (max-width: 450px) {
    text-align: center;
  }
}

.data-award-copy {
  margin: 0;
  padding: 0;
  font-family: $hiragino;
  font-size: 16px;
  font-weight: 300;
  white-space: pre-line;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }

  @media screen and (max-width: 450px) {
    white-space: normal;
  }
}