.detail {
  margin-bottom: 88px;

  @media screen and (max-width: 768px) {
    margin-bottom: 0;
  }
}

.detail-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.detail-item {
  margin: 0 0 13px;
  padding: 0;
  border-bottom: 1px solid #bcbcbc;

  // &:not(:last-of-type) {
  //   border-bottom: 1px solid #bcbcbc;
  // }
}

.detail-block {
  display: flex;
  padding: 0 0 7px;
  align-items: center;

  @media screen and (max-width: 768px) {
    align-items: flex-start;
  }

  &:hover {
    text-decoration: none;
  }
}

.detail-copy {
  padding: 0 0 0 35px;
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.09em;
  opacity: 0.7;
  font-family: $hiragino;
  font-weight: 300;
  width: 100%;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    padding-left: 15px;
  }
}

.detail-label {
  font-size: 14px;
  font-weight: 600;
  font-family: $hiraginokaku;
  padding-top: 1px;
  flex-shrink: 0;
  display: block;
  width: 100px;

  @media screen and (max-width: 768px) {
    width: 75px;
  }
}

.detail-contact {
  border: 1px solid #000;
  padding: 15px;
}

.detail-contact-heading {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  font-family: $base-font-family;
  font-size: 18px;

  @media screen and (max-width: 768px) {
    font-size: 15px;
  }
}

.detail-contact-number,
.detail-contact-email {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-size: 16px;
  margin-right: 15px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    margin-right: 10px;
  }
}
