.essentials {
  margin-bottom: 176px;

  @media screen and (max-width: 768px) {
    margin-bottom: 119px;
  }
}

.essentials-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.essentials-item {
  width: calc(100%/3);
  padding: 0;
  margin: 0;
  position: relative;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.essentials-link {
  display: flex;
  width: 100%;
  height: 480px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: $base-font-family;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #fff;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 768px) {
    height: 401px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.3);
    content: '';
    z-index: -1;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    transition-property: background-color, box-shadow;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border: 2px solid rgba(#fff, 0.3);
    content: '';
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    transition-property: transform, opacity;
  }

  &:hover {
    text-decoration: none;

    &::before {
      background-color: rgba(#000, 0);
    }

    &::after {
      transform: translate(-50%, -50%) scale(0.8);
      opacity: 0;
    }
  }

  span {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.25em; 
    display: block;
    padding-bottom: 2px;
    border-bottom: 2px solid rgba(#fff, 1);
  }
}