.event-section {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  padding-bottom: 24px;
  margin: 0 0 28px;

  @media screen and (max-width: 768px) {
    display: block;
    padding-bottom: 0;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid #dcdcdc;
  }

  &:hover {
    text-decoration: none;

    .event-section-image-wrap span {
      transform: scale(1.1);
    }
  }
}

.event-section-image-wrap {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 350px;
  // height: 200px;
  margin-right: 32px;
  background-color: rgba(#000,0.5);
  overflow: hidden;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 0 0 19px;
  }

  span {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding-top: (200/350) * 100%;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
  }
}

.event-section-content {
  box-sizing: border-box;
  width: 100%;
}

.event-section-time {
  font-family: $hiragino;
  font-size: 16px;
  color: #808080;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  padding-top: 1px;
}

.event-section-category {
  font-size: 14px;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  padding: 1px 10px;
  box-sizing: border-box;
  background-color: #4d4d4d;
  font-family: $hiragino;
}

.event-section-heading {
 color: #000000;
 font-size: 20px;
 font-weight: 700;
 font-family: $hiragino;
 text-align: left;
 margin: 15px 0 13px 0;
 letter-spacing: 0.2em;

 @media screen and (max-width: 768px) {
  margin-top: 7px;
 }
}

.event-section-copy {
  font-size: 16px;
  color: #808080;
  font-family: $hiragino;
  margin: 0;
  letter-spacing: 0.009em;
  white-space: pre-line;

  @media screen and (max-width: 768px) {
    display: none;
  }
}