// @font-face {
//     font-family: $font-hiragano;
//     src: url('../fonts/hiragino/HiraKakuPro-W3-AlphaNum.woff2') format('woff2'),
//         url('../fonts/hiragino/HiraKakuPro-W3-AlphaNum.woff') format('woff');
//     font-weight: normal;
//     font-style: normal; 
// }

// @font-face {
//   font-family: $font-hiragano;
//   font-weight: 500;
//   src: local('Hiragino Kaku Gothic Pro'), local('Hiragino Kaku Gothic Pro'), local('Hiragino Kaku Gothic Pro'), local('Hiragino Kaku Gothic Pro'),
//               url('../fonts/hiragino/hirakakupro.otf') format('opentype');

// }