.hamburger {
  position: absolute;
  top: calc(50% - 24px);
  right: 13px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid #1f1f1f;
  display: none;
  z-index: 1;
  box-sizing: border-box;

  @media screen and (max-width: 875px) {
    display: block;
  }
}

.hamburger-line-wrap {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform: rotate(0);
  transform-origin: center;
  transition: transform 300ms ease-out;

  .is-active & {
    transform: rotateY(180deg);
  }
}

.hamburger-line {
  position: absolute;
  content: '';
  background-color: #000;
  height: 1px; 
  width:  20px;
  left: 13px;
  transition: all 150ms ease-out;
}

.hamburger-line-one {
  top: 17px;

  .is-active & {
    top: 24px;
    transform: rotate(45deg);
  }
}

.hamburger-line-two {
  top: 24px;
  width: 15px;

  .is-active & {
    opacity: 0;
  }
}

.hamburger-line-three {
  top: 31px;

  .is-active & {
    top: 24px;
    transform: rotate(-45deg);
  }
}