.internship {}

.internship-intro {
  font-size: 16px;
  font-family: $hiragino;
  font-weight: 300;
  text-align: center;
  margin: 0 0 95px;
  white-space: pre-line;
  line-height: 2;
  letter-spacing: 0;

  @media screen and (max-width: 768px) {
    white-space: normal;
    text-align: left;
    margin-bottom: 69px;
  }

  br {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}

.internship-schedule {
  text-align: center;
  font-family: $hiraginokaku;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 102px;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    margin-bottom: 70px;
  }

  @media screen and (max-width: 400px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.internship-day {
  display: inline-block;
  margin: 0 10px;
  position: relative;

  @media screen and (max-width: 400px) {
    margin: 0;
  }

  &:nth-of-type(1) {
    @media screen and (max-width: 400px) {
      padding-right: 10px;
    }
  }

  &:nth-of-type(2) {
    @media screen and (max-width: 400px) {
      padding-left: 10px;
    }
  }

  &:not(:last-of-type) {
    &::before {
      position: absolute;
      top: 6px;
      right: -14px;
      content: '';
      height: 15px;
      width: 1px;
      background-color: #000;

      @media screen and (max-width: 400px) {
        right: 0;
      }
    }
  }

  &:hover {
    text-decoration: none;
  }
}