.job-card {
  box-sizing: border-box;
  background-color: #f5f5f5;
  margin: 0;
  padding: 30px;
  height: 100%;

  @media screen and (max-width: 768px) {
    padding: 16px 0 0 16px;
  }
}

.job-card-tags {
  box-sizing: border-box;
  margin: 0 0 25px;
  padding: 0;
}

.job-card-tag {
  box-sizing: border-box;
  background-color: #fff;
  font-family: $hiragino;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  border: 1px solid #181818;
  border-radius: 7px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0;
  margin: 0;
  width: 105px;

  @media screen and (max-width: 768px) {
    font-size: 12px;
    padding: 8px 0;
    border-radius: 3px;
  }

  &:not(:last-of-type) {
    margin-right: 7px;
  }
}

.job-card-heading {
  color: #231815;
  font-size: 20px;
  font-family: $hiragino;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 9px 1px;
  padding: 0;
  text-align: left;
  letter-spacing: 0.05em;

  @media screen and (max-width: 768px) {
    padding-right: 10px;
    font-size: 18px;
  }
}

.job-card-address,
.job-card-category {
  font-size: 16px;
  font-family: $hiragino;
  font-weight: 300;
  line-height: 1.2;
  padding: 0;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    padding-right: 10px;
    font-size: 14px;
  }
}

.job-card-address {
  margin: 0 0 23px 2px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.job-card-category {
  margin: 0 0 8px 0;
}

.job-card-link {
  display: flex;
  box-sizing: border-box;
  margin: 0 0 0 auto;
  padding: 4px 0 2px;
  width: 118px;
  justify-content: center;
  align-items: center;
  font-family: $hiragino;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.1em;
  background-color: #000;
  color: #fff;
  position: absolute;
  right: 0;

  @media screen and (max-width: 768px) {
    font-size: 12px;
    position: relative;
    margin-top: 5px;
  }

  &:hover {
    text-decoration: none;
  }
}
