.l-container {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;
}

.l-container-recruit {
  @media screen and (max-width: 875px) {
    padding: 0;
  }
}