.l-section-heading-recruit {
  margin: 0 0 60px;

  @media screen and (max-width: 768px) {
    margin-bottom: 39px;
  }
}

.l-section-heading-essentials {
  margin-bottom: 49px;
}

.l-section-heading-event {
  margin-bottom: 64px;

  @media screen and (max-width: 768px) {
    margin-bottom: 38px;
  }
}

.l-section-heading-career {
  margin-bottom: 57px;
}

.l-section-heading-content {
  margin-bottom: 45px;
}

.l-section-heading-staff {
  margin-bottom: 91px;
}

.l-section-heading-interview {
  margin-bottom: 68px;
}

.l-section-heading-internship {
  margin-bottom: 58px;

  @media screen and (max-width: 768px) {
    padding-top: 7px;
    margin-bottom: 34px;
  }

  br {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  .section-heading-title {
    @media screen and (max-width: 768px) {
      letter-spacing: 0.2em;
      line-height: 1.5;
      margin-bottom: 4px;
    }
  }
}

.l-section-heading-recruit-form {
  margin-bottom: 71px;
}

.l-section-heading-partime {
  margin-bottom: 70px;

  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
  }
}

.l-section-heading-worked-place {
  margin-bottom: 66px;

  @media screen and (max-width: 768px) {
    margin-bottom: 29px;
  }

  br {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}

.l-section-heading-faq {
  margin-bottom: 96px;
}

.l-section-heading-highschool {
  margin-bottom: 69px;
}

.l-section-heading-new-grad {
  margin-bottom: 98px;

  .section-heading-title {
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }

    @media screen and (max-width: 320px) {
      font-size: 17px
    }
  }
}

.l-section-heading-training {
  margin-bottom: 59px;
}

.l-section-heading-message {
  margin-bottom: 60px;
}