.member-interview {}
.member-interview-top {
  text-align: center;
}

.member-interview-heading {
  font-size: 24px;
  margin: 0 0 66px;
  border-bottom: 1px solid #000;
  display: inline-block;
  font-family: $base-font-family;
  letter-spacing: 0.2em;
  box-sizing: border-box;
  padding-bottom: 4px;

  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.member-interview-designation {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.member-interview-designation-item {
  display: inline-block;
  margin: 0 12px;
  padding: 0;
  position: relative;
  font-size: 16px;
  font-family: $base-font-family;
  font-weight: 700;

  @media screen and (max-width: 768px) {
    margin: 0 12px;
    font-size: 12px;
  }

  &:not(:last-of-type) {
    &::after {
      position: absolute;
      top: 5px;
      right: -15px;
      content: '';
      height: 15px;
      width: 1px;
      background-color: #000;
      box-sizing: border-box;
    }
  }
}

.member-interview-card {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 85px;

  .card {
    width: calc(100%/3);
    margin-bottom: 42px;
    padding: 0 10px;

    @media screen and (max-width: 768px) {
      width: calc(97%/2);
    }

    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }
}

.member-interview-detail {
  .member-interview-top {
    display: none; 
  }

  .card-label {
    display: none;
  }
}