.member {
  margin-bottom: 152px;

  @media screen and (max-width: 768px) {
    margin-bottom: 70px;
  }
}

.member-banner {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 500px;
  width: 69.4vw;
  margin: 0 0 -133px auto;

  @media screen and (max-width: 768px) {
    margin: 0;
    width: 100%;
    height: 250px;
  }
}

.member-info {
  background-color: rgba(#f5f5f5,0.9);
  box-sizing: border-box;
  padding: 45px 42px 45px 50px;
  display: inline-block;
  margin: 0 0 103px;

  @media screen and (max-width: 768px) {
    margin: -100px 0 50px;
    padding: 25px 22px 25px 30px;
  }
}

.member-position {
  display: block;
  font-size: 20px;
  font-family: $hiragino;
  font-weight: 300;
  margin: 0 0 1px;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.member-name {
  font-size: 26px;
  font-weight: bold;
  display: block;

  @media screen and (max-width: 768px) {
    font-size: 22px;
  }
}

.member-years {
  font-size: 16px;
  font-family: $hiraginokaku;
  font-weight: 300;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.member-interview-topics {
  display: flex;
  box-sizing: border-box;
  position: relative;

  @media screen and (max-width: 768px) {
    display: block;
  }

  &:nth-of-type(odd) {
    .member-interview-image {
      margin-right: 30px;

      @media screen and (max-width: 768px) {
        margin-right: 0;
      }
    }
  }

  &:nth-of-type(even) {
    .member-interview-image {
      margin-left: 30px;
      order: 1;

      @media screen and (max-width: 768px) {
        margin-left: 0;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 103px;
  }

  &:last-of-type {
    display: block;
    padding: 54px 0;
    margin-top: 206px;
    min-height: 350px;

    @media screen and (max-width: 768px) {
      margin-top: 0;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: calc(50% - 50vw);
      height: 100%;
      width: 100vw;
      background-color: #f5f5f5;
      z-index: -1;
    }

    .member-interview-content {
      display: inline;
    }

    .member-interview-image {
      width: 360px;
      height: 360px;
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      float: right;
      display: inline-block;
      // margin: -245px 64px 40px 40px;
      margin: -108px 64px 40px 40px;
      border-radius: 50%;

      @media screen and (max-width: 900px) {
        margin-right: 0;
      }

      @media screen and (max-width: 768px) {
        float: none;
        width: 290px;
        height: 290px;
        flex-shrink: 0;
        display: block;
        margin: -108px auto 20px;
        padding-top: 0
      }
    }

    .member-interview-title {
      display: inline;
    }

    .member-interview-text {
      margin-top: 23px;
    }
  }
}

.member-interview-image {
  box-sizing: border-box;
  width: 485px;
  height: 485px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  flex-shrink: 0;
  margin-top: 54px;

  @media screen and (max-width: 940px) {
    width: 400px;
  }

  @media screen and (max-width: 768px) { 
    width: 100%;
    height: auto;
    padding-top: calc((485/400) * 50%);
    margin: 0 0 22px;
  }
}

.member-interview-content {

}

.member-interview-subtitle {
  display: block;
  font-size: 16px;
  font-family: $hiragino;
  margin-bottom: 16px;
  font-weight: 300;
  letter-spacing: 0.2em;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.member-interview-title {
  font-size: 20px;
  margin: 0 0 37px;
  font-family: $base-font-family;
  text-align: left;
  letter-spacing: 0.2em;

  @media screen and (max-width: 768px) {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.member-interview-text {
  font-size: 16px;
  font-family: $hiragino;
  font-weight: 300;
  margin: 0;
  line-height: 2;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}


