.message {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: '';
    background-color: #f5f5f5;
    width: 100vw;
    height: 875px;
    top: 422px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    pointer-events: none;

    @media screen and (max-width: 768px) {
      top: 200px;
    }
  }
}

.message-feature-image {
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 768px) {
    padding-top: calc((345/330) * 100%);
    height: auto;
  }
}

.message-quote {  
  padding: 41px 0 0 94px;
  margin-bottom: 110px;

  @media screen and (max-width: 768px) {
    padding-left: 30px;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 375px) {
    padding-left: 15px;
  }
}

.message-quote-heading {
  font-size: 34px;
  font-family: $hiragino;
  font-weight: 300;
  text-align: left;
  margin: 0 0 18px;
  letter-spacing: 0.2em;

  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.message-quote-copy {
  font-size: 20px;
  margin: 0;
  font-family: $hiragino;
  padding-left: 3px;
  font-weight: 300;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }

  span {
    font-size: 26px;
    font-family: $hiraginokaku;
    font-weight: 600;
    margin-left: 14px;

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }
}

.message-prelude {
  padding: 0 100px;
  margin-bottom: 191px;

  @media screen and (max-width: 768px) {
    padding: 0;
    margin-bottom: 75px;
  }
}

.message-prelude-text {
  font-size: 16px;
  font-family: $hiragino;
  font-weight: 300;
  line-height: 3.38;
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }

  &:nth-of-type(4) {
    margin-top: 12px;
  }

  br {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.message-prelude-image {
  float: left;
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 16px 53px 0 -99px;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    margin: 15px 0;
    height: auto;
    width: 100%;
    padding-top: calc((330/345) * 100%);
    float: none;
  }
}