.paginate {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginate-controls {
  height: 30px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 3px;
  margin: 0 5px;
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-out;

  &:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
  }
}

.paginate-item {
  display: flex;
  margin: 0 5px;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: 1px solid #000;
  border-radius: 3px;
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-out;

  &:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
  }
}

.paginate-current {
  background-color: #000;
  color: #fff;
}

