.position {}
.position-block {
  margin: -75px 0 147px;
  position: relative;
}

.position-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
}

.position-item {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 31px;
  width: calc(94%/3);
  list-style-type: none;
}

.position-link {
  display: block;
  width: 100%;
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px;
  box-sizing: border-box;

  &:hover {
    text-decoration: none;
    border-color: #fff;
    background-color: #000;

    .position-title {
      border-color: #fff;
      color: #fff;
    }
  }
}

.position-title {
  display: flex;
  white-space: pre-line;
  align-items: center;
  justify-content: center;
  font-family: $base-font-family;
  font-weight: 300;
  font-size: 22px;
  color: #000;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 148px;
  border: 1px solid #000;
  box-sizing: border-box;
}