.recruit-form {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 200px;

  .mw_wp_form .error{
    position: absolute;
  }

.recruit-form-button {
  background-color: rgba(#000, 0.5);
  width: 202px;
  height: 43px;
  color: #fff;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  font-size: 14px;
  font-family: $hiragino;
  font-weight: 300;
  border-radius: 0;
  padding: 0;
  text-shadow: none;
  margin: 27px auto 0;
  display: block;
  pointer-events: none;

  &:hover {
    box-shadow: none;
    border: none;
  }
}
}

.recruit-form-row {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 580px) {
    display: block;
  }
}

.recruit-form-container {
  width: 100%;
  position: relative;
}

.recruit-form-row-last {
  margin-bottom: 226px;
}

.recruit-form-row-align-top {
  align-items: flex-start;

  .recruit-form-caption {
    padding-top: 10px;
  }
}

.recruit-form-row-align-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.recruit-form-row-flex-column {
  flex-direction: column;
}

.recruit-form-caption {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 18px;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    padding-top: 10px;
  }

  @media screen and (max-width: 580px) {
    margin-right: 0;
    margin-bottom: 20px;
    padding-top: 10px;
  }
}

.recruit-form-caption-sm {
  width: 58px;
}

.recruit-form-caption-md {
  width: 137px;
}

.recruit-form-caption-lg {
  width: 232px;
}

.recruit-form-label {
  font-size: 16px; 
  font-family: $hiraginokaku;
  padding: 0;
  margin: 0; 
  white-space: nowrap;
  line-height: 1.2;

  span {
    font-size: 14px;
  }
}

.recruit-form-required {
  background-color: #a90000;
  flex-shrink: 0;
  color: #fff;
  height: 20px;
  width: 49px;
  font-size: 13px;
  font-family: $hiraginokaku;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  @media screen and (max-width: 580px) {
    margin-left: 15px;
  }
}

.recruit-form-datas {
  width: 100%;
  display: flex;
}

.recruit-form-datas-select {
  justify-content: space-between;
  flex-wrap: wrap; 

  @media screen and (max-width: 768px) {
    display: block;
  }

  .recruit-form-select-wrap-md {
    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
    }

    @media screen and (max-width: 375px) {
      margin-bottom: 0;
    }
  }

  .recruit-form-select-wrap-lg {
    @media screen and (max-width: 768px) {
      margin-top: 0;
    }
  }
}

.recruit-form-input {
  &[type="text"],
  &[type="email"],
  &[type="number"] {  
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
    border: none;
    appearance: none;
    padding: 0 10px;
    border: 0;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
  }

  &[type=number] {
    -moz-appearance:textfield;
  }
}

.recruit-form-input-wrap-sm {
  width: 113px;
}

.recruit-form-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.recruit-form-row-textarea {
  margin-bottom: 80px;
}

.recruit-form-textarea { 
  width: 100%;
  height: 130px;
  resize: none;
  background-color: #f5f5f5;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: $hiragino;
  font-weight: 300;
  color: #808080;

  &:focus {
    outline: none;
  }
}

.recruit-form-checkbox-wrap,
.recruit-form-radio-wrap {
  display: inline-flex;
  align-items: center;
  margin-right: 31px;
  cursor: pointer;
  position: relative;

  @media screen and (max-width: 480px) {
    margin-right: 0;
  }

  .error {
    bottom: -27px;
  }

  .mwform-checkbox-field,
  .mwform-radio-field {
    display: flex;
    margin-right: 31px;
    cursor: pointer;

    @media screen and (max-width: 480px) {
      margin-right: 20px;
    }

    label {
      display: flex;
      cursor: pointer;
    }
  }
}

.recruit-form-checkbox {
  display: none;

  &:checked + .recruit-form-checkbox-label,
  &:checked + .mwform-checkbox-field-text {
    &::after {
      opacity: 1;
    }
  }
}

.recruit-form-radio {
  display: none;

  &:checked + .recruit-form-radio-label,
  &:checked + .mwform-radio-field-text,
  &:checked + .mwform-checkbox-field-text {
    &::after {
      opacity: 1;
    }
  }
}

.recruit-form-checkbox-label,
.mwform-radio-field-text,
.mwform-checkbox-field-text {
  position: relative;
  font-size: 16px;
  line-height: 1.2; 
  font-family: $hiragino;
  font-weight: 300;
  display: inline-flex;
  align-items: center;
  cursor: pointer; 

  &::before {
    position: relative;
    display: block;
    content: '';
    width: 21px;
    height: 21px;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    margin-right: 9px;
    box-sizing: border-box;
    top: -1px;
  }

  &::after {
    position: absolute;
    top: 3px;
    left: 4px;
    content: '';
    height: 13px;
    width: 13px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/renewal/check.png');
    opacity: 0;
    box-sizing: border-box;
  }
}

.recruit-form-radio-label,
.mwform-radio-field-text {
  position: relative;
  font-size: 16px;
  line-height: 1.2; 
  font-family: $hiragino;
  font-weight: 300;
  display: inline-flex;
  align-items: center;
  cursor: pointer; 

  &::before {
    position: relative;
    display: block;
    content: '';
    width: 21px;
    height: 21px;
    border: 1px solid #bcbcbc;
    border-radius: 50%;
    margin-right: 9px;
    box-sizing: border-box;
    top: -1px;
  }

  &::after {
    position: absolute;
    top: 3px;
    left: 4px;
    content: '';
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0;
    box-sizing: border-box;
  }
}

.recruit-form-select-wrap {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;

  select {
    display: none;
  }

  .error {
    bottom: -25px;
  }
}

.recruit-form-select-wrap-xs {
  width: 113px;
}

.recruit-form-select-wrap-sm {
  width: calc(93%/3);

  @media screen and (max-width: 768px) {
    width: 100%;
    
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
  // margin-right: 19px;
}

.recruit-form-select-wrap-md {
  width: 49%;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.recruit-form-select-wrap-lg {
  width: 100%;
  margin-top: 10px;
}

.recruit-form-select {
  width: 100%;
  flex-shrink: 0;
}

#recruit-form-checkbox-agree {

  &:checked ~ .recruit-form-button {
    pointer-events: auto;
    background-color: #000;
  }

  &:checked + label span {
    &::after {
      opacity: 1;
    }
  }
}

.recruit-form-row-policy {
  .recruit-form-checkbox-label {
    @media screen and (max-width: 768px) {
      display: block;
    }

    &::before {
      @media screen and (max-width: 768px) {
        display: inline-block;
        top: 3px;
      }
    }
  }

  .recruit-form-anchor {
    display: inline-block;
  }
}

// confirm

.mw_wp_form_confirm {

  .recruit-form-caption-lg {
    @media screen and (max-width: 768px) {
      width: auto;
      padding-top: 0;
      margin-bottom: 0;
    }
  }
  
  #js-desired-work-1,
  #js-desired-work-2,
  #js-desired-work-3 {
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .recruit-form-caption {
      @media screen and (max-width: 768px) {
        margin-bottom: 5px;
      }
    }
  }

  .recruit-form-datas-select {
    .recruit-form-select-wrap {
      &:not(:last-of-type) {
        display: none;
      }
    }
  }

  .recruit-form-row {
    @media screen and (max-width: 768px) {
      display: flex;
    }
  }

  .recruit-form-label {
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
  .recruit-form-required  {
    display: none;
  }

  .recruit-form-caption {
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 3px;
      content: ':';
      color: rgba(#808080, 0.5);
    }
  }

  .recruit-form-row-email-confirm {
    display: none;
  }

  .recruit-form-row {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(#808080, 0.1);
  }

  .recruit-form-caption-md {
    width: 100px;

    @media screen and (max-width: 768px) {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  .recruit-form-input-wrap-sm {
    width: auto;
  }

  .select {
    display: none;
  }

  .recruit-form-caption-lg {
    width: 200px;

    @media screen and (max-width: 768px) {
      width: auto;
      padding-right: 10px;
    }
  }

  .recruit-form-row-textarea {

    .recruit-form-caption-sm {
      width: 200px;

      @media screen and (max-width: 768px) {
        width: auto;
        padding-right: 10px;
        word-break: break-all;
        padding-top: 5px;
      }
    }
  }

  .recruit-form-checkbox-agree {
    display: none;
  }

  .recruit-form-row-submit {
    display: flex;
    justify-content: space-between;
    
    .recruit-form-button {
      @media screen and (max-width: 768px) {
        width: calc(98%/2)
      }
    }

  }

  .recruit-form-row-policy {
    display: none;
  }

  .recruit-form-button {
    pointer-events: auto;
    background-color: #000;
  }
}

// end confirm

.recruit-form-anchor {
  text-decoration: underline;

  &:link,
  &:visited {
    text-decoration: underline;
  }
}

.recuit-form-hidden {
  display: none;
}

.recruit-form-complete {
  text-align: center;

  .recruit-form-button {
    pointer-events: auto;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.recruit-form-copy {
  white-space: pre-line;
  text-align: center;
}

.recruit-form-row-submit {
  display: none;

}