.renewal-button {
  text-align: center;
}

.renewal-button-link {
  display: inline-flex;
  max-width: 248px;
  height: 62px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid #7f7f7f;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  transition-property: border-color;
  transition-duration: 300ms;
  transition-timing-function: ease-out;

  @media screen and (max-width: 768px) {
    border-width: 1px;
  }

  &:hover {
    text-decoration: none;
    border-color: #000; 

    .renewal-button-arrow {
      border-color: #000;
      right: -35px;
    }
  }
}

.renewal-button-arrow {
  position: absolute;
  top: calc(50% - 9px);
  right: -23px;
  display: block;
  width: 48px;
  height: 6px;
  border-style: solid;
  border-color: #7f7f7f;
  border-width: 0 2px 2px 0;
  transform: skew(45deg);
  transition-property: border-color, right;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.renewal-button-mv {
  margin-top: -16px;

  .renewal-button-link {
    border-width: 1px; 
    max-width: 336px;
    width: 100%;
    height: 69px;

    @media screen and (max-width: 768px) {
      max-width: 270px;
    }
  }
}

.renewal-button-recruit {
  margin-top: 78px;

  @media screen and (max-width: 768px) {
    margin-top: 52px;
  }
}

.renewal-button-event {
  margin-top: 40px;

  @media screen and (max-width: 768px) {
    margin-top: 54px;
  }
}

.renewal-button-training {
  margin-top: 80px;
}

.renewal-button-faq {
  margin-top: 80px;

  @media screen and (max-width: 768px) {
    margin-top: 40px;
  }
}