.renewal-banner {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  background-image: url('../images/renewal/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  box-sizing: border-box;

  @media screen and (max-width: 875px) {
    margin-top: 75px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(#000, 0.5);
  }
}

.renewal-banner-content {
  position: relative;
  color: #fff;
  box-sizing: border-box;
  padding-top: 66px;
}

.renewal-banner-caption {
  font-family: $hiragino;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
  position: relative;
  letter-spacing: 0.06em;
  display: block;
  margin-bottom: 28px;
  box-sizing: border-box;
  padding-left: 6px;

  @media screen and (max-width: 875px) {
    font-size: 18px;
    margin-bottom: 32px;
  }

  &::before {
    position: absolute;
    bottom: -12px;
    box-sizing: border-box;
    content: '';
    background-color: #fff;
    height: 1px;
    width: 99px;
    left: calc(50% - (93px/2));
    box-sizing: border-box;

    @media screen and (max-width: 875px) {
      bottom: -7px;
    }
  }
}

.renewal-banner-slogan {
  font-size: 52px;
  padding: 0;
  margin: 0 0 -10px;
  font-family: $hiraginokaku;

  @media screen and (max-width: 875px) {
    font-size: 31px;
    line-height: 1.5;
    margin: 0 0 6px;
  }

  span {
    @media screen and (max-width: 875px) {
      display: block;
    }

    &:nth-of-type(1) {
      @media screen and (max-width: 875px) {
        // margin-left: -25px;
        padding-right: 25px;
      }
    }

    &:nth-of-type(2) {
      @media screen and (max-width: 875px) {
        // margin-right: -19px;
        padding-left: 19px;
      }
    }
  }
}

.renewal-banner-copy {
  font-size: 22px;
  margin: 0;
  font-family: $hiragino;
  font-weight: 300;

  @media screen and (max-width: 875px) {
    font-size: 18px;
  }
}

.renewal-banner-recruit-top {
  height: 359px;

  @media screen and (max-width: 875px) {
    height: 300px;
  }

  .renewal-banner-content {
    padding-top: 52px;

    @media screen and (max-width: 875px) {
      padding-top: 29px;
    }
  }

  .renewal-banner-caption {
    
    @media screen and (max-width: 875px) {
      padding-left: 5px;
    }
  }
}
