.renewal-contact {
  background-image: url('../images/renewal/renewal-footer.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @media screen and (max-width: 768px) {
    padding-bottom: 6px;
  }

  @media screen and (max-width: 400px) {
    background-position: top -112px right -468px;
    background-size: 367%;
  }
  
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(#000, 0.5)
  }
}

.renewal-contact-content {
  height: 560px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding-top: 87px;

  @media screen and (max-width: 768px) {
    padding-top: 109px;
    height: auto;
  }
}

.renewal-contact-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;

  @media screen and (max-width: 1100px) {
    flex-direction: column;
  }
}

.renewal-contact-item {
  margin: 0 10px;
  padding: 5px;
  max-width: 486px;
  width: 92%;
  border: 1px solid #fff;
  box-sizing: border-box;

  @media screen and (max-width: 1100px) {
    margin: 0 0 35px;
  }

  &:first-child {
    .renewal-contact-icon {
      &::before {
        width: 35px;
        height: 27px;
        background-image: url('../images/renewal/icon-email.png');
      }
    }
  }

  &:nth-child(2) {
    .renewal-contact-icon {
      &::before {
        width: 35px;
        height: 32px;
        background-image: url('../images/renewal/icon-pc.png');
      }
    }
  }
}

.renewal-contact-link {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-family: $base-font-family;
  white-space: pre-line;
  width: 100%;
  border: 1px solid #fff;
  height: 130px;
  position: relative;
  padding-left: 163px;

  @media screen and (max-width: 768px) {
    padding-left: 100px;
    height: 126px;
    font-weight: normal;
  }

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }

  &:hover {
    text-decoration: none;
  }
}

.renewal-contact-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 68px;
  width: 71px;
  height: 71px;
  background-color: #fff;
  border-radius: 50%;

  @media screen and (max-width: 768px) {
    left: 20px;
  }

  &::before {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
