.renewal-content {
  margin: 100px 0 150px;

  @media screen and (max-width: 768px) {
    margin: 69px 0 70px;
  }

  .l-container {
    @media screen and (max-width: 875px) {
      padding: 0;
    }
  }
}

.renewal-content-partime {
  margin-top: 162px;

  @media screen and (max-width: 768px) {
    margin-top: 84px;
  }
}

.renewal-content-citation {
  box-sizing: border-box;
  height: 300px;
  position: relative;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/renewal/president.png');
  margin-bottom: 14px;
  padding: 70px 0 0 277px;
  display: block;

  @media screen and (max-width: 875px) {
    height: 120px;
    padding: 30px 0 0 0;
    margin-bottom: 5px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-color: rgba(#000, 0.3);
    width: 100%; 
    height: 100%;
    transition: background-color 300ms ease-out;
  }

  &:hover {
    text-decoration: none;

    &::before {
      background-color: rgba(#000, 0.1);
    }
  }
}

.renewal-content-label {
  position: absolute;
  top: 23px;
  right: -27px;
  box-sizing: border-box;
  background-color: #212529;
  color: #fff;
  font-size: 26px;
  font-family: $hiraginokaku;
  padding: 5px 9px 4px 16px;
  margin: 0;
  letter-spacing: 0.246em;

  @media screen and (max-width: 875px) {
    font-size: 16px;
    right: 0;
    top: -13px;
    padding: 2px 3px 1px 8px;
  }
}

.renewal-content-quote {
  box-sizing: border-box;
  padding: 40px 0 0 108px;
  margin: 0;
  border: none;
  display: inline-block;

  @media screen and (max-width: 875px) {
    padding: 0;
    width: 220px;
    margin-left: 38vw;
    display: block;
  }
}

.renewal-content-citation-copy {
  position: relative;
  font-size: 26px;
  white-space: pre-line;
  font-family: $hiragino;
  font-weight: 500;
  margin: 0 0 17px;
  letter-spacing: 0.2em;

  @media screen and (max-width: 875px) {
    font-size: 14px;
    margin-bottom: 0;
  }
}

.renewal-content-citation-author {
  position: relative;
  z-index: 1;
  font-family: $hiragino;
  display: block;
  text-align: right;
  font-size: 16px;
  padding: 0 19px 0 0;

  @media screen and (max-width: 875px) {
    font-size: 14px;
    text-align: left;
  }
}

.renewal-content-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.renewal-content-item {
  width: calc(98.5%/2);
  padding: 0;
  margin: 0 0 14px;

  @media screen and (max-width: 875px) {
    margin-bottom: 5px;
  }
}

.renewal-content-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  height: 300px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: #fff;
  z-index: 1;
  font-size: 26px;
  letter-spacing: 0.3em;
  padding-top: 88px;
  text-align: center;
  font-family: $hiragino;
  font-weight: 600;

  @media screen and (max-width: 875px) {
    padding-top: 0;
    height: 120px;
    font-size: 16px;
    justify-content: center;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgba(#000, 0.4);
    z-index: -1;
    transition-property: box-shadow, background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    box-shadow: inset 0 0 0 0 #fff;
  }

  &::after {
    position: absolute;
    bottom: 15px;
    right: 3%;
    width: 94%;
    height: 90%;
    content: '';
    display: block;
    box-sizing: border-box;
    border-width: 0 1px 1px 0;
    border-color: #fff;
    border-style: solid;
    pointer-events: none;
    transform-origin: bottom right;
    // transform: scale(0);
    // transition-duration: 300ms;
    // transition-timing-function: ease-out;
    // transition-property: transform;

    @media screen and (max-width: 875px) {
      bottom: 5px;
    }
  }

  &:hover {
    text-decoration: none;

    &::before {
      box-shadow: inset 0 0 0 15px #fff;
      background-color: rgba(#000, 0.1);
    }
  }

  span {
    font-size: 16px;
    position: relative;
    display: inline-block;
    letter-spacing: 0.35em;
    margin-bottom: 34px;

    @media screen and (max-width: 875px) {
      font-size: 12px;
      padding-left: 3px;
      margin-bottom: 6px;
    }

    br {
      display: none;

      @media screen and (max-width: 875px) {
        display: block;
      }
    }

    &::before {
      position: absolute;
      bottom: -9px;
      left: 0;
      height: 1px;
      content: '';
      width: 100%;
      background-color: #fff;

      @media screen and (max-width: 875px) {
        bottom: -1px;
      }
    }
  }
}

.renewal-content-graduate {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/renewal/content-graduate.jpg');
  height: 300px;
  box-sizing: border-box;
  color: #fff;
  margin-bottom: 14px;
  text-align: center;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    height: 120px;
  }

  &:hover {
    text-decoration: none;

    &::before {
      background-color: rgba(#000,0.1);
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-color: rgba(#000,0.3);
    z-index: -1;
    pointer-events: none;
    width: 100%;
    height: 100%;
    transition: background-color 300ms ease-out;
  }
}

.renewal-content-graduate-label {
  position: absolute;
  top: 23px;
  right: -27px;
  box-sizing: border-box;
  background-color: #212529;
  color: #fff;
  font-size: 26px;
  font-family: $hiraginokaku;
  padding: 5px 9px 4px 16px;
  margin: 0;
  letter-spacing: 0.246em;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    top: -22px;
    right: 0;
  }
}

.renewal-content-graduate-copy {
  white-space: pre-line;
  font-size: 20px;
  font-family: $hiragino;
  font-weight: 500;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}