.renewal-recruit-block {
  margin-bottom: 213px;
}

.renewal-recruit {
  position: relative;
  color: #000;
  box-sizing: border-box;
  display: flex;
  counter-increment: counter;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  } 

  &:nth-of-type(even) {
    .renewal-recruit-image-wrap {
      margin-left: auto;
    }
    .renewal-recruit-content {
      left: 0;
      right: auto;

      @media screen and (max-width: 768px) {
        margin-right: auto;
        margin-left: 0;
      }
    }
  }

  &:not(:last-of-type) {
    margin: 0 0 81px;

    @media screen and (max-width: 768px) {
      margin: 0 0 54px;
    }
  }
}

.renewal-recruit-image-wrap {
  height: 340px;
  width: 657px;
  overflow: hidden;

  @media screen and (max-width: 875px) {
    width: 92.5%;
    height: 190px;
  }
}

.renewal-recruit-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  box-sizing: border-box;
  background-color: rgba(#000,0.3);
  width: 100%;
  height: 100%;
}

.renewal-recruit-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 430px;
  height: 260px;
  right: -50px;
  background-color: rgba(#f5f5f5, 0.9);
  padding: 55px 0 0px 60px;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    position: static;
    transform: none;
    margin-top: -20px;
    width: 372px;
    margin-left: auto;
    height: 200px;
    padding: 24px 0 0 32px;
  }
}

.renewal-recruit-caption {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 0.12em;
  display: block;
  font-family: $base-font-family;
}

.renewal-recruit-heading {
  font-size: 22px; 
  // font-family: $alt-font-family;
  font-weight: 300;
  margin: 0 0 30px;
  text-align: left;
  position: relative;
  letter-spacing: 0.12em;
  display: flex;
  align-items: center;

  span {
    font-size: 12px;
    display: inline-block;
    margin-right: 10px;

    &::after {
      display: inline-block;
      content: '0'counter(counter);
      position: relative;
      top: 0;
      left: 0;
      font-size: 12px;
    }
  }
}

.renewal-recruit-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  width: 202px;
  height: 43px;
  font-family: $base-font-family;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  padding-right: 3px; 
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 300ms ease-out;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100%;
    width: 0;
    content: '';
    z-index: -1;
    transition: width 300ms ease-out;
  }

  &:hover {
    text-decoration: none;
    color: #000;

    &::before {
      width: 100%;
    }
  }
}