.renewal-career {

}

.renewal-career-content {
  margin-bottom: 89px;
}

.renewal-career-copy {
  margin: 0 0 95px;
  font-size: 16px;
  white-space: pre-line;
  text-align: center;
  line-height: 2;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    margin-bottom: 50px;
  }
}

.renewal-career-structure {
  margin-bottom: 200px;

  @media screen and (max-width: 768px) {
    margin-bottom: 50px;
  }
}

.renewal-career-caption {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  display: block;
  border-bottom: 1px solid #000;
  margin-bottom: 24px;
  padding-bottom: 4px;

  &::after {
    position: absolute;
    bottom: -5px;
    right: -1px;
    content: '';
    border-style: solid;
    border-width: 5px 0 5px 9px;
    border-color: transparent transparent transparent #000;
  }
}

.renewal-career-position {
  text-align: center;
  margin-bottom: 200px;

  @media screen and (max-width: 768px) {
    margin-bottom: 100px;
  }
}

.renewal-career-image-position {

}

.renewal-career-position-heading {
  margin: 0 0 59px;
  padding: 0;
  font-size: 24px;
  font-family: $base-font-family;
  font-weight: normal;
  letter-spacing: 0.185em;
  border-bottom: 1px solid #000;
  display: inline-block;
  padding-bottom: 3px;

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

.renewal-career-text {
  font-size: 16px;
  font-weight: 300;
  font-family: $base-font-family;
  letter-spacing: -0.034em;
  padding-left: 5px;
  margin: 0 0 64px;
}

.renewal-career-image-structure {
  @media screen and (max-width: 768px) {
    height: 310px;
    overflow-x: scroll;
    width: 100%;
  }

  img {
    font-size: 0;

    @media screen and (max-width: 768px) {
      width: 769px;
      display: block;
      max-width: none;
    }
  }
}

.renewal-career-image-position {
  @media screen and (max-width: 768px) {
    overflow-x: scroll;
    width: 100%;
    height: 510px;
  }

  img {
    @media screen and (max-width: 768px) {
      max-width: 768px;
      font-size: 0;
    }
  }
}

.renewal-career-description {
  text-align: center;
}

.renewal-career-description-heading {
  border-bottom: 1px solid #000;
  display: inline-block;
  padding-bottom: 3px;
  margin: 0 0 80px;
  font-family: $base-font-family;
  font-size: 24px;
  letter-spacing: 0.14em;
}

.renewal-career-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.renewal-career-item {
  padding: 0;
  margin: 0 0 50px;
  width: calc(94%/3);
  text-align: left;

  @media screen and (max-width: 768px) {
    width: calc(97%/2);
  }

  @media screen and (max-width: 667px) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.renewal-career-description-title {
  margin: 0 0 8px;
  font-family: $hiraginokaku;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.1em;

  span {
    display: block;
  }
}

.renewal-career-description-copy {
  font-size: 14px;
  font-family: $hiragino;
  color: #808080;
  font-weight: 300;
  margin: 0 0 0;
  line-height: 2;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}