.renewal-copyright {
  text-align: center;
  position: relative;
  background-color: #fff;
  padding: 26px 0;
}

.renewal-copyright-copy {
  font-size: 14px;
  font-weight: 500;
}

.renewal-copyright-list {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media screen and (max-width: 850px) {
    position: static;
    text-align: center;
    transform: none;
  }
}

.renewal-copyright-item {
  display: inline-block;
  padding: 0;
  margin: 0 5px 0 0;
}

.renewal-copyright-link {
  width: 149px;
  box-sizing: border-box;
  display: block;

  img {
    display: block;
    width: 100%;
  }
}

.renewal-copyright-scrollTop {
  background-color: #000;
  border-radius: 50%;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100px;
  right: 19px;
  z-index: 2;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding-top: 38px;
  font-family: $alt-font-family;

  @media screen and (max-width: 768px) {
    bottom: 115px;
  }

  &.is-renewal {
    bottom: 622px;

    @media screen and (max-width: 768px) {
      bottom: 717px;
    }
  }

  &::before {
    position: absolute;
    top: 24px;
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    border-width: 2px 0 0 2px;
    border-color: #fff;
    border-style: solid;
    transform: rotate(45deg);
    content: '';
  }
}