.renewal-mv {
  margin-bottom: 156px;

  @media screen and (max-width: 875px) {
    margin-top: 75px; 
    margin-bottom: 90px;
  }
}

.renewal-mv-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.renewal-mv-item {
  padding: 0;
  margin: 0;
}

.renewal-mv-content {
  width: 100%;
  box-sizing: border-box;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 155px;
  padding-left: 18px;

  @media screen and (max-width: 375px) {
    background-position: left -440px top;
  }
}

.renewal-mv-text {
  width: 1em;
  box-sizing: border-box;
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  margin: 0 12px;
  writing-mode: vertical-rl;
  letter-spacing: 0.37em;

}