.renewal-nav-wrapper {
  @media screen and (max-width: 875px) {
    position: fixed;
    top: 75px;
    right: 0;
    height: calc(100vh - 75px);
    width: 400px;
    overflow-y: auto;
    background-color: #f5f5f5;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: transform 300ms ease-out;

    &.is-active {
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 375px) {
    width: 100%;
  }
}

.renewal-nav {
  padding-top: 2px;


  @media screen and (max-width: 875px) {
    padding-top: 0;
  }
}

.renewal-nav-list {
  margin: 0;
  padding: 0;
}

.renewal-nav-item {
  display: inline-block;
  padding: 0 0 23px;
  margin: 0;

  @media screen and (max-width: 875px) {
    display: block;
    padding: 0;
    position: relative;
  }

  &:not(:first-of-type) {
    margin: 0 0 0 34px;

    @media screen and (max-width: 1150px) {
      margin-left: 15px;
    }

    @media screen and (max-width: 875px) {
      margin: 0;
    }
  }

  &:hover {

    @media screen and (min-width: 768px) {
      & > .renewal-nav-sublist {
        opacity: 1;
        pointer-events: auto
      }
      
      & > .renewal-nav-link {
        color: #bcbcbc;

        .renewal-nav-caret {
          opacity: 1;
        }
      }
    }
  }

  &:first-child {
    .renewal-nav-link {
      &::before {
        display: none;
      }
    }
  }

  &:not(:last-of-type) {
    @media screen and (max-width: 875px) {
      border-bottom: 1px solid #cbcbcb;
    }
  }
}

.renewal-nav-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: $base-font-family;
  // font-family: $hiraginokaku;
  // font-family: メイリオ, Meiryo, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #424242;
  position: relative;

  @media screen and (max-width: 1150px) {
    font-size: 12px;
    letter-spacing: 0.1em;
  }

  @media screen and (max-width: 875px) {
    font-size: 16px;
    color: #040000;
    letter-spacing: 0.29em;
    padding: 11px 30px;
    position: static;
  }

  &:hover {
    text-decoration: none;
  }

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -22px;
    content: '';
    height: 13px;
    width: 2px;
    background-color: #424242;
    pointer-events: none;

    @media screen and (max-width: 1150px) {
      left: -13px;
    }
  }
}

.renewal-nav-shop-icon {
  width: 18px;
  height: 19px;
  background-image: url('../images/renewal/cart.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  box-sizing: border-box;
  margin-left: 3px;
}

.renewal-nav-caret {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  border-style: solid;
  border-width: 0 8px 10px 8px;
  border-color: transparent transparent #000 transparent;
  opacity: 0;
  transition: opacity 300ms ease-out;

  @media screen and (max-width: 875px) {
    opacity: 1;
    bottom: auto;
    top: 18px;
    transform: none;
    left: auto;
    right: 29px;
    width: 16px;
    height: 16px;
    border: none;
    background-color: #000;
    border-radius: 3px;
    overflow: hidden;
  }

  &::before,
  &::after {
    content: '';
    background-color: #fff;
    position: absolute;
    display: none;

    @media screen and (max-width: 875px) {
      display: block;
    }
  }

  &::before {
    top: 7px;
    left: 3px;
    height: 2px;
    width: 10px;
  }

  &::after {
    top: 3px;
    left: 7px;
    height: 10px;
    width: 2px;
    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
  }

  &.is-active {
    &::after {
      transform: translateY(100%);
      opacity: 0;
    }
  }
}

.renewal-nav-sublist {
  position: absolute;
  left: 0;
  top: 100px; 
  width: 100vw;
  background-color: #000;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  margin: 0;
  padding: 0;
  transition: opacity 300ms ease-out;
  z-index: 1;

  @media screen and (max-width: 875px) {
    position: static;
    pointer-events: auto;
    width: 100%;
    opacity: 1;
    background-color: #fff;
    text-align: left;
    display: none;
  }
}

.renewal-nav-subitem {
  display: inline-block;
  padding: 0;
  margin: 0 15px;;

  @media screen and (max-width: 875px) {
    margin: 0;
    display: block;
  }

  &:first-child {
    .renewal-nav-sublink {
      &::before {
        display: none;
      }
    }
  }

  &:not(:last-of-type) {
    @media screen and (max-width: 875px) {
      border-bottom: 1px solid rgba(#cbcbcb, 0.5);
    }
  }
}

.renewal-nav-sublink {
  color: #fff;
  padding: 17px 0;
  margin: 0;
  display: block;
  letter-spacing: 0.2em;
  position: relative;

  @media screen and (max-width: 875px) {
    color: #000;
    font-weight: normal;
    padding: 10px 30px;
  }

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -19px;
    content: '';
    height: 12px;  
    width: 1px;
    background-color: #fff;
    pointer-events: none;

    @media screen and (max-width: 875px) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    top: 20px;
    right: 36px;
    content: '';
    width: 6px;
    height: 6px;
    border-width: 2px 2px 0 0;
    border-color: #000;
    border-style: solid;
    transform: rotate(45deg);
    display: none;

    @media screen and (max-width: 875px) {
      display: block;
    }
  }

  &:hover {
    text-decoration: none;
    color: #bcbcbc;
  }
}