.renewal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 61px 20px 34px;
  position: relative;
  z-index: 5;
  background-color: #fff;
  box-sizing: border-box;

  @media screen and (max-width: 1100px) {
    padding: 62px 10px 34px;
  }

  @media screen and (max-width: 875px) {
    padding: 25px 10px 22px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

  }
}

.renewal-header-logo {
  width: 201px;
  height: 28px;
  box-sizing: border-box;
  flex-shrink: 0;

  @media screen and (max-width: 1100px) {
    width: 160px;
  }

  @media screen and (max-width: 875px) {
    width: 192px;
  }

  img {
    width: 100%;
  }
}

.renewal-header-logo-link {
  &:hover {
    img {
      opacity: 1;
    }
  }
}