.schedule {
  text-align: center;
  margin-bottom: 217px;
}

.schedule-heading {
  margin: 0 0 75px;
  padding: 0 0 4px;
  letter-spacing: 0.17em;
  font-family: $base-font-family;
  font-weight: 600;
  font-size: 24px;
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #000;

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

.schedule-list {
  list-style-type: none;
  padding: 0 100px 0;
  margin: 0 0 96px;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.schedule-item {
  padding: 0;
  margin: 0 0 28px;
  display: flex;
  position: relative;
  align-items: center;
  text-align: left;

  &:last-of-type {
    .schedule-time::after {
      display: none;
    }
  }
}

.schedule-time {
  display: inline-flex;
  justify-content: center; 
  align-items: center;
  color: #fff;
  font-family: $hiraginokaku;
  font-weight: 700;
  font-size: 19px;
  border-radius: 50%;
  background-color: #000;
  height: 122px;
  width: 122px;
  flex-shrink: 0;
  border: 1px solid #fff;
  box-sizing: border-box;
  position: relative;
  padding-top: 8px;
  letter-spacing: 0.009em;
  margin-right: 24px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    width: 100px;
    height: 100px;
  }

  &::before {
    position: absolute;
    width: 112px;
    height: 112px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: '';
    border: 1px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;

    @media screen and (max-width: 768px) {
      width: 90px;
      height: 90px;
    }
  }

  &::after {
    position: absolute;
    bottom: -33px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 1px;
    background-color: #000;
    height: 40px;

    @media screen and (max-width: 768px) {
      bottom: -70px;
      height: 100px
    }
  }
}

.schedule-detail {
  font-size: 20px;
  font-family: $hiragino;
  font-weight: 300;

  @media screen and (max-width: 768px) {
    font-size: 15px;
  }
}