.section-heading {
  text-align: center;
}

.section-heading-title {
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 -2px;
  letter-spacing: 0.22em;
  font-family: $base-font-family;

  @media screen and (max-width: 768px) {
    letter-spacing: 0.09em;
    font-size: 28px;
  }

  @media screen and (max-width: 375px) {
    font-size: 22px;
  }
}

.section-heading-text {
  font-size: 14px;
  color: #808080;
  font-family: $alt-font-family;
  // font-family: $hiraginokaku;
  letter-spacing: 0.25em;
  display: block;
}

.section-heading-recruit {

  .section-heading-title {
    font-size: 40px;
    letter-spacing: 0.4em;
    padding-left: 20px;

    @media screen and (max-width: 768px) {
      font-size: 35px;
    } 
  }

  .section-heading-text {
    margin-top: -5px;
  }
}

.section-heading-event {

  @media screen and (max-width: 768px) {
    font-size: 28px;
  }

  .section-heading-title {
    padding-left: 15px;
  }
}

.section-heading-contact {
  position: relative;
  z-index: 1;
  margin-bottom: 59px;

  @media screen and (max-width: 768px) {
    margin-bottom: 115px;
  }

  .section-heading-title {
    color: #fff;
  }

  .section-heading-text {
    color: #fff;
    padding-right: 14px;
    margin-top: -6px;
  }
}