.select {
  display: block;
  width: 100%; 
  position: relative;
  box-sizing: border-box;
}

.select-text {
  background-color: #f5f5f5;
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  font-size: 14px;
  font-family: $hiragino;
  font-weight: 300;
  color: #808080;

  &::before { 
    content: '';
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: #808080 transparent transparent transparent;

    .is-active & {
      border-width: 0 6px 10px 6px;
      border-color: transparent transparent #808080 transparent;
    }
  }
}

.select-list {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  top: 41px;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms ease-out;
  list-style-type: none;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 0 4px 10px -5px rgba(#000, 0.4);
  max-height: 260px;
  overflow-y: scroll;

  .is-active & {
    pointer-events: auto;
    opacity: 1;
  }
}

.select-item {
  margin: 0;
  padding: 0 10px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
  font-family: $hiragino;
  font-weight: 300;
  color: #808080;

  &:hover {
    background-color: #f7f7f7;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #fff;
  }
}