$base-font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$alt-font-family:  YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$hiragino: "ヒラギノ角ゴ ProN W3", sans-serif;
$hiraginokaku: "Hiragino Kaku Gothic ProN", sans-serif;
$breakpoint-mobile: 768px;

