.special-interview {
  text-align: center;
}

.special-interview-heading {
  font-size: 24px;
  margin: 0 0 80px;
  border-bottom: 1px solid #000;
  display: inline-block;
  font-family: $hiraginokaku;
  letter-spacing: 0.2em;
  box-sizing: border-box;
  padding-bottom: 4px;

  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.special-interview-contents {
  position: relative;
  z-index: 1;
  margin-bottom: 207px;

  @media screen and (max-width: 768px) {
    margin-bottom: 100px;
  }

  &::before {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100vw;
    height: 470px;
    content: '';
    background-color: #f5f5f5;
    z-index: -1;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.special-interview-block {
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;

  @media screen and (max-width: 768px) {
    display: block;
  }

  &:not(:last-of-type) {
    margin-bottom: 84px;

    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  // &:nth-of-type(even) {
  //   align-items: flex-start;

  //   .special-interview-video {
  //     order: 1;
  //     margin: 0 0 0 39px;

  //     @media screen and (max-width: 768px) {
  //       margin-left: 0;
  //       margin-bottom: 22px;
  //     }
  //   }
  // }
}

.special-interview-video {
  box-sizing: border-box;
  width: 64%;
  background-color: #c0c0c0;
  height: auto;
  margin: 0 0 0 39px;
  flex-shrink: 0;
  order: 1;

  @media screen and (max-width: 900px) {
    width: 55%;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;
    margin: 0 0 22px;
  }

  video {
    width: 100%;
    display: block;
    
    &:active,
    &:focus {
      outline: none;
    }
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.special-interview-words {
  text-align: left;
}

.special-interview-title {
  font-size: 20px;
  margin: 0 0  20px;
  font-family: $hiragino;
  font-weight: 300;
  color: #000;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.special-interview-text {
  font-family: $hiragino;
  font-weight: 300;
  font-size: 16px;
  color: #808080;
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}