.training {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.training-prelude {
  text-align: center;
  margin-bottom: 109px;

  @media screen and (max-width: 768px) {
    margin-bottom: 50px;
  }
}

.training-prelude-text {
  font-size: 15px;
  font-family: $hiragino;
  font-weight: 300;
  white-space: pre-line;
  margin: 0;
  line-height: 2;

  @media screen and (max-width: 768px) {
    font-size: 13px;
  }
}

.training-type {
  list-style-type: none;
  padding: 0;
  margin: 0 0 90px;
  text-align: center;

  @media screen and (max-width: 768px) {
    margin-bottom: 45px;
  }
}

.training-type-item {
  display: inline-block;
  padding: 0;
  margin: 0 7px;
  position: relative;

 &:not(:last-of-type) {
   &::after {
    position: absolute;
    top: 6px;
    right: -8px;
    content: '';
    height: 58%;
    width: 2px;
    background-color: rgba(#000, 0.7);

    @media screen and (max-width: 768px) {
      width: 1px;
      top: 4px;
    }
   }
 }
}

.training-type-anchor {
  font-family: $base-font-family;
  font-weight: 500;
  font-size: 16px;

  @media screen and (max-width: 768px) {
    font-size: 13px;
  }

  &:hover {
    text-decoration: none;
  }
}

.training-process {
  &:not(:last-of-type) {
    margin-bottom: 200px;

    @media screen and (max-width: 768px) {
      margin-bottom: 40px;
    }
  }
}

.training-heading {
  margin: 0 0 66px;
  text-align: center;
}

.training-heading-text {
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
  font-size: 24px;
  font-family: $base-font-family;
  letter-spacing: 0.1em;

  @media screen and (max-width: 768px) {
    font-size: 20px;
    padding-bottom: 5px;
  }
}

.training-label {
  font-family: $hiragino;
  letter-spacing: 0.2em;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
  padding: 14px 0 9px 3px;
  width: 100%;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.training-wrapper {
  display: flex;
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding: 15px 25px;
  margin: 0;
  align-items: center;

  @media screen and (max-width: 768px) {
    padding: 10px 15px;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 560px) {
    display: block;
  }
}

.training-col {
  &:first-of-type {
    margin-right: 35px;
  }
}

.training-col-image {
  width: 360px;

  @media screen and (max-width: 560px) {
    width: 100%;
  }
}

.training-col-label {
  margin-right: 36px;
}

.training-process-label {
  padding: 0;
  margin: 0;
  font-family: $base-font-family;
  font-size: 18px;
  font-weight: 600;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }

  span {
    font-weight: 300;
  }
}

.training-process-nowrap {
  white-space: nowrap;
}

.training-process-center {
  text-align: center;
  justify-content: center;
  width: 100%;
}

.training-process-copy {
  padding: 0;
  margin: 0;
  font-family: $hiragino;
  font-weight: 300;
  font-size: 16px;
  white-space: pre-line;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 560px) {
    white-space: normal;
  }
}

.training-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.training-section-col {
  width: calc(96%/2);

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-bottom: 22px;
  }
}

.training-arrow {
  margin: 0 0 51px;
  position: relative;

  &::before {
    position: absolute;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    content: '';
    width: 10px;
    height: 10px;
    border-color: #000;
    border-style: solid;
    border-width: 0 2px 2px 0;
    
    @media screen and (max-width: 768px) {
      width: 7px;
      height: 7px;
      border-width: 0 1px 1px 0;
    }
  }
}

.training-duo-arrow {
  position: relative;
  margin: 0 0 51px;

  &::before,
  &::after {
    position: absolute;
    bottom: -29px;
    content: '';
    width: 10px;
    height: 10px;
    border-color: #000;
    border-style: solid;
    border-width: 0 2px 2px 0;

    @media screen and (max-width: 768px) {
      width: 7px;
      height: 7px;
      border-width: 0 1px 1px 0;
      display: none;
    }
  }

  &::before {
    transform: rotate(45deg);
    left: 25%;
    margin-left: -15px;
  }

  &::after {
    transform: rotate(45deg);
    right: 25%;
    margin-right: -15px; 
  }
}

