.u-clear {
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: block;
  }

  &:after {
    clear: both;
  }
}

.show-sp {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.show-pc {
  display: block;

  @media screen and (max-width: 768px) {
    display: none;
  }
}