.recruit-university-content {
  .recruit-university-copy {
    margin: 0 0 95px;
    font-size: 15px;
    white-space: pre-line;
    text-align: center;
    line-height: 2;
    font-family: $base-font-family;
    letter-spacing: 0.02em;
  }
}
.recruit-university-description-wrapper {
  background: #f5f5f5;
  display: flex;
  padding: 10px;
  padding-left: 24px;
  margin-bottom: 10px;

  .recruit-university-description-heading-wrapper {
    width: calc(100%/2);
    display: block;
    text-align: left;

    h3 {
      text-align: left;
      margin-bottom: 25px;
    }

    p {
      font-size: 16px;
    }
  }

  .recruit-university-description-heading {
    margin: 0;
    padding: 0;
    margin-right: 38px;
    font-size: 18px;
    font-weight: bold;
    font-family: $base-font-family;
    text-align: left;

    &.copy-center {
      transform: translateY(29%);
    }
  }

  .recruit-university-description-copy {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: left;
    max-width: 70%;
    img {
      width: 350px;
      padding: 20px;
    }
  }

}

.recruit-university-description-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    text-align: left;
  }
}

.recruit-university-description-item {
  position: relative;
  font-size: 16px;

  &::before {
    content: '';
    border: 1px solid #808080;
    border-radius: 50%;
    position: absolute;
    background: #808080;
    width: 4px;
    height: 4px;
    left: -12px;
    top: 12px;
  }
}
.recruit-university-types-wrapper {
  padding-top: 5px;
  margin-bottom: 4em;

  .recruit-university-types {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    font-family: $base-font-family;
  }

  .recruit-university-type:first-child {
    &::before {
      display: none;
    }
  }

  .recruit-university-type {
    margin: 0;
    padding: 0;
    font-size: 15px;
    position: relative;
    margin: 10px;
    font-family: $base-font-family;
    white-space: pre-line;
    letter-spacing: 0.02em;

    &::before {
      content: ' │ ';
      position: absolute;
      width: 1px;
      height: 10px;
      color: #000;
      left: -17px;
      top: 0
    }
  }
}

.recruit-university-content-details {
}

.recruit-university-type-details {
  .recruit-university-type-base-title {
    margin: 27px 0 61px 0;
    padding: 0;
    font-size: 22px;
    font-family: $base-font-family;
    font-weight: bold;
    letter-spacing: 0.23em;
    border-bottom: 1px solid #000;
    display: inline-block;
    padding-bottom: 6px;

    &.base-title-margin-top{
      margin-top: 6.5em;
    }

  }

  .recruit-university-type-title {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 12px;
    font-size: 20px;
    box-sizing: border-box;

    &.light {
      color: #000;
      background: #dcdcdc;
    }

    span {
      background: #fff;
      color: #000;
      border-radius: 4px;
      padding: 1px;
      font-size: 17px;
      font-weight: 100;
      font-family: $base-font-family;
    }
  }

  .recruit-university-description-copy-wrapper {
    padding: 20px;
    background: #f5f5f5;
    margin-top: 20px;

    P {
      margin-top: 0;
    }
  }

  .recruit-university-description-copy {
    text-align: left;
    font-size: 16px;
    line-height: 2;
  }
}

.recruit-university-type-details-columns {
  display: flex;
  justify-content: space-between;

  .recruit-university-type-details-column {
    width: calc(50% - 10px);
  }
}
