.working-place {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 800px;
  width: 100%;
}

.working-place-office {}

.working-place-office-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 460px;
  width: 100%;
  margin: 0 0 15px;

  @media screen and (max-width: 768px) {
    height: auto;
    padding-top: calc((213/370) * 100%)
  }
}

.working-place-copy {
  margin: 0;
  font-family: $hiragino;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.95;

  & + .working-place-copy {
    margin-top: 23px;
    margin-bottom: 14px;

    @media screen and (max-width: 768px) {
      margin-top: 26px;
      margin-bottom: 10px;
    }

    span {
      font-weight: 600;

      @media screen and (max-width: 768px) {
        display: inline;
      }
    }
  }
}

.working-place-interior {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 86px 0 41px;

  @media screen and (max-width: 800px) {
    display: block;
    margin: 34px 0 20px;
  }
}

.working-place-interior-image {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 560px;
  height: 322px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  order: 1;
  margin: 6px 0 0 8px;

  @media screen and (max-width: 800px) {
    margin: 0 0 10px;
    height: auto;
    width: 100%;
    padding-top: calc((213/370) * 100%)
  }
}

.working-place-interior-copy {
  font-size: 16px;
  font-family: $hiragino;
  font-weight: 300;
  margin: 0;
  line-height: 2;
  letter-spacing: 0.05em;
}

.working-place-gallery {
  margin-bottom: 176px;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    margin-bottom: 71px;
  }
}

.working-place-gallery-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  font-family: $hiragino;
  font-weight: 300;
  font-size: 22px;
  box-sizing: border-box;
  width: 140px;
  height: 140px;
  box-shadow: inset 0 0 0 3px #000, inset 0 0 0 4px #fff;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 768px) {
    margin: 0 auto;
    width: 120px;
    height: 120px;
  }
}

.working-place-gallery-content {
  margin-top: -60px;
}

.working-place-gallery-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.working-place-gallery-item {
  padding: 0;
  margin: 0;
  height: auto;
  width: 100%;

  // @media screen and (max-width: 768px) {
  //   &:nth-of-type(n+3) {
  //     display: none;
  //   }
  // }

  img {
   width: 100%;
   height: 300px;

   @media screen and (max-width: 768px) {
    height: auto;
   }
  }
}

.working-place-gallery-anchor {
  &:hover {
    img {
      opacity: 1
    }
  }
}

.working-place-gallery-image {
  display: block;
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 768px) {
    height: 200px;
  }
}

.working-place-circle-info {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: $hiraginokaku;
  font-weight: 700;
  font-size: 19px;
  border-radius: 50%;
  background-color: #000;
  height: 140px;
  width: 140px;
  flex-shrink: 0;
  border: 1px solid #fff;
  box-sizing: border-box;
  position: relative;
  padding-top: 8px;
  letter-spacing: 0.009em;
  margin-right: 24px;

  &::before {
    position: absolute;
    width: 128px;
    height: 128px;
    left: calc(50% - 64px);
    top: calc(50% - 64px);
    content: '';
    border: 1px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
  }
}

.working-place-store {
  box-sizing: border-box;
  max-width: 800px;
  width: 100%;
  margin: 0 auto 183px;

  @media screen and (max-width: 768px) {
    margin-bottom: 67px;
  }
}

.working-place-store-image {
  height: 460px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin-bottom: 21px;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    height: auto;
    padding-top: calc((213/370) * 100%);
    margin-bottom: 12px;
  }
}

.working-place-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 202px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-family: $hiragino;
  font-weight: 300;
  padding: 9px 3px 9px 0;
  box-sizing: border-box;
  letter-spacing: 0.1em;

  @media screen and (max-width: 768px) {
    margin-right: auto;
  }
}

.workplace-place-award {
  background-color: #f5f5f5;
  margin: 66px 0 66px;
  box-sizing: border-box;
  padding: 60px 0 62px;

  @media screen and (max-width: 768px) {
    margin: 95px 0 66px;
    padding: 21px 0 62px;
  }
}

.workplace-place-award-block {
  display: flex;
  background-color: #fff;
  padding: 34px 37px 27px;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    display: block;
    padding: 42px 10px 20px;
  }
}

.workplace-place-award-image {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 768px) {
    margin: 0 auto 25px;
  }
}

.workplace-place-award-content {
  width: calc(100% - 200px);
  padding: 11px 0 0 33px;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0;
  }
}

.workplace-place-award-title {
  margin: 0 0 12px;
  padding: 0;
  text-align: left;
  font-size: 20px;
  font-family: $hiragino;
  font-weight: 500;

  @media screen and (max-width: 768px) {
    margin-bottom: 13px;
  }

  br {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}

.workplace-place-award-copy {
  margin: 0 0 17px;
  font-size: 16px;
  line-height: 1.9;
  font-family: $hiragino;
  font-weight: 300;

  @media screen and (max-width: 768px) {
    margin-bottom: 29px;
  }
}

.workplace-place-award-buttons {
  display: flex;
  padding: 0px 8px 0 2px;

  @media screen and (max-width: 630px) {
    display: block;
  }
}

.workplace-place-award-button {
  font-family: $hiragino;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  background-color: #000;
  box-sizing: border-box;
  display: inline-flex;
  letter-spacing: 0.16em;
  justify-content: center;
  text-align: center;

  &:nth-of-type(1) {
    padding: 10px 0 8px;
    width: 273px;
    margin-right: 10px;

    @media screen and (max-width: 875px) {
      width: 185px;
    }

    @media screen and (max-width: 768px) {
      width: 50%
    }

    @media screen and (max-width: 630px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 19px;
    }
  }

  &:nth-of-type(2) {
    width: 389px;
    padding: 10px 0 8px;

    @media screen and (max-width: 768px) {
      width: 50%;
    }

    @media screen and (max-width: 630px) {
      width: 100%;
    }
  }
}