@charset "UTF-8";

body {
background-color: #e0ddff;
color: #000000;
}
a:link { color: #000099; }
a:vlink { color: #990099; }
/* labelにポイントしたとき、マウスカーソルを変える */
label { cursor: pointer; }
/* フォーム要素 (このクラスを適用すると、左側に20ピクセルの余白を作ります) */
div.form_item { margin-left: 20px; }
/* ボタン (このクラスを適用すると、上側に20ピクセル、左側に80ピクセルの余白を作ります) */
div.form_submit { margin: 20px 0 0 80px; }
/* 必須項目エラーメッセージ */
div.error {
width: 400px;
background-color: #fcc;
padding: 6px;
}
/* 必須 */
span.required { font-weight: bold; }
