@charset "utf-8";

/*ヘッダー*/
div#container div#header_main_home {
	width: 800px;
	height: 264px;
	margin: 0;
	padding: 0;
}

div#container div#header_main_home div#flashcontent {
	width: 800px;
	height: 264px;
}

div#container div#header_main_home div#flashcontent div.noflash {
	width: 600px;
	margin: 0 auto 0 auto;
	padding: 50px 0 0 0;
	text-align: left;
	color: #666666;
}

div#container div#header_main_home h1 {
	margin: 0;
	padding: 0;
}

/*トップページ*/
/*トップページ_レフトサイド*/
div#container div#contentmain_home div#leftside_home {
	width: 165px;
	margin: 0;
	padding: 0;
	float: left;
	text-align: left;
}

div#container div#contentmain_home div#leftside_home div#menulist {
	width: 165px;
	margin: 22px 0 0 0;
	padding: 0;
	text-align: left;
}

div#container div#contentmain_home div#leftside_home div#menulist ul {
	margin: 0;
	padding: 0;
}

div#container div#contentmain_home div#leftside_home div#menulist ul li {
	margin: 0 0 5px 0;
	padding: 0;
}

div#container div#contentmain_home div#leftside_home div#menulist ul li.last {
	margin: 0;
	padding: 0;
}

/*トップページ_ライトサイド*/
div#container div#contentmain_home div#rightside_home {
	width: 570px;
	margin: 0 0 20px 0;
	padding: 0;
	float: right;
	text-align: left;
}

div#container div#contentmain_home div#rightside_home div.bnr_area {
	width: 152px;
	margin: 24px 0 0 0;
	padding: 0;
	text-align: left;
	float: right;
}

div#container div#contentmain_home div#rightside_home div#newslist_home {
	width: 398px;
	margin: 0;
	padding: 0;
	text-align: left;
	float: left;
}

div#container div#contentmain_home div#rightside_home div#newslist_home div.newslist_title {
	width: 398px;
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
	text-align: left;
	border-bottom: 1px solid #00835d;
}

.box01_general {
	width: 545px;
	margin: 0;
	padding: 0 0 15px 0;
	text-align: left;
}

.paging {
		margin: 20px 0 0 0;
}
/*トップ＆第二階層共通設定など*/
div#container div#contentmain_home div#gnavi,
div#container div#contentmain_lower div#gnavi {
	width: 764px;
	margin: 0 0 20px 0;
	padding: 0;
	text-align: left;
}

div#container div#contentmain_home div#gnavi ul,
div#container div#contentmain_lower div#gnavi ul {
	margin: 0;
	padding: 0;
}

div#container div#contentmain_home div#gnavi ul li,
div#container div#contentmain_lower div#gnavi ul li {
	margin: 0;
	padding: 0;
	display: inline;
}

div#container div#contentmain_home div#search_area,
div#container div#contentmain_lower div#search_area {
	width: 764px;
	margin: 0 0 20px 0;
	padding: 0;
	text-align: right;
}

/*第二階層共通設定など*/
div#ank_headarea {
	height: 0px;
	line-height: 0px;
	font-size: 0px;
}

.photo_frame01 {
	margin: 0;
	padding: 1px;
	border: 1px solid #ccc;
}

div#container {
	width: 800px;
	height: auto;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	background-color: #fff;
}

div#container div#header_top_lower {
	width: 800px;
	height: 39px;
	margin: 0;
	padding: 0;
	background: #008462;
	text-align: right;
}

div#container div#header_top_lower h1 {
	margin: 0;
	padding: 0;
}

div#container div#header_main_lower {
	width: 800px;
	height: 102px;
	margin: 0;
	padding: 0;
	background: url(../images/common/img_headerbottom.gif) no-repeat;
}

div#container div#header_main_lower h2 {
	margin: 0;
	padding: 0;
}

div#container #header_main_lower div#header_logo_area_lower {
	width: 250px;
	height: 101px;
	margin: 0;
	padding: 0;
	float: left;
}

div#container #header_main_lower div#top_header_search {
	width: 486px;
	height: 41px;
	margin: 0;
	padding: 14px 14px 0 0;
	text-align: right;
	float: right;
}

div#container #header_main_lower div#header_main_lower_navi {
	width: 487px;
	height: 38px;
	margin: 0;
	padding: 4px 13px 0 0;
	text-align: right;
	float: right;
}

div#container div#header_main_lower div#header_main_lower_navi ul {}

div#container div#header_main_lower div#header_main_lower_navi ul li {
	margin: 0 0 0 10px;
	padding: 0;
	display: inline;
}

div#container div#contentmain_home,
div#container div#contentmain_lower {
	width: 764px;
	height: auto;
	margin: 0;
	padding: 20px 18px 0 18px;
	text-align: left;
	background: url(images/other/img_bg_contentmain_home.jpg) right bottom no-repeat;
}

/*第二階層共通設定_レフトサイド*/
div#container div#contentmain_lower div#leftside_lower {
	width: 165px;
	margin: 0;
	padding: 0;
	text-align: left;
	float: left;
}

div#container div#contentmain_lower div#leftside_lower p.sidetitle {
	margin: 0 0 8px 0;
	padding: 0;
}

div#container div#contentmain_lower div#leftside_lower div#subnavi01 {
	width: 142px;
	margin: 0 0 13px 0;
	padding: 10px;
	text-align: left;
	background: #e1e1e1;
}

div#container div#contentmain_lower div#leftside_lower div#subnavi01 ul {
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

div#container div#contentmain_lower div#leftside_lower div#subnavi01 ul li.current {
	margin: 0;
	padding: 0 0 0 10px;
	color: #999;
	background: url(images/common/img_arrow_gray.gif) left center no-repeat;
	text-decoration: none;
}

div#container div#contentmain_lower div#leftside_lower div#subnavi01 ul li a:link,
div#container div#contentmain_lower div#leftside_lower div#subnavi01 ul li a:visited {
	margin: 0;
	padding: 0 0 0 10px;
	color: #00835d;
	background: url(images/common/img_arrow_green.gif) left center no-repeat;
	text-decoration: none;
}

div#container div#contentmain_lower div#leftside_lower div#subnavi01 ul li a:hover,
div#container div#contentmain_lower div#leftside_lower div#subnavi01 ul li a:active {
	margin: 0;
	padding: 0 0 0 10px;
	color: #996633;
	background: url(images/common/img_arrow_brown.gif) left center no-repeat;
	text-decoration: none;
}

div#container div#contentmain_lower div#leftside_lower div#subnavi01 ul li.last {
	margin: 0;
	padding: 0;
}

div#container div#contentmain_lower div#leftside_lower div#menulist {
	width: 165px;
	margin: 0;
	padding: 0;
	text-align: left;
}

div#container div#contentmain_lower div#leftside_lower div#menulist ul {
	margin: 0;
	padding: 0;
}

div#container div#contentmain_lower div#leftside_lower div#menulist ul li {
	margin: 0 0 5px 0;
	padding: 0;
}

div#container div#contentmain_lower div#leftside_lower div#menulist ul li.last {
	margin: 0;
	padding: 0;
}

/*第二階層共通設定_ライトサイド*/
div#container div#contentmain_lower div#rightside_lower {
	width: 570px;
	margin: 0 0 20px 0;
	padding: 0;
	float: right;
	text-align: left;
}

div#container div#contentmain_lower div#rightside_lower h3.pagetitle {
	margin: 0 0 20px 0;
	padding: 0;
	text-align: left;
}

div#container div#contentmain_lower div#rightside_lower h4.title01 {
	margin: 0 0 20px 0;
	padding: 0;
	text-align: left;
	font-size: 18px;
	color: #00835d;
	line-height: 1.5;
}

div#container div#contentmain_lower div#rightside_lower h4.title02 {
	margin-bottom: 5px;
	padding: 0 0 1px 0;
	text-align: left;
	font-size: 10px;
	color: #00835d;
	border-bottom: 1px solid #00835d;
	line-height: 1.5;
}

div#container div#contentmain_lower div#rightside_lower h4.title03 {
	margin-bottom: 5px;
	padding: 0;
	text-align: left;
	font-size: 12px;
	color: #00835d;
	border-bottom: 1px solid #00835d;
	line-height: 1.5;
}

div#container div#contentmain_lower div#rightside_lower h4.title04 {
	margin-bottom: 8px;
	padding: 0;
	text-align: left;
	font-size: 14px;
	color: #00835d;
	border-bottom: 1px solid #00835d;
	line-height: 1.5;
}

div#container div#contentmain_lower div#rightside_lower div.topicpath {
	width: 570px;
	margin: 0 0 5px 0;
	padding: 0;
	text-align: right;
	font-size: 10px;
	letter-spacing: 1px;
}

div#container div#contentmain_lower div.topicpath {
	width: 764px;
	margin: 0 0 5px 0;
	padding: 0;
	text-align: right;
	font-size: 10px;
	letter-spacing: 1px;
}

/*ライトサイド個別設定*/
/*汎用class*/
div#container div#contentmain_lower div#rightside_lower div.gray_area {
	width: 540px;
	padding: 15px;
	background-color: #f1f1f1;
}

div#container div#contentmain_lower div#rightside_lower div.white_area {
	width: 538px;
	padding: 15px;
	border: 1px solid #00835d;
}


/* ----- block_A01 (350px:20px:200px) ----- */
div.block_A01 {
	width: 570px;
	margin: 0;
	padding: 0;
}

div.block_A01_inner_left350 {
	width: 350px;
	margin: 0;
	padding: 0;
	float: left;
}

div.block_A01_inner_right200 {
	width: 200px;
	margin: 0;
	padding: 0;
	float: right;
}

/* ----- block_A01 (275px:20px:275px) ----- */
div.block_B01 {
	width: 570px;
	margin: 0;
	padding: 0;
}

div.block_B01_inner_left275 {
	width: 275px;
	margin: 0;
	padding: 0;
	float: left;
}

div.block_B01_inner_right275 {
	width: 275px;
	margin: 0;
	padding: 0;
	float: right;
}

/* ----- block_C01 (254px:62px:254px) ----- */
div.block_C01 {
	width: 570px;
	margin: 0 0 30px 0;
	padding: 0;
}

div.block_C01_inner_left254 {
	width: 254px;
	margin: 0;
	padding: 0;
	float: left;
}

div.block_C01_inner_right254 {
	width: 254px;
	margin: 0;
	padding: 0;
	float: right;
}

/*ページ別の個別設定*/

/*教員一覧*/
div#container div#contentmain_lower div#rightside_lower div#staff_list {
	width: 570px;
	margin: 0;
	padding: 0;
}

div#container div#contentmain_lower div#rightside_lower div#staff_list td {
	font-size: 14px;
	background-color: #fff;
	font-weight: normal;
	text-align: center;
	padding: 3px;
}

div#container div#contentmain_lower div#rightside_lower div#staff_list th {
	font-size: 14px;
	background-color: #f0f0f0;
	font-weight: normal;
	text-align: center;
	padding: 3px;
}

div#container div#contentmain_lower div#rightside_lower div#staff_list .name {
	font-size: 14px;
	line-height: 1.5;
}

div#container div#contentmain_lower div#rightside_lower div#staff_list .name_furi {
	font-size: 12px;
	line-height: 1.5;
}

div#container div#contentmain_lower div#rightside_lower div#staff_list .job-ranking {
	font-size: 12px;
	line-height: 1.5;
}

div#container div#contentmain_lower div#rightside_lower div#staff_list .name a:link {
	color: #00835d;
	text-decoration: underline;
}

div#container div#contentmain_lower div#rightside_lower div#staff_list .name a:visited {
	color: #00835d;
	text-decoration: underline;
}

div#container div#contentmain_lower div#rightside_lower div#staff_list .name a:hover {
	color: #00835d;
	text-decoration: none;
}

div#container div#contentmain_lower div#rightside_lower div#staff_list .bg_gray {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background: #ccc;
	text-align: center;
}

/*教員紹介詳細*/
div#container div#contentmain_lower div#rightside_lower div#last_modified {
	margin: 0;
	padding: 0;
	text-align: right;
	font-size: 10px;
}

div#container div#contentmain_lower div#rightside_lower div#base_info_area,
div#container div#contentmain_lower div#rightside_lower div#message,
div#container div#contentmain_lower div#rightside_lower div#url,
div#container div#contentmain_lower div#rightside_lower div#birth,
div#container div#contentmain_lower div#rightside_lower div#academic_background,
div#container div#contentmain_lower div#rightside_lower div#degree,
div#container div#contentmain_lower div#rightside_lower div#achievement01,
div#container div#contentmain_lower div#rightside_lower div#achievement02,
div#container div#contentmain_lower div#rightside_lower div#research_theme,
div#container div#contentmain_lower div#rightside_lower div#classes,
div#container div#contentmain_lower div#rightside_lower div#activities,
div#container div#contentmain_lower div#rightside_lower div#academic_prize,
div#container div#contentmain_lower div#rightside_lower div#patent {
	margin: 0;
	padding: 0;
}

div#container div#contentmain_lower div#rightside_lower div#syllabus_area {
	margin: 0;
	padding: 0;
}

div#container div#contentmain_lower div#rightside_lower div#syllabus_area td {
	font-size: 14px;
	background-color: #fff;
	font-weight: normal;
	text-align: left;
	padding: 3px;
}

div#container div#contentmain_lower div#rightside_lower div#syllabus_area th {
	font-size: 14px;
	background-color: #f0f0f0;
	font-weight: normal;
	text-align: left;
	padding: 3px;
}

div#container div#contentmain_lower div#rightside_lower div#syllabus_area .bg_gray {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background: #ccc;
	text-align: center;
}

div#container div#contentmain_lower div#rightside_lower div#base_info_area div#photobox_staff {
	width: 100px;
	height: 120px;
	margin: 0;
	padding: 0;
	float: left;
}

div#container div#contentmain_lower div#rightside_lower div#base_info_area div#box01_staff {
	width: 400px;
	height: 120px;
	margin: 0;
	padding: 0;
	float: right;
}

div#container div#contentmain_lower div#rightside_lower div#base_info_area div#box01_staff div#name_staff {
	color: #666;
	font-size: 21px;
	margin: 20px 0 0 0;
	padding: 0;
}

div#container div#contentmain_lower div#rightside_lower div#base_info_area div#box01_staff div#name_furi_staff {
	color: #666;
	font-size: 12px;
	margin: 10px 0 0 0;
	padding: 0;
}

div#container div#contentmain_lower div#rightside_lower div#base_info_area div#box01_staff div#job_ranking_staff {
	color: #666;
	font-size: 14px;
	margin: 10px 0 0 0;
	padding: 0;
}

/*サイトマップ*/
div#container div#contentmain_lower div#rightside_lower div.sitemap_area {
	width: 570px;
	height: 480px;
	margin: 0;
	padding: 0;
	background: url(images/pic/img_bg_sitemap.jpg) left bottom no-repeat;
}

/*検索用ページ*/
div#container div#contentmain_lower div.google_search_area {
	width: 764px;
	margin: 0 0 20px 0;
	padding: 0;
}

div#container div#contentmain_lower div.google_search_area iframe {
	width: 760px;
	margin: 0;
	padding: 0;
}

div#container div#contentmain_lower div.google_search_area div#cse-search-results {
	width: 764px;
	margin: 0;
	padding: 0;
	text-align: left;
}

/*フッター*/
div#container div#contentmain_home div.pagetop,
div#container div#contentmain_lower div.pagetop {
	width: 80px;
	height: 17px;
	margin: 0 0 0 674px;
	clear: both;
}

div#container div#footer_top {
	width: 770px;
	height: 27px;
	margin: 0 0 5px 0;
	padding: 8px 15px 0px 15px;
	background: #00835d;
}

div#container div#footer_top div#footer_topnavi {
	font-size: 12px;
	margin: 0;
	padding: 0;
}

div#container div#footer_top div#footer_topnavi ul {
	margin: 0;
	padding: 0;
	display: inline;
}

div#container div#footer_top div#footer_topnavi li {
	list-style: none;
	display: inline;
	font-size: 12px;
	margin-right: 10px;
}

div#container div#footer_top div#footer_topnavi li a:link {
	color: #fff;
	text-decoration: underline;
}

div#container div#footer_top div#footer_topnavi li a:visited {
	text-decoration: underline;
	color: #fff;
}

div#container div#footer_top div#footer_topnavi li a:hover {
	text-decoration: none;
	color: #fff;
}

div#container div#footer_top div#footer_topnavi li a:active {
	text-decoration: none;
	color: #fff;
}

div#container div#footer_bottom {
	width: 770px;
	height: 38px;
	margin: 0;
	padding: 2px 15px 0 15px;
}

div#container div#footer_bottom div#footer_bottomnavi {
	margin: 0;
	padding: 0;
	float: left;
	vertical-align: bottom;
	height: 21px;
}

div#container div#footer_bottom div#footer_bottomnavi ul {
	margin: 0;
	padding: 0;
	display: inline;
}

div#container div#footer_bottom div#footer_bottomnavi li {
	list-style: none;
	display: inline;
}

div#container div#footer_bottom div#copyright {
	margin: 0;
	padding: 0;
	float: right;
	vertical-align: bottom;
	font-size: 11px;
	color: #00835d;
	height: 21px;
	line-height: 21px;
}

/*テーブルの設定*/
table {}

th {
	vertical-align: top;
	text-align: left;
}

td {
	vertical-align: top;
	text-align: left;
}

table.style01 th {
	font-size: small;
	text-align: center;
	font-weight: bold;
	background-color: #dcdcdc;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	padding: 4px 2px 4px 2px;
	vertical-align: middle;
	line-height: 18px;
}

table.style01 th.darkgray {
	font-size: small;
	color: #fff;
	line-height: 18px;
	text-align: center;
	font-weight: bold;
	background-color: #999999;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	padding: 6px 4px 6px 4px;
	vertical-align: middle;
}

table.style01 td {
	font-size: small;
	text-align: center;
	font-weight: normal;
	background-color: #f0ebe6;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	padding: 4px 2px 4px 2px;
	vertical-align: middle;
	line-height: 18px;
}

/*リスト関係*/
ul.list_decimal {
	margin: 0;
	padding: 0;
}

ul.list_decimal li {
	margin: 0 0 15px 22px;
	padding: 0;
	list-style-type: decimal;
}

ul.list_bnr {
	margin: 0;
	padding: 0;
}

ul.list_bnr li {
	margin: 0 0 10px 0;
	padding: 0;
}

ul.list_btn01 {
	margin: 0;
	padding: 0;
}

ul.list_btn01 li {
	width: 190px;
	line-height: 0;
	margin: 0;
	padding: 0 0 10px 0;
	float: left;
}

ul.list_btn01 li a {
	line-height: normal;
	display: block;
}

ul.list_btn01 li img {
	vertical-align: bottom;
	display: block;
}

ul.list_arrow {
	margin: 0;
	padding: 0;
}

ul.list_arrow li {
	font-size: 14px;
	font-weight: bold;
	color: #00835d;
	margin: 20px 0 2px 0;
	padding: 0 0 0 20px;
	background: url(images/common/img_arrow01.gif) 5px 4px no-repeat;
}

ul.list_arrow li.first {
	font-size: 14px;
	font-weight: bold;
	color: #00835d;
	margin: 0 0 2px 0;
	padding: 0 0 0 20px;
	background: url(images/common/img_arrow01.gif) 5px 4px no-repeat;
}

ul.list_arrow li.description {
	font-size: small;
	font-weight: normal;
	color: #666;
	margin: 0 0 2px 0;
	padding: 0 0 0 20px;
	background: none !important;
}

ul.list_arrow02 {
	margin: 0;
	padding: 0;
}

ul.list_arrow02 li {
	font-size: small;
	line-height: 21px;
	margin: 0 0 2px 0;
	padding: 2px 0 0 13px;
	background: url(images/common/img_arrow01.gif) 0 7px no-repeat;
}

ul.list_arrow02 li a,
ul.list_arrow02 li a:link,
ul.list_arrow02 li a:visited {
	color: #666;
}

ul.list_arrow02 li a:active,
ul.list_arrow02 li a:hover {
	color: #666;
}


/*dlのリスト*/
dl.newslist {
	width: 100%;
	margin: 0;
	padding: 0;
}

dl.newslist dt {
	width: 75px;
	margin-bottom: -20px;
	_margin-bottom: -19.7px;
	padding-top: 5px;
	white-space: nowrap;
}

dl.newslist dd {
	padding: 0 6px 4px 79px;
	border-bottom: 1px dotted #ccc;
}

dl.newslist dd.last {
	padding: 0 6px 4px 79px;
	border-bottom: 1px solid #00835d;
}

dl.listA01 {
	width: 100%;
	margin: 0;
	padding: 0;
}

dl.listA01 dt {
	margin: 0 0 7px 0;
	padding: 0 0 0 15px;
	background: url(images/common/img_arrow05.gif) left center no-repeat;
}

dl.listA01 dd {
	margin: 0 0 7px 15px;
	padding: 0 0 0 10px;
	background: url(images/common/img_arrow06.gif) left center no-repeat;
}

dl.listA02 {
	width: 100%;
	margin: 0 0 10px 0;
	padding: 0;
	line-height: 1.3;
}

dl.listA02 dt {
	width: 30px;
	margin-bottom: -33px;
	_margin-bottom: -32.7px;
	padding-top: 5px;
	white-space: nowrap;
}

dl.listA02 dt.m01 {
	width: 30px;
	margin-bottom: -27px;
	_margin-bottom: -26.7px;
	padding-top: 5px;
	white-space: nowrap;
}

dl.listA02 dd {
	padding: 0 0 20px 40px;
}

dl.listA02 dd.m01 {
	padding: 0 0 30px 40px;
}

dl.listA02 dd.m02 {
	padding: 0 0 0 40px;
}
.block_A01_inner_left350_inner_leftBox {
	width: 20px;
	text-align: center;
	line-height: 14px;
	padding: 1px;
	vertical-align: middle;
	white-space: normal;
	font-family: "ＭＳ ゴシック", "Osaka－等幅";
}
