@charset "utf-8";
/*
 * ==========================================================================
 * 
 * [content]
 * 
 * ==========================================================================
 */
img {
	vertical-align: bottom;
	/*max-width: 100%;*/
}
/**
 * 幅指定	
 */
.w33p { width: 33%; }
.w49p { width: 49%; }
.w50p { width: 50%; }
.w90p { width: 90%; }
.w110 { width: 110px; }
.w120 { width: 120px; }
.w130 { width: 130px; }
.w140 { width: 140px; }
.w150 { width: 150px; }
.w160 { width: 160px; }
.w170 { width: 170px; }
.w180 { width: 180px; }
.w190 { width: 190px; }
.w200 { width: 200px; }
.w210 { width: 210px; }
.w220 { width: 220px; }
.w230 { width: 230px; }
.w240 { width: 240px; }
.w250 { width: 250px; }
.w260 { width: 260px; }
.w270 { width: 270px; }
.w280 { width: 280px; }
.w290 { width: 290px; }
.w300 { width: 300px; }
.w310 { width: 310px; }
.w320 { width: 320px; }
.w330 { width: 330px; }
.w340 { width: 340px; }
.w400 { width: 400px; }
.w410 { width: 410px; }
.w420 { width: 420px; }
.w430 { width: 430px; }
.w440 { width: 440px; }
.w450 { width: 450px; }
.w470 { width: 470px; }
.w480 { width: 480px; }
.w490 { width: 490px; }
.w500 { width: 500px; }
.w510 { width: 510px; }
.w520 { width: 520px; }
.w540 { width: 540px; }
.w550 { width: 550px; }
.w570 { width: 570px; }
.w680 { width: 680px; }
.w1em { width: 1em; }
.w2em { width: 2em; }
.w3em { width: 3em; }
.w3hem { width: 3.5em; }
.w4em { width: 4em; }
.w4hem { width: 4.5em; }
.w5em { width: 5em; }
.w5hem { width: 5.5em; }
.w6em { width: 6em; }
.w6hem { width: 6.5em; }
.w7em { width: 7em; }
.w8em { width: 8em; }
.w9em { width: 9em; }
.w10em { width: 10em; }
.w11em { width: 11em; }
.w12em { width: 12em; }
.w13em { width: 13em; }
.w14em { width: 14em; }
.w15em { width: 15em; }
.w16em { width: 16em; }
.w17em { width: 17em; }
.w18em { width: 18em; }
.w19em { width: 19em; }
.w20em { width: 20em; }
/**
 * レイアウト
 */
.mL1hem { margin-left: 1.5em; }
.mL2em { margin-left: 2em; }
.mL2hem { margin-left: 2.5em; }
.mL3em { margin-left: 3em; }
.mL3hem { margin-left: 3.5em; }
.mL4em { margin-left: 4em; }
.mL4hem { margin-left: 4.5em; }
.mL5em { margin-left: 5em; }
.mL6em { margin-left: 6em; }
.mL7em { margin-left: 7em; }
.mL8em { margin-left: 8em; }
.mB60 { margin-bottom: 60px; }
.mB70 { margin-bottom: 70px; }
.mB80 { margin-bottom: 80px; }
/**
 * 見出し用スタイル
 */
.headStyle01 {
	display: inline-block;
	text-align: center;
	font-family: 'RalewayMed';
	line-height: 1;
	padding-bottom: 5px;
	margin: 0 auto;
	border-bottom: 2px solid #000;
}
/**
 * 文字サイズ
 */
.s0-8r { font-size: 0.8rem; }
.s0-9r { font-size: 0.9rem; }
.s1-0r { font-size: 1.0rem; }
.s1-1r { font-size: 1.1rem; }
.s1-2r { font-size: 1.2rem; }
.s1-3r { font-size: 1.3rem; }
.s1-5r { font-size: 1.5rem; }
.s1-6r { font-size: 1.6rem; }
.s1-7r { font-size: 1.7rem; }
.s1-8r { font-size: 1.8rem; }
.s2-0r { font-size: 2.0rem; }
.s2-2r { font-size: 2.2rem; }
.s2-5r { font-size: 2.5rem; }
.s3-0r { font-size: 3.0rem; }
/**
 ****************************************************
 * 
 * screens larger than 768
 * 
 ****************************************************
 */
@media only screen and (min-width: 768px) {
	.pcDspNone { display: none; }
}	/*  @media END */
/**
 ****************************************************
 * 
 * screens smaller than 767
 * 
 ****************************************************
 */
@media only screen and (max-width: 767px) {
.spDspNone { display: none !important; }
.fitImg { max-width: 100%; }
/**
 * 文字サイズ
 */
.s0-8r { font-size: 0.8rem; }
.s0-9r { font-size: 0.9rem; }
.s1-0r { font-size: 1.0rem; }
.s1-1r { font-size: 1.1rem; }
.s1-2r { font-size: 1.2rem; }
.s1-3r { font-size: 1.3rem; }
.s1-5r { font-size: 1.5rem; }
.s1-6r { font-size: 1.6rem; }
.s1-7r { font-size: 1.6rem; }
.s1-8r { font-size: 1.6rem; }
.s2-0r { font-size: 1.8rem; }
.s2-2r { font-size: 1.8rem; }
.s2-5r { font-size: 1.8rem; }
.s3-0r { font-size: 2.5rem; }





}	/*  @media END */
