@charset "utf-8";
/*
 * ================================================
 * 
 * [data]
 * 
 * ================================================
 */
/**
 * ---------------------------------------------------
 * content
 * ---------------------------------------------------
 */
#content {
	padding-top: 330px;
	background: url(../../images/content/data/PC_intro_photo.jpg) no-repeat center top;
}
/**
 * ---------------------------------------------------
 * data
 * ---------------------------------------------------
 */
.contVox {
	width: 1060px;
	margin: 0 auto;
}
	.contVox .items {
		text-align: center;
		width: 454px;
		padding: 85px 0;
		margin: 0 auto;
		border-bottom: 1px solid #000;
		position: relative;
	}
	.contVox .items:nth-child(odd) { float: left; }
	.contVox .items:nth-child(even) { float: right; }
	.contVox .items:nth-child(9),
	.contVox .items:nth-child(10) { border-bottom: none; }
	.contVox .items:nth-child(odd)::after {
		display: block;
		content: "";
		width: 1px;
		height: 480px;
		background: #000;
		position: absolute;
		top: 85px;
		left: 530px;
	}
		.contVox .items .title {
			display: inline-block;
			font-size: 2.2rem;
			font-weight: bold;
			line-height: 1;
			padding-bottom: 5px;
			margin-bottom: 20px;
			border-bottom: 1px solid #000;
		}
		.contVox .items .text { margin-bottom: 30px; }

/**
 ****************************************************
 * 
 * screens larger than 768
 * 
 ****************************************************
 */
@media only screen and (min-width: 768px) {
	
}	/*  @media END */
/**
 ****************************************************
 * 
 * screens smaller than 767
 * 
 ****************************************************
 */
@media only screen and (max-width: 767px) {
/**
 * ---------------------------------------------------
 * content
 * ---------------------------------------------------
 */
#content {
	padding-top: 0;
	background: none;
}
/**
 * ---------------------------------------------------
 * data
 * ---------------------------------------------------
 */
.contVox {
	width: auto;
}
.contVox:first-child {
	padding: 45% 0 0 0;
	background: url(../../images/content/data/SP_intro_photo.jpg) no-repeat center top / contain;
}
	.contVox .items {
		width: auto;
		height: auto !important;
		float: none !important;
		padding: 40px 0;
		margin: 0 35px;
	}
	.contVox .items:nth-child(9) { border-bottom: 1px solid #000; }
	.contVox .items:nth-child(odd)::after { display: none; }
		.contVox .items .text { height: auto !important; }
			.contVox .items:nth-child(1) img { width: 225px; }
			.contVox .items:nth-child(2) img { width: 192px; }
			.contVox .items:nth-child(3) img { width: 194px; }
			.contVox .items:nth-child(4) img { width: 204px; }
			.contVox .items:nth-child(5) img { width: 213px; }
			.contVox .items:nth-child(6) img { width: 208px; }
			.contVox .items:nth-child(7) img { width: 209px; }
			.contVox .items:nth-child(8) img { width: 188px; }
			.contVox .items:nth-child(9) img { width: 210px; }
			.contVox .items:nth-child(10) img { width: 180px; }
		.contVox .items .title { font-size: 1.8rem; }

}	/*  @media END */
