@charset "utf-8";
/*
 * ================================================
 * 
 * [home]
 * 
 * ================================================
 */
/**
 * ---------------------------------------------------
 * mainVisual
 * ---------------------------------------------------
 */
#mainVisualWrapper {
	text-align: center;
	margin-bottom: 120px;
}
/**
 * ---------------------------------------------------
 * intro
 * ---------------------------------------------------
 */
.intro {
	text-align: center;
	margin-bottom: 190px;
}
	.intro p {
		font-size: 1.5rem;
		line-height: 2.8;
		margin-bottom: 60px;
	}
	.intro p .concept {
		display: inline-block;
		font-family: 'RalewayBol';
		font-size: 2.0rem;
		line-height: 1;
		letter-spacing: 0.2em;
		padding: 5px 10px;
		margin: 15px 0;
		background: #ebebeb;
	}
/**
 * ---------------------------------------------------
 * homeSection
 * ---------------------------------------------------
 */
.homeSection {
	text-align: center;
	width: 1000px;
	margin: 0 auto 65px auto;
	position: relative;
}
.homeSection:last-of-type { margin-bottom: 0; }
.homeSection#section05 {
	height: 460px;
	background: url(../../images/content/home/photo_talk_session.jpg) no-repeat center center;
}
	.homeSection .inner { height: 100%; }
	.homeSection#section06 .inner {
		width: 500px;
		height: 250px;
		float: left;
	}
		.homeSection#section06 a {
			display: block;
			color: #fff;
			text-decoration: none;
			height: 100%;
			-webkit-transition: 0.2s;
			    -ms-transition: 0.2s;
			        transition: 0.2s;
		}
		.homeSection#section06 .inner#section06_1 a { background: url(../../images/content/home/photo_qa.jpg) no-repeat center center; }
		.homeSection#section06 .inner#section06_2 a { background: url(../../images/content/home/photo_recruit.jpg) no-repeat center center; }
		.homeSection#section06 a:hover { opacity: 0.7; }
		.homeSection .text {
			width: 430px;
			margin: 0 auto;
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			        transform: translateY(-50%);
		}
		.homeSection:nth-of-type(even) .text { float: left; }
		.homeSection:nth-of-type(odd) .text { float: right; }
		.homeSection#section05 .text {
			float: none;
			left: 50%;
			margin-left: -215px;
			-webkit-transform: translateY(0, -50%);
			    -ms-transform: translateY(0, -50%);
			        transform: translateY(0, -50%);
		}
		.homeSection#section06 .text {
			width: auto;
			float: none;
		}
			.homeSection .text .en {
				font-size: 2.5rem;
				font-family: 'RalewayBol';
				letter-spacing: 0.3em;
				line-height: 1.3;
				margin-bottom: 20px;
			}
			.homeSection .text .title {
				font-size: 1.5rem;
				margin-bottom: 30px;
			}
			.homeSection#section05 .text .title { letter-spacing: 0.3em; }
			.homeSection .text .moreBt {
				width: 150px;
				margin: 0 auto;
			}
				.homeSection .text .moreBt a {
					display: block;
					color: #000;
					font-size: 1.3rem;
					font-family: 'RalewayMed';
					text-decoration: none;
					padding: 10px 0;
					background: url(../../images/content/content/ico_arrow2.png) no-repeat 98% center / 3px auto;
					border-top: 1px solid #000;
					border-bottom: 1px solid #000;
					-webkit-transition: 0.2s;
					    -ms-transition: 0.2s;
					        transition: 0.2s;
				}
				.homeSection .text .moreBt a:hover {
					color: #fff;
					background-image: url(../../images/content/content/ico_arrow.png);
					background-color: #000;
				}
		.homeSection .photo { width: 430px; }
		.homeSection:nth-of-type(even) .photo { float: right; }
		.homeSection:nth-of-type(odd) .photo { float: left; }
	.homeSection#section01 .image01 {
		width: 184px;
		height: 198px;
		position: absolute;
		top: -50px;
		left: -73px;
		z-index: 1;
	}
	.homeSection#section02 .image01 {
		width: 86px;
		height: 168px;
		position: absolute;
		top: -10px;
		right: -100px;
	}
	.homeSection#section03 .image01 {
		width: 60px;
		height: 124px;
		position: absolute;
		top: 35px;
		left: 0px;
	}
	.homeSection#section03 .image02 {
		width: 60px;
		height: 60px;
		position: absolute;
		bottom: 40px;
		left: 370px;
	}
	.homeSection#section04 .image01 {
		width: 74px;
		height: 50px;
		position: absolute;
		top: 60px;
		left: 530px;
	}
	.homeSection#section04 .image02 {
		width: 132px;
		height: 112px;
		position: absolute;
		bottom: -10px;
		right: -10px;
	}
/**
 ****************************************************
 * 
 * screens larger than 768
 * 
 ****************************************************
 */
@media only screen and (min-width: 768px) {
	
}	/*  @media END */
/**
 ****************************************************
 * 
 * screens smaller than 767
 * 
 ****************************************************
 */
@media only screen and (max-width: 767px) {
/**
 * ---------------------------------------------------
 * mainVisual
 * ---------------------------------------------------
 */
#mainVisualWrapper { margin-bottom: 30px; }
/**
 * ---------------------------------------------------
 * intro
 * ---------------------------------------------------
 */
.intro { margin-bottom: 80px; }
	.intro p {
		font-size: 1.2rem;
		letter-spacing: normal;
		margin-bottom: 30px;
	}
	.intro p .concept { font-size: 1.5rem; }
/**
 * ---------------------------------------------------
 * homeSection
 * ---------------------------------------------------
 */
.homeSection {
	width: auto;
	margin-bottom: 55px;
}
.homeSection#section05 {
	height: auto;
	margin-bottom: 30px;
	background-size: contain;
}
	.homeSection#section06 .inner {
		width: 50%;
		height: 100px;
	}
		.homeSection .text { width: 38%; }
		.homeSection#section05 .text,
		.homeSection#section06 .text {
			padding: 30px 0;
			margin-left: auto;
			position: static;
			-webkit-transform: translateY(0);
			    -ms-transform: translateY(0);
			        transform: trsanslateY(0);
		}
		.homeSection#section06 #section06_1.inner a,
		.homeSection#section06 #section06_2.inner a { background-size: cover; }
			.homeSection .text .title {
				font-size: 0.8rem;
				letter-spacing: 0.1em;
				margin-bottom: 20px;
			}
			.homeSection .text .en {
				font-size: 1.6rem;
				letter-spacing: 0.1em;
				margin-bottom: 10px;
			}
			.homeSection .text .moreBt {
				width: 80%;
				margin: 0 15px;
			}
				.homeSection .text .moreBt a {
					font-size: 1.0rem;
					padding: 5px 0;
				}
		.homeSection .photo { width: 60%; }
	.homeSection#section01 .image01 {
		width: 92px;
		height: 99px;
		top: -70px;
		left: 10px;
	}
	.homeSection#section02 .image01 {
		width: 43px;
		height: 84px;
		top: -30px;
		right: 10px;
	}
	.homeSection#section03 .image01 {
		width: 30px;
		height: 62px;
		top: 10px;
		left: 10px;
	}
	.homeSection#section03 .image02 {
		width: 30px;
		height: 30px;
		bottom: -35px;
		left: 30%;
	}
	.homeSection#section04 .image01 {
		width: 37px;
		height: 25px;
		top: 10px;
		left: auto;
		right: 25%;
	}
	.homeSection#section04 .image02 {
		width: 66px;
		height: 56px;
		bottom: -40px;
		right: 10px;
	}


}	/*  @media END */
