@charset "utf-8";
/*
 * ================================================
 * 
 * [interview]
 * 
 * ================================================
 */
/**
 * ---------------------------------------------------
 * index
 * ---------------------------------------------------
 */
body.interview.index {}
	body.interview.index .header {
		text-align: center;
		padding-top: 330px;
		margin-bottom: 80px;
		background: url(../../images/content/interview/PC_intro_photo.jpg) no-repeat center top;
	}
	body.interview.index .contVox {
		text-align: center;
		width: 1000px;
		margin: 0 auto 55px auto;
	}
	body.interview.index .contVox:last-of-type { margin-bottom: 0; }
		body.interview.index .contVox .inner { height: 350px; }
		body.interview.index .contVox .photo { width: 500px; }
		body.interview.index .contVox:nth-child(odd) .photo { float: left; }
		body.interview.index .contVox:nth-child(even) .photo { float: right; }
		body.interview.index .contVox .text {
			width: 500px;
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			        transform: translateY(-50%);
		}
		body.interview.index .contVox:nth-child(odd) .text { float: right; }
		body.interview.index .contVox:nth-child(even) .text { float: left; }
			body.interview.index .contVox .text .num {
				display: inline-block;
				text-align: center;
				font-family: 'RalewaySemiBol';
				line-height: 1;
				letter-spacing: 0.35em;
				padding-bottom: 5px;
				margin: 0 auto 30px auto;
				border-bottom: 2px solid #000;
			}
			body.interview.index .contVox .text .position {
				display: block;
				font-size: 1.5rem;
				margin-bottom: 25px;
			}
			body.interview.index .contVox .text .name {
				font-size: 2.5rem;
				font-weight: bold;
				letter-spacing: 0.35em;
				margin-bottom: 25px;
			}
				body.interview.index .contVox .text .moreBt {
					width: 150px;
					margin: 0 auto;
				}
					body.interview.index .contVox .text .moreBt a {
						display: block;
						color: #000;
						font-size: 1.3rem;
						font-family: 'RalewayMed';
						text-decoration: none;
						padding: 10px 0;
						background: url(../../images/content/content/ico_arrow2.png) no-repeat 98% center / 3px auto;
						border-top: 1px solid #000;
						border-bottom: 1px solid #000;
						-webkit-transition: 0.2s;
						    -ms-transition: 0.2s;
						        transition: 0.2s;
					}
					body.interview.index .contVox .text .moreBt a:hover {
						color: #fff;
						background-image: url(../../images/content/content/ico_arrow.png);
						background-color: #000;
					}
/**
 * ---------------------------------------------------
 * interview common
 * ---------------------------------------------------
 */
body.interview.detail {}
	body.interview.detail .header {
		text-align: center;
		padding-top: 30px;
		margin-bottom: 65px;
	}
	body.interview.detail .mainPhoto {
		height: 450px;
		margin-bottom: 125px;
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;
	}
		body.interview.detail .mainPhoto .copy {
			font-size: 2.5rem;
			font-weight: bold;
			line-height: 2.3;
			letter-spacing: 0.35em;
			text-align: left;
			position: absolute;
		}
		body.interview.detail .mainPhoto .profile {
			line-height: 1.8;
			position: absolute;
		}
			body.interview.detail .mainPhoto .profile .position {
				display: block;
				font-size: 1.5rem;
			}
			body.interview.detail .mainPhoto .profile .name {
				display: block;
				font-size: 2.5rem;
				font-weight: bold;
				letter-spacing: 0.35em;
			}
			body.interview.detail .mainPhoto .profile .entry {
				display: block;
				font-size: 1.5rem;
			 }
	body.interview.detail .contVox {
		width: 1000px;
		margin: 0 auto 100px auto;
	}
	body.interview.detail .contVox:last-child { margin-bottom: 0; }
		body.interview.detail .contVox .text {}
			body.interview.detail .contVox .text p {
				line-height: 2.3;
				text-align: justify;
			}
			body.interview.detail .contVox .text .copy {
				font-size: 2.1rem;
				font-weight: bold;
				margin-bottom: 35px;
			}
	body.interview.detail .contVox#topics {
		padding: 60px 90px 85px 70px;
		margin-bottom: 60px;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
		body.interview.detail .contVox#topics .header { padding-top: 0; }
		body.interview.detail .contVox#topics .photo {
			width: 400px;
			float: left;
		}
		body.interview.detail .contVox#topics .text {
			width: 370px;
			float: right;
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			        transform: translateY(-50%);
		}
			body.interview.detail .contVox#topics .item {
				text-align: center;
				margin-bottom: 10px;
			}
			body.interview.detail .contVox#topics .copy { text-align: center; }
			body.interview.detail .contVox#topics .note { font-size: 1.1rem; }
	body.interview.detail #interviewList {
		width: 1000px;
		margin: 0 auto;
		overflow: hidden;
	}
		body.interview.detail #interviewList .header { padding-top: 0; }
		body.interview.detail #interviewList .item {
			width: 500px;
			height: 200px;
			float: left;
		}
			body.interview.detail #interviewList .item a {
				display: block;
				color: #fff;
				text-decoration: none;
				text-align: center;
				height: 100%;
				padding-top: 40px;
				background-repeat: no-repeat;
				background-position: center center;
				-webkit-transition: 0.2s;
				    -ms-transition: 0.2s;
				        transition: 0.2s;
			}
			body.interview.detail #interviewList .item.interview01 a { background-image: url(../../images/content/interview/interview_list01.jpg); }
			body.interview.detail #interviewList .item.interview02 a { background-image: url(../../images/content/interview/interview_list02.jpg); }
			body.interview.detail #interviewList .item.interview03 a { background-image: url(../../images/content/interview/interview_list03.jpg); }
			body.interview.detail #interviewList .item.interview04 a { background-image: url(../../images/content/interview/interview_list04.jpg); }
			body.interview.detail #interviewList .item.interview05 a { background-image: url(../../images/content/interview/interview_list05.jpg); }
			body.interview.detail #interviewList .item.interview06 a { background-image: url(../../images/content/interview/interview_list06.jpg); }
			body.interview.detail #interviewList .item.interview01.active a,
			body.interview.detail #interviewList .item.interview01 a:hover { background-image: url(../../images/content/interview/interview_list01_on.jpg); }
			body.interview.detail #interviewList .item.interview02.active a,
			body.interview.detail #interviewList .item.interview02 a:hover { background-image: url(../../images/content/interview/interview_list02_on.jpg); }
			body.interview.detail #interviewList .item.interview03.active a,
			body.interview.detail #interviewList .item.interview03 a:hover { background-image: url(../../images/content/interview/interview_list03_on.jpg); }
			body.interview.detail #interviewList .item.interview04.active a,
			body.interview.detail #interviewList .item.interview04 a:hover { background-image: url(../../images/content/interview/interview_list04_on.jpg); }
			body.interview.detail #interviewList .item.interview05.active a,
			body.interview.detail #interviewList .item.interview05 a:hover { background-image: url(../../images/content/interview/interview_list05_on.jpg); }
			body.interview.detail #interviewList .item.interview06.active a,
			body.interview.detail #interviewList .item.interview06 a:hover { background-image: url(../../images/content/interview/interview_list06_on.jpg); }
				body.interview.detail #interviewList .item a .num {
					display: inline-block;
					font-family: 'RalewayMed';
					line-height: 1;
					padding-bottom: 5px;
					margin-bottom: 20px;
					border-bottom: 2px solid #fff;
				}
				body.interview.detail #interviewList .item a .position {
					display: block;
					font-size: 1.5rem;
					margin-bottom: 15px;
				}
				body.interview.detail #interviewList .item a .name {
					font-size: 2.2rem;
					font-weight: bold;
					letter-spacing: 0.35em;
				}
/**
 * ---------------------------------------------------
 * interview01
 * ---------------------------------------------------
 */
body.interview01 {}
	body.interview01 .mainPhoto { background-image: url(../../images/content/interview/PC_interview01_profile.jpg); }
		body.interview01 .mainPhoto .copy {
			top: 50px;
			left: 100px;
		}
		body.interview01 .mainPhoto .profile {
			bottom: 40px;
			left: 100px;
		}
	body.interview01 .contVox {}
		body.interview01 .contVox#section01 .photo {
			width: 530px;
			float: right;
		}
		body.interview01 .contVox#section01 .text {
			width: 420px;
			float: left;
		}
		body.interview01 .contVox#section02 .photo {
			width: 500px;
			float: left;
		}
		body.interview01 .contVox#section02 .text {
			width: 460px;
			float: right;
		}
		body.interview01 .contVox#section03 .photo {
			width: 500px;
			float: right;
		}
		body.interview01 .contVox#section03 .text {
			width: 460px;
			float: left;
		}
/**
 * ---------------------------------------------------
 * interview02
 * ---------------------------------------------------
 */
body.interview02 {}
	body.interview02 .mainPhoto { background-image: url(../../images/content/interview/PC_interview02_profile.jpg); }
		body.interview02 .mainPhoto .copy {
			color: #fff;
			top: 50px;
			left: 100px;
		}
		body.interview02 .mainPhoto .profile {
			color: #fff;
			bottom: 40px;
			left: 100px;
		}
	body.interview02 .contVox {}
		body.interview02 .contVox#section01 .photo {
			width: 484px;
			float: left;
		}
		body.interview02 .contVox#section01 .text {
			width: 460px;
			float: right;
		}
		body.interview02 .contVox#section02 .photo {
			width: 426px;
			float: right;
		}
		body.interview02 .contVox#section02 .text {
			width: 520px;
			float: left;
		}
		body.interview02 .contVox#section03 .photo {
			width: 504px;
			float: left;
		}
		body.interview02 .contVox#section03 .text {
			width: 440px;
			float: right;
		}
/**
 * ---------------------------------------------------
 * interview03
 * ---------------------------------------------------
 */
body.interview03 {}
	body.interview03 .mainPhoto { background-image: url(../../images/content/interview/PC_interview03_profile.jpg); }
		body.interview03 .mainPhoto .copy {
			color: #fff;
			top: 50px;
			left: 100px;
		}
		body.interview03 .mainPhoto .profile {
			color: #fff;
			bottom: 60px;
			left: 340px;
		}
	body.interview03 .contVox {}
		body.interview03 .contVox#section01 .photo {
			width: 470px;
			float: left;
		}
		body.interview03 .contVox#section01 .text {
			width: 470px;
			float: right;
		}
		body.interview03 .contVox#section02 .photo {
			width: 480px;
			float: right;
		}
		body.interview03 .contVox#section02 .text {
			width: 460px;
			float: left;
		}
		body.interview03 .contVox#section03 .photo {
			width: 504px;
			float: left;
		}
		body.interview03 .contVox#section03 .text {
			width: 440px;
			float: right;
		}
/**
 * ---------------------------------------------------
 * interview04
 * ---------------------------------------------------
 */
body.interview04 {}
	body.interview04 .mainPhoto { background-image: url(../../images/content/interview/PC_interview04_profile.jpg); }
		body.interview04 .mainPhoto .copy {
			color: #fff;
			top: 85px;
			left: 660px;
		}
		body.interview04 .mainPhoto .profile {
			color: #fff;
			bottom: 40px;
			right: 50px;
		}
	body.interview04 .contVox {}
		body.interview04 .contVox#section01 .photo {
			width: 520px;
			float: right;
		}
		body.interview04 .contVox#section01 .text {
			width: 414px;
			float: left;
		}
		body.interview04 .contVox#section02 .photo {
			width: 480px;
			float: left;
		}
		body.interview04 .contVox#section02 .text {
			width: 450px;
			float: right;
		}
		body.interview04 .contVox#section03 .photo {
			width: 546px;
			float: right;
		}
		body.interview04 .contVox#section03 .text {
			width: 400px;
			float: left;
		}
/**
 * ---------------------------------------------------
 * interview05
 * ---------------------------------------------------
 */
body.interview05 {}
	body.interview05 .mainPhoto { background-image: url(../../images/content/interview/PC_interview05_profile.jpg); }
		body.interview05 .mainPhoto .copy {
			top: 60px;
			left: 690px;
		}
		body.interview05 .mainPhoto .profile {
			bottom: 30px;
			left: 110px;
		}
	body.interview05 .contVox {}
		body.interview05 .contVox#section01 .photo {
			width: 514x;
			float: right;
		}
		body.interview05 .contVox#section01 .text {
			width: 425px;
			float: left;
		}
		body.interview05 .contVox#section02 .photo {
			width: 454px;
			float: left;
		}
		body.interview05 .contVox#section02 .text {
			width: 490px;
			float: right;
		}
		body.interview05 .contVox#section03 .photo {
			width: 486px;
			float: right;
		}
		body.interview05 .contVox#section03 .text {
			width: 440px;
			float: left;
		}
/**
 * ---------------------------------------------------
 * interview06
 * ---------------------------------------------------
 */
body.interview06 {}
	body.interview06 .mainPhoto { background-image: url(../../images/content/interview/PC_interview06_profile.jpg); }
		body.interview06 .mainPhoto .copy {
			top: 60px;
			left: 105px;
		}
		body.interview06 .mainPhoto .profile {
			bottom: 40px;
			left: 105px;
		}
	body.interview05 .contVox {}
		body.interview06 .contVox#section01 .photo {
			width: 500x;
			float: right;
		}
		body.interview06 .contVox#section01 .text {
			width: 440px;
			float: left;
		}
		body.interview06 .contVox#section02 .photo {
			width: 454px;
			float: left;
		}
		body.interview06 .contVox#section02 .text {
			width: 490px;
			float: right;
		}
		body.interview06 .contVox#section03 .photo {
			width: 500px;
			float: right;
		}
		body.interview06 .contVox#section03 .text {
			width: 440px;
			float: left;
		}
/**
 ****************************************************
 * 
 * screens larger than 768
 * 
 ****************************************************
 */
@media only screen and (min-width: 768px) {
	
}	/*  @media END */
/**
 ****************************************************
 * 
 * screens smaller than 767
 * 
 ****************************************************
 */
@media only screen and (max-width: 767px) {
/**
 * ---------------------------------------------------
 * index
 * ---------------------------------------------------
 */
body.interview.index {}
	body.interview.index .header {
		padding: 44% 0 0 0;
		margin-bottom: 30px;
		background: url(../../images/content/interview/SP_intro_photo.jpg) no-repeat center top / contain;
	}
	body.interview.index .contVox {
		width: auto;
		padding: 0;
		margin-bottom: 30px;
	}
		body.interview.index .contVox .inner { height: auto; }
		body.interview.index .contVox .photo { width: 55%; }
		body.interview.index .contVox .text {
			width: 45%;
			position: static;
			-webkit-transform: translateY(0);
			    -ms-transform: translateY(0);
			        transform: translateY(0);
		}
			body.interview.index .contVox .text .num {
				font-size: 0.8rem;
				margin-bottom: 15px;
			}
			body.interview.index .contVox .text .position {
				font-size: 0.5em;
				letter-spacing: normal;
				margin-bottom: 10px;
			}
			body.interview.index .contVox .text .name {
				font-size: 1.6rem;
				letter-spacing: 0.35em;
				margin-bottom: 15px;
			}
				body.interview.index .contVox .text .moreBt { width: 70%; }
					body.interview.index .contVox .text .moreBt a {
						font-size: 1.0rem;
						padding: 5px 0;
					}
/**
 * ---------------------------------------------------
 * interview common
 * ---------------------------------------------------
 */
body.interview.detail {}
	body.interview.detail .header {
		padding-top: 5px;
		margin-bottom: 30px;
	}
	body.interview.detail .mainPhoto {
		height: 300px;
		padding: 180px 15px 0 15px;
		margin-bottom: 30px;
		background-position: center top;
		background-size: cover;
	}
		body.interview.detail .mainPhoto .copy {
			font-size: 1.7rem;
			line-height: 1.6;
			letter-spacing: 0.3em;
		}
			body.interview.detail .mainPhoto .profile .position { font-size: 1.0rem; }
			body.interview.detail .mainPhoto .profile .name { font-size: 1.8rem; }
			body.interview.detail .mainPhoto .profile .entry { font-size: 1.0rem; }
	body.interview.detail .contVox {
		width: auto;
		padding: 0 5px;
		margin-bottom: 20px;
	}
	body.interview.detail .contVox:last-child { margin-bottom: 0; }
		body.interview.detail .contVox .text {
			width: auto !important;
			float: none !important;
			margin-bottom: 20px;
		}
			body.interview.detail .contVox .text p { line-height: 2.2; }
			body.interview.detail .contVox .text .copy {
				font-size: 1.8rem;
				line-height: 1.6;
				margin-bottom: 10px;
			}
		body.interview.detail .contVox .photo {
			width: auto !important;
			float: none !important;
			margin: 0 auto;
		}
	body.interview.detail .contVox#topics {
		padding: 30px;
		margin-bottom: 30px;
	}
		body.interview.detail .contVox#topics .photo {
			width: 200px;
			float: none;
			margin: 0 auto 20px auto;
		}
		body.interview.detail .contVox#topics .text {
			width: auto;
			float: none;
			margin-bottom: 30px;
			position: static;
			-webkit-transform: translateY(0);
			    -ms-transform: translateY(0);
			        transform: translateY(0);
		}
			body.interview.detail .contVox#topics .text .copy { font-size: 1.6rem; }
	body.interview.detail #interviewList {
		width: auto;
		padding: 0 30px;
		border-bottom: 1px solid #000;
	}
		body.interview.detail #interviewList .header { cursor: pointer; }
			body.interview.detail #interviewList .header .headStyle01 { position: relative; }
			body.interview.detail #interviewList .header .headStyle01::before,
			body.interview.detail #interviewList .header .headStyle01::after {
				display: block;
				content: "";
				width: 8px;
				height: 1px;
				background: #000;
				position: absolute;
				top: 50%;
				right: -15px;
			}
			body.interview.detail #interviewList .header .headStyle01::after {
				-webkit-transform: rotate(90deg);
				    -ms-transform: rotate(90deg);
				        transform: rotate(90deg);
			}
			body.interview.detail #interviewList .header.open .headStyle01::after { display: none; }
		body.interview.detail #interviewList .inner {
			display: none;
			padding-bottom: 30px;
		}
			body.interview.detail #interviewList .item {
				width: auto;
				height: 100px;
				float: none;
			}
			body.interview.detail #interviewList .item a {
				padding-top: 10px;
				background-size: cover;
			}
				body.interview.detail #interviewList .item a .num {
					font-size: 1.0rem;
					padding-bottom: 3px;
					margin-bottom: 10px;
				}
				body.interview.detail #interviewList .item a .position {
					font-size: 1.0rem;
					margin-bottom: 5px;
				}
				body.interview.detail #interviewList .item a .name { font-size: 1.5rem; }
/**
 * ---------------------------------------------------
 * interview01
 * ---------------------------------------------------
 */
body.interview01 {}
	body.interview01 .mainPhoto { background-image: url(../../images/content/interview/SP_interview01_profile.jpg); }
		body.interview01 .mainPhoto .copy {
			top: 30px;
			left: 30px;
			right: auto;
		}
		body.interview01 .mainPhoto .profile {
			left: 30px;
			bottom: 20px;
		}
/**
 * ---------------------------------------------------
 * interview02
 * ---------------------------------------------------
 */
body.interview02 {}
	body.interview02 .mainPhoto { background-image: url(../../images/content/interview/SP_interview02_profile.jpg); }
		body.interview02 .mainPhoto .copy {
			color: #000;
			line-height: 1.3;
			padding: 2px 5px;
			background: #fff;
			top: 20px;
			left: 0;
		}
		body.interview02 .mainPhoto .profile {
			color: #000;
			left: 45%;
			bottom: 10px;
		}
/**
 * ---------------------------------------------------
 * interview03
 * ---------------------------------------------------
 */
body.interview03 {}
	body.interview03 .mainPhoto { background-image: url(../../images/content/interview/SP_interview03_profile.jpg); }
		body.interview03 .mainPhoto .copy {
			color: #000;
			line-height: 1.3;
			padding: 2px 5px;
			background: #fff;
			top: 20px;
			left: 0;
		}
		body.interview03 .mainPhoto .profile {
			left: 30px;
			bottom: 30px;
		}
/**
 * ---------------------------------------------------
 * interview04
 * ---------------------------------------------------
 */
body.interview04 {}
	body.interview04 .mainPhoto { background-image: url(../../images/content/interview/SP_interview04_profile.jpg); }
		body.interview04 .mainPhoto .copy {
			top: 40px;
			left: auto;
			right: 0;
		}
		body.interview04 .mainPhoto .profile {
			right: 50px;
			bottom: 30px;
		}
/**
 * ---------------------------------------------------
 * interview05
 * ---------------------------------------------------
 */
body.interview05 {}
	body.interview05 .mainPhoto { background-image: url(../../images/content/interview/SP_interview05_profile.jpg); }
		body.interview05 .mainPhoto .copy {
			color: #000;
			line-height: 1.3;
			padding: 2px 5px;
			background: #fff;
			top: 20px;
			left: auto;
			right: 0;
		}
		body.interview05 .mainPhoto .profile {
			left: 30px;
			bottom: 30px;
		}
/**
 * ---------------------------------------------------
 * interview06
 * ---------------------------------------------------
 */
body.interview06 {}
	body.interview06 .mainPhoto { background-image: url(../../images/content/interview/SP_interview06_profile.jpg); }
		body.interview06 .mainPhoto .copy {
			top: 20px;
			left: 10px;
		}
		body.interview06 .mainPhoto .profile {
			left: 30px;
			bottom: 20px;
		}

}	/*  @media END */
