@charset "utf-8";
/*
 * ================================================
 * 
 * [message]
 * 
 * ================================================
 */
/**
 * ---------------------------------------------------
 * mainPhoto
 * ---------------------------------------------------
 */
.mainPhoto {
	height: 500px;
	margin-bottom: 100px;
	background: url(../../images/content/message/PC_intro_photo.jpg) no-repeat center center;
	position: relative;
}
	.mainPhoto .copy {
		font-size: 2.2rem;
		font-weight: bold;
		letter-spacing: 0.35em;
		line-height: 2.3;
		position: absolute;
		left: 670px;
		top: 140px;
	}
	.mainPhoto .profile {
		letter-spacing: 0.4em;
		line-height: 1.6;
		position: absolute;
		left: 670px;
		top: 280px;
	}
		.mainPhoto .profile .name {
			display: block;
			font-size: 2.2rem;
			font-weight: bold;
		}
/**
 * ---------------------------------------------------
 * message
 * ---------------------------------------------------
 */
.contVox {
	width: 800px;
	margin: 0 auto;
	position: relative;
}
	.contVox p {
		font-size: 1.3rem;
		letter-spacing: 0.1em;
		line-height: 3.5;
		text-align: justify;
		margin-bottom: 35px;
	}
	.contVox p:last-of-type { margin-bottom: 0; }
	.contVox .photo {
		text-align: center;
		width: 304px;
		position: absolute;
		bottom: 0;
		right: 0;
	}
/**
 ****************************************************
 * 
 * screens larger than 768
 * 
 ****************************************************
 */
@media only screen and (min-width: 768px) {
	
}	/*  @media END */
/**
 ****************************************************
 * 
 * screens smaller than 767
 * 
 ****************************************************
 */
@media only screen and (max-width: 767px) {
/**
 * ---------------------------------------------------
 * mainPhoto
 * ---------------------------------------------------
 */
.mainPhoto {
	text-align: center;
	width: auto;
	height: auto;
	padding: 48% 0 0 0;
	margin-bottom: 30px;
	background: url(../../images/content/message/SP_intro_photo.jpg) no-repeat center top / contain;
}
	.mainPhoto .copy {
		font-size: 1.8rem;
		letter-spacing: 0.1em;
		line-height: 1.6;
		margin-bottom: 20px;
		position: static;
	}
	.mainPhoto .profile {
		letter-spacing: 0.4em;
		line-height: 1.3;
		position: static;
	}
		.mainPhoto .profile .position {
			font-size: 1.0rem;
			letter-spacing: 0.1em;
		}
		.mainPhoto .profile .name { font-size: 1.5rem; }
/**
 * ---------------------------------------------------
 * message
 * ---------------------------------------------------
 */
.contVox { width: auto; }
	.contVox p {
		line-height: 2;
		padding: 0 10px;
		margin-bottom: 30px;
	}
	.contVox p:last-of-type { margin-bottom: 0; }
	.contVox .photo {
		width: auto;
		margin-top: 30px;
		position: static;
	}

}	/*  @media END */
