@charset "utf-8";
/*
 * ================================================
 * 
 * [qa]
 * 
 * ================================================
 */
/**
 * ---------------------------------------------------
 * intro
 * ---------------------------------------------------
 */
#content {
	padding-top: 330px;
	background: url(../../images/content/qa/PC_intro_photo.jpg) no-repeat center top;
}
/**
 * ---------------------------------------------------
 * qa
 * ---------------------------------------------------
 */
.contVox {
	width: 1000px;
	margin: 0 auto;
}
.contVox:last-of-type { border-bottom: 1px solid #000; }
	.contVox .title {
		font-size: 2.2rem;
		font-weight: bold;
		text-align: center;
		padding: 20px 0;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
	.contVox .qaWrapper { border-bottom: 1px dashed #000; }
	.contVox .qaWrapper:last-of-type { border-bottom: none; }
		.contVox .qaWrapper .question {
			cursor: pointer;
			font-size: 1.6rem;
			padding: 20px 50px;
			position: relative;
			-webkit-transition: 0.2s;
			    -ms-transition: 0.2s;
			        transition: 0.2s;
		}
		.contVox .qaWrapper .question:hover {
			color: #fff;
			background: #000;
		}
		.contVox .qaWrapper .question::before {
			display: block;
			content: "Q.";
			font-size: 3.0rem;
			font-family: 'talldark';
			position: absolute;
			top: 10px;
			left: 15px;
		}
			.contVox .qaWrapper .question .button {
				cursor: pointer;
				display: block;
				width: 12px;
				height: 12px;
				position: absolute;
				top: 50%;
				right: 20px;
				-webkit-transition: 0.2s;
				    -ms-transition: 0.2s;
				        transition: 0.2s;
				-webkit-transform: translate(0, -50%);
				    -ms-transform: translate(0, -50%);
				        transform: translate(0, -50%);
			}
				.contVox .qaWrapper .question .button span {
					width: 12px;
					height: 2px;
					margin: -1px 0 0 -6px;
					background: #000;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transition: 0.2s;
					    -ms-transition: 0.2s;
					        transition: 0.2s;
				}
				.contVox .qaWrapper .question:hover .button span { background: #fff; }
				.contVox .qaWrapper .question .button span:last-child {
					-webkit-transform: rotate(90deg);
					    -ms-transform: rotate(90deg);
					        transform: rotate(90deg);
				}
				.contVox .qaWrapper .question .button.minus span:first-child {
					-webkit-transform: rotate(-360deg);
					    -ms-transform: rotate(-360deg);
					        transform: rotate(-360deg);
				}
				.contVox .qaWrapper .question .button.minus span:last-child {
					-webkit-transform: rotate(180deg);
					    -ms-transform: rotate(180deg);
					        transform: rotate(180deg);
				}
		.contVox .qaWrapper .answer {
			display: none;
			padding: 20px 20px 20px 50px;
			border-top: 1px dashed #000;
			position: relative;
		}
		.contVox .qaWrapper .answer::before {
			display: block;
			content: "A.";
			font-size: 3.0rem;
			font-family: 'talldark';
			position: absolute;
			top: 10px;
			left: 15px;
		}
			.contVox .qaWrapper .answer p { line-height: 2.5; }
/**
 ****************************************************
 * 
 * screens larger than 768
 * 
 ****************************************************
 */
@media only screen and (min-width: 768px) {
	
}	/*  @media END */
/**
 ****************************************************
 * 
 * screens smaller than 767
 * 
 ****************************************************
 */
@media only screen and (max-width: 767px) {
/**
 * ---------------------------------------------------
 * intro
 * ---------------------------------------------------
 */
#content {
	padding-top: 0;
	background: none;
}
/**
 * ---------------------------------------------------
 * qa
 * ---------------------------------------------------
 */
.contVox { width: auto; }
.contVox:first-child {
	padding: 45% 0 0 0;
	background: url(../../images/content/qa/SP_intro_photo.jpg) no-repeat center top / contain;
}
	.contVox .title { font-size: 2.0rem; }
		.contVox .qaWrapper .question {
			font-size: 1.2rem;
			padding-left: 35px;
			padding-right: 20px;
		}
		.contVox .qaWrapper .question:hover {}
		.contVox .qaWrapper .question::before { left: 5px; }
			.contVox .qaWrapper .question .button { right: 5px; }
		.contVox .qaWrapper .answer { padding-left: 35px; }
		.contVox .qaWrapper .answer::before { left: 5px; }

}	/*  @media END */
