@charset "utf-8";
/*
 * ================================================
 * 
 * [recruit]
 * 
 * ================================================
 */
/**
 * ---------------------------------------------------
 * intro
 * ---------------------------------------------------
 */
#content {
	padding-top: 330px;
	background: url(../../images/content/recruit/PC_intro_photo.jpg) no-repeat center top;
}
/**
 * ---------------------------------------------------
 * anchorLink
 * ---------------------------------------------------
 */
.anchorLink {
	width: 1000px;
	margin: 0 auto 100px auto;
}
	.anchorLink ul {
		padding: 0;
		margin: 0;
		overflow: hidden;
	}
		.anchorLink ul li {
			list-style-type: none;
			width: 333px;
			float: left;
			border-left: 1px solid #000;
		}
		.anchorLink ul li:last-child { border-right: 1px solid #000; }
			.anchorLink ul li a {
				display: block;
				color: #000;
				font-size: 1.8rem;
				font-weight: bold;
				letter-spacing: 0.35em;
				line-height: 80px;
				text-decoration: none;
				text-align: center;
				background: url(../../images/content/content/ico_arrow4.png) no-repeat center 90% / auto 4px #f7f7f7;
				-webkit-transition: 0.2s;
				    -ms-transition: 0.2s;
				        transition: 0.2s;
			}
			.anchorLink ul li a:hover { background-color: #fff; }
/**
 * ---------------------------------------------------
 * recruit
 * ---------------------------------------------------
 */
.contVox {
	width: 1000px;
	margin: 0 auto 110px auto;
}
.contVox:last-of-type { margin-bottom: 0; }
	.contVox .title {
		font-size: 2.3rem;
		font-weight: bold;
		letter-spacing: 0.4em;
		text-align: center;
		padding: 20px 0;
		margin-bottom: 60px;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
	.contVox .intro {
		text-align: center;
		margin-bottom: 60px;
	}
		.contVox .intro p { line-height: 2.5; }
	.contVox .recruitTable {
		width: 790px;
		border-collapse: collapse;
		margin: 0 auto;
	}
		.contVox .recruitTable th,
		.contVox .recruitTable td {
			font-size: 1.5rem;
			font-weight: normal;
			vertical-align: middle;
			padding: 20px;
			border-top: 1px solid #000;
			border-bottom: 1px solid #000;
		}
		.contVox .recruitTable th {
			width: 130px;
			text-align: center;
			-moz-text-align-last: justify;
			     text-align-last: justify;
		}
		.contVox .recruitTable td.entry { overflow: hidden; }
			.contVox .recruitTable td .entryBt {
				width: 150px;
				float: right;
			}
				.contVox .recruitTable td .entryBt a {
					display: block;
					color: #fff;
					font-family: 'RalewayReg';
					font-size: 1.1rem;
					line-height: 1;
					letter-spacing: 0.3em;
					text-decoration: none;
					text-align: center;
					padding: 15px 0;
					background: url(../../images/content/content/ico_arrow.png) no-repeat 93% center / 3px auto #000;
					-webkit-transition: 0.2s;
					    -ms-transition: 0.2s;
					        transition: 0.2s;
				}
				.contVox .recruitTable td .entryBt a:hover { background-color: #beb590; }
	.contVox .contact {
		font-size: 1.4rem;
		width: 790px;
		padding: 20px 30px;
		margin: 0 auto;
		border: 1px solid #000;
		border-top: none;
	}
/**
 ****************************************************
 * 
 * screens larger than 768
 * 
 ****************************************************
 */
@media only screen and (min-width: 768px) {
	
}	/*  @media END */
/**
 ****************************************************
 * 
 * screens smaller than 767
 * 
 ****************************************************
 */
@media only screen and (max-width: 767px) {
/**
 * ---------------------------------------------------
 * intro
 * ---------------------------------------------------
 */
#content {
	padding-top: 0;
	background: none;
}
/**
 * ---------------------------------------------------
 * anchorLink
 * ---------------------------------------------------
 */
.anchorLink {
	width: auto;
	padding: 42% 0 0 0;
	margin-bottom: 50px;
	background: url(../../images/content/recruit/SP_intro_photo.jpg) no-repeat center top / contain;
}
	.anchorLink ul {}
		.anchorLink ul li {
			width: 33.3%;
			margin-bottom: 10px;
		}
			.anchorLink ul li a {
				font-size: 1.2rem;
				letter-spacing: 0.1em;
				line-height: 1.5;
				padding: 10px 0 15px 0;
			}
/**
 * ---------------------------------------------------
 * recruit
 * ---------------------------------------------------
 */
.contVox {
	width: auto;
	margin-bottom: 50px;
}
.contVox:last-of-type { margin-bottom: 0; }
	.contVox .title {
		font-size: 2.0rem;
		margin-bottom: 30px;
	}
	.contVox .intro {
		text-align: left;
	}
	.contVox .recruitTable {
		display: block;
		width: 100%;
	}
		.contVox .recruitTable tbody,
		.contVox .recruitTable tr,
		.contVox .recruitTable td { display: block; }
		.contVox .recruitTable th {
			display: inline-block;
			font-size: 1.3rem;
			font-weight: bold;
			width: auto;
			padding: 0 0 5px 0;
			margin-bottom: 10px;
			border-top: none;
			border-bottom: 2px solid #000;
		}
		.contVox .recruitTable td {
			font-size: 1.3rem;
			padding: 0;
			margin-bottom: 30px;
			border: none;
		}
		
		.contVox .recruitTable td.entry {}
			.contVox .recruitTable td .entryBt {
				float: none;
				margin-top: 15px;
			}
	.contVox .contact {
		font-size: 1.3rem;
		width: auto;
		padding: 20px;
		border: 1px solid #000;
	}

}	/*  @media END */
