@charset "utf-8";
/*
 * ================================================
 * 
 * [talk_session]
 * 
 * ================================================
 */
/**
 * ---------------------------------------------------
 * talkList
 * ---------------------------------------------------
 */
#talkList {
	overflow: hidden;
	margin-bottom: 100px;
}
	#talkList .item {
		width: 600px;
		float: left;
	}
		#talkList .item a {
			display: block;
			color: #000;
			text-align: center;
			text-decoration: none;
			height: 290px;
			padding-top: 50px;
			background-repeat: no-repeat;
			background-position: center top;
			background-color: #f7f4f3;
			position: relative;
			-webkit-transition: 0.2s;
			    -ms-transition: 0.2s;
			        transition: 0.2s;
		}
		#talkList .item.active a,
		#talkList .item a:hover { background-color: #dbdbdb; }
		#talkList .item.talk01 a { background-image: url(../../images/content/talk_session/talk_list01.jpg); }
		#talkList .item.talk02 a { background-image: url(../../images/content/talk_session/talk_list02.jpg); }
		#talkList .item.talk01 a:hover,
		#talkList .item.talk01.active a { background-image: url(../../images/content/talk_session/talk_list01_on.jpg); }
		#talkList .item.talk02 a:hover,
		#talkList .item.talk02.active a { background-image: url(../../images/content/talk_session/talk_list02_on.jpg); }
			#talkList .item a .talk {
				display: inline-block;
				font-size: 2.0rem;
				font-family: 'RalewaySemiBol';
				letter-spacing: 0.25em;
				line-height: 1;
				padding-bottom: 10px;
				border-bottom: 2px solid #000;
			}
			#talkList .item a .num {
				display: block;
				font-size: 10.0rem;
				font-family: 'talldark';
				letter-spacing: 0.2em;
				line-height: 1;
				padding-left: 0.2em;
			}
			#talkList .item a .title {
				display: block;
				font-size: 1.5rem;
				font-weight: bold;
				letter-spacing: 0.5em;
				line-height: 60px;
				width: 100%;
				height: 60px;
				position: absolute;
				bottom: 0;
				left: 0;
			}
/**
 * ---------------------------------------------------
 * header
 * ---------------------------------------------------
 */
.header {
	text-align: center;
	margin-bottom: 60px;
}
	.header .talk {
		display: inline-block;
		font-size: 2.0rem;
		font-family: 'RalewaySemiBol';
		letter-spacing: 0.25em;
		line-height: 1;
		padding-bottom: 10px;
		border-bottom: 2px solid #000;
	}
	.header .num {
		display: block;
		font-size: 10.0rem;
		font-family: 'talldark';
		letter-spacing: 0.2em;
		line-height: 1;
		padding-left: 0.2em;
	}
	.header .title {
		display: block;
		font-size: 1.5rem;
		font-weight: bold;
		letter-spacing: 0.7em;
	}
/**
 * ---------------------------------------------------
 * mainPhoto
 * ---------------------------------------------------
 */
.mainPhoto {
	text-align: center;
	height: 500px;
	background-repeat: no-repeat;
	background-position: center top;
}
body.talk01 .mainPhoto { background-image: url(../../images/content/talk_session/talk01_intro.jpg); }
body.talk02 .mainPhoto { background-image: url(../../images/content/talk_session/talk02_intro.jpg); }
	.mainPhoto p {
		font-size: 2.8rem;
		font-weight: bold;
		line-height: 2.3;
		letter-spacing: 0.5em;
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
/**
 * ---------------------------------------------------
 * profile
 * ---------------------------------------------------
 */
.profileWrapper {
	text-align: center;
	padding-top: 40px;
	margin-top: -15px;
	margin-bottom: 120px;
	overflow: hidden;
	position: relative;
}
.profile01,
.profile02 { width: 520px; }
.profile01 { float: left; }
.profile02 { float: right; }
.profile01::before,
.profile02::before {
	display: block;
	content: "";
	width: 240px;
	height: 1.5px;
	margin-left: -120px;
	background: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
}
.profile01::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.profile02::before {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
	.profile01 .position,
	.profile02 .position {
		display: block;
		font-size: 1.4rem;
		letter-spacing: 0.35em;
	}
	.profile01 .name,
	.profile02 .name {
		display: block;
		font-size: 2.2rem;
		font-weight: bold;
		line-height: 2.3;
		letter-spacing: 0.5em;
	}
/**
 * ---------------------------------------------------
 * talk
 * ---------------------------------------------------
 */
.contVox {
	width: 1000px;
	margin: 0 auto 90px auto;
}
	.contVox .copy {
		font-size: 2.5rem;
		font-weight: bold;
		line-height: 2.3;
		letter-spacing: 0.35em;
		text-align: center;
		margin-bottom: 70px;
	}
	.contVox dl { margin-bottom: 90px; }
		.contVox dl dt {
			font-weight: bold;
			line-height: 1;
			-moz-text-align-last: justify;
			     text-align-last: justify;
			text-align: center;
			width: 45px;
			float: left;
			padding-top: 8px;
			padding-bottom: 3px;
			margin-bottom: 40px;
			border-bottom: 1px solid #000;
		}
		.contVox dl dd {
			line-height: 2.2;
			width: 800px;
			margin-left: 100px;
			margin-bottom: 40px;
		}
#dataList {
	width: 1000px;
	padding: 70px 130px 90px 100px;
	margin: 0 auto 70px auto;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
	#dataList .inner { margin-bottom: 75px; }
	#dataList .inner:last-of-type { margin-bottom: 0; }
		#dataList .photo {
			text-align: center;
			width: 300px;
			float: left;
		}
		#dataList .text {
			width: 370px;
			float: right;
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			        transform: translateY(-50%);
		}
			#dataList .text .position {
				display: block;
				font-size: 1.5rem;
				margin-bottom: 10px;
			}
			#dataList .text .name {
				display: block;
				font-size: 2.5rem;
				font-weight: bold;
				letter-spacing: 0.35em;
				margin-bottom: 10px;
			}
			#dataList .text .enter {
				display: block;
				font-size: 1.5rem;
				margin-bottom: 30px;
			}
/**
 * ---------------------------------------------------
 * talkListF
 * ---------------------------------------------------
 */
#talkListF {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
	#talkListF .item {
		width: 500px;
		float: left;
	}
		#talkListF .item a {
			display: block;
			color: #000;
			text-align: center;
			text-decoration: none;
			padding: 20px 0;
			background-color: #fff;
			border-left: 1px solid #000;
			-webkit-transition: 0.2s;
			    -ms-transition: 0.2s;
			        transition: 0.2s;
		}
		#talkListF .item:last-child a { border-right: 1px solid #000; }
		#talkListF .item.active a,
		#talkListF .item a:hover { background-color: #f4f4f4; }
			#talkListF .item a .talk {
				display: inline-block;
				font-size: 1.3rem;
				font-family: 'RalewaySemiBol';
				letter-spacing: 0.25em;
				line-height: 1;
				padding-bottom: 5px;
				border-bottom: 2px solid #000;
			}
			#talkListF .item a .num {
				display: block;
				font-size: 6.0rem;
				font-family: 'talldark';
				letter-spacing: 0.2em;
				line-height: 1;
				text-align: center;
				padding-left: 0.2em;
			}
			#talkListF .item a .title {
				display: block;
				font-size: 1.3rem;
				font-weight: bold;
				letter-spacing: 0.6em;
			}
/**
 ****************************************************
 * 
 * screens larger than 768
 * 
 ****************************************************
 */
@media only screen and (min-width: 768px) {
	
}	/*  @media END */
/**
 ****************************************************
 * 
 * screens smaller than 767
 * 
 ****************************************************
 */
@media only screen and (max-width: 767px) {
/**
 * ---------------------------------------------------
 * talkList
 * ---------------------------------------------------
 */
#talkList {
	width: 300px;
	margin: 0 auto 20px auto;
}
	#talkList .item {
		width: auto;
		float: none;
	}
	#talkList .item.talk01 { margin-bottom: 3px; }
		#talkList .item a {
			height: auto;
			padding-top: 20px;
			background-size: 300px auto;
		}
			#talkList .item a .talk {
				font-size: 0.8rem;
				padding-bottom: 5px;
			}
			#talkList .item a .num {
				font-size: 4.0rem;
				margin-bottom: 30px;
			}
			#talkList .item a .title {
				font-size: 1.0rem;
				letter-spacing: 0.3em;
				line-height: 2;
				height: auto;
				padding: 6px 0;
				position: static;
			}
/**
 * ---------------------------------------------------
 * header
 * ---------------------------------------------------
 */
.header { margin-bottom: 25px; }
	.header .talk { font-size: 1.0rem; }
	.header .num { font-size: 5.0rem; }
	.header .title {
		font-size: 1.0rem;
		line-height: 1.3;
		padding-left: 0.5em;
	}
/**
 * ---------------------------------------------------
 * mainPhoto
 * ---------------------------------------------------
 */
.mainPhoto {
	height: auto;
	padding-top: 48%;
	background-size: contain;
}
	.mainPhoto p {
		font-size: 1.7rem;
		line-height: 2;
		letter-spacing: 0.4em;
		position: static;
		-webkit-transform: translateY(0);
		    -ms-transform: translateY(0);
		        transform: translateY(0);
	}
/**
 * ---------------------------------------------------
 * profile
 * ---------------------------------------------------
 */
.profileWrapper {
	padding-top: 15px;
	margin-top: 0;
	margin-bottom: 50px;
}
.profile01,
.profile02 { width: 48%; }
.profile01::before,
.profile02::before {
	width: 30px;
	height: 1px;
	margin-top: 5px;
	margin-left: -15px;
}
	.profile01 .position,
	.profile02 .position {
		font-size: 0.8rem;
		letter-spacing: 0.1em;
	}
	.profile01 .name,
	.profile02 .name {
		font-size: 1.3rem;
		line-height: 2;
		letter-spacing: 0.2em;
	}
	.profile01 .enter,
	.profile02 .enter {
		font-size: 0.8rem;
		letter-spacing: 0.35em;
	}
/**
 * ---------------------------------------------------
 * talk
 * ---------------------------------------------------
 */
.contVox {
	width: auto;
	margin-bottom: 50px;
}
	.contVox .copy {
		font-size: 1.5rem;
		line-height: 1.6;
		letter-spacing: 0.1em;
		text-align: left;
		margin-bottom: 30px;
	}
	.contVox dl { margin-bottom: 50px; }
		.contVox dl dt {
			float: none;
			margin-bottom: 10px;
		}
		.contVox dl dd {
			width: auto;
			margin-left: 0;
			margin-bottom: 30px;
		}
#dataList {
	width: auto;
	padding: 30px;
	margin: 0 auto 30px auto;
}
	#dataList .inner { margin-bottom: 50px; }
	#dataList .inner:last-of-type { margin-bottom: 0; }
		#dataList .photo {
			width: auto;
			float: none;
			margin: 0 auto 20px auto;
		}
		#dataList .text {
			font-size: 1.1rem;
			width: auto;
			float: none;
			position: static;
			-webkit-transform: translateY(0);
			    -ms-transform: translateY(0);
			        transform: translateY(0);
		}
			#dataList .text p { line-height: 2.2; }
			#dataList .text .position {
				font-size: 1.0rem;
				text-align: center;
				margin-bottom: 0;
			}
			#dataList .text .name {
				font-size: 1.6rem;
				text-align: center;
				margin-bottom: 0;
			}
			#dataList .text .enter {
				font-size: 1.0rem;
				text-align: center;
				margin-bottom: 20px;
			}
/**
 * ---------------------------------------------------
 * talkListF
 * ---------------------------------------------------
 */
#talkListF {
	width: auto;
	padding: 0 15px;
}
	#talkListF .item {
		width: auto;
		float: none;
		margin-bottom: 10px;
	}
	#talkListF .item:last-of-type { margin-bottom: 0; }
		#talkListF .item a {
			padding: 10px 15px;
			border: 1px solid #000;
			position: relative;
		}
			#talkListF .item a .talk {
				position: absolute;
				top: 10px;
				left: 15px;
			}
			#talkListF .item a .num {
				font-size: 4.0rem;
				padding: 0;
				position: absolute;
				top: 30px;
				left: 22px;
			}
			#talkListF .item a .title {
				letter-spacing: 0.2em;
				padding-left: 50px;
			}

}	/*  @media END */
