@charset "utf-8";
/*
 * ================================================
 * 
 * [whats]
 * 
 * ================================================
 */
/**
 * ---------------------------------------------------
 * intro
 * ---------------------------------------------------
 */
.intro {
	text-align: center;
	padding-top: 330px;
	margin: 0 auto 180px auto;
	background: url(../../images/content/whats/PC_intro_photo.jpg) no-repeat center top;
}
	.intro p { line-height: 2.3; }
	.intro .copy {
		font-size: 2.2rem;
		font-weight: bold;
		margin-bottom: 30px;
	}
/**
 * ---------------------------------------------------
 * styleSPA
 * ---------------------------------------------------
 */
#styleSPA {
	width: 1000px;
	padding-bottom: 50px;
	margin: 100px auto 0 auto;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	overflow: hidden;
}
	#styleSPA .header {
		padding: 40px 50px;
		margin-bottom: 55px;
		border-bottom: 1px dashed #000;
		overflow: hidden;
	}
		#styleSPA .header .title {
			font-size: 2.1rem;
			font-weight: bold;
			letter-spacing: 0.3em;
			float: left;
			margin-right: 30px;
		}
		#styleSPA .header p { float: left; }
	#styleSPA .items {
		width: 333px;
		float: left;
	}
	#styleSPA .items.kawakami,
	#styleSPA .items.kawanaka { background: url(../../images/content/whats/PC_flow_arrow.png) no-repeat right center / 11px auto; }
		#styleSPA .items .title { margin: 0 auto 10px auto; }
		#styleSPA .items.kawakami .title { width: 184px; }
		#styleSPA .items.kawanaka .title { width: 198px; }
		#styleSPA .items.kawashimo .title { width: 198px; }
/**
 * ---------------------------------------------------
 * message
 * ---------------------------------------------------
 */
.contVox {
	width: 1200px;
	margin: 0 auto 120px auto;
	position: relative;
}
.contVox:last-of-type { margin-bottom: 0; }
	.contVox .photo {
		width: 760px;
		margin: 0 auto;
		position: absolute;
		top: 0;
		z-index: 1;
	}
	.contVox:nth-child(odd) .photo { right: 0; }
	.contVox:nth-child(even) .photo { left: 0; }
	.contVox .text {
		padding-top: 90px;
		margin: 0 auto;
		position: relative;
		z-index: 2;
	}
	.contVox:nth-child(odd) .text {
		width: 485px;
		margin-left: 0;
	}
	.contVox:nth-child(even) .text {
		width: 500px;
		margin-right: 0;
	}
		.contVox .text .header {
			text-align: center;
			margin: 0 auto 90px auto;
		}
			.contVox .text .header .title {
				width: 108px;
				padding-bottom: 15px;
				margin: 0 auto 15px auto;
				border-bottom: 2px solid #000;
			}
			.contVox .text .header .en {
				font-family: 'RalewayBol';
				letter-spacing: 0.25em;
			}
		.contVox .text .copy { margin-bottom: 20px; }
		.contVox .text p {
			line-height: 2.2;
			text-align: justify;
			background: #fff;
			padding: 20px 25px;
		}
		.contVox#kawanaka .text p { padding-left: 0; }
	.contVox#kawakami .image01 {
		position: absolute;
		top: -75px;
		right: -10px;
	}
	.contVox#kawanaka .image01 {
		position: absolute;
		top: -120px;
		left: 0;
	}
	.contVox#kawashimo .image01 {
		position: absolute;
		top: -85px;
		right: 0;
	}
	.contVox#kawashimo .image02 {
		position: absolute;
		top: 510px;
		left: 0;
	}

/**
 ****************************************************
 * 
 * screens larger than 768
 * 
 ****************************************************
 */
@media only screen and (min-width: 768px) {
	
}	/*  @media END */
/**
 ****************************************************
 * 
 * screens smaller than 767
 * 
 ****************************************************
 */
@media only screen and (max-width: 767px) {
/**
 * ---------------------------------------------------
 * intro
 * ---------------------------------------------------
 */
.intro {
	width: auto;
	padding: 48% 0 0 0;
	margin-bottom: 50px;
	background: url(../../images/content/whats/SP_intro_photo.jpg) no-repeat center top / contain;
}
	.intro .copy {
		font-size: 1.8rem;
		line-height: 1.8;
		text-align: center;
	}
	.intro p { text-align: justify; }
/**
 * ---------------------------------------------------
 * styleSPA
 * ---------------------------------------------------
 */
#styleSPA {
	text-align: center;
	width: auto;
	margin-top: 50px;
}
	#styleSPA .header {
		padding: 15px 0;
		margin-bottom: 40px;
	}
		#styleSPA .header .title {
			font-size: 1.5rem;
			letter-spacing: 0.1em;
			line-height: 1.6;
			float: none;
			margin-right: 0;
			margin-bottom: 5px;
		}
		#styleSPA .header p {
			font-size: 0.8rem;
			letter-spacing: 0.1em;
			text-align: center;
			float: none;
		}
	#styleSPA .items {
		width: auto;
		float: none;
		padding-bottom: 30px;
		margin-bottom: 35px;
	}
		#styleSPA .items p { text-align: center; }
	#styleSPA .items.kawakami,
	#styleSPA .items.kawanaka { background: url(../../images/content/whats/SP_flow_arrow.png) no-repeat center bottom / 18px auto; }
	#styleSPA .items.kawashimo {
		padding-bottom: 0;
		margin-bottom: 0;
	}
/**
 * ---------------------------------------------------
 * message
 * ---------------------------------------------------
 */
.contVox {
	width: auto;
	margin: 0 auto 60px auto;
}
	.contVox .photo {
		width: 70%;
		margin-bottom: 30px;
		position: relative;
	}
	.contVox:nth-child(even) .photo { margin-left: 0; }
	.contVox:nth-child(odd) .photo { margin-right: 0; }
	.contVox .text {
		width: auto !important;
		padding-top: 0;
		position: static;
	}
		.contVox .text .header {
			text-align: center;
			width: 30%;
			position: absolute;
			top: 0;
		}
		.contVox:nth-child(even) .text .header { right: 0; }
		.contVox:nth-child(odd) .text .header { left: 0; }
			.contVox .text .header .title {
				width: 54px;
				padding-bottom: 10px;
				margin: 0 auto 5px auto;
				border-bottom: 1px solid #000;
			}
			.contVox .text .header .en {
				font-size: 0.6rem;
				letter-spacing: 0.25em;
			}
		.contVox .text .copy {
			height: 47px;
			margin-bottom: 15px;
		}
			.contVox .text .copy img { height: 100%; }
		.contVox .text p {
			line-height: 1.6;
			text-align: justify;
			padding: 0;
		}
	.contVox#kawakami .image01 {
		width: 62px;
		top: 70px;
		right: 15px;
	}
	.contVox#kawanaka .image01 {
		width: 68px;
		top: 70px;
		left: 15px;
	}
	.contVox#kawashimo .image01 {
		width: 33px;
		top: 80px;
		right: 15px;
	}
	.contVox#kawashimo .image02 { display: none; }

}	/*  @media END */
