.icon-wrapper {
  position: relative;
  width: 100%; }

.icon-arrow {
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  bottom: 0;
  right: 23px;
  border: solid red;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  -ms-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%); }
  .icon-arrow.down {
    -webkit-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%); }
