.recruit-main-page {
   display: flex;
   justify-content: center;
   width: 100%;
   margin: 0;

  .recruit-main-wrapper {
    width: 100%;
    position: relative;
    z-index: 1;

    &.max-width-800 {
      max-width: 800px;
    }
  }
}
