.breadcrumbs {
  padding: 29px 0 0;
  box-sizing: border-box;
  margin-bottom: 127px;
  overflow-x: auto;

  @media screen and (max-width: 768px) {
    padding: 15px 0;
    margin-bottom: 84px;
  }

}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0 0 0 2px;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
}

.breadcrumbs-item {
  text-align: left;
  position: relative;
  margin-right: 16px;
  margin-left: 0;
  padding-left: 0;
  opacity: 0.8;
  font-family: $hiraginokaku;
  font-size: 14px;
  line-height: 1.2;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }

  &:last-of-type {
    .breadcrumbs-arrow {
      display: none;
    }

    .breadcrumbs-link {
      pointer-events: none;
    }
  }
}

.breadcrumbs-arrow {
  position: absolute;
  top: 5px;
  right: -10px;
  left: auto;
  width: 7px;
  height: 7px;
  border-width: 1px 1px 0 0;
  border-color: #000;
  border-style: solid;
  box-sizing: border-box;
  display: block;
  transform: rotate(45deg);
}


.breadcrumbs-link {
}