.common-content-title-wrapper {
  text-align: center;
}

.common-content-base-title {
  margin: 27px 0 61px 0;
  padding: 0;
  font-size: 22px;
  font-family: $hiraginokaku;
  font-weight: bold;
  letter-spacing: 0.27em;
  border-bottom: 1px solid #000;
  display: inline-block;
  padding-bottom: 6px;
  box-sizing: border-box;

  &.base-title-margin-top {
    margin-top: 6.5em;
  }

  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin-bottom: 36px;
  }
}

.common-content-title-office {
  margin-bottom: 58px;

  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
  }
}

.common-content-title-shop {
  margin-bottom: 66px;

  @media screen and (max-width: 768px) {
    margin-bottom: 36px;
  }
}


.content-title-new-grad {
  margin: 0 0 42px;
}