.icon-wrapper {
  position: relative;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  height: 40px;
  margin-bottom: 11px;
}

.icon-arrow {
   display: block;
   width: 10px;
   height: 10px;
   position: absolute;
   overflow: hidden;
   top: 50%;
   bottom: 0;
   left: calc(49% - 5px);
   border: solid #000;
   border-width: 0 2px 2px 0;
   transform: rotate(-45deg) translateY(-50%);

   &.down {
     transform: rotate(45deg) translateY(-50%);
   }

   &.up {
     transform: rotate(-135deg) translateY(-50%);
   }

   &.left {
     transform: rotate(135deg) translateY(-50%);
   }

   &.right {
     transform: rotate(-50deg) translateY(50%);
   }
 }
