.default-list-style {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    text-align: left;
  }

  &.margin-left-15 {
    margin-left: -15px;
  }
}

.default-list-item {
  position: relative;
  font-size: 16px;

  &::before {
    content: '';
    border: 1px solid #808080;
    border-radius: 50%;
    position: absolute;
    background: #808080;
    width: 4px;
    height: 4px;
    left: -12px;
    top: 12px;
  }
}
