.checkbox-wrapper {

  @media screen and (max-width: 600px) {
    margin-bottom: 14px;
  }

  &:nth-of-type(1) {
    margin-right: 59px;

    @media screen and (max-width: 768px) {
      margin-right: 25px;
    }

    @media screen and (max-width: 600px) {
      margin-right: 0;
    }
  }
  
  &:nth-of-type(2) {
    margin-right: 106px;

    @media screen and (max-width: 768px) {
      margin-right: 25px;
    }

    @media screen and (max-width: 600px) {
      margin-right: 0;
    }
  }
}

.checkbox-label {
  position: relative;
  padding-left: 21px;
  cursor: pointer; 
  font-size: 16px;
  width: 100%;
  color: #000;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  @media screen and (max-width: 375px) {
    max-width: 375px;
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}

.checkbox-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 19px;
  width: 19px;
  border-radius: 4px;
  border: 1px solid #000;

  .checkbox-label input:checked ~ & {
    border: 1px solid #000;
  }

  &:after {
    content: '';
    position: absolute;
    display: none;

    .checkbox-label input:checked ~ & {
      display: block;
    }

    .checkbox-label & {
      left: 6px;
      top: 0px;
      width: 5px;
      height: 11px;
      border: solid #000;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }

  }
}

.checkbox-text-wrapper {
  vertical-align: -5px;
  color: #000;
  padding-left: 10px;
}

