.form-columns {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 58px;

  .form-column {
    width: calc(50% - 20px);
  }
}


.custom-form {
  button {
    border: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    outline: none;
    background: transparent;
    box-shadow: none;
    text-shadow: none;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    -webkit-appearance: none;

    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    &.default {
      background: #181818;
      color: #fff;
      max-width: 200px;
      width: 100%;
      font-size: 14px;
      padding: 10px;
      font-family: $base-font-family;
      border-radius: 0;
      margin-top: 41px;
    }
  }
}
