.form-select {
  position: relative;

  select {
    display: none;
  }

  .select-text {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
    height: 50px;
    padding: 3px 15px 0;

    &::before {
      border-color: #000 transparent transparent transparent;
      right: 21px;
    }
  }

  .select-list {
    top: 50px;
  }
}


