#comments .comment-list .comment .comment-meta:after, #comments .comment-list .pingback .comment-meta:after, #comments .comment-list .trackback .comment-meta:after, #container:after, #contents:after, #footer:after, #header:after, #main:after, #sub:after, .clearfix:after, .entries .hentry .entry-summary:after, .entry-content:after, .faq-list dl:after, .footer-nav ul:after, .full-back:after, .global-nav ul:after, .hentry:after, .page-content:after, .pager p:after, .post-navigation .nav-links:after, .row .col-10:after, .row .col-11:after, .row .col-12:after, .row .col-1:after, .row .col-2:after, .row .col-3:after, .row .col-4:after, .row .col-5:after, .row .col-6:after, .row .col-7:after, .row .col-8:after, .row .col-9:after, .row:after, .social-nav ul:after {
  display: block;
  clear: both;
  content: ''
}

.row {
  margin-left: auto;
  margin-right: auto
}

.row .row {
  margin-left: -15px;
  margin-right: -15px
}

.row .col-12 {
  float: left;
  float: none;
  margin-left: auto;
  margin-right: auto;
  //width: 1170px
  //width:980px;
  width:960px
}

.row .col-12>h1, .row .col-12>h2, .row .col-12>h3, .row .col-12>h4, .row .col-12>h5, .row .col-12>h6 {
  margin-top: 20px
}

.row .col-1 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: 70px
}

.row .col-1>h1, .row .col-1>h2, .row .col-1>h3, .row .col-1>h4, .row .col-1>h5, .row .col-1>h6 {
  margin-top: 20px
}

.row .offset-1 {
  padding-left: 100px
}

.row .col-2 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: 170px
}

.row .col-2>h1, .row .col-2>h2, .row .col-2>h3, .row .col-2>h4, .row .col-2>h5, .row .col-2>h6 {
  margin-top: 20px
}

.row .offset-2 {
  padding-left: 200px
}

.row .col-3 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: 270px
}

.row .col-3>h1, .row .col-3>h2, .row .col-3>h3, .row .col-3>h4, .row .col-3>h5, .row .col-3>h6 {
  margin-top: 20px
}

.row .offset-3 {
  padding-left: 300px
}

.row .col-4 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: 370px
}

.row .col-4>h1, .row .col-4>h2, .row .col-4>h3, .row .col-4>h4, .row .col-4>h5, .row .col-4>h6 {
  margin-top: 20px
}

.row .offset-4 {
  padding-left: 400px
}

.row .col-5 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: 470px
}

.row .col-5>h1, .row .col-5>h2, .row .col-5>h3, .row .col-5>h4, .row .col-5>h5, .row .col-5>h6 {
  margin-top: 20px
}

.row .offset-5 {
  padding-left: 500px
}

.row .col-6 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: 570px
}

.row .col-6>h1, .row .col-6>h2, .row .col-6>h3, .row .col-6>h4, .row .col-6>h5, .row .col-6>h6 {
  margin-top: 20px
}

.row .offset-6 {
  padding-left: 600px
}

.row .col-7 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: 670px
}

.row .col-7>h1, .row .col-7>h2, .row .col-7>h3, .row .col-7>h4, .row .col-7>h5, .row .col-7>h6 {
  margin-top: 20px
}

.row .offset-7 {
  padding-left: 700px
}

.row .col-8 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: 770px
}

.row .col-8>h1, .row .col-8>h2, .row .col-8>h3, .row .col-8>h4, .row .col-8>h5, .row .col-8>h6 {
  margin-top: 20px
}

.row .offset-8 {
  padding-left: 800px
}

.row .col-9 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  /*width: 870px*/
  width:660px
}

.row .col-9>h1, .row .col-9>h2, .row .col-9>h3, .row .col-9>h4, .row .col-9>h5, .row .col-9>h6 {
  margin-top: 20px
}

.row .offset-9 {
/*padding-left: 900px*/

padding-left: 930px
}

.row .col-10 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: 970px
}

.row .col-10>h1, .row .col-10>h2, .row .col-10>h3, .row .col-10>h4, .row .col-10>h5, .row .col-10>h6 {
  margin-top: 20px
}

.row .offset-10 {
  padding-left: 1000px
}

.row .col-11 {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  //width: 1070px
  //width: 980px
  width:960px
}

.row .col-11>h1, .row .col-11>h2, .row .col-11>h3, .row .col-11>h4, .row .col-11>h5, .row .col-11>h6 {
  margin-top: 20px
}

.row .offset-11 {
  padding-left:950px
}

@font-face {
  font-family: Genericons;
  src: url(../fonts/genericons/genericons.eot);
  src: url(../fonts/genericons/genericons.eot?#iefix) format("embedded-opentype"), url(../fonts/genericons/genericons.woff) format("woff"), url(../fonts/genericons/genericons.ttf) format("truetype"), url(../fonts/genericons/genericons.svg#genericonsregular) format("svg");
  font-weight: 400;
  font-style: normal
}

.dl-top-image dl, .footer-nav ul, .global-nav ul, .noFormatList, .social-nav ul, .whiteroom-recent-entries ul, .whiteroom-recent-entries ul li dl dd {
  list-style: none;
  margin: 0;
  padding: 0
}

.dl-top-image dl dd, .dl-top-image dl dt, .dl-top-image dl li, .footer-nav ul dd, .footer-nav ul dt, .footer-nav ul li, .global-nav ul dd, .global-nav ul dt, .global-nav ul li, .noFormatList dd, .noFormatList dt, .noFormatList li, .social-nav ul dd, .social-nav ul dt, .social-nav ul li, .whiteroom-recent-entries ul dd, .whiteroom-recent-entries ul dt, .whiteroom-recent-entries ul li, .whiteroom-recent-entries ul li dl dd dd, .whiteroom-recent-entries ul li dl dd dt, .whiteroom-recent-entries ul li dl dd li {
  margin: 0;
  padding: 0
}

.gothic {
  font-family: Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif
}

.mincho {
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'ＭＳ Ｐ明朝', 'MS PMincho', serif
}

h1 {
  font-size: 185.71429%
}

h2 {
  font-size: 157.14286%
}

h3 {
  font-size: 142.85714%
}

h4 {
  font-size: 128.57143%
}

h5 {
  font-size: 114.28571%
}

h6 {
  font-size: 100%
}

img {
  max-width: 100%;
  height: auto;
  width: auto
}

a {
  color: #000
}

a:link, a:visited {
  text-decoration: none
}

a:active, a:hover {
  text-decoration: underline
}

#sub ol ol, #sub ol ul, #sub ul ol, #sub ul ul, .comment ol ol, .comment ol ul, .comment ul ol, .comment ul ul, .entry-content ol ol, .entry-content ol ul, .entry-content ul ol, .entry-content ul ul, .page-content ol ol, .page-content ol ul, .page-content ul ol, .page-content ul ul {
  margin-top: 0
}

body {
  background: #fff;
  font-size: 14px
}

#container {
  overflow: hidden
}

#header {
  position: fixed;
  height:90px;
  //min-height:60px;
  //overflow:auto;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  z-index: 10
}

#header .col-12 {
  position: relative
}

#contents {
 padding: 90px 0 0

}

#main {
  margin-top: 0
}

#sub {
  margin-top: 0;
  margin-bottom: 20px
}

#footer {
  margin: 40px auto 0;
  background-color: #2D2D2D;
  color: #fff
}

.site-branding {
  //float: left;

text-align: center;
  margin: 0
}
}

.site-branding h1 {
  font-size: 100%;
  margin: 0
}

.site-branding h1 img {
  vertical-align: top
}

h1.site-title{
margin:0
}

.global-nav {
  //float: right
}

.global-nav ul li {
  //float: left
display:inline-block
}

.global-nav ul li a {
  font-size: 85.71429%;
  //display: block;
  padding: 20px 20px 16px;
  color: #2c2c2c;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: border-color .1s ease-in, background-color .1s ease-in
}

.global-nav ul li a:active, .global-nav ul li a:hover, .global-nav ul li.current-menu-item>a, .global-nav ul li.current_page_ancestor>a, .global-nav ul li.current_page_item>a, .global-nav ul li.current_page_parent>a, .global-nav ul li:hover>a {
  border-bottom-color: #000
}

.global-nav ul li ul {
  display: none
}

.global-nav ul li ul li {
  background: #fff
}

.global-nav ul li ul li a {
  border: 1px solid #ddd;
  border-top: none
}

.global-nav ul li ul li ul {
  margin-top: -1px
}

.entries .hentry:first-child {
  margin-top: 0
}

.entries .hentry {
  padding-bottom: 30px
}

.entries .hentry .entry-header {
  margin-top: 0;
  margin-bottom: 10px
}

/*
.entries .hentry .entry-thumbnail {
  float: right;
  margin: 0 0 0 20px;
  max-width: 33%
}*/

.entries .hentry .entry-thumbnail {
    float: left;
    margin: 0 20px 0 0px;
    max-width: 33%;
}

.entries .hentry .entry-thumbnail img {
  vertical-align: top
}

.entries .hentry .entry-summary a {
  color: #000;
  text-decoration: none
}

.entries .hentry .entry-summary a:active, .entries .hentry .entry-summary a:hover {
  color: #999
}

.entries .hentry .entry-summary a>:first-child {
  margin-top: 0
}

.hentry {
  margin: 30px 0 0
}

.entry-header, .page-header {
  position: relative;
  overflow: auto;
  margin: 30px 0
}

.entry-title, .page-title {
  line-height: 1.4;
  margin: 0;
  overflow: hidden
}

.entry-title a, .page-title a {
  color: #000
}

.entry-meta {
  font-size: 85.71429%;
  border-top: 1px solid #ddd;
  color: #999;
  margin: 20px 0 0;
  padding: 5px 0 0
}

.entry-meta span a {
  color: #555;
  text-decoration: underline
}

.entry-meta .entry-categories, .entry-meta .entry-tags {
  margin: 0 0 0 10px
}

.entry-content>:first-child, .page-content>:first-child {
  margin-top: 0
}

.entry-content table, .page-content table {
 // border-top: #ddd solid 1px;
 // border-right: #ddd solid 1px;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  width: 100%
}
/*
.entry-content table caption, .page-content table caption {
  border: 1px solid #ddd;
  border-bottom: none;
  background-color: #eee;
  font-weight: 700;
  padding: 5px;
  text-align: left
}

.entry-content table thead th, .page-content table thead th {
 background-color: #eee
}

.entry-content table td, .entry-content table th, .page-content table td, .page-content table th {
  border-bottom: #ddd solid 1px;
  border-left: #ddd solid 1px;
  padding: 8px 16px;
  vertical-align: top
}

.entry-content table th, .page-content table th {
  background-color: #f5f5f5;
  font-weight: 700
}

*/

/******************************テーブル*******************************/
table {
   border-collapse: collapse;
border:none
}
.entry-content table td, .entry-content table th, .page-content table td, .page-content table th{
   border-width: 1px 0px; /* 上下だけ引く */
   border-color: #ccc;   /* 線色：緑 */
   border-style: solid;   /* 線種：実線 */
   padding: 0.3em;        /* セル内側の余白 */
   padding-left:20px
}

.entry-content table td, .page-content table td {
  background-color: #fff
}

.page-content {
  margin-bottom: 20px
}

#comments {
  margin: 40px 0 30px;
  padding: 1px 0 0;
  border-top: #ddd solid 1px
}

#comments .comment-list, #comments .comment-list .children {
  list-style: none;
  margin: 0;
  padding: 0
}

#comments .comments-title {
  margin: 20px 0 0;
  font-size: 16px
}

#comments .comment-list .comment, #comments .comment-list .pingback, #comments .comment-list .trackback {
  position: relative;
  margin: 20px 0 0;
  padding: 20px 20px 0;
  border: 1px solid #ddd
}

#comments .comment-list .comment .comment-meta, #comments .comment-list .pingback .comment-meta, #comments .comment-list .trackback .comment-meta {
  margin: 10px 0 0;
  padding: 0 0 10px;
  border-bottom: 1px solid #ddd
}

#comments .comment-list .comment .comment-body, #comments .comment-list .pingback .comment-body, #comments .comment-list .trackback .comment-body {
  padding-bottom: 20px
}

#comments .comment-list .children {
  margin-right: -21px;
  margin-top: -20px
}

#comments .comment-list .children .comment {
  margin-bottom: -1px;
  padding-bottom: 0
}

#comments .comment-author, #comments .comment-metadata {
  float: left;
  margin: 0 10px 0 0
}

#comments .comment-author img {
  vertical-align: middle
}

#comments .comment-metadata {
  padding-top: 4px
}

#comments .reply {
  position: absolute;
  top: 24px;
  right: 20px
}

#comments #respond label {
  display: block
}

#comments .required {
  color: #c30
}

#comments .comment-reply-title {
  font-size: 16px
}

#comments .no-comments {
  display: none
}

#comments #comment {
  width: 100%
}

#sub .widget-container:first-child {
  margin-top: 0
}

#footer a {
  color: #fff
}

.footer-nav {
  font-size: 85.71429%;
  padding: 30px 0 0
}

.footer-nav ul li {
  float: left;
  margin: 0 20px 0 0
}

.social-nav {
  margin-top: 20px
}

.social-nav ul {
  height: 16px
}

.social-nav ul li {
  float: left;
  margin-right: 10px
}

.social-nav ul li a {
  display: block;
  height: 16px;
  width: 16px;
  overflow: hidden
}

.social-nav ul li a:before {
  content: '\f408';
  display: inline-block;
  font-family: Genericons;
  font-size: 16px;
  line-height: 16px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased
}

.social-nav ul li a[href*="wordpress.org"]:before, .social-nav ul li a[href*="wordpress.com"]:before {
  content: '\f205'
}

.social-nav ul li a[href*="facebook.com"]:before {
  content: '\f203'
}

.social-nav ul li a[href*="twitter.com"]:before {
  content: '\f202'
}

.social-nav ul li a[href*="dribbble.com"]:before {
  content: '\f201'
}

.social-nav ul li a[href*="plus.google.com"]:before {
  content: '\f206'
}

.social-nav ul li a[href*="pinterest.com"]:before {
  content: '\f210'
}

.social-nav ul li a[href*="github.com"]:before {
  content: '\f200'
}

.social-nav ul li a[href*="tumblr.com"]:before {
  content: '\f214'
}

.social-nav ul li a[href*="youtube.com"]:before {
  content: '\f213'
}

.social-nav ul li a[href*="flickr.com"]:before {
  content: '\f211'
}

.social-nav ul li a[href*="vimeo.com"]:before {
  content: '\f212'
}

.social-nav ul li a[href*="instagram.com"]:before {
  content: '\f215'
}

.social-nav ul li a[href*="codepen.io"]:before {
  content: '\f216'
}

.social-nav ul li a[href*="linkedin.com"]:before {
  content: '\f208'
}

.social-nav+.footer-widget-area {
  margin-top: -10px
}

.footer-widget-area {
  margin-bottom: 40px
}

#footer .widget {
  font-size: 85.71429%
}

.copyright {
  background-color: #202020;
  color: #999;
  font-size: 11px;
  padding: 10px 0;
  margin: 30px 0 0
}

.copyright p {
  margin: 0 auto
}

.attachment .entry-content {
  text-align: center
}

.attachment .entry-content .attachment {
  text-align: left;
  display: inline-block
}

.home .front-page-widget-column .widget {
  margin-top: 0
}

.home .full-back+.entry-content {
  margin-top: 40px
}

.page-template-templatetemplate-voice-php .type-voice .entry-thumbnail {
  float: left;
  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 240px;
  max-width: 100%
}

.page-template-templatetemplate-voice-php .type-voice .voice-customer {
  margin-top: 10px
}

.faq-list {
  border-top: #ccc solid 1px;
  margin-bottom: 20px
}

.faq-list dl {
  border-bottom: #ccc solid 1px;
  margin: 0;
  padding: 24px 0 20px
}

.faq-list dl dd, .faq-list dl dt {
  margin: 0;
  padding: 6px 0 10px 90px;
  position: relative
}

.faq-list dl dd .answer, .faq-list dl dd .question, .faq-list dl dt .answer, .faq-list dl dt .question {
  background-color: #000;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 13px;
  line-height: 1.4;
  padding: 4px 15px 2px;
  position: absolute;
  top: 6px;
  left: 0
}

.faq-list dl dd .answer+*, .faq-list dl dt .answer+* {
  margin-top: 0
}

.faq-list dl dt {
  font-size: 128.57143%;
  line-height: 1.4
}

.faq-list dl dd {
  padding-top: 10px
}

.single-post #main .entry-content {
  margin-top: 30px
}

.full-back {
  margin: 0 -1000px;
  padding: 40px 1000px 60px
}

.full-back>h1:first-child, .full-back>h2:first-child, .full-back>h3:first-child, .full-back>h4:first-child, .full-back>h5:first-child, .full-back>h6:first-child {
  margin-top: 20px
}

.full-back h1 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 400
}

.fadeTopBtn a {
  background: #000 url(../images/common/top.png) no-repeat 10px 14px;
  border-radius: 100%;
  height: 29px;
  width: 29px;
  padding: 10px;
  text-indent: -9999px;
  overflow: hidden
}

.whiteroom-bread-crumb {
  color: #999;
  font-size: 11px;
  /*margin: 5px 0*/
  margin:5px auto;
  //max-width:980px
  width:960px
}

.whiteroom-bread-crumb a:active, .whiteroom-bread-crumb a:hover, .whiteroom-bread-crumb a:link, .whiteroom-bread-crumb a:visited {
  color: #666
}

.read-more {
  margin-left: 3px;
  display: inline-block;
  height: 7px;
  width: 4px;
  background: url(../images/common/pin.png) no-repeat 0 50%;
  text-indent: -9999px;
  overflow: hidden
}

.sticky {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd
}

.main-visual img {
  width: 100%;
  height: auto;
  vertical-align: top
}

.widget, .widget-container {
  margin: 20px 0 0
}

.widget-container>dl, .widget>dl {
  margin: 0
}

.widget .widget-content, .widget-container .widget-content {
  margin: 0;
  font-size: 12px
}

.widget .widget-content>:first-child, .widget-container .widget-content>:first-child {
  margin-top: 0
}

.widget .widget-title, .widget-container .widget-title {
  margin: 0 0 5px;
  font-weight: 700
}

.widget ul, .widget-container ul {
  list-style: none
}

.widget ul li, .widget-container ul li {
  margin: 0 0 0 2px;
  padding: 0 0 0 15px;
  background: url(../images/common/arrow.png) no-repeat 0 .6em
}

.widget .textwidget>:first-child, .widget-container .textwidget>:first-child {
  margin-top: 0
}

.post-navigation {
  margin: 40px 0 0;
  padding: 10px 0 0;
  border-top: #ddd solid 1px
}

.post-navigation h1 {
  display: none
}

.post-navigation .nav-links .nav-previous {
  float: left;
  margin: 0 20px 0 0
}

.post-navigation .nav-links .nav-next {
  float: right
}

.whiteroom-video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0
}

.whiteroom-video-container embed, .whiteroom-video-container iframe, .whiteroom-video-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.pager {
  font-size: 85.71429%;
  margin: 20px 0
}

.pager p {
  display: block;
  margin: 0;
  padding: 0
}

.pager p a, .pager p span {
  color: #111;
  background-color: #fff;
  margin: 0 2px 0 0;
  padding: 2px 0 1px;
  border: 1px solid #ddd;
  float: left;
  width: 23px;
  text-align: center;
  text-decoration: none;
  overflow: hidden
}

.pager p a:hover, .pager p span.current {
  color: #fff;
  background-color: #ccc
}

.hidden {
  display: none
}

.whiteroom-recent-entries ul li {
  margin: 0;
  padding: 0;
  background-image: none
}

.whiteroom-recent-entries ul li dl {
  margin: 0;
  overflow: auto
}

.whiteroom-recent-entries ul li dl dt {
  float: left;
  width: 9.5em
}

.whiteroom-recent-entries ul li dl dd {
  margin: 0;
  overflow: hidden
}

.whiteroom-recent-entries ul li dl dd a {
  color: #000;
  text-decoration: none
}

.whiteroom-recent-entries ul li dl dd a:active, .whiteroom-recent-entries ul li dl dd a:hover {
  color: #999
}

.widget_whiteroom_eyecatch_entry_widget {
  margin-top: 20px
}

.whiteroom-eyecatch-entry dl .thumbnail {
  margin: 0 0 15px
}

.whiteroom-eyecatch-entry dl .thumbnail img {
  vertical-align: top
}

.whiteroom-eyecatch-entry dl .entry-title {
  font-size: 114.28571%;
  margin-bottom: 5px
}

.whiteroom-eyecatch-entry dl dd {
  font-size: 92.85714%;
  margin: 0
}

.whiteroom-eyecatch-entry dl dd a {
  color: #000;
  text-decoration: none
}

.whiteroom-eyecatch-entry dl dd a:active, .whiteroom-eyecatch-entry dl dd a:hover {
  color: #999
}

.whiteroom-eyecatch-entry dl dd a>:first-child {
  margin-top: 0
}

.dl-top-image dl {
  margin-top: 20px
}

.dl-top-image .thumbnail {
  margin: 0 0 20px
}

.dl-top-image .title {
  font-size: 107.14286%;
  border-bottom: #000 solid 1px;
  margin: 0 0 15px;
  padding: 0 0 3px
}

.dl-top-image dd a {
  color: #000;
  text-decoration: none
}

.dl-top-image dd a:active, .dl-top-image dd a:hover {
  color: #999
}

.dl-top-image .noborder .thumbnail {
  margin-bottom: 0
}

.dl-top-image .noborder .title {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0
}

#responsive-btn{
display:none !important
}

.responsive-nav{
margin:auto;
display:block !important
}


@media screen and (min-width:741px) {
  .row .col-1.remove-col-margin-top, .row .col-10.remove-col-margin-top, .row .col-11.remove-col-margin-top, .row .col-2.remove-col-margin-top, .row .col-3.remove-col-margin-top, .row .col-4.remove-col-margin-top, .row .col-5.remove-col-margin-top, .row .col-6.remove-col-margin-top, .row .col-7.remove-col-margin-top, .row .col-8.remove-col-margin-top, .row .col-9.remove-col-margin-top {
    margin-top: 0
  }
}

@media screen and (max-width:1240px) {
  .row .col-12 {
    width: 930px
  }
  .row .col-1 {
    margin-left: 15px;
    margin-right: 15px;
    width: 50px
  }
  .row .offset-1 {
    padding-left: 80px
  }
  .row .col-2 {
    margin-left: 15px;
    margin-right: 15px;
    width: 130px
  }
  .row .offset-2 {
    padding-left: 160px
  }
  .row .col-3 {
    margin-left: 15px;
    margin-right: 15px;
    width: 210px
  }
  .row .offset-3 {
    padding-left: 240px
  }
  .row .col-4 {
    margin-left: 15px;
    margin-right: 15px;
    width: 290px
  }
  .row .offset-4 {
    padding-left: 320px
  }
  .row .col-5 {
    margin-left: 15px;
    margin-right: 15px;
    width: 370px
  }
  .row .offset-5 {
    padding-left: 400px
  }
  .row .col-6 {
    margin-left: 15px;
    margin-right: 15px;
    width: 450px
  }
  .row .offset-6 {
    padding-left: 480px
  }
  .row .col-7 {
    margin-left: 15px;
    margin-right: 15px;
    width: 530px
  }
  .row .offset-7 {
    padding-left: 560px
  }
  .row .col-8 {
    margin-left: 15px;
    margin-right: 15px;
    width: 610px
  }
  .row .offset-8 {
    padding-left: 640px
  }
  .row .col-9 {
    margin-left: 15px;
    margin-right: 15px;
    width: 690px
  }
  .row .offset-9 {
    padding-left: 720px
  }
  .row .col-10 {
    margin-left: 15px;
    margin-right: 15px;
    width: 770px
  }
  .row .offset-10 {
    padding-left: 800px
  }
  .row .col-11 {
    margin-left: 15px;
    margin-right: 15px;
    width: 850px
  }
  .row .offset-11 {
    padding-left: 880px
  }
}

//@media screen and (max-width:980px) {
@media screen and (max-width:960px) {
#header {
  height: 60px
}
#contents {
 padding: 60px 0 0

}
.global-nav ul li a {
display: block
}

.global-nav {
float: right
//float: none !important
}

.responsive-nav{
display: none !important
}

#responsive-btn {
display:block !important;
  background-image: none;
  line-height: 1;
  position: absolute;
  right: 20px;
  text-indent: 0;
  height: 20px;
  width: 20px
}

#responsive-btn:before {
  color: #2c2c2c;
  content: '\f419';
  font-family: Genericons;
  font-size: 20px
}


  .row .row {
    margin-left: -10px;
    margin-right: -10px
  }
  .row .col-12 {
    width: 700px
  }
  .row .col-1 {
    margin-left: 10px;
    margin-right: 10px;
    width: 40px
  }
  .row .offset-1 {
    padding-left: 60px
  }
  .row .col-2 {
    margin-left: 10px;
    margin-right: 10px;
    width: 100px
  }
  .row .offset-2 {
    padding-left: 120px
  }
  .row .col-3 {
    margin-left: 10px;
    margin-right: 10px;
    width: 160px
  }
  .row .offset-3 {
    padding-left: 180px
  }
  .row .col-4 {
    margin-left: 10px;
    margin-right: 10px;
    width: 220px
  }
  .row .offset-4 {
    padding-left: 240px
  }
  .row .col-5 {
    margin-left: 10px;
    margin-right: 10px;
    width: 280px
  }
  .row .offset-5 {
    padding-left: 300px
  }
  .row .col-6 {
    margin-left: 10px;
    margin-right: 10px;
    width: 340px
  }
  .row .offset-6 {
    padding-left: 360px
  }
  .row .col-7 {
    margin-left: 10px;
    margin-right: 10px;
    width: 400px
  }
  .row .offset-7 {
    padding-left: 420px
  }
  .row .col-8 {
    margin-left: 10px;
    margin-right: 10px;
    width: 460px
  }
  .row .offset-8 {
    padding-left: 480px
  }
  .row .col-9 {
    margin-left: 10px;
    margin-right: 10px;
    width: 520px
  }
  .row .offset-9 {
    padding-left: 540px
  }
  .row .col-10 {
    margin-left: 10px;
    margin-right: 10px;
    width: 580px
  }
  .row .offset-10 {
    padding-left: 600px
  }
  .row .col-11 {
    margin-left: 10px;
    margin-right: 10px;
    width: 640px
  }
  .row .offset-11 {
    padding-left: 660px
  }
  #header {
    position: static
  }
  #contents {
    padding-top: 0
  }
}

@media screen and (max-width:740px) {


  .row .row {
    margin-left: -20px;
    margin-right: -20px
  }
  .row .col-12 {
    padding-left: 20px;
    padding-right: 20px;
    width: auto
  }
  .row .col-1 {
    margin-left: 20px;
    margin-right: 20px;
    float: none;
    width: auto
  }
  .row .offset-1 {
    padding-left: 0
  }
  .row .col-2 {
    margin-left: 20px;
    margin-right: 20px;
    float: none;
    width: auto
  }
  .row .offset-2 {
    padding-left: 0
  }
  .row .col-3 {
    margin-left: 20px;
    margin-right: 20px;
    float: none;
    width: auto
  }
  .row .offset-3 {
    padding-left: 0
  }
  .row .col-4 {
    margin-left: 20px;
    margin-right: 20px;
    float: none;
    width: auto
  }
  .row .offset-4 {
    padding-left: 0
  }
  .row .col-5 {
    margin-left: 20px;
    margin-right: 20px;
    float: none;
    width: auto
  }
  .row .offset-5 {
    padding-left: 0
  }
  .row .col-6 {
    margin-left: 20px;
    margin-right: 20px;
    float: none;
    width: auto
  }
  .row .offset-6 {
    padding-left: 0
  }
  .row .col-7 {
    margin-left: 20px;
    margin-right: 20px;
    float: none;
    width: auto
  }
  .row .offset-7 {
    padding-left: 0
  }
  .row .col-8 {
    margin-left: 20px;
    margin-right: 20px;
    float: none;
    width: auto
  }
  .row .offset-8 {
    padding-left: 0
  }
  .row .col-9 {
    margin-left: 20px;
    margin-right: 20px;
    float: none;
    width: auto
  }
  .row .offset-9 {
    padding-left: 0
  }
  .row .col-10 {
    margin-left: 20px;
    margin-right: 20px;
    float: none;
    width: auto
  }
  .row .offset-10 {
    padding-left: 0
  }
  .row .col-11 {
    margin-left: 20px;
    margin-right: 20px;
    float: none;
    width: auto
  }
  .row .offset-11 {
    padding-left: 0
  }
  .row .col-xs-1 {
    float: left;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 8.3%
  }
  .row .col-xs-1>h1, .row .col-xs-1>h2, .row .col-xs-1>h3, .row .col-xs-1>h4, .row .col-xs-1>h5, .row .col-xs-1>h6 {
    margin-top: 20px
  }
  .row .col-xs-1.remove-col-margin-top {
    margin-top: 0
  }
  .row .col-xs-2 {
    float: left;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 16.6%
  }
  .row .col-xs-2>h1, .row .col-xs-2>h2, .row .col-xs-2>h3, .row .col-xs-2>h4, .row .col-xs-2>h5, .row .col-xs-2>h6 {
    margin-top: 20px
  }
  .row .col-xs-2.remove-col-margin-top {
    margin-top: 0
  }
  .row .col-xs-3 {
    float: left;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 24.9%
  }
  .row .col-xs-3>h1, .row .col-xs-3>h2, .row .col-xs-3>h3, .row .col-xs-3>h4, .row .col-xs-3>h5, .row .col-xs-3>h6 {
    margin-top: 20px
  }
  .row .col-xs-3.remove-col-margin-top {
    margin-top: 0
  }
  .row .col-xs-4 {
    float: left;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 33.2%
  }
  .row .col-xs-4>h1, .row .col-xs-4>h2, .row .col-xs-4>h3, .row .col-xs-4>h4, .row .col-xs-4>h5, .row .col-xs-4>h6 {
    margin-top: 20px
  }
  .row .col-xs-4.remove-col-margin-top {
    margin-top: 0
  }
  .row .col-xs-5 {
    float: left;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 41.5%
  }
  .row .col-xs-5>h1, .row .col-xs-5>h2, .row .col-xs-5>h3, .row .col-xs-5>h4, .row .col-xs-5>h5, .row .col-xs-5>h6 {
    margin-top: 20px
  }
  .row .col-xs-5.remove-col-margin-top {
    margin-top: 0
  }
  .row .col-xs-6 {
    float: left;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 49.8%
  }
  .row .col-xs-6>h1, .row .col-xs-6>h2, .row .col-xs-6>h3, .row .col-xs-6>h4, .row .col-xs-6>h5, .row .col-xs-6>h6 {
    margin-top: 20px
  }
  .row .col-xs-6.remove-col-margin-top {
    margin-top: 0
  }
  .row .col-xs-7 {
    float: left;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 58.1%
  }
  .row .col-xs-7>h1, .row .col-xs-7>h2, .row .col-xs-7>h3, .row .col-xs-7>h4, .row .col-xs-7>h5, .row .col-xs-7>h6 {
    margin-top: 20px
  }
  .row .col-xs-7.remove-col-margin-top {
    margin-top: 0
  }
  .row .col-xs-8 {
    float: left;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 66.4%
  }
  .row .col-xs-8>h1, .row .col-xs-8>h2, .row .col-xs-8>h3, .row .col-xs-8>h4, .row .col-xs-8>h5, .row .col-xs-8>h6 {
    margin-top: 20px
  }
  .row .col-xs-8.remove-col-margin-top {
    margin-top: 0
  }
  .row .col-xs-9 {
    float: left;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 74.7%
  }
  .row .col-xs-9>h1, .row .col-xs-9>h2, .row .col-xs-9>h3, .row .col-xs-9>h4, .row .col-xs-9>h5, .row .col-xs-9>h6 {
    margin-top: 20px
  }
  .row .col-xs-9.remove-col-margin-top {
    margin-top: 0
  }
  .row .col-xs-10 {
    float: left;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 83%
  }
  .row .col-xs-10>h1, .row .col-xs-10>h2, .row .col-xs-10>h3, .row .col-xs-10>h4, .row .col-xs-10>h5, .row .col-xs-10>h6 {
    margin-top: 20px
  }
  .row .col-xs-10.remove-col-margin-top {
    margin-top: 0
  }
  .row .col-xs-11 {
    float: left;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 91.3%
  }
  .row .col-xs-11>h1, .row .col-xs-11>h2, .row .col-xs-11>h3, .row .col-xs-11>h4, .row .col-xs-11>h5, .row .col-xs-11>h6 {
    margin-top: 20px
  }
  .row .col-xs-11.remove-col-margin-top {
    margin-top: 0
  }
  .page-template-templatetemplate-voice-php .type-voice .entry-thumbnail {
    float: none;
    margin-right: 0;
    width: auto
  }
  .dl-top-image .thumbnail {
    margin: 0 0 10px
  }
  .dl-top-image .noborder .thumbnail {
    margin-bottom: 0
  }
}