/* Insignificant stuff, for demo purposes */
            .panel h2.title { margin:0; padding:0; font-size:110%; }
            /* Most common stuff you'll need to change */

            .coda-slider { background:#ebebeb }
            /* Use this to keep the slider content contained in a box even when JavaScript is disabled */
            .coda-slider-no-js .coda-slider { height:200px; overflow:auto !important; padding-right:20px }
            /* Change the width of the entire slider (without dynamic arrows) */


            /* Arrow styling */
            .coda-nav-left a, .coda-nav-right a { background:#000; color:#fff; padding:5px; width:100px }
            /* Tab nav */
            .coda-nav ul li a.current { background:#39c }
            /* Panel padding */

            /* Preloader */
            .coda-slider p.loading { padding:20px; text-align:center }
            /* Don't change anything below here unless you know what you're doing */
            /* Tabbed nav */
            .coda-nav ul { clear:both; display:block; margin:auto; width:320px !important; overflow:hidden }
            .coda-nav ul li { display:inline }
            .coda-nav ul li a { background:#000; color:#fff; display:block; float:left; margin-right:1px; padding:3px 6px; text-decoration:none }
            /* Miscellaneous */
            .coda-slider-wrapper { clear:both; overflow:auto }
            .coda-slider { float:left; overflow:hidden; position:relative }

            .coda-slider .panel-container { position:relative }
            .coda-nav-left a, .coda-nav-right a { display:block; text-align:center; text-decoration:none }



@media screen and (min-width: 841px) {

            .coda-slider-wrapper.arrows .coda-slider { margin:0 10px }
            .coda-slider .panel-wrapper { padding:20px }
            .coda-slider-wrapper { margin:0; padding:20px 0; }
            .coda-slider, .coda-slider .panel { width:600px } 
            /* Change margin and width of the slider (with dynamic arrows) */
            .coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel { width:600px }

            .coda-slider .panel { display:block; float:left }
            .coda-nav-left, .coda-nav-right { float:left }

}

@media screen and (max-width: 840px) {

            .coda-slider-wrapper.arrows .coda-slider { margin:0}
            .coda-slider .panel-wrapper { padding:0px }
            .coda-slider-wrapper { margin:0; padding:5px 0; }
            .coda-slider, .coda-slider .panel { width:320px } 
            /* Change margin and width of the slider (with dynamic arrows) */
            .coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel { width:320px }


            .coda-slider .panel { display:block; float:none }
            .coda-nav-left, .coda-nav-right {display:none; float:none  }
	.coda-nav ul{display:none}
}


            /* Styling for specific sliders */
            #coda-nav-left-5 { margin:0 1px 0 135px; }
            #coda-nav-left-5, #coda-nav-5, #coda-nav-right-5 { float:left; }
            #coda-nav-5 ul { margin:0; padding:0; list-style:none; }
            #coda-nav-5 a { margin:0; padding:4px; list-style:none;margin-right:1px; }
            #coda-nav-5 li { margin:0; padding:0; list-style:none; }
            #coda-nav-left-5 a, #coda-nav-right-5 a { padding:4px; width:20px; }
            #coda-slider-5 { clear:both; }


