/**
 * Theme Name: White Room v2
 * Theme URI: http://www.wp-flat.com
 * Author: NetBusinessAgent
 * Author URI: http://www.nb-a.jp
 * Description: White Room is a free WordPress theme for business.
 * Version: 1.1.12
 * License: GNU General Public License
 * License URI: license.txt
 * Text Domain: whiteroom
 * Domain Path: /languages/
 * Tags: white, one-column, right-sidebar, microformats, responsive-layout,  custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, sticky-post, theme-options, threaded-comments
 */
* {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}
body {
	background: #fff;
	color: #000;
	font-size: 14px;
	line-height: 1.8;
	margin: 0;
	padding: 0;
  overflow-x: hidden;
}

header, footer, nav, section, article, figure, aside, main {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-size: 100%;
	font-weight: normal;
	margin: 0 0 20px;
	padding: 0;
}
h2 {
	margin: 40px 0 20px 0;
}
h3, h4, h5, h6 {
	margin: 30px 0 10px 0;
}
p, ul, ol, dl, table, pre {
	margin: 20px 0 0;
	padding: 0;
}
li, dt, dd {
	margin: 0;
	padding: 0;
}
dd {
	margin-left: 1em;
}

/**
 * img
 */
img {
	border: none;
	vertical-align: text-bottom;
}
table img {
	vertical-align: bottom;
}

/**
 * ul
 */
ul li {
	margin-left: 30px;
	padding-left: 5px;
}

/**
 * ol
 */
ol li {
	margin-left: 30px;
}

/**
 * table
 */
table {
	font-size: 100%;
	padding: 0;
}
th {
	font-weight: normal;
}
th, td {
	padding: 0;
	text-align: left;
}
table ul,
table ol,
table dl,
table table,
table p {
	margin-top: 0;
}

/**
 * form
 */
button,
input,
select,
textarea {
	box-sizing: border-box;
	max-width: 100%;
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="checkbox"],
input[type="radio"] {
vertical-align: middle;
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
}

/**
 * blockquote
 */
blockquote {
	border-left: #eee solid 5px;
	margin: 0.5em 0 0.5em 20px;
	padding: 0 0 0 20px;
}

/**
 * pre
 */
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	max-width: 100%;
	overflow: auto;
	padding: 15px;
}

/**
 * abbr, acronym
 */
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

/**
 * sup, sub
 */
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/**
 * .wp-caption
 */
.wp-caption {
	border: none;
	text-align: left;
	background-color: transparent;
	margin-top: 20px;
	border-radius: 0;
	max-width: 100%;
}
.wp-caption-text {
	margin-top: 5px;
	font-size: 85%;
	line-height: 1.4;
	text-align: left;
}
.gallery-caption {
}

/**
 * Alignment
 */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/**
 * .sticky ( Sticky Posts )
 * Setting by layout.css
 */
.sticky {
}

/**
 * .bypostauthor
 */
.bypostauthor {
}

/**
 * .error etc
 */
.error,
.require,
.attention {
	color: #b70000;
}



/************************追加コード********************************/
h1, h2, h3{
text-align:center;
font-family: "メイリオ", Meiryo, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
font-weight:bold;
}


/************************店舗STORE********************************/

img.store_imgs{
width:200px;
float:right;
margin-top: 1em;
}

p.store_name{
font-size:larger;
}
h2.store_brand{
margin:0;
text-align:left;
}

div.store_text{
clear:both;
margin-bottom:15px;
}


@media screen and (max-width:959px) {
img.store_imgs{
width:30%;
}
.store_map{
width:65%;
}

}

@media screen and (max-width:599px) {
img.store_imgs{
width:100%;
float:none;
margin-bottom:10px;
}
.store_map{
width:100%;
}

}



/************************サブメニュー********************************/
#submenu{
margin-bottom:40px;
}

#submenu ul li{
list-style-type: none;
display: inline;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
padding-right:8px;
margin-left: 0px;
font-size:80%;
}
#submenu ul li+ li {
  border-left: 0;
border-right:1px solid #ccc;
}

#submenu ul li.current-menu-item a{
color:#000;
}

#submenu ul{
margin:0;
margin-bottom:10px;
font-weight:bold;
}
#submenu ul li a{color:#B2B2B2;}

#center-nav{
text-align:center;
margin-bottom: 20px;
}

@media screen and (max-width:959px) {
#center-nav{
//margin-top: 60px;
}}

li{
font-family:"メイリオ", Meiryo, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

@media screen and (max-width:599px) {
.entry-header, .page-header {
over-flow:hidden;
}

#submenu ul{
margin:auto;
 background: #fff;
  padding:0px;
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

#submenu ul li {
  background: #fff;
  margin: 2px;
  text-align: center;

  display: inline-block;
}

#submenu ul::-webkit-scrollbar {
   width: 6px;
}

#submenu ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:6px;
}

#submenu ul::-webkit-scrollbar-thumb {
    border-radius:6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
}


/***********************カルーセル******************************/
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}


/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 0px !important;
   -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  background:transparent !important;
  filter: Alpha(Opacity=0);
  /*IE7 fix*/
  opacity: 0;
}


/* Clickable class fix problem with hover on touch devices */


/* Use it for non-touch hover action */

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}


/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=0);
  /*IE7 fix*/
  opacity: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: transparent;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  opacity: 1;
}



/* preloading images */

.owl-item.loading {
  background: url(AjaxLoader.gif) no-repeat center center
}

#owl-demo .owl-item > div img {
  display: block;
  height: auto;
}


.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
}


.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -35px;
  top: 55px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
  right:-65px;
  top: 55px;
}


.owl-pagination{
	display: none;
}



/*****************カルーセル幅******************/

.wrapper-with-margin {
width:80%;
margin:auto;
}


.wrapper-width{
text-align:center;
width:100%;
}
/*****************カルーセル詳細******************/
.owl-item{
}


.carousel_item{
padding:0 15px;
margin:10px auto;
}

.owl-wrapper-outer{
margin:auto;
}

p.ctitle{
font-weight:bold;
text-align: left;
}

p.ctitle a{
color:#000;
}

.center{
text-align:center;
}

.right{
float:left;
margin-left:6px;
}

div.shozaitou{
margin:auto;
background-color:#000;
color:#fff;
}

.left{
float:left;
}

div.cexcerpt{
text-align:left;
clear:both;
font-size: 80%;
}

div.leadtext p{
margin:0 0 0;
text-align:left;
}

.carousel_thumbnail{
text-align:center;
margin-bottom:10px;
//height:100px;
}

.carousel_thumbnail img{
margin:auto;
width:100%;
//height:100%;
padding: 3px;
border: 1px solid #ccc;
}

/*
.carousel_img200{
width:300px;
height:150px;
}
*/






/**********************メニュ－**************************/
.responsive-nav ul li {
display:inline-block;
}


/***********************フッター*********************************/

#footer .footer-content{
float:left;
text-align:left;
color:#7E7E7E;
padding:5px;
font-size:70%;
}

#footer{
height: 100%;
overflow:auto;
}

#footer div.footer-content{
min-width:100px;
max-width:140px;
margin-right:10px;
}

#footer div.footer-last{
margin-right:0px !important;
max-width:160px;
}


.footer-w {
width: 960px;
//width:100%;
margin: auto;
padding:20px 45px;
}

#footer .footer-content ul,#footer .footer-content p{
margin: 10px 0 0;
}


#footer .footer-content ul li ul{
margin:0 0 0;
}


#footer .footer-content ul li {
margin-left:1em;
}
#footer .footer-content ul li :before {
	content: '-'; /* ←ここにリストマーカーにしたい文字列を設定 */
	margin-left:-1em; /* 1文字分、左に寄せる */
}

#footer .listlarge ul li,#footer .footer-content ul li ul,
#footer .footer-content ul li.listlarge{
margin-left:0em;
}
#footer .listlarge ul li  :before ,#footer .footer-content ul li ul,
#footer .footer-content ul li.listlarge :before{
	content:''; /* ←ここにリストマーカーにしたい文字列を設定 */
	margin-left:-1em; /* 1文字分、左に寄せる */
padding-left: 5px;
}


#footer  .footer-content a{color:#7E7E7E;
}

#footer .listlarge ul li , li.listlarge{
font-size:110%;
font-weight:bold;
margin-top:10px;
}

#footer  h3.footer_widget_title{
text-align:left;
font-size:110%;
margin: 10px 0;
}

#footer  .footer-content li{
list-style-type:none;
}


.footer-w-wrapper{
text-align:center;
}


@media screen and (max-width:959px){
.footer-w {
width:100%;
padding:0 0;
}


.flexbox{
/*display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: -webkit-flex;
display: flex;
*/

justify-content:center;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100vw; /* ビューポート(幅)を基準に表示高を指定 */
}

.m-item{
flex: auto;
   min-width:110px;
   //height: 100vw;
//width: 33.33%;
}
}



/*
@media screen and (max-width:599px) {
h3.footer_widget_title{
clear:both;
}
*/

@media screen and (max-width:320px) {
.copyright p {text-align:center;}

h3.footer_widget_title{
clear:both;
}

.flexbox{
webkit-flex-direction:row;
flex-direction : row;
}
#footer .footer-content {
float:none;
}
#footer .float-box{
float:left;
width:50%;
}
}


/******************************幅調整*******************************/
.entry-content{
//max-width: 980px;
max-width:960px;
margin: auto;
}

/******************************リンク*******************************/
p.mark{
text-align:center;

}

p.mark a{
    padding-left:18px;
	background: url( "images/link.png" )  no-repeat;
}



/******************************ブランド個別ページ*******************************/
.imgcenter{
text-align:center;
}

.single-brand-wrapper{
text-align:center;
}

.single-brand-in{
margin:auto;
}

.single-brand-in p{
text-align:left;
max-width:820px;
margin:20px auto;
}

.margin{
margin-top:20px;
}

.margin2{
margin:40px;
}

div.brandlink{padding-top:20px;}
.brandlink p{display:inline; margin:20px;}

@media screen and (max-width:599px) {
.single-brand-in p{
margin:20px 10px;
}
.brandlink p{display:block; margin:20px;}
}


/******************************フォント*******************************/
body{
font-family:"メイリオ", Meiryo, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/******************************ブランドリスト*******************************/
div.brandlist img{
//width:420px  !important;
width:450px  !important;
margin:10px;
}

div.brandlist-wrapper{
text-align:center;
}

div.brandlist{
margin:40px auto;
}

div.brandlist .text-left{
text-align:left;
}

@media screen and (max-width:599px) {
div.brandlist img {
width:100%;
margin:0;
margin-bottom:10px;
}}


/******************************トップページ*******************************/
.fleft,.fright{
width:50%;
float:left;
}

/*リンク画像透明度*/
a img:hover{
filter:alpha(opacity=60);
opacity:0.6;
}

div.entry-content2{
overflow:auto;
margin-bottom:20px !important;
line-height: 0 !important;
}

div#topimg{
max-width:1290px;
text-align:center;
margin:auto;
}
div#topimg p{
margin:0px 0 0;
}
/*********************ブランドサイトカルーセル***************************/
/*.top_brand_site{
background-color:#F4F4F5;
}*/

.bggray{
padding:28px 0;
background-color:#F4F4F5;
margin:28px 0;
}


/******************************会社概要サブインデックス*******************************/

p.menutitle{
margin-top:20px;
font-size:120%;
font-weight:bold;
text-align:center;
clear:both;
position: relative;
}

.subindex a{
    position:absolute;
    top:0;
    left:0;
    width:90%;
    height:90%;
    text-indent:-999px;
}

.table {
    display: table;
    width: 90%;
    height: 90%;
    text-align: left;
border:2px solid #00171F;
}

.disp-none div.table{
    width: 90%;
    height: 90%;
border:none;
}

div.table-in{
width:auto;
height:auto;
padding:15px;
}

.disp-none .subindex a{
pointer-events: none;
}
.disp-none .subindex a:hover{
   color:#fff;
background-color:transparent;
}

 /* 以下マウスを載せたときのスタイル */
.subindex a:hover{
color: #222;
text-decoration: none;
opacity: 0.25;  /* 要素を透明にするタグ */
background-color: #E6EBE0;}


.box_wrapper{
    display: block;
    position: relative;
    width: 100%;
text-align:center;
}

.box {
position: relative;
width: 30%;
height: auto;
display:inline-block;
}
.ratio-1_1:before {
    content: "";
    display: block;
    padding-top: 100%; /* 1:1 */
}
.inner {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width:959px) {
.subindex a{
    position:absolute;
    top:0;
    left:0;
    width:95%;
    height:95%;
    text-indent:-999px;
}

.table {
    display: table;
    width: 95%;
    height: 95%;
    text-align: left;
border:2px solid #00171F;
}
}

@media screen and (max-width:741px) {
p.menutitle{
margin-top:10px;
}

}

@media screen and (max-width:640px) {
.box{
width:100%;
margin:10px auto;
display: block;
}

.ratio-1_1:before {
    padding-top: 20%; /* 1:1 */
}

.table {
    width:100%;
    height: 95%;
}

.subindex a{
    width:100%;
    height:95%;
}

.del{display:none;}
p.menutitle{
margin-top:5px;
}
}

@media screen and (max-width:600px) {
.ratio-1_1:before {
    padding-top: 30%; /* 1:1 */
}
}

@media screen and (max-width:560px) {
.ratio-1_1:before {
    padding-top: 35%; /* 1:1 */
}

}

@media screen and (max-width:380px) {

.ratio-1_1:before {
    padding-top:40%; /* 1:1 */
}}

@media screen and (max-width:320px) {
.ratio-1_1:before {
    padding-top:50%; /* 1:1 */
}}

/*******************検索************************/
#search-wp{
text-align:center;}
#search-in{
width:840px;
margin:auto;
}

.panel-wrapper #form1{
text-align:left;
}
/*
.panel-wrapper form select{
text-align:center;
}
.panel-wrapper form select{
text-align:center;
}*/

.panel-wrapper label{
vertical-align:middle;
display:inline-block;
margin:5px 5px;
}
.coda-nav ul li.tab1, .coda-nav ul li.tab2{
 display: inline;
    margin-left: 0 !important;
padding-left:0 !important;
}

.search_logo{
margin-left:12px;
margin-right:6px;
height:16px;
vertical-align:middle;
}

.aga{height:34px;}


@media screen and (max-width: 840px) {
#search-in {
width: 300px;
margin: auto;
}
#search-wp{
    margin-top: -30px;
}

.panel-wrapper label {
padding-left:10px;
display: block;
width:280px;
border-radius: 5px;        /* CSS3草案 */
-webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
-moz-border-radius: 5px;

 background-image:-moz-linear-gradient(
    top,
    #aaa 0%,
    #eee 40%,
    #fff 52%,
    #aaa);

    background-image:-webkit-gradient(
    linear,left top,left bottom,
    from(#aaa),
    color-stop(0.49,#eee),
    color-stop(0.52,#fff),
    to(#aaa));
}

#spnext{display:block;}
#pcnext{display:none;}
.sudest,.lasud{height:13px;}
.aga{height:26px;}
}


@media screen and (min-width: 841px) {
#spnext{display:none;}
#pcnext{display:block;}
}

div.list_logo_wrapper{
text-align:center;
}
img.list_logo {
margin:auto;
width:280px;
margin-top:10px;
}

/********************ブランドリスト*****************************/
.sbl_l{float:left;}
.sbl_r{float:right;}
.sbl_w{clear:both;}

/***********************メンバーページ***********************/

@media screen and (min-width: 841px) {
.spleft{
float:left;
width:250px;
margin-left:10px;
}
}

@media screen and (max-width:840px) {
.spleft{
text-align:center;
width:400;
float:none;
clear:both;
}}

/***********************投稿アーカイブ****************************/
.single-title{
text-align:left;
}

/************************h5**********************************/
h5{
font-weight:bold;
font-size:120%;
border-bottom:1px solid #ccc;
}

/************************代表メッセージ**********************************/
.ryakureki{margin-left:50px;}

.daihyou {
display: inline;
float: right;
margin-left: 1.5em;
width:400px;
}


@media screen and (max-width:420px) {
.daihyou{
float:none;
display: block;
width:100%;
margin-left: 0em;
}
.ryakureki{margin-left:0px;}

}

/************************スライダー******************************/
.metaslider{
margin-bottom:10px !important;
}
