.view-brand_list {
	MARGIN: 0px auto; WIDTH: 1050px
}
.view-brand_list UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.view-brand_list .view-header {
	MARGIN-BOTTOM: 20px
}
.view-brand_list .previews {
	OVERFLOW: hidden
}
.view-brand_list .preview-clipper {
	POSITION: relative; WIDTH: 1050px; OVERFLOW: hidden
}
.view-brand_list .preview-set {
	POSITION: relative; WIDTH: 1050px; MARGIN-BOTTOM: 2px; HEIGHT: 148px; OVERFLOW: hidden
}
.view-brand_list .preview {
	Z-INDEX: 0; POSITION: relative; FILTER: alpha(opacity = 45); WIDTH: 130px; FLOAT: left; HEIGHT: 82px; VISIBILITY: visible !important; MARGIN-RIGHT: 2px; opacity: .45
}
.view-brand_list .preview:hover {
	FILTER: alpha(opacity = 100) !important; VISIBILITY: visible !important; opacity: 1
}
.view-brand_list .preview-image {
	POSITION: relative; FILTER: alpha(opacity = 100); WIDTH: 100%; HEIGHT: 100%; VISIBILITY: visible !important; opacity: 1
}
.view-brand_list .preview-link {
	Z-INDEX: 2; POSITION: absolute; FILTER: alpha(opacity = 00); WIDTH: 132px; DISPLAY: block; BACKGROUND: #fff; HEIGHT: 148px; VISIBILITY: visible !important; TOP: 0px; LEFT: 0px; opacity: .00
}
.view-brand_list .ui-scrubber-container {
	POSITION: relative
}
.view-brand_list .ui-scrubber {
	Z-INDEX: 2; POSITION: relative; PADDING-BOTTOM: 2px; PADDING-LEFT: 56px; PADDING-RIGHT: 56px; DISPLAY: none; HEIGHT: 1px; PADDING-TOP: 2px
}
.js .view-brand_list .ui-scrubber {
	DISPLAY: block
}
.view-brand_list .ui-scrubber-track {
	Z-INDEX: 3; POSITION: relative; HEIGHT: 15px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.view-brand_list .ui-scrubber-handle {
	Z-INDEX: 4; POSITION: absolute; WIDTH: 105px; DISPLAY: block; HEIGHT: 15px; MARGIN-LEFT: -54px; OVERFLOW: hidden; TOP: 0px; CURSOR: pointer; -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.view-brand_list .ui-scrubber-handle:hover {
	BACKGROUND-COLOR: #737373
}
.view-brand_list .landing-text {
	MARGIN-TOP: 50px
}
.view-brand_list .landing-text P {
	LINE-HEIGHT: 1.9em; TEXT-TRANSFORM: uppercase; MARGIN-TOP: 5px; WIDTH: 400px; FONT-FAMILY: arial, helvetica, clean, sans-serif; LETTER-SPACING: 0.12em; COLOR: #737373; FONT-SIZE: 85%
}
.view-brand_list .landing-text H1 {
	TEXT-TRANSFORM: uppercase; FONT-FAMILY: "Helvetica W01 Bd Cn", arial, helvetica, clean, sans-serif; LETTER-SPACING: 0.02em; FONT-SIZE: 334%
}
.view-brand_list .landing-text H2 {
	TEXT-TRANSFORM: lowercase; FONT-STYLE: italic; FONT-FAMILY: arial, helvetica, clean, sans-serif; MARGIN-BOTTOM: 25px; LETTER-SPACING: 0.08em; FONT-SIZE: 182%
}
.view-brand_list .stage {
	WIDTH: 1050px; MARGIN-BOTTOM: 20px; OVERFLOW: hidden
}
.view-brand_list .carousel-status {
	POSITION: absolute; TEXT-ALIGN: center; FONT-SIZE: 12px; TOP: -30px; RIGHT: 0px
}
.view-brand_list .status-index {
	FONT-FAMILY: HelveticaNeueLTStdLtExtRg; FONT-SIZE: 12px; FONT-WEIGHT: bold
}

/*nextリンク位置*/
.view-brand_list .jcarousel-container {
	POSITION: relative; WIDTH: 1690px; LEFT: -625px
}
/*メインイメージ位置　1306*/
.view-brand_list .jcarousel-clip {
	WIDTH: 1306px
}
.view-brand_list .altTemplate .jcarousel-clip {
	WIDTH: 1050px; LEFT: 0px
}
.view-brand_list .altTemplate .jcarousel-container {
	WIDTH: 1050px; LEFT: 0px
}

/* prevリンク用表示 */
.view-brand_list .jcarousel-prev {
	Z-INDEX: 10; POSITION: absolute; TEXT-INDENT: -999em; WIDTH: 780px; HEIGHT: 472px; VISIBILITY: visible !important; TOP: 0px; CURSOR: pointer
}

/* nextリンク用表示 */
.view-brand_list .jcarousel-next {
	Z-INDEX: 10; POSITION: absolute; TEXT-INDENT: -999em; WIDTH: 158px; HEIGHT: 472px; VISIBILITY: visible !important; TOP: 0px; CURSOR: pointer
}


.view-brand_list .altTemplate .jcarousel-prev {
	FILTER: alpha(opacity = 0); WIDTH: 145px; DISPLAY: none; HEIGHT: 400px; opacity: .00
}
.view-brand_list .altTemplate .jcarousel-next {
	FILTER: alpha(opacity = 0); WIDTH: 145px; DISPLAY: none; HEIGHT: 400px; opacity: .00
}
.view-brand_list .altTemplate .jcarousel-prev:hover {
	BACKGROUND-COLOR: #000; DISPLAY: block
}
.view-brand_list .altTemplate .jcarousel-next:hover {
	BACKGROUND-COLOR: #000; DISPLAY: block
}
.view-brand_list .jcarousel-prev SPAN {
	Z-INDEX: 50; WIDTH: 433px; HEIGHT: 400px
}
.view-brand_list .jcarousel-next SPAN {
	Z-INDEX: 50; WIDTH: 433px; HEIGHT: 400px
}
.view-brand_list .altTemplate .jcarousel-prev SPAN {
	WIDTH: 145px; HEIGHT: 400px
}
.view-brand_list .altTemplate .jcarousel-next SPAN {
	WIDTH: 145px; HEIGHT: 400px
}
.view-brand_list .jcarousel-prev {
	BACKGROUND: url(/content/images/_.gif)
}
.view-brand_list .jcarousel-next {
	BACKGROUND: url(/content/images/_.gif)
}
.view-brand_list .jcarousel-prev {
	FILTER: alpha(opacity=50); BACKGROUND: url(../images/nouer/prev_arrow.gif) #fff no-repeat 750px 236px; LEFT: 0px; opacity: .5
}
.view-brand_list .altTemplate .jcarousel-prev {
	BACKGROUND-POSITION: 63px 250px
}
.view-brand_list .jcarousel-next {
	FILTER: alpha(opacity=50); BACKGROUND: url(../images/nouer/next_arrow.gif) #fff no-repeat 0px 236px; RIGHT: 0px; opacity: .5
}
.view-brand_list .altTemplate .jcarousel-next {
	BACKGROUND-POSITION: 67px 250px
}
.view-brand_list .look-set {
	Z-INDEX: 1; POSITION: relative; WIDTH: 8000px; OVERFLOW: hidden
}
.view-brand_list .look {
	Z-INDEX: 2; POSITION: relative; FILTER: alpha(opacity = 60); WIDTH: 734px; FLOAT: left; MARGIN-RIGHT: 2px; opacity: .60
}
.view-brand_list .lookfull {
	Z-INDEX: 2; POSITION: relative; FILTER: alpha(opacity = 60); WIDTH: 1050px; FLOAT: left; MARGIN-RIGHT: 2px; opacity: .60
}
.view-brand_list .altTemplate .lookfull {
	
}
.view-brand_list .look-hover {
	Z-INDEX: 3; POSITION: absolute; WIDTH: 100%; BOTTOM: 0px; DISPLAY: none; HEIGHT: 348px; LEFT: 0px
}
.no-cssgradients .view-brand_list .look-hover {
	Z-INDEX: 2; POSITION: absolute; WIDTH: 100%; BOTTOM: 0px; HEIGHT: 348px; LEFT: 0px
}
