* {
	TEXT-ALIGN: left !important; BACKGROUND: none transparent scroll repeat 0% 0%
}
HTML {
	PADDING-BOTTOM: 0px !important; MARGIN: 0px; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 0px !important
}
BODY {
	PADDING-BOTTOM: 0px !important; MARGIN: 10px; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; BACKGROUND: #fff; FONT-SIZE: 9pt !important; PADDING-TOP: 0px !important
}
A {
	COLOR: #2976c9 !important
}
TH {
	BORDER-BOTTOM-COLOR: #ccc !important; BORDER-TOP-COLOR: #ccc !important; COLOR: #2f2f2f !important; BORDER-RIGHT-COLOR: #ccc !important; BORDER-LEFT-COLOR: #ccc !important
}
TD {
	BORDER-BOTTOM-COLOR: #ccc !important; BORDER-TOP-COLOR: #ccc !important; COLOR: #2f2f2f !important; BORDER-RIGHT-COLOR: #ccc !important; BORDER-LEFT-COLOR: #ccc !important
}
.header-container {
	DISPLAY: none !important
}
.nav-container {
	DISPLAY: none !important
}
.footer-container {
	DISPLAY: none !important
}
.pager {
	DISPLAY: none !important
}
.toolbar {
	DISPLAY: none !important
}
.actions {
	DISPLAY: none !important
}
.buttons-set {
	DISPLAY: none !important
}
.page-print .data-table .cart-tax-total {
	BACKGROUND-POSITION: 100% -54px
}
.page-print .data-table .cart-tax-info {
	DISPLAY: block !important
}
