@font-face {
	font-family: HelveticaNeueLTStdLtExtRg;
	src:url(fonts/helveticaneueltstd-ltex-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/helveticaneueltstd-ltex-webfont.woff) format("woff"), url(fonts/helveticaneueltstd-ltex-webfont.ttf) format("truetype"), url(fonts/helveticaneueltstd-ltex-webfont.svg#HelveticaNeueLTStdLtExtRg) format("svg");
}
@font-face {
	font-family: HelveticaNeueLTStdLt;
	src:url(fonts/helveticaneueltstd-lt-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/helveticaneueltstd-lt-webfont.woff) format("woff"), url(fonts/helveticaneueltstd-lt-webfont.ttf) format("truetype"), url(fonts/helveticaneueltstd-lt-webfont.svg#HelveticaNeueLTStdLtRegular) format("svg");
}
@font-face {
	font-family: HelveticaNeueLTStdMedRegular;
	src:url(fonts/helveticaneueltstd-md-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/helveticaneueltstd-md-webfont.woff) format("woff"), url(fonts/helveticaneueltstd-md-webfont.ttf) format("truetype"), url(fonts/helveticaneueltstd-md-webfont.svg#HelveticaNeueLTStdMedRegular) format("svg");
}
.bold {
	FONT-WEIGHT: bold
}
.bl1nd_nav {
	Z-INDEX: 500; POSITION: fixed; BOTTOM: 0px; RIGHT: 0px
}
.bl1nd_nav FORM {
	MARGIN-BOTTOM: 0px
}
HTML {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Helvetica, Arial, sans-serif; COLOR: black; FONT-SIZE: 11px; PADDING-TOP: 0px
}
.ir {
	TEXT-ALIGN: left !important; LINE-HEIGHT: 0; TEXT-INDENT: -1000px; DISPLAY: block; DIRECTION: ltr; FONT-SIZE: 0px; OVERFLOW: hidden
}
A {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; COLOR: black; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 4px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.a-button {
	DISPLAY: inline-block; TEXT-DECORATION: none
}
.a-button:hover {
	TEXT-DECORATION: none
}
.a-button SPAN {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; TEXT-TRANSFORM: uppercase; MARGIN: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../images/button.png) no-repeat 0px 0px; HEIGHT: 24px; COLOR: black; FONT-SIZE: 11px; PADDING-TOP: 0px
}
.a-button SPAN SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 12px; BACKGROUND-POSITION: 100% 0px; PADDING-TOP: 0px
}
.a-button-plus {
	POSITION: relative; OVERFLOW: visible
}
.a-button-plus SPAN {
	PADDING-BOTTOM: 4px; BACKGROUND: black; COLOR: white; PADDING-TOP: 4px
}
.a-button-plus:after {
	POSITION: absolute; WIDTH: 14px; DISPLAY: block; BACKGROUND: url(../images/btn_plus.png) no-repeat; HEIGHT: 14px; CONTENT: ""; TOP: -8px; RIGHT: -8px
}
.price-box {
	FONT-FAMILY: HelveticaNeueLTStdLtExtRg
}
.price-box P {
	MARGIN-BOTTOM: 0px !important
}
.price-box .price {
	FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.price-box .currency {
	TEXT-TRANSFORM: uppercase
}
.price-box .old-price .price {
	FONT-STYLE: italic
}
.price-box .old-price {
	BACKGROUND: url(../images/old-price.png) repeat-x left center; FLOAT: left; MARGIN-RIGHT: 6px !important
}
.product-shop .price-box {
	FONT-FAMILY: HelveticaNeueLTStdLt; FONT-SIZE: 16px
}
#container {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 1050px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.containerTeaser#container {
	MARGIN: 70px auto 0px
}
#leftContent {
	TEXT-ALIGN: left; MARGIN: 10px 0px 0px 10px
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
#content {
	POSITION: relative; MIN-HEIGHT: 400px
}
#content H1 {
	TEXT-TRANSFORM: uppercase; TEXT-INDENT: 0px; MARGIN: 0px; WIDTH: auto; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-SIZE: 11px
}
#content H2 {
	MARGIN: 20px 0px 5px; FONT-SIZE: 11px
}
#content H3 {
	TEXT-TRANSFORM: uppercase; MARGIN: 20px 0px 5px; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
#content .header {
	POSITION: relative; MARGIN: 18px 0px; CLEAR: left
}
#content .header H1 {
	MARGIN-BOTTOM: 4px; HEIGHT: auto
}
#content .header H2 {
	MARGIN-TOP: 0px; COLOR: #858585; FONT-SIZE: 9px; FONT-WEIGHT: normal
}
#content .header A {
	TEXT-TRANSFORM: none; PADDING-LEFT: 10px; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
#content .header A.right {
	POSITION: absolute; TOP: 0px; RIGHT: 0px
}
#content .header A:hover {
	TEXT-DECORATION: none
}
#content .header-marged {
	PADDING-TOP: 18px
}
#content .header-nomargin {
	MARGIN-BOTTOM: -5px
}
#content .header-col1 {
	WIDTH: 421px; FLOAT: left
}
#content .header-col2 {
	WIDTH: 400px; FLOAT: left; CLEAR: none
}
#content P {
	LINE-HEIGHT: 1.1em; MARGIN: 0px 0px 10px; FONT-SIZE: 11px
}
#content P.comment {
	COLOR: #858585; FONT-SIZE: 9px
}
#content .page-index {
	MARGIN: 0px 0px 20px; WIDTH: 400px; OVERFLOW: hidden
}
#content .page-index LI {
	MARGIN-BOTTOM: 8px
}
#content TABLE {
	MARGIN-BOTTOM: 15px
}
#content TABLE THEAD TH {
	TEXT-ALIGN: left; PADDING-RIGHT: 20px
}
#content TABLE TFOOT TH {
	TEXT-ALIGN: left
}
.thanksAlot {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px -20px; PADDING-LEFT: 40px; PADDING-RIGHT: 420px; HEIGHT: 291px; PADDING-TOP: 200px
}
.thanksAlot H2 {
	MARGIN-BOTTOM: 16px !important
}
.thanksAlot P A {
	TEXT-DECORATION: underline
}
.thanksAlot P A:hover {
	TEXT-DECORATION: none
}
#content {
	CLEAR: both
}
.selected {
	COLOR: black !important
}
.header-container {
	Z-INDEX: 2; POSITION: relative; MARGIN: 38px 0px 0px; HEIGHT: 46px
}
.header-container #header {
	MARGIN: -2px 0px 0px -2px; FLOAT: left
}
.header-links {
	PADDING-BOTTOM: 6px; DISPLAY: block; FLOAT: right
}
.header-links LI {
	PADDING-RIGHT: 13px; FLOAT: left; MARGIN-RIGHT: 13px; BORDER-RIGHT: #000000 1px solid
}
.header-links LI.cart {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.header-links LI.cart A {
	CURSOR: pointer
}
.header-links LI A {
	TEXT-TRANSFORM: uppercase; FONT-FAMILY: HelveticaNeueLTStdLt; LETTER-SPACING: 0.1em
}
.header-panel {
	WIDTH: 50%; FLOAT: right
}
.header-panel .recherche {
	FLOAT: right; CLEAR: right
}
.header-panel .recherche INPUT[type='text'] {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 6px; WIDTH: 165px; PADDING-RIGHT: 6px; FLOAT: left; HEIGHT: 12px; COLOR: #202020; FONT-SIZE: 10px; VERTICAL-ALIGN: bottom; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 4px
}
.header-panel .recherche INPUT[type='submit'] {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -3px; PADDING-LEFT: 0px; WIDTH: 25px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/sprite_search.gif) no-repeat -2px -34px; FLOAT: left; HEIGHT: 21px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.top-navigation {
	POSITION: relative
}
.top-navigation UL LI.item {
	FLOAT: left
}
.top-navigation UL LI.item A {
	PADDING-BOTTOM: 6px; TEXT-TRANSFORM: uppercase; PADDING-RIGHT: 40px; DISPLAY: block; PADDING-TOP: 6px
}
.top-navigation UL LI.item .megaMenu A {
	FONT-FAMILY: HelveticaNeueLTStdLtExtRg; WHITE-SPACE: nowrap; COLOR: #000; FONT-WEIGHT: normal
}
.top-navigation UL LI.item .megaMenu A:hover {
	COLOR: grey; TEXT-DECORATION: none
}
.top-navigation UL LI.item .megaMenu .categoryList {
	MARGIN-TOP: 8px; PADDING-LEFT: 15px
}
.top-navigation UL LI.item .megaMenu .categoryList A {
	FONT-WEIGHT: normal
}
.top-navigation UL LI > A {
	FONT-FAMILY: HelveticaNeueLTStdLtExtRg
}
.top-navigation UL LI A:hover {
	COLOR: grey; TEXT-DECORATION: none
}
.top-navigation UL LI.hover A {
	COLOR: grey; TEXT-DECORATION: none
}
.top-navigation UL LI A:hover LI A {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.top-navigation UL LI.hover A LI A {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.top-navigation UL LI.eshop-item .megaMenu {
	BORDER-BOTTOM: #fff 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 936px; PADDING-RIGHT: 0px; TOP: 39px; PADDING-TOP: 10px; LEFT: 0px
}
.top-navigation UL LI.eshop-item .megaMenu A {
	COLOR: #000
}
.top-navigation UL LI.eshop-item .eshop-col {
	WIDTH: 50%; FLOAT: left
}
.top-navigation UL LI.eshop-item .eshop-col > A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 96px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-TOP: 0px
}
.top-navigation UL LI.eshop-item .eshop-col .categoryList {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 350px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.top-navigation UL LI.eshop-item .eshop-col .categoryList LI {
	BORDER-LEFT: #b1b1b1 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 5px; WIDTH: 48%; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 6px
}
.top-navigation UL LI.eshop-item .eshop-col .categoryList A:hover {
	TEXT-DECORATION: underline
}
.top-navigation UL LI.eshop-item .eshop-col .categoryList A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#megaCollection .megaMenu {
	WIDTH: 936px
}
#megaCampaign .megaMenu {
	WIDTH: 936px
}
.top-navigation .floatedList LI {
	FLOAT: left; MARGIN-RIGHT: 20px
}
.top-navigation .floatedList LI A:hover {
	TEXT-DECORATION: underline
}
.top-navigation #megaCollection .floatedList LI {
	FLOAT: left
}
.top-navigation UL LI.eshop-item SPAN.arrow {
	DISPLAY: none !important
}
#content .std {
	TEXT-ALIGN: center
}
#mainContent {
	Z-INDEX: 1; POSITION: relative
}
.quickcheckout-loader-active #mainContent {
	Z-INDEX: 3
}
#minicart_container {
	BORDER-BOTTOM: black 1px solid; POSITION: absolute; BORDER-LEFT: black 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 201px; PADDING-RIGHT: 1px; FONT-FAMILY: HelveticaNeueLTStdLt; BACKGROUND: white; BORDER-TOP: black 1px solid; TOP: 20px; RIGHT: 0px; BORDER-RIGHT: black 1px solid; PADDING-TOP: 1px
}
#minicart_container .cart-empty {
	PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
#minicart_container TABLE TD SPAN.opc {
	DISPLAY: none
}
.minicart-product-list {
	BORDER-BOTTOM: #dddddd 1px solid; PADDING-BOTTOM: 15px
}
.minicart-product-list LI {
	BORDER-BOTTOM: 0px; POSITION: relative; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 11px; PADDING-RIGHT: 11px; FLOAT: none; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 14px
}
.minicart-product-list IMG {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; DISPLAY: block; FLOAT: left; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.minicart-product-list .desc {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 110px; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 5px
}
.minicart-product-list .name {
	DISPLAY: block; FONT-FAMILY: HelveticaNeueLTStdMedRegular; FONT-SIZE: 11px
}
.minicart-product-list .category {
	COLOR: #a9adb1
}
.minicart-product-list .price {
	FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.minicart-product-list .price-cnt {
	POSITION: absolute; BOTTOM: 2px; LEFT: 80px
}
.minicart-product-list .old-price {
	FONT-STYLE: italic; BACKGROUND: url(../images/old-price.png) repeat-x left center
}
#minicart_container .info-box {
	TEXT-ALIGN: center; PADDING-BOTTOM: 8px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: #e0e0e0; PADDING-LEFT: 0pt; PADDING-RIGHT: 0pt; FONT-SIZE: 10px; PADDING-TOP: 8px
}
#minicart_container .info-box SPAN {
	PADDING-LEFT: 13px; BACKGROUND: url(../images/check.png) no-repeat 0px 50%
}
#minicart_container .bottom-wrapper {
	PADDING-BOTTOM: 11px; PADDING-LEFT: 11px; PADDING-RIGHT: 11px; PADDING-TOP: 11px
}
#minicart_container .btn-cart {
	TEXT-ALIGN: center; DISPLAY: block; FONT-SIZE: 10px; TEXT-DECORATION: none
}
#minicart_container .btn-cart SPAN {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/arrow-cart.png) no-repeat 100% 50%; LETTER-SPACING: 0px; PADDING-TOP: 0px
}
#minicart_container #shopping-cart-totals-table {
	WIDTH: 100%; MARGIN-BOTTOM: 6px; COLOR: #a9adb1
}
#minicart_container #shopping-cart-totals-table TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 10px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
#minicart_container #shopping-cart-totals-table .price {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 10px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
#minicart_container #shopping-cart-totals-table {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 10px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
#minicart_container #shopping-cart-totals-table TFOOT TD {
	TEXT-TRANSFORM: uppercase
}
#minicart_container #shopping-cart-totals-table TFOOT TD STRONG {
	FONT-WEIGHT: normal
}
#minicart_container #shopping-cart-totals-table TD {
	TEXT-ALIGN: right !important; WIDTH: 50% !important
}
#minicart_container #shopping-cart-totals-table TFOOT TD SPAN {
	COLOR: #000 !important
}
#minicart_container #shopping-cart-totals-table TFOOT TD {
	COLOR: #000 !important
}
#minicart_container .shipping-offer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 10px; PADDING-TOP: 14px
}
#menuCountry {
	MARGIN: 6px 0px 0px; FONT-FAMILY: HelveticaNeueLTStdLtExtRg; FLOAT: right
}
.dropdown#menuCountry DD UL {
	RIGHT: 0px; LEFT: auto
}
.dropdown#menuCountry DD UL A {
	TEXT-ALIGN: center
}
.dropdown#menuCountry DT {
	CURSOR: default
}
#headerCenter UL#menu {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 30px
}
#headerCenter UL#menu LI {
	TEXT-TRANSFORM: uppercase; MARGIN: 0px 8px 0px 0px; PADDING-RIGHT: 15px; FONT-FAMILY: HelveticaNeueLTStdLtExtRg; BACKGROUND: url(../images/separator1.png) no-repeat 100% 2px; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
#headerCenter UL#menu LI A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; PADDING-TOP: 0px
}
#headerCenter UL#menu LI A:hover {
	TEXT-DECORATION: none
}
#headerCenter UL#menu LI.current {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 0px
}
#headerCenter UL#menu LI.current A {
	COLOR: #000
}
#headerRight {
	POSITION: absolute; TOP: 3px; RIGHT: 0px
}
#headerRight LI {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; FONT-SIZE: 11px
}
#headerRight LI A {
	TEXT-TRANSFORM: uppercase
}
#headerRight LI A.logout {
	TEXT-DECORATION: none
}
#headerRight LI A.logout:hover {
	TEXT-DECORATION: underline
}
#headerRight LI.cart {
	
}
#footerLeftLink {
	
}
#footer {
	MARGIN: 20px 0px; WIDTH: 100%; HEIGHT: 28px; FONT-SIZE: 9px
}
#footer LI {
	LINE-HEIGHT: 28px; TEXT-TRANSFORM: uppercase; FLOAT: left; MARGIN-RIGHT: 40px
}
#footerRightLink {
	MARGIN-TOP: 0px; FLOAT: right; with: 100px
}
.footerRightLine {
	BORDER-LEFT: #e0e0e0 1px solid; MARGIN-TOP: 3px; FLOAT: right
}
.formBlock {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 30px; PADDING-RIGHT: 0px; PADDING-TOP: 30px
}
.nopadding.formBlock {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.formBlock FORM {
	OVERFLOW: hidden
}
.formBlock FORM P.intro {
	FONT-WEIGHT: bold
}
.formBlock FORM .line {
	FLOAT: left; OVERFLOW: hidden
}
.formBlock FORM .line LABEL {
	TEXT-TRANSFORM: uppercase; FONT-WEIGHT: bold
}
.formBlock FORM .line LABEL.simple {
	TEXT-TRANSFORM: none; FONT-WEIGHT: normal
}
.formBlock FORM .line INPUT[type=text] {
	BORDER-BOTTOM: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; HEIGHT: 21px; BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid
}
.formBlock FORM .line INPUT[type=password] {
	BORDER-BOTTOM: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; HEIGHT: 21px; BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid
}
.formBlock FORM .line SELECT {
	BORDER-BOTTOM: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; HEIGHT: 21px; BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid
}
.formBlock FORM .line INPUT[type=checkbox] {
	MARGIN-TOP: 1px; FLOAT: left
}
.formBlock FORM .line INPUT[type=radio] {
	MARGIN-LEFT: 0px
}
.formBlock FORM .required {
	HEIGHT: 40px
}
.formBlock FORM .forgot {
	HEIGHT: 40px
}
.formBlock FORM .line-radio {
	HEIGHT: 40px
}
.formBlock FORM .required {
	COLOR: #9f9f9f
}
.formBlock FORM .forgot A {
	COLOR: black; TEXT-DECORATION: underline
}
.formBlock FORM .forgot A:hover {
	TEXT-DECORATION: none
}
.formBlock FORM.inline .line {
	WIDTH: 760px; HEIGHT: 35px; CLEAR: left
}
.formBlock FORM.inline .line LABEL {
	LINE-HEIGHT: 26px; WIDTH: 210px; DISPLAY: block; FLOAT: left
}
.formBlock FORM.inline .line INPUT {
	FLOAT: left
}
.formBlock FORM.inline .line SELECT {
	FLOAT: left
}
.formBlock FORM.inline .line INPUT[type=text] {
	WIDTH: 232px; MARGIN-RIGHT: 20px
}
.formBlock FORM.inline .line INPUT[type=password] {
	WIDTH: 232px; MARGIN-RIGHT: 20px
}
.formBlock FORM.inline .line SELECT {
	WIDTH: 232px; MARGIN-RIGHT: 20px
}
.formBlock FORM.inline .line INPUT[type=text].small {
	WIDTH: 80px
}
.formBlock FORM.inline .line INPUT[type=password].small {
	WIDTH: 80px
}
.formBlock FORM.inline .line SELECT.small {
	WIDTH: 80px
}
.formBlock FORM.inline .line INPUT[type=text].medium {
	WIDTH: 132px
}
.formBlock FORM.inline .line INPUT[type=password].medium {
	WIDTH: 132px
}
.formBlock FORM.inline .line SELECT.medium {
	WIDTH: 132px
}
.formBlock FORM.inline .line .info {
	LINE-HEIGHT: 26px; TEXT-DECORATION: underline
}
.formBlock FORM.inline .line .info:hover {
	TEXT-DECORATION: none
}
.formBlock FORM.inline .line-radio INPUT {
	MARGIN-TOP: 6px
}
.formBlock FORM.inline .line-radio LABEL {
	TEXT-TRANSFORM: none; WIDTH: auto; MARGIN-LEFT: 6px
}
.formBlock FORM.inline .line-radio .required {
	MARGIN-TOP: 7px; FLOAT: right
}
.formBlock FORM.onecol .line {
	FLOAT: left; HEIGHT: 65px; MARGIN-RIGHT: 30px
}
.formBlock FORM.twocols .line {
	FLOAT: left; HEIGHT: 65px; MARGIN-RIGHT: 30px
}
.formBlock FORM.threecols .line {
	FLOAT: left; HEIGHT: 65px; MARGIN-RIGHT: 30px
}
.formBlock FORM.onecol .required {
	WIDTH: 20%; FLOAT: none
}
.formBlock FORM.onecol .actions {
	WIDTH: 50%
}
.formBlock FORM.onecol .line-double {
	WIDTH: 480px; MARGIN-RIGHT: 0px
}
.formBlock FORM.twocols .line-double {
	WIDTH: 480px; MARGIN-RIGHT: 0px
}
.formBlock FORM.threecols .line-double {
	WIDTH: 480px; MARGIN-RIGHT: 0px
}
.formBlock FORM.onecol .line-full {
	WIDTH: 780px; MARGIN-RIGHT: 0px
}
.formBlock FORM.twocols .line-full {
	WIDTH: 780px; MARGIN-RIGHT: 0px
}
.formBlock FORM.threecols .line-full {
	WIDTH: 780px; MARGIN-RIGHT: 0px
}
.formBlock FORM.onecol .line-full INPUT[type=text] {
	WIDTH: 755px
}
.formBlock FORM.onecol .line-full INPUT[type=password] {
	WIDTH: 755px
}
.formBlock FORM.onecol .line-full SELECT {
	WIDTH: 755px
}
.formBlock FORM.twocols .line-full INPUT[type=text] {
	WIDTH: 755px
}
.formBlock FORM.twocols .line-full INPUT[type=password] {
	WIDTH: 755px
}
.formBlock FORM.twocols .line-full SELECT {
	WIDTH: 755px
}
.formBlock FORM.threecols .line-full INPUT[type=text] {
	WIDTH: 755px
}
.formBlock FORM.threecols .line-full INPUT[type=password] {
	WIDTH: 755px
}
.formBlock FORM.threecols .line-full SELECT {
	WIDTH: 755px
}
.formBlock FORM.onecol .line-high {
	HEIGHT: 95px
}
.formBlock FORM.twocols .line-high {
	HEIGHT: 95px
}
.formBlock FORM.threecols .line-high {
	HEIGHT: 95px
}
.formBlock FORM.onecol .line-high INPUT[type=text] {
	MARGIN-BOTTOM: 8px
}
.formBlock FORM.onecol .line-high INPUT[type=password] {
	MARGIN-BOTTOM: 8px
}
.formBlock FORM.onecol .line-high SELECT {
	MARGIN-BOTTOM: 8px
}
.formBlock FORM.twocols .line-high INPUT[type=text] {
	MARGIN-BOTTOM: 8px
}
.formBlock FORM.twocols .line-high INPUT[type=password] {
	MARGIN-BOTTOM: 8px
}
.formBlock FORM.twocols .line-high SELECT {
	MARGIN-BOTTOM: 8px
}
.formBlock FORM.threecols .line-high INPUT[type=text] {
	MARGIN-BOTTOM: 8px
}
.formBlock FORM.threecols .line-high INPUT[type=password] {
	MARGIN-BOTTOM: 8px
}
.formBlock FORM.threecols .line-high SELECT {
	MARGIN-BOTTOM: 8px
}
.formBlock FORM.onecol .line-checkbox LABEL {
	MARGIN: 0px 10px; DISPLAY: inline
}
.formBlock FORM.onecol .line-radio LABEL {
	MARGIN: 0px 10px; DISPLAY: inline
}
.formBlock FORM.twocols .line-checkbox LABEL {
	MARGIN: 0px 10px; DISPLAY: inline
}
.formBlock FORM.twocols .line-radio LABEL {
	MARGIN: 0px 10px; DISPLAY: inline
}
.formBlock FORM.threecols .line-checkbox LABEL {
	MARGIN: 0px 10px; DISPLAY: inline
}
.formBlock FORM.threecols .line-radio LABEL {
	MARGIN: 0px 10px; DISPLAY: inline
}
.formBlock FORM.onecol .required-right {
	TEXT-ALIGN: right; FLOAT: right
}
.formBlock FORM.twocols .required-right {
	TEXT-ALIGN: right; FLOAT: right
}
.formBlock FORM.threecols .required-right {
	TEXT-ALIGN: right; FLOAT: right
}
.formBlock FORM.onecol LABEL {
	WIDTH: 200px; DISPLAY: block; MARGIN-BOTTOM: 8px; FLOAT: left; FONT-SIZE: 11px; PADDING-TOP: 5px
}
.formBlock FORM.twocols LABEL {
	WIDTH: 200px; DISPLAY: block; MARGIN-BOTTOM: 8px; FLOAT: left; FONT-SIZE: 11px; PADDING-TOP: 5px
}
.formBlock FORM.threecols LABEL {
	WIDTH: 200px; DISPLAY: block; MARGIN-BOTTOM: 8px; FLOAT: left; FONT-SIZE: 11px; PADDING-TOP: 5px
}
.formBlock FORM.twocols .line {
	WIDTH: 350px
}
.formBlock FORM.twocols INPUT[type=text] {
	WIDTH: 268px
}
.formBlock FORM.twocols INPUT[type=password] {
	WIDTH: 268px
}
.formBlock FORM.twocols SELECT {
	WIDTH: 268px
}
.formBlock FORM.threecols INPUT[type=text] {
	WIDTH: 229px
}
.formBlock FORM.threecols INPUT[type=password] {
	WIDTH: 229px
}
.formBlock FORM.threecols SELECT {
	WIDTH: 229px
}
.actions {
	WIDTH: 700px; FLOAT: right; HEIGHT: 28px
}
.actions LI {
	DISPLAY: block; FLOAT: right; MARGIN-LEFT: 1px
}
.actions .button {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 0px; WIDTH: 203px; PADDING-RIGHT: 0px; DISPLAY: block; HEIGHT: 28px; COLOR: white; FONT-SIZE: 11px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.actions .button:hover {
	CURSOR: pointer
}
.actions .button-valid {
	BORDER-BOTTOM: black 3px solid; BORDER-LEFT: black 3px solid; LINE-HEIGHT: 22px; PADDING-LEFT: 20px; WIDTH: 203px; BACKGROUND: url(/images/bt_arrow_black.gif) white no-repeat 20px center; COLOR: black; BORDER-TOP: black 3px solid; BORDER-RIGHT: black 3px solid
}
.actions .button-recalculate {
	BACKGROUND-IMAGE: none; BORDER-BOTTOM-COLOR: #d3d3d3; BORDER-TOP-COLOR: #d3d3d3; PADDING-LEFT: 0px; COLOR: #9f9f9f; BORDER-RIGHT-COLOR: #d3d3d3; BORDER-LEFT-COLOR: #d3d3d3
}
.actions .button-connect {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: black; COLOR: white
}
.actions .button-cart {
	BACKGROUND: url(/images/bt_cart.gif) white no-repeat 160px center
}
.actions .button-previous {
	LINE-HEIGHT: 33px; BACKGROUND: black; COLOR: white
}
.actions-marged {
	MARGIN-TOP: 20px
}
.dashboard-table {
	BORDER-BOTTOM: #ddd 0px solid; BORDER-LEFT: #ddd 0px solid; WIDTH: 100%; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.dashboard-table THEAD TH {
	BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: center !important; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 13px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: HelveticaNeueLTStdLtExtRg; COLOR: #000; BORDER-TOP: #ddd 0px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #ddd 0px solid; PADDING-TOP: 13px
}
.dashboard-table TBODY TD {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; VERTICAL-ALIGN: top; BORDER-TOP: #ddd 0px solid; BORDER-RIGHT: #ddd 0px solid
}
.dashboard-table .inner {
	PADDING-BOTTOM: 40px; PADDING-LEFT: 60px; PADDING-RIGHT: 0px; PADDING-TOP: 20px
}
.dashboard-table .order-date {
	FONT-SIZE: 12px !important; FONT-WEIGHT: bold
}
.dashboard-table .label {
	COLOR: #a9adb1; FONT-SIZE: 11px
}
.dashboard-table .box-recent {
	WIDTH: 198px
}
.dashboard-table .box-recent LI {
	BORDER-BOTTOM: #ddd 1px solid; PADDING-BOTTOM: 12px; MARGIN-BOTTOM: 12px
}
.dashboard-table .cellContainer {
	PADDING-BOTTOM: 23px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dashboard-table .cell-adresses P {
	COLOR: #a9adb1
}
.dashboard-table .cell-adresses P:first-line {
	COLOR: #000; FONT-WEIGHT: bold
}
.listTable {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; BORDER-SPACING: 0; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.listTable THEAD TH {
	TEXT-TRANSFORM: uppercase; HEIGHT: 29px; COLOR: #9f9f9f; FONT-SIZE: 11px; VERTICAL-ALIGN: top; PADDING-TOP: 7px
}
.listTable TBODY TD {
	BORDER-BOTTOM: white 1px solid; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: #f4f4f4; PADDING-LEFT: 18px; PADDING-RIGHT: 5px; HEIGHT: 119px; COLOR: black; FONT-SIZE: 11px; FONT-WEIGHT: bold; BORDER-RIGHT: white 1px solid; PADDING-TOP: 0px
}
.listTable TBODY TD A {
	COLOR: black
}
.listTable TBODY TD.img {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.listTable TBODY TD.del {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.listTable TBODY TD.img {
	WIDTH: 79px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.listTable TBODY TD.del {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #d3d3d3; WIDTH: 25px
}
.listTable TBODY TD.del A {
	COLOR: white
}
.listTable TBODY TD.del:hover {
	BACKGROUND-COLOR: white
}
.listTable TBODY TD.del:hover A {
	COLOR: #d3d3d3
}
.listTable TFOOT TD {
	TEXT-ALIGN: right; PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.listTable TFOOT TD.first {
	PADDING-TOP: 15px
}
.listTable TFOOT .title {
	PADDING-BOTTOM: 6px; DISPLAY: block; COLOR: #9f9f9f; FONT-SIZE: 11px
}
.listTable TFOOT .value {
	FONT-SIZE: 18px; FONT-WEIGHT: bold
}
.listTableFirst THEAD TH {
	PADDING-TOP: 0px
}
.marginBClassSmall {
	MARGIN-BOTTOM: 20px
}
.majorLink {
	FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.intermediateLink {
	FONT-SIZE: 11px; TEXT-DECORATION: underline
}
.smallLink {
	FONT-SIZE: 10px; TEXT-DECORATION: underline
}
.borderLine {
	BORDER-BOTTOM: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; BORDER-RIGHT: #e8e8e8 1px solid
}
#searchBox INPUT:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
#searchBox BUTTON:hover {
	CURSOR: pointer
}
#socialList {
	MARGIN-TOP: 10px
}
#socialList LI {
	FLOAT: left; MARGIN-RIGHT: 5px
}
.linkDisabled {
	COLOR: #adadad
}
.lineBlock {
	MARGIN-TOP: 10px; WIDTH: 1px; FLOAT: left; HEIGHT: 130px
}
#registerBlock {
	MARGIN: 20px 0px 0px 10px; WIDTH: 390px; FLOAT: left
}
#registerBlock INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: black 1px solid; WIDTH: 145px; BACKGROUND: white 0px 0px; COLOR: black; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#registerBlock BUTTON {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: black; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; LETTER-SPACING: 0pt; COLOR: white; FONT-SIZE: 10px; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; WORD-SPACING: 0pt; PADDING-TOP: 3px
}
#content P.registerHead {
	LINE-HEIGHT: 15px; TEXT-TRANSFORM: uppercase; LETTER-SPACING: 2pt; MARGIN-LEFT: 15px; FONT-SIZE: 11px; FONT-WEIGHT: bold; WORD-SPACING: 2pt
}
.registerForm {
	MARGIN: 20px 0px 0px 80px
}
.collectionBlock {
	WIDTH: 390px; PADDING-RIGHT: 25px; DISPLAY: block; BACKGROUND: url(/images/_fakes/teaserCollection.png) white no-repeat right center; FLOAT: right; HEIGHT: 129px; COLOR: black; PADDING-TOP: 20px
}
#content .collectionHead {
	LINE-HEIGHT: 15px; TEXT-TRANSFORM: uppercase; LETTER-SPACING: 2pt; MARGIN-LEFT: 20px; FONT-SIZE: 11px; WORD-SPACING: 2pt
}
.collectionHeadSeason {
	FONT-WEIGHT: bold
}
.cms-home .marginBClassSmall {
	TEXT-ALIGN: center; MARGIN: 0px auto 35px; WIDTH: 936px
}
.cms-home .marginBClassSmall .sectionBlockTxt .left {
	TEXT-ALIGN: center; WIDTH: 100%; FLOAT: none
}
.cms-home #HPeShop .marginBClassSmall {
	WIDTH: auto
}
.cms-home #collection {
	MARGIN: 0px auto; WIDTH: 820px
}
.HPslideShowTxt1 {
	TEXT-ALIGN: center; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.HPslideShowTxt2 {
	TEXT-ALIGN: center; COLOR: #939393; FONT-SIZE: 10px
}
.HPslideShowTxt3 {
	TEXT-ALIGN: center; FONT-SIZE: 14px !important
}
.HPslideShowTxt4 {
	TEXT-ALIGN: center
}
.sectionBlockCenterMarginLeft {
	MARGIN-LEFT: 19px
}
.sectionBlockCenterMarginRight {
	MARGIN-RIGHT: 19px
}
.sectionBlockTxt {
	MARGIN-TOP: 8px
}
.sectionBlockTxt .left {
	FLOAT: left
}
.sectionBlockTxt .right {
	MARGIN-TOP: 0px; FLOAT: right; with: 100px
}
.sectionBlock {
	WIDTH: 304px; FLOAT: left
}
.sectionBlockLast {
	FLOAT: right; MARGIN-LEFT: 1px; MARGIN-RIGHT: 0px
}
.sectionBlockSecond {
	DISPLAY: inline-block; FLOAT: none; MARGIN-LEFT: 2px
}
.hpTitle {
	TEXT-ALIGN: center !important; MARGIN-BOTTOM: 20px; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
#HPeShop {
	MARGIN-TOP: 30px; MARGIN-BOTTOM: 40px
}
#HPeShopList {
	OVERFLOW: hidden
}
.productList#HPeShopList .img {
	PADDING-LEFT: 36px
}
#HPeShopList LI {
	WIDTH: 225px; FLOAT: left; HEIGHT: 365px; MARGIN-RIGHT: 130px
}
.cms-page-view .std #HPeShopList {
	MARGIN-TOP: 35px; PADDING-LEFT: 35px
}
.cms-page-view .std #HPeShopList LI {
	MIN-HEIGHT: 340px; HEIGHT: auto; MARGIN-RIGHT: 0px
}
#HPeShop #HPeShopList LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 0px; HEIGHT: auto; MARGIN-LEFT: 114px; MARGIN-RIGHT: 0px; PADDING-TOP: 0px
}
#HPeShop #HPeShopList LI.last {
	MARGIN: 0px; FLOAT: right
}
#HPeShop #HPeShopList LI.first {
	MARGIN: 0px
}
#HPeShopList LI.last-in-row {
	MARGIN-RIGHT: 0px
}
.HPeShopBloc {
	LETTER-SPACING: 0.1em
}
#HPeShopList .product-attributes {
	LINE-HEIGHT: 1.1; MARGIN-TOP: 7px; FONT-FAMILY: HelveticaNeueLTStdLt; MARGIN-BOTTOM: 5px; COLOR: #a9adb1; BORDER-TOP: #ccc 1px solid; PADDING-TOP: 6px
}
#HPeShopList .product-new {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: HelveticaNeueLTStdLtExtRg; FONT-SIZE: 9px; BORDER-TOP: 1px solid; BORDER-RIGHT: 1px solid; PADDING-TOP: 3px
}
.HPeShopBloc .left {
	MARGIN-TOP: 4px
}
.HPeShopBloc .right {
	MARGIN-TOP: 4px
}
.HPeShopBlocStart .left {
	MARGIN-TOP: 4px
}
.HPeShopBlocStart .right {
	MARGIN-TOP: 4px
}
.HPeShopBloc A.img {
	WIDTH: 160px; DISPLAY: block; HEIGHT: 240px
}
.HPeShopBlocStart A.img {
	WIDTH: 160px; DISPLAY: block; HEIGHT: 240px
}
.HPeShopBloc .right A {
	TEXT-DECORATION: underline
}
.HPeShopBlocStart .right A {
	TEXT-DECORATION: underline
}
.HPeShopBloc .right A:hover {
	TEXT-DECORATION: none
}
.HPeShopBlocStart .right A:hover {
	TEXT-DECORATION: none
}
.HPeShopBloc .seasonTitle {
	TEXT-ALIGN: center; LINE-HEIGHT: 1.8em !important; TEXT-TRANSFORM: uppercase; FONT-SIZE: 14px !important; FONT-WEIGHT: bold !important; PADDING-TOP: 80px
}
.HPeShopBlocStart .seasonTitle {
	TEXT-ALIGN: center; LINE-HEIGHT: 1.8em !important; TEXT-TRANSFORM: uppercase; FONT-SIZE: 14px !important; FONT-WEIGHT: bold !important; PADDING-TOP: 80px
}
.HPeShopBloc .product-name {
	TEXT-ALIGN: center; TEXT-TRANSFORM: uppercase; FONT-FAMILY: HelveticaNeueLTStdLtExtRg; MARGIN-BOTTOM: 18px
}
.HPeShopBloc .category {
	FONT-FAMILY: HelveticaNeueLTStdMedRegular
}
#collection {
	MARGIN-TOP: 20px
}
.collectionTitles {
	TEXT-ALIGN: center; MARGIN: 40px 0px 20px
}
.collectionTitles LI {
	DISPLAY: inline
}
.collectionTitles LI A {
	TEXT-TRANSFORM: uppercase; COLOR: black; FONT-SIZE: 11px
}
.collectionTitles LI A:hover {
	TEXT-DECORATION: underline
}
.collectionTitles LI.first {
	PADDING-RIGHT: 18px; BORDER-RIGHT: #a2a2a2 1px solid
}
.collectionTitles LI.last {
	MARGIN-LEFT: 18px
}
.collectionLooks LI {
	FLOAT: left
}
#HPCollectionList LI {
	FLOAT: left
}
.HPCollectionBlocStart {
	TEXT-ALIGN: right; WIDTH: 149px
}
.HPCollectionBloc {
	TEXT-ALIGN: right; WIDTH: 148px; MARGIN-LEFT: 77px
}
.collectionsScrollerSize {
	WIDTH: 3000px; HEIGHT: 258px
}
.produithp {
	BORDER-BOTTOM: #d9d9d9 1px solid
}
#contentDispatch {
	MARGIN-BOTTOM: 25px
}
.dispatchBlock {
	WIDTH: 274px; FLOAT: left
}
.dispatchText {
	TEXT-ALIGN: center; MARGIN-TOP: 150px
}
.menuCategoryList {
	MARGIN: 10px 0px 40px
}
.menuCategoryList LI {
	MARGIN: 10px 0px 0px
}
.menuLink {
	LETTER-SPACING: 2pt; COLOR: white; WORD-SPACING: 2pt
}
.menuBlockLeft {
	POSITION: absolute; MARGIN-TOP: -4.35em; MARGIN-LEFT: 9em
}
.menuArrowLeft {
	POSITION: absolute; MARGIN-TOP: 1.6em; BACKGROUND: url(/images/arrowMenu.png) no-repeat center bottom; MARGIN-LEFT: -1.8em
}
#categoryMainImage {
	WIDTH: 540px; FLOAT: left; HEIGHT: 340px
}
#categoryList {
	FLOAT: left; MARGIN-LEFT: 20px
}
#categoryList LI {
	MARGIN-BOTTOM: 10px
}
#categoryList LI A {
	TEXT-TRANSFORM: uppercase
}
#categoryList LI.all {
	MARGIN-BOTTOM: 30px
}
#categoryList LI.news {
	MARGIN-TOP: 37px
}
.price {
	FONT-SIZE: 16px; FONT-WEIGHT: bold
}
#detailDescription {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 264px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
#detailDescription H2 {
	FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.description {
	FONT-SIZE: 10px
}
#slideShowContainer {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: -15px auto 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; DISPLAY: block; HEIGHT: 500px; CLEAR: both; OVERFLOW: hidden; TOP: 0px; PADDING-TOP: 0px
}
#slideShowVideoContainer {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 18px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; DISPLAY: block; HEIGHT: 460px; CLEAR: both; OVERFLOW: hidden; TOP: 0px; PADDING-TOP: 0px
}
#slideShow {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#slideShow LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; DISPLAY: block; HEIGHT: 470px; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 0px
}
#slideShow LI DIV {
	POSITION: relative; PADDING-BOTTOM: 25px; MARGIN: 40px 0px 0px 40px; PADDING-LEFT: 25px; WIDTH: 403px; PADDING-RIGHT: 25px; DISPLAY: block; HEIGHT: 210px; COLOR: white; CLEAR: both; PADDING-TOP: 25px
}
#navSlideShow {
	TEXT-ALIGN: center; MARGIN-TOP: 5px; CLEAR: left
}
#navSlideShow A {
	PADDING-BOTTOM: 0px; TEXT-INDENT: -5000px; MARGIN: 0px 2px 0px 0px; PADDING-LEFT: 0px; WIDTH: 10px; PADDING-RIGHT: 0px; DISPLAY: inline-block; BACKGROUND: url(/images/dots.png) no-repeat -10px center; PADDING-TOP: 0px
}
#navSlideShow A.activeSlide {
	BACKGROUND-POSITION: left center
}
.product-name H2 {
	PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; MARGIN: 0px 0px 17px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.product-description {
	MARGIN-TOP: 23px
}
.attrBox {
	MARGIN-TOP: 18px
}
.attrBox P {
	MARGIN-BOTTOM: 0px !important; COLOR: black
}
.attrBox DL {
	MARGIN-TOP: 0px
}
#socialProduitBt {
	DISPLAY: block
}
.product-button {
	MARGIN-BOTTOM: 10px
}
.btn-cart {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; PADDING-BOTTOM: 3px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: black; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; LETTER-SPACING: 0pt; COLOR: white; FONT-SIZE: 11px; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; WORD-SPACING: 0pt; PADDING-TOP: 3px
}
.btn-wishlist {
	BORDER-BOTTOM: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #d3d3d3; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; LETTER-SPACING: 0pt; COLOR: black; FONT-SIZE: 9px; BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid; WORD-SPACING: 0pt; PADDING-TOP: 3px
}
.collectionleftLink {
	TEXT-ALIGN: left; MARGIN-TOP: 0px; FLOAT: left
}
.product-img-box {
	WIDTH: 528px; FLOAT: left
}
.product-shop {
	WIDTH: 311px; FONT-FAMILY: HelveticaNeueLTStdLt; FLOAT: right; LETTER-SPACING: 0.1em; MARGIN-RIGHT: 79px
}
.product-shop .product-name H1 {
	MARGIN-BOTTOM: 5px !important; FONT-SIZE: 14px !important
}
.product-shop .product-out-of-stock {
	TEXT-TRANSFORM: uppercase; FONT-FAMILY: HelveticaNeueLTStdLt; LETTER-SPACING: 0.1em; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.product-shop .product-category-name {
	COLOR: #a9adb1
}
.product-collateral .marginBClassSmall .sectionBlock .left {
	TEXT-ALIGN: center; DISPLAY: block; FLOAT: none
}
.product-collateral .marginBClassSmall .sectionBlock .price-box {
	PADDING-TOP: 6px
}
.product-collateral .marginBClassSmall .sectionBlock .price-box .old-price {
	BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none
}
.product-collateral .marginBClassSmall .sectionBlock .price-box .old-price SPAN.price {
	BACKGROUND: url(../images/old-price.png) repeat-x left center
}
.product-img-box .more-views {
	WIDTH: 80px; FLOAT: left
}
.product-img-box .big-image {
	
}
.product-shop .product-options {
	PADDING-BOTTOM: 13px; MARGIN-TOP: 10px; BORDER-TOP: black 1px solid; PADDING-TOP: 10px
}
.product-shop .product-options LABEL {
	TEXT-TRANSFORM: uppercase; DISPLAY: block; MARGIN-BOTTOM: 10px; LETTER-SPACING: normal
}
.product-shop .product-options .img-select-box {
	MARGIN-BOTTOM: 19px
}
.product-shop .product-options .img-select-box LI {
	FLOAT: left; MARGIN-RIGHT: 13px
}
.product-shop .product-options .img-select-box LI A {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; DISPLAY: block; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.product-shop .product-options .img-select-box LI A.selected {
	BORDER-BOTTOM-COLOR: black; BORDER-TOP-COLOR: black; BORDER-RIGHT-COLOR: black; BORDER-LEFT-COLOR: black
}
.product-shop .product-options .img-select-box LI A IMG {
	DISPLAY: block
}
#content .tab-content .std {
	TEXT-ALIGN: left
}
.product-shop .product-options .custom-select-btn {
	TEXT-ALIGN: center; BORDER-LEFT: #868686 1px solid; LINE-HEIGHT: 24px; TEXT-TRANSFORM: uppercase; WIDTH: 258px; PADDING-RIGHT: 31px; BACKGROUND: url(../images/btn_size.png) no-repeat 100% 0px; HEIGHT: 24px; CURSOR: pointer
}
.product-shop .product-size-select-box {
	Z-INDEX: 10; POSITION: relative; MARGIN-BOTTOM: 12px
}
.product-shop .product-size-select-box UL.select-list {
	BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; WIDTH: 278px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: #fafafa; BORDER-TOP: #ccc 1px solid; TOP: 24px; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 10px; LEFT: 0px
}
.product-shop .product-size-select-box UL.select-list .disabled {
	COLOR: #848484
}
.product-shop .product-size-select-box UL.select-list .disabled .stock-notice {
	PADDING-LEFT: 12px
}
.product-shop .product-size-select-box UL.select-list LI {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 12px; CURSOR: pointer; PADDING-TOP: 2px
}
.product-shop .product-size-select-box UL.select-list LI:hover {
	BACKGROUND: #ccc
}
.product-shop .product-size-select-box A.info {
	POSITION: absolute; WIDTH: 24px; BACKGROUND: url(../images/info.png) no-repeat 0px 0px; HEIGHT: 24px; TOP: 0px; LEFT: 290px
}
.product-shop .product-options-bottom {
	BORDER-BOTTOM: black 1px solid; PADDING-BOTTOM: 13px
}
#share-wrapper {
	Z-INDEX: 5; POSITION: relative; PADDING-TOP: 13px
}
#share-wrapper .btn-head {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; TEXT-TRANSFORM: uppercase; BACKGROUND: url(../images/btn_size.png) no-repeat 100% 0px; HEIGHT: 24px; CURSOR: pointer
}
#share-wrapper .body {
	BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 289px; PADDING-RIGHT: 10px; BACKGROUND: #fafafa; BORDER-TOP: #ccc 1px solid; TOP: 37px; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 10px; LEFT: 0px
}
#product-tabs {
	PADDING-BOTTOM: 0px; MARGIN: 22px 0px 30px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#product-tabs .tabs {
	PADDING-BOTTOM: 9px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#product-tabs .tabs LI {
	PADDING-BOTTOM: 3px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-FAMILY: HelveticaNeueLTStdLtExtRg; FLOAT: left; PADDING-TOP: 3px
}
#product-tabs .tabs LI:first-child {
	PADDING-LEFT: 0px; BORDER-RIGHT: #ccc 1px solid
}
#product-tabs .tabs LI A.active {
	COLOR: black
}
#product-tabs .tabs LI A {
	COLOR: #8f8f8f
}
.shopMenu {
	MARGIN-TOP: 30px; WIDTH: 233px; FLOAT: left
}
.shopMenu UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.shopMenu UL LI {
	LINE-HEIGHT: 1em; MARGIN: 0px 0px 16px
}
.shopMenu UL LI A {
	COLOR: black
}
.shopMenu UL LI A:hover {
	COLOR: #848484
}
.shopMenu UL LI.current A {
	COLOR: #848484; TEXT-DECORATION: underline
}
#shopZone {
	TEXT-TRANSFORM: uppercase
}
#shopType {
	TEXT-TRANSFORM: uppercase
}
#shopTown {
	TEXT-TRANSFORM: uppercase
}
#shopTown {
	MARGIN-TOP: 0px
}
#shopShops {
	MARGIN-TOP: 0px
}
#shopTown .jcarousel-container {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#shopShops .jcarousel-container {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#shopTown .jcarousel-item {
	DISPLAY: block; HEIGHT: auto
}
#shopShops .jcarousel-item {
	DISPLAY: block; HEIGHT: auto
}
#shopTown .jcarousel-clip-vertical {
	HEIGHT: 180px
}
#shopShops .jcarousel-clip-vertical {
	HEIGHT: 180px
}
#shopTown .jcarousel-container-vertical {
	PADDING-BOTTOM: 30px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; HEIGHT: 160px; PADDING-TOP: 30px
}
#shopShops .jcarousel-container-vertical {
	PADDING-BOTTOM: 30px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; HEIGHT: 160px; PADDING-TOP: 30px
}
#shopTown UL {
	HEIGHT: 160px; OVERFLOW: hidden
}
#shopShops UL {
	HEIGHT: 160px; OVERFLOW: hidden
}
#content .searchResult .summary {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 40px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: black; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 40px; COLOR: white; FONT-SIZE: 11px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#content .searchResult .summary STRONG {
	FLOAT: left; FONT-SIZE: 24px; FONT-WEIGHT: normal
}
#content .searchResult .summary SPAN {
	MARGIN: -2px 0px 0px 5px
}
#content .searchResult H2 {
	TEXT-TRANSFORM: uppercase; MARGIN-TOP: 18px; COLOR: #9f9f9f
}
#content .searchResult .first {
	BORDER-BOTTOM: #d1d1d1 1px solid; MARGIN-BOTTOM: 18px
}
.contactBlock {
	PADDING-LEFT: 10px; WIDTH: 260px; FLOAT: left; FONT-SIZE: 11px
}
.contactBlock H3 {
	MARGIN-TOP: 0px !important
}
.contactBlock P {
	LINE-HEIGHT: 1.25em !important
}
.contactTel DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 10px; PADDING-RIGHT: 5px; FLOAT: left; CLEAR: both; PADDING-TOP: 0px
}
.contactTel DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 140px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.contactOther DT {
	PADDING-BOTTOM: 0px; MARGIN: 25px 0px 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; CLEAR: both; PADDING-TOP: 0px; size: 11px
}
.contactOther DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#contactForm {
	MARGIN-TOP: 43px
}
#contactForm P {
	MARGIN-TOP: 16px; OVERFLOW: hidden
}
#contactForm LABEL {
	FLOAT: left; PADDING-TOP: 5px
}
#contactForm INPUT {
	BORDER-BOTTOM: #a7a7a7 1px solid; BORDER-LEFT: #a7a7a7 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; WIDTH: 145px; PADDING-RIGHT: 3px; BACKGROUND: white 0px 0px; FLOAT: right; BORDER-TOP: #a7a7a7 1px solid; BORDER-RIGHT: #a7a7a7 1px solid; PADDING-TOP: 3px
}
#contactForm TEXTAREA {
	BORDER-BOTTOM: #a7a7a7 1px solid; BORDER-LEFT: #a7a7a7 1px solid; MARGIN-TOP: 7px; WIDTH: 254px; HEIGHT: 90px; BORDER-TOP: #a7a7a7 1px solid; BORDER-RIGHT: #a7a7a7 1px solid
}
#contactForm .required {
	FONT-STYLE: italic; MARGIN-TOP: -10px; COLOR: #a7a7a7; FONT-SIZE: 9px
}
#contactForm .valid A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: black; MARGIN: 0px 0px 0px 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; FLOAT: right; LETTER-SPACING: 0pt; HEIGHT: 22px; COLOR: white; FONT-SIZE: 11px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; WORD-SPACING: 0pt; PADDING-TOP: 0px
}
#contactForm .valid BUTTON {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: black; MARGIN: 0px 0px 0px 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; FLOAT: right; LETTER-SPACING: 0pt; HEIGHT: 22px; COLOR: white; FONT-SIZE: 11px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; WORD-SPACING: 0pt; PADDING-TOP: 0px
}
#contactForm .valid A {
	BACKGROUND-COLOR: #707070
}
#pressList {
	WIDTH: 260px; FLOAT: left
}
#myPressCarousel A {
	COLOR: black; FONT-WEIGHT: bold
}
#myPressCarousel LI {
	MARGIN-BOTTOM: 12px
}
#myPressCarousel LI.current A {
	COLOR: #848484; TEXT-DECORATION: underline
}
#pressImg {
	FLOAT: right
}
#content .colNumber {
	FONT-SIZE: 20px
}
#content .lookImage {
	WIDTH: 358px; FLOAT: left; MARGIN-LEFT: 10px; MARGIN-RIGHT: 40px
}
#content .lookDetail {
	WIDTH: 230px; FLOAT: left; MARGIN-LEFT: 10px
}
#content .lookDetail UL {
	MARGIN-BOTTOM: 40px
}
#content .lookDetail UL A:hover {
	TEXT-DECORATION: underline
}
#content .btn-cart {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; PADDING-BOTTOM: 3px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: black; PADDING-LEFT: 9px; WIDTH: 100%; PADDING-RIGHT: 9px; DISPLAY: block; FONT-FAMILY: HelveticaNeueLTStdLt; LETTER-SPACING: 0pt; COLOR: white; FONT-SIZE: 14px; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; WORD-SPACING: 0pt; PADDING-TOP: 3px
}
#content .loading.btn-cart {
	BACKGROUND: url(../images/loading_spinner.gif) #000 no-repeat 5px 4px; COLOR: #a4a4a4
}
#content .loading.btn-cart SPAN {
	CURSOR: wait
}
#content .btn-cart:hover {
	CURSOR: pointer
}
#content .lookDetailShop {
	WIDTH: 400px
}
#content .lookDetailShop .lookShop UL {
	MARGIN-BOTTOM: 15px
}
#content .lookDetailShop .lookShop LI {
	FLOAT: left; CLEAR: left
}
#content .lookDetailShop .lookShop LI IMG {
	FLOAT: left; MARGIN-RIGHT: 10px
}
#content .lookDetailShop .lookShop LI .card {
	MARGIN-TOP: 5px; FLOAT: left
}
#content .lookDetailShop .lookShop LI .card INPUT {
	MARGIN-LEFT: 0px
}
#content .lookDetailShop .lookShop LI .price {
	MARGIN-TOP: 4px
}
#content .lookDetailShop .lookShop LI .desc {
	MARGIN-TOP: 11px
}
.scroll-paneTxt {
	WIDTH: 100%; HEIGHT: 200px; OVERFLOW: auto
}
#accountHeader {
	BORDER-BOTTOM: #ddd 1px solid; DISPLAY: block; MARGIN-BOTTOM: 15px
}
#accountHeader LI {
	BORDER-BOTTOM: #ddd 1px solid; MARGIN: 0px 5px -1px 15px; DISPLAY: block; FLOAT: left; COLOR: #d3d3d3; FONT-SIZE: 11px; BORDER-TOP: transparent 1px solid
}
#accountHeader LI A {
	PADDING-BOTTOM: 12px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; FONT-FAMILY: HelveticaNeueLTStdMedRegular; COLOR: #d3d3d3; TEXT-DECORATION: none; PADDING-TOP: 12px
}
#accountHeader LI A:hover {
	COLOR: #000
}
#accountHeader LI.current {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #ddd 1px solid; BACKGROUND: #fff; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
#accountHeader LI.current A {
	COLOR: #000
}
.formContainer {
	WIDTH: 100%; FLOAT: left; OVERFLOW: hidden
}
.borderBottom {
	BORDER-BOTTOM: 1px solid; WIDTH: 100%; MARGIN-BOTTOM: 35px; FLOAT: left; OVERFLOW: hidden
}
.formContainer2 {
	WIDTH: 49%; FLOAT: right; OVERFLOW: hidden
}
.formContainer H1 {
	MARGIN-BOTTOM: 18px !important
}
.formContainer .innerContainer {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #fff; PADDING-TOP: 15px
}
.formContainer .innerContainer .line {
	MARGIN-BOTTOM: 29px
}
.formContainer .innerContainer .line A {
	TEXT-DECORATION: underline
}
.formContainer .innerContainer .line A:hover {
	TEXT-DECORATION: none
}
.formContainer .innerContainer .line-single {
	MARGIN-TOP: -10px; MARGIN-LEFT: 200px
}
.formContainer .innerContainer .line-checkbox LABEL {
	TEXT-TRANSFORM: none; DISPLAY: inline; FONT-WEIGHT: normal
}
.formContainer .innerContainer .line-radio LABEL {
	TEXT-TRANSFORM: none; DISPLAY: inline; FONT-WEIGHT: normal
}
.formContainer .innerContainer LABEL {
	TEXT-TRANSFORM: uppercase; MARGIN: 0px 0px 8px; WIDTH: 200px; DISPLAY: block; FLOAT: left; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.formContainer .innerContainer INPUT[type=text] {
	BORDER-BOTTOM: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; MARGIN: 0px; WIDTH: 170px; HEIGHT: 21px; BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid
}
.formContainer .innerContainer INPUT[type=password] {
	BORDER-BOTTOM: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; MARGIN: 0px; WIDTH: 170px; HEIGHT: 21px; BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid
}
.formContainer .innerContainer SELECT {
	BORDER-BOTTOM: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; MARGIN: 0px; WIDTH: 170px; HEIGHT: 21px; BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid
}
.formContainer .innerContainer INPUT[type=text].medium {
	WIDTH: 220px
}
.formContainer .innerContainer INPUT[type=password].medium {
	WIDTH: 220px
}
.formContainer .innerContainer SELECT.medium {
	WIDTH: 220px
}
.formContainer .innerContainer INPUT[type=text].large {
	WIDTH: 300px
}
.formContainer .innerContainer INPUT[type=password].large {
	WIDTH: 300px
}
.formContainer .innerContainer SELECT.large {
	WIDTH: 300px
}
.formContainer .innerContainer .line-required P {
	COLOR: #9f9f9f
}
.formContainer .innerContainer .button {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 0px; WIDTH: 203px; BOTTOM: 0px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(/images/bt_arrow_black.gif) black no-repeat 20px center; FLOAT: left; HEIGHT: 28px; COLOR: white; FONT-SIZE: 11px; BORDER-TOP: medium none; RIGHT: 0px; FONT-WEIGHT: bold; MARGIN-RIGHT: 10px; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.formContainer .innerContainer .button:hover {
	CURSOR: pointer
}
.formContainer .innerContainer .button-valid {
	BACKGROUND-IMAGE: none; BORDER-BOTTOM: black 3px solid; BORDER-LEFT: black 3px solid; LINE-HEIGHT: 22px; BACKGROUND-COLOR: white; COLOR: black; BORDER-TOP: black 3px solid; BORDER-RIGHT: black 3px solid
}
.formContainer .innerContainer .button-previous {
	LINE-HEIGHT: 33px; PADDING-LEFT: 10px; WIDTH: 203px; FLOAT: left; COLOR: white; RIGHT: auto; MARGIN-RIGHT: 10px; LEFT: 0px
}
.formContainer2 {
	MARGIN-RIGHT: 0px
}
.formContainerSize1 .innerContainer {
	HEIGHT: 200px
}
.formContainerSize2 .innerContainer {
	HEIGHT: auto
}
.rowContainer {
	MARGIN-BOTTOM: 1px; FLOAT: left; OVERFLOW: hidden
}
.rowContainer .cellContainer {
	POSITION: relative; PADDING-BOTTOM: 2030px; PADDING-LEFT: 30px; WIDTH: 340px; PADDING-RIGHT: 30px; MARGIN-BOTTOM: -2000px; BACKGROUND: #f4f4f4; FLOAT: left; PADDING-TOP: 30px
}
.rowContainer .cellContainer H3 {
	MARGIN-TOP: 0px !important; MARGIN-BOTTOM: 15px !important; LETTER-SPACING: 0px; FONT-WEIGHT: bold !important
}
.rowContainer .cellContainer H3 .edit {
	TEXT-TRANSFORM: none; PADDING-LEFT: 10px; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.rowContainer .cellContainer H3 .edit:hover {
	TEXT-DECORATION: none
}
.rowContainer .cellContainer P {
	LINE-HEIGHT: 1.7em !important; MARGIN-BOTTOM: 0px !important
}
.rowContainer .cellContainer FORM .button {
	POSITION: absolute; BOTTOM: 0px; RIGHT: 0px
}
.rowContainer .cellContainerFirst {
	MARGIN-RIGHT: 21px
}
.rowContainerMarged {
	MARGIN-BOTTOM: 21px
}
.purchaseTable TBODY TD {
	TEXT-TRANSFORM: none; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-WEIGHT: normal
}
.purchaseTable TBODY TD.number {
	WIDTH: 90px
}
.purchaseTable TBODY TD.date {
	WIDTH: 50px
}
.purchaseTable TBODY TD.sentto {
	FONT-WEIGHT: bold
}
.purchaseTable TBODY TD.total {
	WIDTH: 80px
}
.purchaseTable TBODY TD.status {
	FONT-STYLE: italic; WIDTH: 80px
}
.purchaseTable TBODY TD.action {
	BACKGROUND-COLOR: #d3d3d3; WIDTH: 115px
}
.purchaseTable TBODY TD.action A {
	TEXT-DECORATION: underline
}
.purchaseTable TBODY TD.action A:hover {
	
}
#tunnelHeader {
	BORDER-BOTTOM: #d3d3d3 1px solid; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; BORDER-TOP: #d3d3d3 1px solid; PADDING-TOP: 6px
}
#tunnelHeader LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; FLOAT: left; COLOR: #d3d3d3; FONT-SIZE: 24px; PADDING-TOP: 0px
}
#tunnelHeader LI.current {
	COLOR: black
}
.recapTable TBODY.shippings H3 {
	TEXT-TRANSFORM: uppercase; MARGIN: 0px 0px 4px; COLOR: #8a8a8a; FONT-WEIGHT: bold
}
.recapTable TBODY.shippings P {
	TEXT-TRANSFORM: none; FONT-WEIGHT: normal
}
.recapTable TBODY.shippings TR.last TD {
	BORDER-BOTTOM: medium none
}
.recapTable TBODY.shippings TD {
	PADDING-BOTTOM: 28px; HEIGHT: auto; VERTICAL-ALIGN: top; BORDER-RIGHT: medium none; PADDING-TOP: 28px
}
.recapTable TBODY.shippings .title {
	PADDING-LEFT: 20px; WIDTH: 110px; PADDING-RIGHT: 20px; BACKGROUND-REPEAT: no-repeat
}
.recapTable TBODY.shippings .title LABEL {
	DISPLAY: inline !important
}
.recapTable TBODY.shippings .desc {
	PADDING-RIGHT: 60px
}
.recapTable TBODY.shippings .more {
	WIDTH: 110px
}
UL#menu {
	PADDING-BOTTOM: 0.3em; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: black; PADDING-TOP: 0.3em
}
UL#menu H1 {
	TEXT-TRANSFORM: uppercase; DISPLAY: inline; FONT-SIZE: 9px; FONT-WEIGHT: bold
}
UL#menu H2 {
	TEXT-TRANSFORM: uppercase; DISPLAY: inline; FONT-SIZE: 9px; FONT-WEIGHT: bold
}
UL#menu H3 {
	TEXT-TRANSFORM: uppercase; DISPLAY: inline; FONT-SIZE: 9px; FONT-WEIGHT: bold
}
UL#menu LI {
	POSITION: relative; MARGIN: 0.1em 1em; DISPLAY: inline
}
UL#menu LI A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0.4em; PADDING-RIGHT: 0.4em; COLOR: black; TEXT-DECORATION: none; PADDING-TOP: 0px
}
UL#menu LI A:hover {
	TEXT-DECORATION: underline
}
UL#menu LI.mega A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 1.2em; PADDING-RIGHT: 1.2em; PADDING-TOP: 0px
}
UL#menu LI.mega A:hover {
	TEXT-DECORATION: underline
}
UL#menu DIV H3 {
	COLOR: #ff7700; FONT-SIZE: 1.1em; FONT-WEIGHT: bold
}
UL#menu DIV P {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.8em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL#menuEshop {
	MARGIN-BOTTOM: 18px
}
UL#menuCollection {
	MARGIN-BOTTOM: 18px
}
UL#menuPresse {
	MARGIN-BOTTOM: 18px
}
UL#menuEshop LI {
	
}
UL#menuCollection LI {
	
}
UL#menuPresse LI {
	
}
UL#menuEshop LI.mega2 A {
	
}
UL#menuCollection LI.mega2 A {
	
}
UL#menuPresse LI.mega2 A {
	
}
UL#menuEshop LI.mega2 A:hover {
	TEXT-DECORATION: underline
}
UL#menuCollection LI.mega2 A:hover {
	TEXT-DECORATION: underline
}
UL#menuPresse LI.mega2 A:hover {
	TEXT-DECORATION: underline
}
UL#menuEshop LI .megaMenu {
	
}
UL#menuCollection LI .megaMenu {
	
}
UL#menuPresse LI .megaMenu {
	
}
UL#menuEshop .hovering .megaMenu {
	DISPLAY: block
}
UL#menuCollection .hovering .megaMenu {
	DISPLAY: block
}
UL#menuPresse .hovering .megaMenu {
	DISPLAY: block
}
.menuCategories .subCategories {
	
}
#megaWomen .megaMenu {
	
}
#megaMen .megaMenu {
	
}
.megaMenu {
	Z-INDEX: 300; POSITION: absolute; TEXT-ALIGN: left; WIDTH: auto; DISPLAY: none; COLOR: white; TOP: 25px; LEFT: 0px
}
.megaMenu DIV {
	FLOAT: left; MARGIN-RIGHT: 20px; PADDING-TOP: 6px
}
.top-navigation UL LI.item .megaMenu DIV A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.megaMenu .arrow {
	POSITION: absolute; WIDTH: 9px; DISPLAY: none !important; BACKGROUND: url(/images/arrowUp.png) no-repeat center bottom; HEIGHT: 5px; TOP: -5px; LEFT: 25px
}
.megaMenu H4 {
	MARGIN-BOTTOM: 4px
}
.megaMenu .categroyList {
	MARGIN: 0px 0px 10px
}
.megaMenu LI {
	MARGIN-BOTTOM: 8px
}
.megaMenu LI.all {
	MARGIN-BOTTOM: 20px
}
.megaMenu LI A {
	TEXT-TRANSFORM: uppercase; COLOR: white
}
.megaMenu LI A:hover {
	TEXT-DECORATION: underline
}
.megaMenu P {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.8em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#menuEshop {
	MARGIN-TOP: -5px
}
#menuEshop .megaMenu {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 200px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/bg_eshop_menu.gif) repeat-y left top; PADDING-TOP: 0px
}
#menuEshop .megaMenu .inner {
	PADDING-BOTTOM: 17px; PADDING-LEFT: 20px; WIDTH: 165px; PADDING-RIGHT: 20px; FLOAT: left; OVERFLOW: hidden; MARGIN-RIGHT: 1px; PADDING-TOP: 20px
}
#menuEshop .megaMenu .inner H4 {
	MARGIN-TOP: -3px; MARGIN-BOTTOM: 28px
}
#menuCollection .megaMenu {
	WIDTH: 18em
}
#menuCollection .megaMenu P {
	MARGIN-BOTTOM: 0.8em
}
#menuCollection .megaMenu UL {
	MARGIN: 10px 0px 40px
}
#menuPresse .megaMenu {
	WIDTH: 24em
}
#menuNewsletter {
	PADDING-BOTTOM: 40px; BACKGROUND-COLOR: white; PADDING-LEFT: 30px; WIDTH: 310px !important; PADDING-RIGHT: 40px; MARGIN-LEFT: auto; TOP: auto; PADDING-TOP: 58px; LEFT: auto
}
#menuNewsletter .arrow {
	TOP: 223px
}
#menuNewsletter .close {
	POSITION: absolute; COLOR: black; TOP: 20px; RIGHT: 20px
}
#menuNewsletter .close:hover {
	TEXT-DECORATION: underline
}
#menuNewsletter H2 {
	LINE-HEIGHT: 2em; TEXT-TRANSFORM: uppercase; MARGIN: 0px 0px 90px; COLOR: black; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
#menuNewsletter LABEL {
	MARGIN: 7px 0px 2px; DISPLAY: block; COLOR: black; FONT-SIZE: 11px
}
#menuNewsletter INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: black 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: white; PADDING-LEFT: 0px; WIDTH: 220px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 20px; COLOR: black; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 3px
}
#menuNewsletter .comment {
	MARGIN-TOP: 10px; COLOR: black; FONT-SIZE: 10px
}
#menuNewsletter .valid BUTTON {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; FLOAT: right; LETTER-SPACING: 0pt; HEIGHT: 20px; COLOR: white; FONT-SIZE: 10px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; WORD-SPACING: 0pt; PADDING-TOP: 0px
}
#menuNewsletter .valid .button {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; FLOAT: right; LETTER-SPACING: 0pt; HEIGHT: 20px; COLOR: white; FONT-SIZE: 10px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; WORD-SPACING: 0pt; PADDING-TOP: 0px
}
#menuNewsletter .valid BUTTON {
	BACKGROUND-COLOR: black
}
#menuNewsletter .valid BUTTON:hover {
	CURSOR: pointer
}
#menuNewsletter .valid .button {
	BACKGROUND-COLOR: #363636; COLOR: white
}
#socialBt {
	FLOAT: right; PADDING-TOP: 2px
}
#socialBt LI {
	LINE-HEIGHT: 24px; MARGIN: 0px 0px 0px 4px; DISPLAY: inline
}
#socialBt LI A {
	DISPLAY: block; HEIGHT: 24px; MARGIN-LEFT: 15px
}
#socialBt .tw A {
	BACKGROUND-POSITION: -31px 0px
}
#socialBt .cc A {
	BACKGROUND-POSITION: -60px 0px
}
#popinEmailFriendTrigger {
	POSITION: relative
}
#popinEmailFriend {
	Z-INDEX: 200; POSITION: absolute; PADDING-BOTTOM: 40px; BACKGROUND-COLOR: black; PADDING-LEFT: 30px; WIDTH: 310px !important; PADDING-RIGHT: 40px; COLOR: white; TOP: -220px; PADDING-TOP: 58px; LEFT: -390px
}
#popinEmailFriend .arrow {
	TOP: 223px
}
#popinEmailFriend .close {
	POSITION: absolute; COLOR: white; TOP: 20px; RIGHT: 20px
}
#popinEmailFriend .close:hover {
	TEXT-DECORATION: underline
}
#popinEmailFriend H2 {
	LINE-HEIGHT: 2em; TEXT-TRANSFORM: uppercase; MARGIN: 0px 0px 30px; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
#popinEmailFriend LABEL {
	MARGIN: 7px 0px 2px; DISPLAY: block; FONT-SIZE: 11px
}
#popinEmailFriend INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: white 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; WIDTH: 220px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 20px; BACKGROUND: black 0px 0px; COLOR: white; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 3px
}
#popinEmailFriend .comment {
	MARGIN-TOP: 10px; FONT-SIZE: 10px
}
#popinEmailFriend .thanks {
	TEXT-ALIGN: center; DISPLAY: none
}
#popinEmailFriend .valid BUTTON {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; FLOAT: right; LETTER-SPACING: 0pt; HEIGHT: 20px; COLOR: black; FONT-SIZE: 10px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; WORD-SPACING: 0pt; PADDING-TOP: 0px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px
}
#popinEmailFriend .valid .button {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; FLOAT: right; LETTER-SPACING: 0pt; HEIGHT: 20px; COLOR: black; FONT-SIZE: 10px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; WORD-SPACING: 0pt; PADDING-TOP: 0px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px
}
#popinEmailFriend .valid BUTTON {
	BACKGROUND-COLOR: white
}
#popinEmailFriend .valid BUTTON:hover {
	CURSOR: pointer
}
#popinEmailFriend .valid .button {
	BACKGROUND-COLOR: #363636; COLOR: white
}
.dropdown {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dropdown:hover {
	CURSOR: pointer
}
.dropdown DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dropdown DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dropdown UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dropdown DD {
	POSITION: relative
}
.dropdown A {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; COLOR: black; TEXT-DECORATION: none
}
.dropdown A:visited {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; COLOR: black; TEXT-DECORATION: none
}
.dropdown A:hover {
	COLOR: black
}
.dropdown DT {
	DISPLAY: block; COLOR: black
}
.dropdown DT A SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; CURSOR: pointer; PADDING-TOP: 0px
}
.dropdown DD UL {
	Z-INDEX: 500; POSITION: absolute; MIN-WIDTH: 90px; PADDING-BOTTOM: 5px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; DISPLAY: none; BACKGROUND: #ddd; COLOR: #000; TOP: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 5px; LEFT: 0px
}
.dropdown SPAN.value {
	DISPLAY: none
}
.dropdown DD UL A {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; COLOR: #000; PADDING-TOP: 5px
}
.dropdown DD UL A:visited {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; COLOR: #000; PADDING-TOP: 5px
}
.dropdown DD UL A:hover {
	COLOR: #000; CURSOR: pointer; TEXT-DECORATION: underline
}
.dropdown DD UL A:hover:visited {
	COLOR: #000; CURSOR: pointer; TEXT-DECORATION: underline
}
.dropdownColor {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dropdownAlert {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dropdownSize {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dropdownColor DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dropdownAlert DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dropdownSize DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dropdown DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dropdown UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.dropdownColor:hover {
	CURSOR: pointer
}
.dropdownAlert:hover {
	CURSOR: pointer
}
.dropdownSize:hover {
	CURSOR: pointer
}
.dropdownColor DD {
	POSITION: relative
}
.dropdownAlert DD {
	POSITION: relative
}
.dropdownSize DD {
	POSITION: relative
}
.dropdownColor A {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; COLOR: black; TEXT-DECORATION: none
}
.dropdownAlert A {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; COLOR: black; TEXT-DECORATION: none
}
.dropdownSize A {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; COLOR: black; TEXT-DECORATION: none
}
.dropdownColor A:visited {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; COLOR: black
}
.dropdownAlert A:visited {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; COLOR: black
}
.dropdownSize A:visited {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; COLOR: black
}
.dropdownColor A:hover {
	COLOR: black; TEXT-DECORATION: none
}
.dropdownAlert A:hover {
	COLOR: black; TEXT-DECORATION: none
}
.dropdownSize A:hover {
	COLOR: black; TEXT-DECORATION: none
}
.dropdownColor DT {
	WIDTH: 130px; PADDING-RIGHT: 25px; DISPLAY: block; BACKGROUND: url(/images/ddSizeComplete2.png) white no-repeat right center; HEIGHT: 20px; COLOR: black; PADDING-TOP: 10px
}
.dropdownAlert DT {
	WIDTH: 130px; PADDING-RIGHT: 25px; DISPLAY: block; BACKGROUND: url(/images/ddSizeComplete2.png) white no-repeat right center; HEIGHT: 20px; COLOR: black; PADDING-TOP: 10px
}
.dropdownSize DT {
	WIDTH: 130px; PADDING-RIGHT: 25px; DISPLAY: block; BACKGROUND: url(/images/ddSizeComplete2.png) white no-repeat right center; HEIGHT: 20px; COLOR: black; PADDING-TOP: 10px
}
.dropdownColor DT A SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #000000; CURSOR: pointer; PADDING-TOP: 0px
}
.dropdownAlert DT A SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #000000; CURSOR: pointer; PADDING-TOP: 0px
}
.dropdownSize DT A SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #000000; CURSOR: pointer; PADDING-TOP: 0px
}
.dropdownColor DD UL {
	BORDER-BOTTOM: #efefef 1px solid; POSITION: absolute; MIN-WIDTH: 128px; BORDER-LEFT: #efefef 1px solid; PADDING-BOTTOM: 5px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; DISPLAY: none; BACKGROUND: white 0px 0px; COLOR: black; BORDER-TOP: #efefef 1px solid; TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: #efefef 1px solid; PADDING-TOP: 5px; LEFT: 0px
}
.dropdownAlert DD UL {
	BORDER-BOTTOM: #efefef 1px solid; POSITION: absolute; MIN-WIDTH: 128px; BORDER-LEFT: #efefef 1px solid; PADDING-BOTTOM: 5px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; DISPLAY: none; BACKGROUND: white 0px 0px; COLOR: black; BORDER-TOP: #efefef 1px solid; TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: #efefef 1px solid; PADDING-TOP: 5px; LEFT: 0px
}
.dropdownSize DD UL {
	BORDER-BOTTOM: #efefef 1px solid; POSITION: absolute; MIN-WIDTH: 128px; BORDER-LEFT: #efefef 1px solid; PADDING-BOTTOM: 5px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; DISPLAY: none; BACKGROUND: white 0px 0px; COLOR: black; BORDER-TOP: #efefef 1px solid; TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: #efefef 1px solid; PADDING-TOP: 5px; LEFT: 0px
}
.dropdownColor SPAN.value {
	DISPLAY: none
}
.dropdownAlert SPAN.value {
	DISPLAY: none
}
.dropdownSize SPAN.value {
	DISPLAY: none
}
.dropdownColor DD UL LI A {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; COLOR: black; PADDING-TOP: 5px
}
.dropdownAlert DD UL LI A {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; COLOR: black; PADDING-TOP: 5px
}
.dropdownSize DD UL LI A {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; COLOR: black; PADDING-TOP: 5px
}
.dropdownColor DD UL LI A:hover {
	COLOR: black; CURSOR: pointer; TEXT-DECORATION: underline
}
.dropdownAlert DD UL LI A:hover {
	COLOR: black; CURSOR: pointer; TEXT-DECORATION: underline
}
.dropdownSize DD UL LI A:hover {
	COLOR: black; CURSOR: pointer; TEXT-DECORATION: underline
}
.jspContainer {
	POSITION: relative; OVERFLOW: hidden
}
.jspPane {
	POSITION: absolute
}
.jspVerticalBar {
	POSITION: absolute; WIDTH: 0px; HEIGHT: 0px; TOP: 0px; RIGHT: 0px
}
.jspHorizontalBar {
	POSITION: absolute; WIDTH: 0px; BOTTOM: 0px; HEIGHT: 0px; LEFT: 0px
}
.jspVerticalBar * {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.jspHorizontalBar * {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.jspCap {
	DISPLAY: none
}
.jspHorizontalBar .jspCap {
	FLOAT: left
}
.jspTrack {
	POSITION: relative
}
.jspDrag {
	POSITION: relative; BACKGROUND: black; TOP: 0px; CURSOR: pointer; LEFT: 0px
}
.jspHorizontalBar .jspTrack {
	FLOAT: left; HEIGHT: 100%
}
.jspHorizontalBar .jspDrag {
	FLOAT: left; HEIGHT: 100%
}
.jspArrow {
	TEXT-INDENT: -20000px; DISPLAY: block; BACKGROUND: white; CURSOR: pointer
}
.jspDisabled.jspArrow {
	BACKGROUND: #80808d; CURSOR: default
}
.jspVerticalBar .jspArrow {
	HEIGHT: 0px
}
.jspHorizontalBar .jspArrow {
	WIDTH: 0px; FLOAT: left; HEIGHT: 100%
}
.jspVerticalBar .jspArrow:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
.jspCorner {
	BACKGROUND: white; FLOAT: left; HEIGHT: 100%
}
* HTML .jspCorner {
	MARGIN: 0px -3px 0px 0px
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	DIRECTION: rtl
}
.jcarousel-skin-tango .jcarousel-container-vertical {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 75px; PADDING-RIGHT: 0px; HEIGHT: 370px; PADDING-TOP: 10px
}
.jcarousel-skin-tango .jcarousel-clip {
	OVERFLOW: hidden
}
.jcarousel-skin-tango .jcarousel-clip-vertical {
	WIDTH: 75px; HEIGHT: 339px
}
.jcarousel-skin-tango .jcarousel-item {
	WIDTH: 75px; HEIGHT: 75px
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 10px
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 0px
}
.jcarousel-skin-tango .jcarousel-item-vertical {
	MARGIN-BOTTOM: 10px
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
	BACKGROUND: white; COLOR: black
}
.jcarousel-skin-tango .jcarousel-next-vertical {
	POSITION: absolute; WIDTH: 32px; BOTTOM: 5px; BACKGROUND: url(/images/arrowDown.png) no-repeat 0px 0px; HEIGHT: 22px; CURSOR: pointer; LEFT: 35px
}
.jcarousel-skin-tango .jcarousel-next-vertical:hover {
	BACKGROUND-POSITION: 0px -32px
}
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
	BACKGROUND-POSITION: 0px -32px
}
.jcarousel-skin-tango .jcarousel-next-vertical:active {
	BACKGROUND-POSITION: 0px -64px
}
.jcarousel-skin-tango .jcarousel-next-disabled-vertical {
	BACKGROUND-POSITION: 0px -96px; CURSOR: default
}
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover {
	BACKGROUND-POSITION: 0px -96px; CURSOR: default
}
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus {
	BACKGROUND-POSITION: 0px -96px; CURSOR: default
}
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
	BACKGROUND-POSITION: 0px -96px; CURSOR: default
}
.jcarousel-skin-tango .jcarousel-prev-vertical {
	POSITION: absolute; WIDTH: 32px; BACKGROUND: url(/images/arrowUp.png) no-repeat 0px 0px; HEIGHT: 32px; TOP: 0px; CURSOR: pointer; LEFT: 35px
}
.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
	BACKGROUND-POSITION: 0px -32px
}
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
	BACKGROUND-POSITION: 0px -32px
}
.jcarousel-skin-tango .jcarousel-prev-vertical:active {
	BACKGROUND-POSITION: 0px -64px
}
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical {
	BACKGROUND-POSITION: 0px -96px; CURSOR: default
}
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover {
	BACKGROUND-POSITION: 0px -96px; CURSOR: default
}
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus {
	BACKGROUND-POSITION: 0px -96px; CURSOR: default
}
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
	BACKGROUND-POSITION: 0px -96px; CURSOR: default
}
.jcarousel-skin-date .jcarousel-direction-rtl {
	DIRECTION: rtl
}
.jcarousel-skin-presse .jcarousel-direction-rtl {
	DIRECTION: rtl
}
.jcarousel-skin-town .jcarousel-direction-rtl {
	DIRECTION: rtl
}
.jcarousel-skin-shop .jcarousel-direction-rtl {
	DIRECTION: rtl
}
.jcarousel-skin-date .jcarousel-container-vertical {
	PADDING-BOTTOM: 30px; PADDING-LEFT: 31px; WIDTH: 120px; PADDING-RIGHT: 0px; HEIGHT: 420px; PADDING-TOP: 38px
}
.jcarousel-skin-presse .jcarousel-container-vertical {
	PADDING-BOTTOM: 30px; PADDING-LEFT: 31px; WIDTH: 120px; PADDING-RIGHT: 0px; HEIGHT: 420px; PADDING-TOP: 38px
}
.jcarousel-skin-town .jcarousel-container-vertical {
	PADDING-BOTTOM: 30px; PADDING-LEFT: 70px; WIDTH: 120px; PADDING-RIGHT: 0px; HEIGHT: 200px; PADDING-TOP: 38px
}
.jcarousel-skin-shop .jcarousel-container-vertical {
	PADDING-BOTTOM: 30px; PADDING-LEFT: 50px; WIDTH: 120px; PADDING-RIGHT: 0px; HEIGHT: 200px; PADDING-TOP: 38px
}
.jcarousel-skin-date .jcarousel-clip {
	OVERFLOW: hidden
}
.jcarousel-skin-presse .jcarousel-clip {
	OVERFLOW: hidden
}
.jcarousel-skin-town .jcarousel-clip {
	OVERFLOW: hidden
}
.jcarousel-skin-shop .jcarousel-clip {
	OVERFLOW: hidden
}
.jcarousel-skin-date .jcarousel-clip-vertical {
	WIDTH: 120px; HEIGHT: 390px
}
.jcarousel-skin-shop .jcarousel-clip-vertical {
	WIDTH: 120px; HEIGHT: 390px
}
.jcarousel-skin-presse .jcarousel-clip-vertical {
	WIDTH: 120px; HEIGHT: 390px
}
.jcarousel-skin-date .jcarousel-item {
	WIDTH: 120px; HEIGHT: 30px
}
.jcarousel-skin-shop .jcarousel-item {
	WIDTH: 120px; HEIGHT: 30px
}
.jcarousel-skin-presse .jcarousel-item {
	WIDTH: 120px; HEIGHT: 30px
}
.jcarousel-skin-town .jcarousel-clip-vertical {
	WIDTH: 180px; HEIGHT: 390px
}
.jcarousel-skin-town .jcarousel-item {
	WIDTH: 180px; HEIGHT: 30px
}
#town LI {
	MARGIN-BOTTOM: 16px
}
.jcarousel-skin-date .jcarousel-item-horizontal {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 10px
}
.jcarousel-skin-town .jcarousel-item-horizontal {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 10px
}
.jcarousel-skin-shop .jcarousel-item-horizontal {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 10px
}
.jcarousel-skin-presse .jcarousel-item-horizontal {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 10px
}
.jcarousel-skin-date .jcarousel-direction-rtl .jcarousel-item-horizontal {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 0px
}
.jcarousel-skin-town .jcarousel-direction-rtl .jcarousel-item-horizontal {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 0px
}
.jcarousel-skin-shop .jcarousel-direction-rtl .jcarousel-item-horizontal {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 0px
}
.jcarousel-skin-presse .jcarousel-direction-rtl .jcarousel-item-horizontal {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 0px
}
.jcarousel-skin-date .jcarousel-item-vertical {
	MARGIN-BOTTOM: 10px
}
.jcarousel-skin-town .jcarousel-item-vertical {
	MARGIN-BOTTOM: 10px
}
.jcarousel-skin-shop .jcarousel-item-vertical {
	MARGIN-BOTTOM: 10px
}
.jcarousel-skin-presse .jcarousel-item-vertical {
	MARGIN-BOTTOM: 10px
}
.jcarousel-skin-date .jcarousel-item-placeholder {
	BACKGROUND: white; COLOR: black
}
.jcarousel-skin-town .jcarousel-item-placeholder {
	BACKGROUND: white; COLOR: black
}
.jcarousel-skin-shop .jcarousel-item-placeholder {
	BACKGROUND: white; COLOR: black
}
.jcarousel-skin-presse .jcarousel-item-placeholder {
	BACKGROUND: white; COLOR: black
}
.jcarousel-skin-date .jcarousel-next-vertical {
	POSITION: absolute; WIDTH: 32px; BOTTOM: 5px; BACKGROUND: url(../images/arrowDownPresse.png) no-repeat 0px 0px; HEIGHT: 22px; CURSOR: pointer; LEFT: 60px
}
.jcarousel-skin-presse .jcarousel-next-vertical {
	POSITION: absolute; WIDTH: 32px; BOTTOM: 5px; BACKGROUND: url(../images/arrowDownPresse.png) no-repeat 0px 0px; HEIGHT: 22px; CURSOR: pointer; LEFT: 60px
}
.jcarousel-skin-town .jcarousel-next-vertical {
	POSITION: absolute; WIDTH: 32px; BOTTOM: 5px; BACKGROUND: url(../images/arrowDownPresse.png) no-repeat 0px 0px; HEIGHT: 22px; CURSOR: pointer; LEFT: 90px
}
.jcarousel-skin-shop .jcarousel-next-vertical {
	POSITION: absolute; WIDTH: 32px; BOTTOM: 5px; BACKGROUND: url(../images/arrowDownPresse.png) no-repeat 0px 0px; HEIGHT: 22px; CURSOR: pointer; LEFT: 90px
}
.jcarousel-skin-date .jcarousel-next-vertical:hover {
	BACKGROUND: url(../images/arrowDownPresse.png) no-repeat 0px 0px
}
.jcarousel-skin-date .jcarousel-next-vertical:focus {
	BACKGROUND: url(../images/arrowDownPresse.png) no-repeat 0px 0px
}
.jcarousel-skin-town .jcarousel-next-vertical:hover {
	BACKGROUND: url(../images/arrowDownPresse.png) no-repeat 0px 0px
}
.jcarousel-skin-town .jcarousel-next-vertical:focus {
	BACKGROUND: url(../images/arrowDownPresse.png) no-repeat 0px 0px
}
.jcarousel-skin-shop .jcarousel-next-vertical:hover {
	BACKGROUND: url(../images/arrowDownPresse.png) no-repeat 0px 0px
}
.jcarousel-skin-shop .jcarousel-next-vertical:focus {
	BACKGROUND: url(../images/arrowDownPresse.png) no-repeat 0px 0px
}
.jcarousel-skin-presse .jcarousel-next-vertical:hover {
	BACKGROUND: url(../images/arrowDownPresse.png) no-repeat 0px 0px
}
.jcarousel-skin-presse .jcarousel-next-vertical:focus {
	BACKGROUND: url(../images/arrowDownPresse.png) no-repeat 0px 0px
}
.jcarousel-skin-date .jcarousel-next-vertical:active {
	BACKGROUND-POSITION: 0px 0px
}
.jcarousel-skin-town .jcarousel-next-vertical:active {
	BACKGROUND-POSITION: 0px 0px
}
.jcarousel-skin-shop .jcarousel-next-vertical:active {
	BACKGROUND-POSITION: 0px 0px
}
.jcarousel-skin-presse .jcarousel-next-vertical:active {
	BACKGROUND-POSITION: 0px 0px
}
.jcarousel-skin-date .jcarousel-next-disabled-vertical {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-town .jcarousel-next-disabled-vertical {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-shop .jcarousel-next-disabled-vertical {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-presse .jcarousel-next-disabled-vertical {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-date .jcarousel-next-disabled-vertical:hover {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-date .jcarousel-next-disabled-vertical:focus {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-date .jcarousel-next-disabled-vertical:active {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-town .jcarousel-next-disabled-vertical:hover {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-town .jcarousel-next-disabled-vertical:focus {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-town .jcarousel-next-disabled-vertical:active {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-shop .jcarousel-next-disabled-vertical:hover {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-shop .jcarousel-next-disabled-vertical:focus {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-shop .jcarousel-next-disabled-vertical:active {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-presse .jcarousel-next-disabled-vertical:hover {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-presse .jcarousel-next-disabled-vertical:focus {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-presse .jcarousel-next-disabled-vertical:active {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-date .jcarousel-prev-vertical {
	POSITION: absolute; WIDTH: 32px; BACKGROUND: url(../images/arrowUpPresse.png) no-repeat 0px 0px; HEIGHT: 32px; TOP: 0px; CURSOR: pointer; LEFT: 60px
}
.jcarousel-skin-presse .jcarousel-prev-vertical {
	POSITION: absolute; WIDTH: 32px; BACKGROUND: url(../images/arrowUpPresse.png) no-repeat 0px 0px; HEIGHT: 32px; TOP: 0px; CURSOR: pointer; LEFT: 60px
}
.jcarousel-skin-town .jcarousel-prev-vertical {
	POSITION: absolute; WIDTH: 32px; BACKGROUND: url(../images/arrowUpPresse.png) no-repeat 0px 0px; HEIGHT: 32px; TOP: 0px; CURSOR: pointer; LEFT: 90px
}
.jcarousel-skin-shop .jcarousel-prev-vertical {
	POSITION: absolute; WIDTH: 32px; BACKGROUND: url(../images/arrowUpPresse.png) no-repeat 0px 0px; HEIGHT: 32px; TOP: 0px; CURSOR: pointer; LEFT: 90px
}
.jcarousel-skin-date .jcarousel-prev-vertical:hover {
	BACKGROUND-POSITION: 0px 0px
}
.jcarousel-skin-date .jcarousel-prev-vertical:focus {
	BACKGROUND-POSITION: 0px 0px
}
.jcarousel-skin-town .jcarousel-prev-vertical:hover {
	BACKGROUND-POSITION: 0px 0px
}
.jcarousel-skin-town .jcarousel-prev-vertical:focus {
	BACKGROUND-POSITION: 0px 0px
}
.jcarousel-skin-shop .jcarousel-prev-vertical:hover {
	BACKGROUND-POSITION: 0px 0px
}
.jcarousel-skin-shop .jcarousel-prev-vertical:focus {
	BACKGROUND-POSITION: 0px 0px
}
.jcarousel-skin-presse .jcarousel-prev-vertical:hover {
	BACKGROUND-POSITION: 0px 0px
}
.jcarousel-skin-presse .jcarousel-prev-vertical:focus {
	BACKGROUND-POSITION: 0px 0px
}
.jcarousel-skin-date .jcarousel-prev-vertical:active {
	BACKGROUND-POSITION: 0px 0px
}
.jcarousel-skin-town .jcarousel-prev-vertical:active {
	BACKGROUND-POSITION: 0px 0px
}
.jcarousel-skin-shop .jcarousel-prev-vertical:active {
	BACKGROUND-POSITION: 0px 0px
}
.jcarousel-skin-presse .jcarousel-prev-vertical:active {
	BACKGROUND-POSITION: 0px 0px
}
.jcarousel-skin-date .jcarousel-prev-disabled-vertical {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-town .jcarousel-prev-disabled-vertical {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-shop .jcarousel-prev-disabled-vertical {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-presse .jcarousel-prev-disabled-vertical {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-date .jcarousel-prev-disabled-vertical:hover {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-date .jcarousel-prev-disabled-vertical:focus {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-date .jcarousel-prev-disabled-vertical:active {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-town .jcarousel-prev-disabled-vertical:hover {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-town .jcarousel-prev-disabled-vertical:focus {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-town .jcarousel-prev-disabled-vertical:active {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-shop .jcarousel-prev-disabled-vertical:hover {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-shop .jcarousel-prev-disabled-vertical:focus {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-shop .jcarousel-prev-disabled-vertical:active {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-presse .jcarousel-prev-disabled-vertical:hover {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-presse .jcarousel-prev-disabled-vertical:focus {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-presse .jcarousel-prev-disabled-vertical:active {
	BACKGROUND-POSITION: 0px 0px; CURSOR: default
}
.jcarousel-skin-presse {
	BACKGROUND-COLOR: white
}
.jcarousel-skin-date .jcarousel-container-vertical {
	HEIGHT: 130px
}
.jcarousel-skin-date .jcarousel-clip-vertical {
	HEIGHT: 100px
}
#pressList {
	WIDTH: 227px; FLOAT: left
}
#myPressCarousel A {
	COLOR: black; FONT-WEIGHT: bold
}
#pressDateCarousel A {
	COLOR: black; FONT-WEIGHT: bold
}
#myPressCarousel LI {
	MARGIN-BOTTOM: 30px; HEIGHT: auto
}
#pressDateCarousel LI {
	MARGIN-BOTTOM: 30px; HEIGHT: auto
}
#myPressCarousel LI.current A {
	COLOR: #848484; TEXT-DECORATION: underline
}
#pressDateCarousel LI.current A {
	COLOR: #848484; TEXT-DECORATION: underline
}
#pressImg {
	FLOAT: right
}
#pressDate {
	MARGIN-TOP: 160px; WIDTH: 157px; FLOAT: left; HEIGHT: 300px; COLOR: #848484; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
#pressDate LI {
	MARGIN-BOTTOM: 30px
}
#pressListImg {
	POSITION: relative; TOP: 50%
}
#pressListImg LI {
	MARGIN-TOP: 20px
}
#pressListBlock {
	WIDTH: 10px; FLOAT: left; HEIGHT: 474px
}
#pressListBlock LI.current A {
	COLOR: #848484; TEXT-DECORATION: underline
}
#pressListBlock1 {
	MARGIN-TOP: 30px; DISPLAY: table; HEIGHT: 474px; OVERFLOW: hidden
}
#pressListBlock2 {
	DISPLAY: table-cell; VERTICAL-ALIGN: middle
}
#collListBlock2 {
	DISPLAY: table-cell
}
#pressListBlock3 {
	
}
#content .teaser .teaser_line {
	MARGIN-BOTTOM: 60px
}
#content .teaser H1 {
	TEXT-ALIGN: center; TEXT-TRANSFORM: uppercase; MARGIN: 14px 0px 15px
}
#content .teaser P {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; TEXT-TRANSFORM: uppercase; MARGIN: 10px 0px 20px
}
#content .teaser .videoTeaser {
	MARGIN-BOTTOM: 50px
}
.zoomPad {
	Z-INDEX: 99; POSITION: relative; FLOAT: left; CURSOR: crosshair
}
.zoomPreload {
	BACKGROUND-IMAGE: url(/images/zoomloader.gif); Z-INDEX: 110; BORDER-BOTTOM: #cccccc 1px solid; POSITION: absolute; TEXT-ALIGN: center; FILTER: alpha(opacity=80); BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 8px; BACKGROUND-COLOR: white; PADDING-LEFT: 8px; WIDTH: 90px; PADDING-RIGHT: 8px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Tahoma; BACKGROUND-POSITION: 43px 30px; HEIGHT: 43px; COLOR: #333333; FONT-SIZE: 12px; BORDER-TOP: #cccccc 1px solid; TOP: 0px; BORDER-RIGHT: #cccccc 1px solid; TEXT-DECORATION: none; PADDING-TOP: 8px; LEFT: 0px; -moz-opacity: 0.8; opacity: 0.8
}
.zoomPreload * {
	WIDTH: 100px
}
.zoomPreload * {
	HEIGHT: 49px
}
.zoomPup {
	Z-INDEX: 101; BORDER-BOTTOM: #cccccc 1px solid; POSITION: absolute; FILTER: alpha(opacity=60); BORDER-LEFT: #cccccc 1px solid; BACKGROUND-COLOR: white; OVERFLOW: hidden; BORDER-TOP: #cccccc 1px solid; CURSOR: crosshair; BORDER-RIGHT: #cccccc 1px solid; -moz-opacity: 0.6; opacity: 0.6
}
.zoomOverlay {
	Z-INDEX: 101; POSITION: absolute; WIDTH: 100%; DISPLAY: none; BACKGROUND: white; HEIGHT: 100%; TOP: 0px; LEFT: 0px
}
.zoomWindow {
	Z-INDEX: 110; POSITION: absolute; BACKGROUND: white; HEIGHT: auto; TOP: 40px; LEFT: 110%
}
.zoomWrapper {
	Z-INDEX: 110; BORDER-BOTTOM: #efefef 1px solid; POSITION: relative; BORDER-LEFT: #efefef 1px solid; BORDER-TOP: #efefef 1px solid; BORDER-RIGHT: #efefef 1px solid
}
.zoomWrapperTitle {
	Z-INDEX: 120; POSITION: absolute; TEXT-ALIGN: center; FILTER: alpha(opacity=60); LINE-HEIGHT: 18px; WIDTH: 100%; DISPLAY: block; HEIGHT: 18px; COLOR: white; FONT-SIZE: 10px; OVERFLOW: hidden; TOP: 0px; LEFT: 0px; -moz-opacity: 0.6; opacity: 0.6
}
.zoomWrapperImage {
	Z-INDEX: 110; POSITION: relative; DISPLAY: block; OVERFLOW: hidden
}
.zoomWrapperImage IMG {
	Z-INDEX: 101; BORDER-BOTTOM: 0px; POSITION: absolute; BORDER-LEFT: 0px; DISPLAY: block; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.zoomIframe {
	Z-INDEX: -1; POSITION: absolute; FILTER: alpha(opacity=0); DISPLAY: block; -moz-opacity: 0.8; opacity: 0.8
}
.price-as-configured {
	DISPLAY: none
}
.error_message {
	DISPLAY: none
}
#pressImg {
	MIN-HEIGHT: 500px
}
.image_presse {
	DISPLAY: none
}
#image_presse_1 {
	DISPLAY: block
}
#price_label {
	LINE-HEIGHT: 1.1em; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.checkout-onepage-index .price {
	FLOAT: right
}
.contacts-index-index .premier_bloccontact {
	PADDING-LEFT: 0px
}
.contacts-index-index .contactBlock H3 {
	FONT-FAMILY: HelveticaNeueLTStdLtExtRg
}
.button_haut_recherche {
	WIDTH: 30px; FLOAT: right
}
.nombrelook {
	PADDING-LEFT: 1px
}
.ul-look-produits {
	PADDING-LEFT: 0px
}
.catalogsearch-result-index .price {
	FONT-FAMILY: "Arial"; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.catalogsearch-result-index .price-label {
	FONT-FAMILY: "Arial"; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.catalog-product-view .jcarousel-prev {
	MARGIN-LEFT: 5px
}
.catalog-product-view .jcarousel-next {
	MARGIN-LEFT: 5px
}
.HPeShopBlocStartTeaser {
	TEXT-ALIGN: center; WIDTH: 148px; BACKGROUND: #ffffff 0px 0px; LETTER-SPACING: 2pt; HEIGHT: 239px; COLOR: #000000; FONT-SIZE: 11px; WORD-SPACING: 2pt
}
.teaserSexeSelected {
	COLOR: #000000; FONT-SIZE: 18px
}
.teaserSexe {
	COLOR: #000000; FONT-SIZE: 18px
}
.underlineSexe {
	BORDER-BOTTOM: #000000 2px solid; MARGIN-BOTTOM: 4px
}
A.teaserSexe:hover {
	BORDER-BOTTOM: #000000 2px solid; MARGIN-BOTTOM: 4px; TEXT-DECORATION: none
}
.cms-conditions #content {
	MARGIN-TOP: -3px
}
.cms-mentions #content {
	MARGIN-TOP: -3px
}
.cms-terms-and-conditions #content {
	MARGIN-TOP: -3px
}
.cms-legals #content {
	MARGIN-TOP: -3px
}
.cms-conditions #content H1 {
	MARGIN-BOTTOM: 26px
}
.cms-mentions #content H1 {
	MARGIN-BOTTOM: 26px
}
.cms-terms-and-conditions #content H1 {
	MARGIN-BOTTOM: 26px
}
.cms-legals #content H1 {
	MARGIN-BOTTOM: 26px
}
.cms-conditions #content H2 {
	MARGIN-BOTTOM: 20px
}
.cms-mentions #content H2 {
	MARGIN-BOTTOM: 20px
}
.cms-terms-and-conditions #content H2 {
	MARGIN-BOTTOM: 20px
}
.cms-legals #content H2 {
	MARGIN-BOTTOM: 20px
}
.cms-conditions #content P {
	TEXT-ALIGN: justify
}
.cms-mentions #content P {
	TEXT-ALIGN: justify
}
.cms-terms-and-conditions #content P {
	TEXT-ALIGN: justify
}
.cms-legals #content P {
	TEXT-ALIGN: justify
}
.cms-conditions #content TABLE {
	MARGIN: 30px auto; WIDTH: 600px
}
.cms-mentions #content TABLE {
	MARGIN: 30px auto; WIDTH: 600px
}
.cms-terms-and-conditions #content TABLE {
	MARGIN: 30px auto; WIDTH: 600px
}
.cms-legals #content TABLE {
	MARGIN: 30px auto; WIDTH: 600px
}
.cms-conditions #content TABLE THEAD TH {
	TEXT-ALIGN: center; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: black; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; BORDER-COLLAPSE: collapse; COLOR: white; PADDING-TOP: 4px
}
.cms-mentions #content TABLE THEAD TH {
	TEXT-ALIGN: center; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: black; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; BORDER-COLLAPSE: collapse; COLOR: white; PADDING-TOP: 4px
}
.cms-terms-and-conditions #content TABLE THEAD TH {
	TEXT-ALIGN: center; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: black; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; BORDER-COLLAPSE: collapse; COLOR: white; PADDING-TOP: 4px
}
.cms-legals #content TABLE THEAD TH {
	TEXT-ALIGN: center; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: black; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; BORDER-COLLAPSE: collapse; COLOR: white; PADDING-TOP: 4px
}
.cms-conditions #content TABLE TBODY TD {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 15px; PADDING-TOP: 3px
}
.cms-mentions #content TABLE TBODY TD {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 15px; PADDING-TOP: 3px
}
.cms-terms-and-conditions #content TABLE TBODY TD {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 15px; PADDING-TOP: 3px
}
.cms-legals #content TABLE TBODY TD {
	TEXT-ALIGN: center; PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 15px; PADDING-TOP: 3px
}
.cms-conditions #content TABLE TBODY TD.country {
	TEXT-ALIGN: left
}
.cms-mentions #content TABLE TBODY TD.country {
	TEXT-ALIGN: left
}
.cms-terms-and-conditions #content TABLE TBODY TD.country {
	TEXT-ALIGN: left
}
.cms-legals #content TABLE TBODY TD.country {
	TEXT-ALIGN: left
}
#voyage_navigation {
	MARGIN-TOP: -5px
}
#voyage_navigation .timeline {
	WIDTH: 820px; MARGIN-BOTTOM: 23px; BACKGROUND: url(/images/voyage_timeline_bg.gif) repeat-x left top; HEIGHT: 45px
}
#voyage_navigation .timeline LI {
	POSITION: relative; WIDTH: 70px; BACKGROUND: url(/images/voyage_timeline_next.gif) repeat-x right top; FLOAT: left; HEIGHT: 45px
}
#voyage_navigation .timeline LI.title {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: white; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 10px; COLOR: #c1c1c1; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
#voyage_navigation .timeline LI.current A {
	BACKGROUND-IMAGE: url(/images/voyage_timeline_current.gif)
}
#voyage_navigation .timeline LI.current A .name {
	DISPLAY: block
}
#voyage_navigation .timeline LI.last {
	MARGIN-RIGHT: 40px
}
#voyage_navigation .timeline LI A {
	WIDTH: 70px; DISPLAY: block; BACKGROUND: url(/images/voyage_timeline_prec.gif) no-repeat right top; HEIGHT: 45px
}
#voyage_navigation .timeline LI A:hover {
	CURSOR: pointer
}
#voyage_navigation .timeline LI A:hover .name {
	DISPLAY: block
}
#voyage_navigation .timeline LI .name {
	POSITION: absolute; TEXT-ALIGN: center; LINE-HEIGHT: 1.4em; TEXT-TRANSFORM: uppercase; WIDTH: 100px; DISPLAY: none; FONT-SIZE: 9px !important; TOP: 18px; LEFT: 13px
}
#voyage_navigation .towns {
	WIDTH: 855px; OVERFLOW: hidden
}
#voyage_navigation .towns LI {
	TEXT-ALIGN: center; WIDTH: 250px; FLOAT: left; HEIGHT: 222px; MARGIN-RIGHT: 35px
}
#voyage_navigation .towns LI.current {
	BACKGROUND: url(/images/voyage_towns_current.gif) no-repeat center 167px
}
#voyage_navigation .towns LI A {
	OVERFLOW: hidden
}
#voyage_navigation .towns LI A:hover {
	TEXT-DECORATION: none
}
#voyage_navigation .towns LI .img_wrapper {
	POSITION: relative; MARGIN: 14px 0px 7px; WIDTH: 250px; DISPLAY: block; HEIGHT: 124px
}
#voyage_navigation .towns LI .img_wrapper .border {
	BORDER-BOTTOM: black 2px solid; POSITION: absolute; BORDER-LEFT: black 2px solid; WIDTH: 246px; HEIGHT: 120px; BORDER-TOP: black 2px solid; TOP: 0px; BORDER-RIGHT: black 2px solid; LEFT: 0px
}
#voyage_navigation .towns LI .name {
	FONT-SIZE: 22px; FONT-WEIGHT: bold
}
#voyage_navigation .towns LI .date {
	FONT-FAMILY: Times, Serif !important; COLOR: #8a8a8a; FONT-SIZE: 12px
}
#voyage_navigation .stages {
	WIDTH: 855px; CLEAR: left
}
#voyage_navigation .stages LI {
	TEXT-ALIGN: center; WIDTH: 250px; PADDING-RIGHT: 35px; FLOAT: left; HEIGHT: 200px
}
#voyage_navigation .stages LI.current {
	BACKGROUND: url(/images/voyage_stages_current.gif) no-repeat 251px 73px
}
#voyage_navigation .stages LI A {
	TEXT-TRANSFORM: uppercase; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
#voyage_navigation .stages LI .title {
	LINE-HEIGHT: 1em; TEXT-TRANSFORM: none; DISPLAY: block; FONT-FAMILY: Times, Serif
}
#voyage_navigation .stages LI IMG {
	MARGIN: 7px 0px
}
#voyage_content .header {
	POSITION: relative
}
#voyage_content .header H1 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 100px; PADDING-RIGHT: 100px; FONT-SIZE: 22px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#voyage_content .header .fb_iframe_widget {
	POSITION: absolute; TEXT-ALIGN: right; TOP: 4px; RIGHT: -10px
}
#voyage_share {
	PADDING-BOTTOM: 0px; MARGIN-TOP: -15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/arrowMenuTop.png) no-repeat center top; PADDING-TOP: 5px
}
#voyage_share UL {
	PADDING-BOTTOM: 15px; BACKGROUND-COLOR: black; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; OVERFLOW: hidden; PADDING-TOP: 15px
}
#voyage_share UL LI {
	FLOAT: left
}
#voyage_share UL LI.place {
	FLOAT: right; MARGIN-LEFT: 20px
}
#voyage_share UL LI.look {
	FLOAT: right; MARGIN-LEFT: 20px
}
#voyage_share UL A {
	PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/arrowLeftWhite.gif) no-repeat left center; COLOR: white; PADDING-TOP: 0px
}
#quickcheckout-ajax-loader {
	Z-INDEX: 9999; POSITION: fixed; WIDTH: 100%; BACKGROUND: url(../images/quickcheckout/trans_BG.png); HEIGHT: 100%; TOP: 0px; LEFT: 0px
}
#quickcheckout-ajax-loader DIV {
	PADDING-BOTTOM: 10px; MARGIN: 28% auto 0px; PADDING-LEFT: 38px; WIDTH: 120px; FONT: 13px/18px Tahoma normal; BACKGROUND: url(../images/quickcheckout/loader.gif) no-repeat left center; HEIGHT: auto; COLOR: #ccc; PADDING-TOP: 10px
}
.main_header .onestepcheckout-checkout-method {
	MARGIN-BOTTOM: 27px
}
.main_header .onestepcheckout-checkout-method A:hover {
	PADDING-BOTTOM: 7px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 14px; PADDING-RIGHT: 21px; FONT-FAMILY: HelveticaNeueLTStdLt; BACKGROUND: url(../images/arrow.png) #000 no-repeat 100% center; COLOR: white; FONT-SIZE: 13px; TEXT-DECORATION: none; PADDING-TOP: 7px
}
.main_header .onestepcheckout-checkout-method A {
	PADDING-BOTTOM: 7px; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 14px; PADDING-RIGHT: 21px; FONT-FAMILY: HelveticaNeueLTStdLt; BACKGROUND: url(../images/arrow.png) #000 no-repeat 100% center; COLOR: white; FONT-SIZE: 13px; TEXT-DECORATION: none; PADDING-TOP: 7px
}
.top-navigation UL LI.eshop-item .megaMenu:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden; CONTENT: "."
}
.cf:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden; CONTENT: "."
}
.top-navigation UL LI.eshop-item .megaMenu {
	ZOOM: 1
}
.cf {
	ZOOM: 1
}
