@charset "utf-8";

html {
    overflow-y:scroll;
}

/*
*{zoom:1;}
*/



h2.title01 {
	margin: 0 0 20px 0;
	padding: 0 0 5px 0;
	text-align: left;
	line-height: 1.5;
	border-bottom: 1px solid #ccc;
}

h2.title02 {
	margin: 0 0 20px 0;
	padding: 0 0 2px 0;
	text-align: left;
	color: #666666;
	line-height: 1.5;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
}

div#footernavi_lower01 {
	width: 870px;
	margin: 0;
	padding: 60px 0 0 0;
	clear: both;
	text-align: right;
}

div#footernavi_lower01 ul {
	margin: 0;
	padding: 0;
	display: inline;
}

div#footernavi_lower01 ul li {
	margin: 0 30px 0 0;
	padding: 0;
	display: inline;
}

div#footernavi_lower01 ul li.last {
	margin: 0;
	padding: 0;
	display: inline;
}

#copyright {
	width: 870px;
	margin: 5px 0 0 0;
	padding: 0 0 0 30px;
	text-align: left;
}

div.date_new_arrival {
	color: #ed6d00;
	font-size: 10px;
	letter-spacing: 1px;
	background: url(/images/parts/img_na07.gif) left 3px no-repeat;
	margin: 0 0 2px 0;
	padding: 0 0 0 60px;
}

div.date_new_arrival02 {
	color: #ed6d00;
	font-size: 10px;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 82px;
	left: 0;
	clear: both;
}

.paging01 {
	margin: 20px 0 0 0;
	padding: 0;
}

.paging02 {
	margin: 0;
	padding: 0;
}



.mB2 {margin-bottom:2px;}



/*NEW ARRIVAL*/
div.new_arrival_box01 {
	width: 550px;
	margin: 0;
	padding: 0;
}

div.new_arrival_box01 ul#thumbnails {
	float: left;
	width: 550px;
}

div.new_arrival_box01 ul#thumbnails img {
	border: 1px solid #ccc;
}

div.new_arrival_box01 ul#thumbnails li {
	margin: 0;
	padding: 0 19px 19px 0;
	float: left;
}

div.new_arrival_box01 ul#thumbnails li.last {
	margin: 0;
	padding: 0;
	float: left;
}

div.new_arrival_box01 ul#thumbnails li span {
	display: block;
	width: 123px;
	height: 163px;
	overflow: hidden;
}

div.new_arrival_box01 div.navi_area {
	width: 550px;
	text-align: right;
	margin: 0;
	padding: 0;
	clear: both;
}

div.new_arrival_box02 {
	width: 548px;
	margin: 0;
	padding: 0;
	text-align: left;
	border: 1px solid #ccc;
	background: url(/images/parts/img_grayline_nabox.gif) 340px top repeat-y;
}

div.new_arrival_box02_inner_left {
	width: 324px;
	margin: 0;
	padding: 10px 8px 15px 8px;
	text-align: left;
	float: left;
}

div.new_arrival_box02_inner_left img {
	border: 1px solid #ccc;
}

div.new_arrival_box02_inner_right {
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 1.5;
	width: 180px;
	margin: 0;
	padding: 30px 15px 15px 0;
	text-align: left;
	float: right;
}

div.new_arrival_navi_area02 {
	width: 550px;
	text-align: center;
	margin: 0;
	padding: 19px 0 0 0;
	clear: both;
}

/*FAQ*/
.arrow01 {
	padding: 0 0 0 15px;
	background: url(/images/common/img_arrow_black02.gif) no-repeat left 4px;
}

.question {
	padding: 0 0 0 25px;
	background: url(/images/common/icon_question.gif) no-repeat 5px 4px;
}

.answer {
	padding: 0 0 0 25px;
	background: url(/images/common/icon_answer.gif) no-repeat 5px 5px;
}

.pagetop {
	height: 13px;
	margin: 0;
	padding: 0;
	text-align: right;
}

/*会社概要*/
.dataTable01 {
	font-size: 12px;
	line-height: 18px;
	width: 100%;
	text-align: left;
	margin: 0 auto 35px;
}
.dataTable01 th{
	color: #4e4e4e;
	font-weight: normal;
	vertical-align: top;
	width: 100px;
	padding: 6px 0px 6px 0;
}
.dataTable01 td{
	padding: 6px 0 6px 0;
}
.dataTable01 td img{
	vertical-align: top;
}
.dataTable01 td p{
    margin:5px 0 0 0;
}
.dataTable01 th.vMiddle{
	padding-top: 18px;
	padding-bottom: 18px;
}
.dataTable01 .firstchild th,
.dataTable01 .firstchild td {
	padding-top: 0;
}

table.style_m0 {
	margin: 0 !important;
	padding: 0 !important;
}

table.style_m0 td {
	margin: 0 !important;
	padding: 0 !important;
}

/*SHOP*/
.address_shop,
.tel_shop {
	font-size: 10px;
	line-height: 1.5;
	letter-spacing: 1px;
}

.sale_info {
	color: #e50012;
}

.grayline_dot {
	height: 18px;
	margin: 0;
	padding: 0;
	background: url(/images/common/img_grayline_dot.gif) left center repeat-x;
}

/*テーブルの設定*/
table {}

th {
	vertical-align: top;
	text-align: left;
}

td {
	vertical-align: top;
	text-align: left;
}

table.style01 {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

table.style01 th {
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	background-color: #f1f1f1;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 6px 2px 6px 2px;
	vertical-align: middle;
	line-height: 18px;
}

table.style01 th.darkgray {
	font-size: 12px;
	color: #fff;
	line-height: 18px;
	text-align: center;
	font-weight: bold;
	background-color: #999;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 6px 4px 6px 4px;
	vertical-align: middle;
}

table.style01 td {
	font-size: 12px;
	text-align: left;
	font-weight: normal;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 6px 2px 6px 8px;
	vertical-align: middle;
	line-height: 18px;
}



.main {width:780px; margin:20px auto;}


.main2 {width:675px; margin:20px auto;}

.main3 {width:850px; margin:20px auto;}