.galleria{list-style:none;width:550px; text-align:center;}
.galleria li{display:block;overflow:hidden;float:left;}
.galleria li a{display:none}

.galleria li div img{cursor:pointer}
.galleria li.active div img,.galleria li.active div{display:block;border:1px solid #ccc;}
.galleria li img.thumb{cursor:pointer;top:auto;left:auto;display:block;width:auto;height:auto}
.galleria li .caption{display:block;padding-top:.5em}

* html .galleria li div span{width:400px} /* MSIE bug */

#galleria{
	padding:10px;
	background:#333;
}

#galleria span.caption{
	display:block;
	width:620px;
	padding:5px 0 5px 5px;
	color:#C00;
	font-weight:bold;
	font-size:92%;
	background:url(../images/bg.jpg) repeat-x bottom #ffc000;
	text-align:center;
	margin-top:3px;
}