.galleria{list-style:none;width:680px; text-align:center;}
.galleria li{display:block;width:110px;height:110px;overflow:hidden;float:left;margin: 0 2px 5px 0;}
.galleria li a{display:none}

.galleria li div img{cursor:pointer}
.galleria li.active div img,.galleria li.active div{display:block;border:1px solid #ccc;}
.galleria li img.thumb{cursor:pointer;top:auto;left:auto;display:block;width:auto;height:auto}
.galleria li .caption{display:block;padding-top:.5em}

* html .galleria li div span{width:400px} /* MSIE bug */

#galleria{
	padding:10px;
	background:#333;
}

#galleria span.caption{
	display:block;
	width:620px;
	padding:5px 0 5px 5px;
	color:#C00;
	font-weight:bold;
	font-size:92%;
	background:url(../images/bg.jpg) repeat-x bottom #ffc000;
	text-align:center;
	margin-top:3px;
}


.nav{padding-top:10px;clear:both;font:60%;letter-spacing:3px;text-transform:uppercase; text-align:center;}
.nav a {text-decoration:none;}
.nav a:hover {text-decoration:none; color:#CCCCCC;}


.gallery_demo{width:680px;margin:30px auto;}


#main_image{margin:0 auto 10px auto;height:675px;width:675px;}
#main_image img{margin-bottom:10px;}