.galleria{list-style:none;width:550px; text-align:center;}
.galleria li{display:block;width:89px;height:88px;overflow:hidden;float:left;margin:0 3px 5px 0;}
.galleria li a{display:none}
.galleria li div{position:absolute;display:none;top:0;}
.galleria li div img{cursor:pointer}
.galleria li.active div img,.galleria li.active div{display:block}
/*.galleria li img.thumb{cursor:pointer;top:auto;left:auto;display:block;width:550px;height:auto; text-align:center;}*/
.galleria li .caption{display:block;padding-top:.5em}
* html .galleria li div span{width:550px} /* MSIE bug */

