.faq {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.faq-block {
  &:not(:last-of-type) {
    margin-bottom: 99px;
  }
}

.faq-header {
  text-align: center;
  font-family: $hiragino;
  font-weight: 500;
  font-size: 24px;
  margin: 0 0 52px;
  padding: 0;
  letter-spacing: 0.2em
}

.faq-header-text {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.faq-content {
  margin-bottom: 10px;
}

.faq-question {
  background-color: #000;
  color: #fff;
  font-family: $hiragino;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 12px 51px 10px 17px;
  cursor: pointer;
  position: relative;

  &.is-active {
    .faq-question-icon {
      &::before {
        transform: translateY(15px);
        opacity: 0;
      } 
    }
  }
}

.faq-question-label {
  display: inline-block;
  margin-right: 4px;
}

.faq-question-icon {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 3px;
  top: 18px;
  right: 16px;

  &::before,
  &::after {
    position: absolute;
    background-color: #000;
    content: '';
  }

  &::before {
    height: 11px;
    width: 3px;
    top: 2px;
    left: 6px;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    transition-property: transform, opacity;
  }

  &::after {
    width: 11px;
    height: 3px;
    left: 2px;
    top: 6px;
  }
}

.faq-answer {
  overflow: hidden;
  display: none;
}

.faq-answer-inner {
  display: flex;
  padding: 13px 17px 13px;
}

.faq-answer-label {
  font-family: $hiragino;
  font-size: 16px;
  display: block;
  margin-right: 10px;
  font-weight: 300;
}

.faq-answer-copy {
  font-family: $hiragino;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: 300;
}